[2021-06-28 14:50] vcavallo opened #134 "X1 Carbon Gen6 stuck on 0.1.8 (need 0.1.27)"
Hello,

This is my first foray into BIOS updates _and_ `fwupd`. As far as I can tell from investigating, I'm on BIOS 0.1.8 and cannot update using either `fwupd` or the published versions on Lenovo's support site because they all fail with:

I'm currently running the `snap` version of `fwupd` and have refreshed and re-fetched everything a few times.

I'm seeing suggestions that using Windows or so

[2021-06-28 15:27] miquecg commented on #131
Thanks @mrhpearson. I always had it disabled. Would you mind sharing what is preventing the upgrade in those cases where Secure Boot was not enabled?

[2021-06-28 16:22] johnnyapol commented on #123
I'm still hitting this issue without shim / secure boot. it will boot into the efi executable but then say "no updates found"/

[2021-06-28 16:26] lkiesow commented on #117
I can add to that: Same experience with the latest firmware update on my T470s: Stuck in a black screen after reboot. Reset button helped but obviously shouldn't be necessary. So, that seems to happen more often.

[2021-06-28 16:28] superm1 commented on #123
Can you open your own issue with the template for debugging? There certainly is a shim bug, but you might have another problem.

[2021-06-28 20:52] mrhpearson commented on #134
I'm looking through the internal BIOS release notes....and I'm not seeing why that block is in place - but there's usually a good reason (bricked a few systems by not following recommendations).
I do have access to the 1.27 iso file, which would I think let you update from a USB stick - but I don't have an X1C6 to try it on.
I'll check guidance with the FW team and get back to you on the recommend

[2021-06-29 09:53] valkum opened #135 "L14 AMD is missing UEFI FW 1.19"
Version 1.19: https://support.lenovo.com/us/en/downloads/ds545476-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpad-l14-types-20u5-20u6-l15-types-20u7-20u8
Release Notes: https://download.lenovo.com/pccbbs/mobiles/r19uj09w.txt

[2021-06-29 15:17] mdedetrich commented on #122
I can confirm that I am getting this issue on a new Thinkpad Carbon X1 Gen 9 even with Secure Boot disabled. When trying to apply the updates after reboot you just get a black screen and I have to use a paper clip to punch the reset button on the back of the laptop in order to get it out of this state.

[2021-06-29 17:52] emummel20 commented on #111
@hughsie FYI I am dealing with the same issue right now https://www.reddit.com/r/thinkpad/comments/oacbc6/getting_error_specified_firmware_is_older_than/

Lenovo apparently refusing phone support. Does there happen to be a solution here?

EDIT: NVM! Apologies! I missed the solution in here to run `fwupdmgr refresh --force`. I ran that, then used install again and it worked! Thank you!

[2021-07-01 11:58] vcavallo commented on #134
Thanks, @mrhpearson !!

non-vPro, it seems.

`cpuinfo` reports `Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz`, which [intel](https://www.intel.com/content/www/us/en/products/sku/122589/intel-core-i78550u-processor-8m-cache-up-to-4-00-ghz/specifications.html) reports is not vPro eligible.

[2021-07-06 18:06] RX14 commented on #131
I just experienced something similar to this. T14 Gen 1 AMD, Secure Boot disabled, updating from 0.1.30 to 0.1.32 using fwupd.

I booted the laptop with dock attached with 2 external screens. The laptop booted with the normal splash screen, then screen flashed the words "settings reset" or "config reset" or something similar (can't recall the exact wording), and then cleared the screen. I waited 1

[2021-07-07 13:05] mrhpearson commented on #134
Hi - can you send me your contact details (markpearson at lenovo dot com) and I'll get you the 1.27 iso and we'll go from there and hopefully get you up to date.
Mark

[2021-07-07 13:34] vcavallo commented on #134
Thanks!! I replied off this thread.

[2021-07-08 05:37] danneboom commented on #6
Maybe worth mentioning that it was a slightly different command for me (Thinkpad P52, secure boot enabled):
`bcdedit /set {bootmgr} path \EFI\ubuntu\shimx64.efi`

[2021-07-08 13:24] tfmotu commented on #122
Hi,
same issue with ThinkPad P1 Gen 2.
Thanks

[2021-07-09 10:04] miquecg commented on #131
@RX14 I just went updating with the iso file provided on Lenovo downloads site for my device. See this comment on another issue: https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-751685580

[2021-07-09 17:08] mrhpearson commented on #135
Unfortunately the L14 AMD isn't part of the Lenovo Linux program so the firmware team aren't putting updates on LVFS. They don't have the resources for that exercise.

Mark

[2021-07-09 17:08] #135 closed, assigned to nobody

[2021-07-14 20:32] linearpone opened #136 "Lenovo ThinkPad X1 Yoga (Gen 5) Embedded Controller Version is set to 0 and is not updatable by fwupd"
**Describe the bug**
The problem occurred last year with fwupd version 1.5.1.
My laptop "Lenovo ThinkPad X1 Yoga (Gen 5)" was on ac with a low battery level.
Using ```fwupdmgr update```, I updated the firmware of the devices Embedded Controller, Intel Management Engine, System Firmware and some other devices. Then I restarted my laptop to complete the update. The update was cancelled during the re

[2021-07-15 14:42] mrhpearson commented on #136
Thanks for the note - I've raised a ticket to the FW team (for my reference LO-1303)
Thanks
Mark

[2021-07-17 10:58] fkru commented on #74
Has someone successfully updated FW 1.29 to 1.34 using Lenovo's bootable iso? Thx.

[2021-07-17 11:59] ivankovnatsky commented on #74
i've updated to 1.34 using Lenovo's ISO file, t14 gen1, no problems so far.

and not only me: https://forums.lenovo.com/t5/Other-Linux-Discussions/T14-AMD-battery-drain-in-standby-Linux/m-p/5037674?page=62

[2021-07-20 11:48] mrhpearson commented on #116
I believe this issue can be closed - I'd completely missed the update from the FW team - but they've fixed the original issue and since uploaded a newer version that also appears correct.

[2021-07-20 11:48] #116 closed, assigned to mrhpearson

[2021-07-20 21:32] vwbusguy commented on #5
That's what it looks like here.  It reports that the last firmware apparently failed, but shows up as not being supported at all now.

[code]

From get-updates
[code]

[2021-07-21 01:12] mrhpearson commented on #5
It got moved back to testing due to a number of update failures because of (I believe) a regression from via. I think @hughsie  has fixed that now (I have the commit information somewhere in my inbox but I'm currently in mail hell due to the stupid outlook safelinks feature that Lenovo have enabled that has broken all my mail filters..)
Not sure what the process is to move it back to stable. Richa

[2021-07-21 10:16] hughsie commented on #5
Yes, @mrhpearson is correct. I think we need to add a requirement of fwupd != 1.6.0 and fwupd 1.6.1 as those had a regression which caused the USB firmware to not deploy correctly. Once 1.6.2 is out (this week?) I'll do exactly that and move it back to stable.

[2021-07-21 11:14] akostadinov commented on #5
If one already updated, will it be needed to flash again and how?

[2021-07-21 12:34] hughsie commented on #5
No, it'll be exactly the same payload, no need to reflash.

[2021-07-22 13:12] mccuskk opened #137 "20U70004UK checksum invalid"
Hi

Very excited to see my ThinkPad L15 AMD Gen1 (Fedora 34) want to upgrade to 0.1.10 to 0.1.19

Unfortunately it fails with the error:

Upgrade available for System Firmware from 0.1.10 to 0.1.19
20U70004UK must remain plugged into a power source for the duration of the update to avoid damage. Continue with update? [Y|n]: Y
Downloading…             [ -                                     ]checks

[2021-07-23 11:43] ChauhanT commented on #70
Hi guys. I'm back again. This time I've got the following error:

[code]

Reboots will not fix this. Any idea what might be going wrong here? Thanks!

NOTE: This is a T480, and not a T480s. Not sure if it makes a difference in this case.

[2021-07-23 12:21] hughsie commented on #70
@ChauhanT I've just merged https://gitlab.com/fwupd/lvfs-website/-/commit/fab289d36cf34992a11e875dca5a11d82b21ab79 -- can you tell me the filename of the file you downloaded please and then I'll resign it on the LVFS with the workaround in place.

[2021-07-23 12:47] smalltimer commented on #70
Hi @hughsie . Thank you for getting in touch so quickly!

I am using `fwupd` from the Debian Buster repository. More specifically, I run the command `sudo fwupdmgr update`. It asked me to reboot. And nothing happened. Then I ran the command again, and saw the error I mentioned above.

I'm not sure how to get the filename. If you could tell me how, I will be happy to do it right away.

Thanks again

[2021-07-23 12:52] hughsie commented on #70
Ahh, I meant the 41476a3066b9b459bca87936f63235c52f13ac047306dfb06d4d4782aa400b64-Lenovo-ThinkPad-T480-ECFirmware-1.22.cab bit -- which I've guessed as that was the one I regenerated this morning.  Can you do `fwupdmgr refresh --force` and try again please?

[2021-07-23 13:18] smalltimer commented on #70
Hi, just tried it, and more of the same. Give me a couple of hours though. I think there might be something weird going on with my `grub` too. I have purged `grub` from the system (using `refind`), and it still shows up on boot. Such an epic PITA `grub` is :|

[2021-07-23 15:10] ChauhanT commented on #70
@hughsie Just purged `refind` and went back to a `grub2` -only boot. Now I get `Failed to update metadata for lvfs: '48A6D80E4538BAC2' is not a valid signature` when trying to `sudo fwupdmgr refresh --force`. Not sure what's going on there.

[2021-07-23 15:11] smalltimer commented on #70
@hughsie Just purged `refind` and went back to a `grub2`-only boot. Now I get `Failed to update metadata for lvfs: '48A6D80E4538BAC2' is not a valid signature` when trying to `sudo fwupdmgr refresh --force`. Not sure what's going on there.

[2021-07-24 08:53] absurd34 commented on #137
Hi,

+1 from here.

I do see the very same (i.e., exactly same hashes) error for my Thinkpad L14 AMD (20U50001GE), using Debian bullseye.

Previously, the update to 0.1.15 worked fine.

Hth!

S

[2021-07-24 10:24] hughsie commented on #137
Can you try "fwupdmgr refresh --force" and then try again? If that fails, can you do "fwupdmgr update --verbose" and tell me the exact https:// link it's trying to download please.

[2021-07-27 06:18] frittentheke commented on #74
@ivankovnatsky how did you use the ISO file? Did you manage to use the

[code]
method?

When I tried this (which worked fine before), it boots up but when pressing 2 for starting the update it shows an error that cannot find the BIOS image file.

[2021-07-27 06:56] ChiWei-Chen commented on #117
Sorry for the late @Cameron-Cn . I'm working with @mrhpearson and got feedback from BIOS expert.
It seems that CMOS battery removal did not recover the system. So I think that motherboard(SPI ROM?) replacement will be required. Is it possible to reach [customer support](https://www.lenovo.com/us/en/contact) in your area to repair your system?
Thank you.

@lkiesow , the problem seems different from

[2021-07-27 08:33] bjoerns1983 commented on #137
Hi there,
i have exactly the same Problem on my Thinkpas L14 AMD (20U50001GE) using Manjaro and fwupdmgr in v 1.6.1
Tried refresh --force but didnt help.
The download link which it is trying to use is the following:
https://fwupd.org/downloads/eab914f9f9357cd5c6e173cf88d275b05ed5d1639ce819cb6f243a6b7a9a31bd-R19ET35W.cab

[2021-07-28 05:26] dkadioglu opened #138 "Intel ME Update doesn't update version in ESRT for T470s since 184.83.3874"
Intel ME Update to version 11.8.86.3909 is missing for ThinkPsd T470s:
https://pcsupport.lenovo.com/us/de/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t470s/downloads/ds121070-intel-management-engine-118-firmware-for-windows-10-64-bit-7-32-bit-64-bit-thinkpad-25-t470-t470s

[2021-07-28 09:59] debalance commented on #11
Same problem here with Debian 10 on several Lenovo T490.

[2021-07-28 11:14] debalance commented on #11
Solved it using the latest fwupd flatpak from flathub.

[2021-07-28 19:44] j-silver commented on #131
T14 running Fedora 34

Today I found an update to 0.1.34. My firmware was still at 0.1.30. Updated without problems on reboot.

[2021-07-28 22:03] MountainX opened #140 "Intel Management Engine fails on multiple ThinkPads"
**Describe the bug**

I am unable to update Intel Management Engine on mutliple ThinkPad X270 devices as well as on the current T470s I'm working on.

**Steps to Reproduce**

On the ThinkPad T470s I run:

    # fwupdmgr update
    Devices with the latest available firmware version:
    • Embedded Controller
    ╔══════════════════════════════════════════════════════════════════════════════╗
    ║

[2021-07-29 00:29] MountainX commented on #140
I found a solution on the T470s. I changed the firmware settings from allowing "UEFI only" boot to "both" (i.e., legacy and UEFI). To do this I had to disable secure boot too.

[2021-07-29 00:45] superm1 commented on #140
Good sleuth work. To me this sounds like a bug with the firmware, the update should be working in UEFI secure boot mode (csm disabled).

[2021-07-29 01:25] smrqdt commented on #140
I have exactly the same problem with [the 184.86.3909 ME update](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN24RN.firmware) on my T480 since the update was released. Tried again today, I also tried disabling Secure Boot (I use a self-signed EFI binary), black screen before the „Load Capsule“ screen with the Lenovo logo even appears. Only way to get out is a complete power reset using the se

[2021-07-29 03:08] gkelly opened #139 "X1C6 failing to update with `Device Error` message"
**Describe the bug**
My Lenovo X1 Carbon Gen 6 is failing to apply updates to the ME, System Firmware, and UEFI Device Firmware. The `fwupdmgr update` command identifies and installs the pending updates. On reboot, the machine stays on the Lenovo splash screen for a few minutes, then flashes two lines _very quickly_ in the upper left:

[code]

This is fast enough that I had to record my screen and

[2021-07-29 03:33] superm1 commented on #139
Can you please try to enable legacy option rom and see if it helps?

[2021-07-29 07:26] hughsie commented on #139
Out of interest, what's your suspicion?

[2021-07-29 11:31] superm1 commented on #139
I saw another bug report where the user had a problem with the me update for lenovo and this helped them. I don't think it's anything more than a workaround though.

[2021-07-29 11:59] superm1 commented on #139
#140

[2021-07-29 13:22] mrhpearson commented on #140
@superm1 - for the note above, is this not the same secure boot/shim update issue we've been seeing as the user had to disable secure boot? Wondered what I'm missing

@smrqdt  - Can I just confirm that you did the update, got a black screen (for a very long time) and had to hit the hidden reset button to recover. Had the update completed succesfully afterwards or not?
The reset button should not b

[2021-07-29 13:25] mrhpearson commented on #139
@gkelly - Are you trying to do all multiple updates in one go? Can we narrow down which update is causing the message and I can flag this to the firmware team and get their input.

[2021-07-29 13:27] mrhpearson commented on #134
Hi @vcavallo - did you get this all resolved? Can we close the ticket?

[2021-07-29 13:28] mrhpearson commented on #133
Looks like 1.39 is up in testing now - hopefully makes it to stable soon

[2021-07-29 13:31] mrhpearson commented on #131
1.34 has been released - recommend updating with secure boot disabled as the shim/secure boot issue may hit you.
Any objections if I close this thread and we track any issues with 1.34 (hopefully none!) separately?

[2021-07-29 13:36] superm1 commented on #140
@mrhpearson no it's not the same.  The reports above mention that secure boot was disabled, and explicitly turned on legacy boot.

[2021-07-29 13:36] mrhpearson commented on #130
I've started some conversations - but it's going to be a slow burner.

I'm going to close the bug as there isn't a solution until the Thinkbooks are in our Linux certification program. Let me know if any objections

[2021-07-29 13:36] #130 closed, assigned to mrhpearson

[2021-07-29 13:58] mrhpearson commented on #132
Can you try the update with secure boot disabled please - there's an issue related to shim and fwupd that the shim team is working on. I'm thinking this might be impacting you as you have SB enabled.

[2021-07-29 14:02] mrhpearson commented on #129
As an update the issue has apparently been fixed and you shouldn't see the same in the 1.34 update that has been released. It worked in my testing.

Recommend disabling secure boot during updates until the secure boot issue that was introduced in shim is resolved

Any objections if I close the ticket?

[2021-07-29 14:07] mrhpearson commented on #140
@superm1 - yeah, but the user also said "I had to disable secure boot too" - so I was taking that to mean the additional questions report was incorrect and SB was actually on initially

[2021-07-29 14:11] superm1 commented on #140
I guess that's true, the first post could have had a mistake.
@MountainX can you please clarify the version of shim on your system?  Or were you using self signed binaries for secure boot?

[2021-07-29 14:19] GITMichaelK commented on #131
Thank you @mrhpearson,
one question: I'm using the system since my OP; the old download may be still stored "somewhere". What is the recommended procedure to go with 1.34? Secure boot is disabled here!
Would be fine, if you keep this open over the weekend and I'll try (after the recommendation) on Saturday or Sunday and report the result here?

[2021-07-29 14:38] mrhpearson commented on #131
You should just be able to do the update using fwupd - there are a few success reports up and so far (touch wood) no reports of failures. I tried it on my systems with no problems.
Happy to leave this open for a bit longer. As a heads up I'm on PTO next week and going to be offline (no internet - yay!) so responses will be delayed. I'll ask the team to keep an eye out for anything and hughsie know

[2021-07-29 15:21] klemmster commented on #140
I'm having the same issue as well on a T480:
```Upgrade Intel Management Engine from 184.83.3874 to 184.86.3909?```
with `UEFI only` the process would get stuck at a black screen. (I didn't know about the secret hole/button, so I waited for the battery to drain completely and luckily enough the computer started again.

With `both` option enabled, the Red/White Lenovo sign is shown, after a while `

[2021-07-29 15:44] smrqdt commented on #140
No, the update is not applied. The additional Embedded Controller Update that got released since also wasn’t applied. I can try to apply the Embedded Controller Update on its own to check whether the process works, if it’s safe to do that without the ME update.

I noticed that after running `fwupd update` there are 3 capsules in `/boot/efi/EFI/Arch/fw` (`fwupd-3b8c8162-188c-46a4-aec9-be43f1d65697.

[2021-07-29 18:58] neupsh commented on #132
@mrhpearson , ~I just checked and secure boot was already disabled. But looks like my firmware updates got applied on my last update. I had updated my system and also applied the `fwupdmgr update` and had rebooted the computer, but did not realize until now that they had been applied. I am not really sure what fixed it as I had lots of updates (archlinux rolling upates).~

Hmm. I spoke too early.

[2021-07-29 20:05] fkru commented on #129
Regarding the shim issue, is there any solution in sight? Thx.

[2021-07-29 20:24] Cameron-Cn commented on #117
The machine is not able to be seen by customer support (being far out of band now). I was able to trade it to a friend who does these sort of hardware repairs, who then fixed it (I can ask how) and sold it off.

In short, I no longer have the machine in question, having decided hardware issues of this sort were beyond my skill!

Thank you for your help!!

[2021-07-29 23:40] gkelly commented on #139
Okay, very strangely this resolved itself. I did _not_ enable legacy option ROMs. I simply did `fwupdmgr update <X>` then `reboot` for each of the three pending updates. They all installed and my machine now appears to be up to date:

[code]

[2021-07-30 05:36] frittentheke commented on #209
Is this solved, unreproducable or just abandoned?

[2021-07-30 08:00] hughsie commented on #209
We need the `fwupd --verbose` log -- the actual fwupd binary is usually in /usr/libexec/fwupd, although that differs between distributions.

[2021-07-30 12:33] fidencio commented on #132
@mrhpearson, in my case it did work, the updates were applied after turning the secure boot off.

[2021-07-30 12:54] mrhpearson commented on #132
Great - thanks for the update.
This is a known issue that has been fixed upstream but hasn't necessarily rolled out everywhere (e.g for Ubuntu https://bugs.launchpad.net/ubuntu/+source/shim/+bug/1929471)
Closing the bug as I think this is now understood.

[2021-07-30 12:54] #132 closed, assigned to mrhpearson

[2021-07-30 12:57] mrhpearson commented on #139
@hughsie - I know we've seen this on other platforms (I've hit it myself once before on the P1G3, though yesterday I did a triple update on the X1C8 with no issues).
Any idea if this may be fwupdx64.efi related? BIOS? Something else? Not sure where to head with next for this kind of issue :)

[2021-07-30 12:57] fidencio commented on #132
@mrhpearson, just to confirm, is it okay to enable secure boot again?  As in, once I enable secure boot again things will still work as expect wrt future firmware updates?

[2021-07-30 12:59] mrhpearson commented on #129
Fix for shim has been delivered: https://github.com/rhboot/shim/pull/374/commits/87fbf42ac96f887a3620efbbabc501269dc9f918

How it gets rolled out in your distro of choice may vary. If it's useful the Ubuntu notes are here: https://bugs.launchpad.net/ubuntu/+source/shim/+bug/1929471
I suspect Fedora and Arch have it already but haven't confirmed.

Mark

[2021-07-30 12:59] #129 closed, assigned to mrhpearson

[2021-07-30 13:03] hughsie commented on #139
@mrhpearson it's the first time I've seen this failure I think. It sure would be useful if the BIOS updater could show some kind of message on the screen with a few seconds delay :)

[2021-07-30 13:25] mrhpearson commented on #132
Yep - my understanding is the issue is only with running the fwupdx64.efi update executable. Once the update is done you're back to normal.

[2021-07-30 13:28] mrhpearson commented on #139
100% agreed. I asked previously...will try again.
I like the change @superm1 - thanks :)
Mark

[2021-07-30 13:40] neupsh commented on #132
@mrhpearson should I open a new ticket as it is not resolved for me? I have secure boot disabled.

[2021-07-30 17:54] xvitaly commented on #133
1.39? I don't see it on [Lenovo website](https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t480-type-20l5-20l6/downloads/driver-list/component?name=BIOS%2FUEFI) even for Windows.

[2021-07-31 07:20] fkru commented on #129
I am puzzled, this fix is part of shim 15.3 released on 23 March. I am with shim 15.4 and firmware update via lvfs stopped working some time ago when secure boot is enabled. So, the culprit is something else.

[2021-07-31 09:16] flortsch commented on #131
Unfortunately, I have the same problem with the 1.34 update as I had with 1.32 before (which I then flashed with the iso provided by Lenovo). After updating with fwupd, the Lenovo screen pops up with "Reset system". The system then reboots and stays in a black screen where nothing happens, and where I have to force reboot the machine. Secure boot is turned off.

[2021-07-31 10:16] michaellass commented on #131
Same here. Still using the last shim release without the fix but secure boot is disabled. I sent a failure report via fwupd afterwards.

[2021-07-31 15:59] GITMichaelK commented on #131
@ flortsch, michaellass: Thank you for the warnings!
@ **mrhpearson**: I'll stay away from it actually, unless you recommend different. What, if my system would not start at all after trying ...? Secure boot is turned off here, too.
Please let us know about next steps.

[2021-08-01 20:26] l-cdc commented on #74
I also managed to update from 1.09 to 1.34 with fwupd _after disabling secure boot_ on OpenSUSE Tumbleweed.

Thanks to everyone involved in fwupd! This is a much better experience than the "classic" procedure with the bootable drive.

[2021-08-01 21:21] fkru commented on #74
However, firmware update via fwupd worked for me on openSUSE Tumbleweed some time ago with secure boot enabled. According to @mrhpearson and some posts here as well as on https://github.com/rhboot/shim this might be due to shim.

[2021-08-01 21:40] LinuxOnTheDesktop commented on #56
It is perhaps worth mentioning the following. _The relevant Lenovo 'pcsupport' webpages do not seem to acknowledge the existence_ of the following TPM update that is offered (as follows) by fwupd:

[code]
It seems indeed that the Lenovo website offers that update _only to 4th and 5th generation X1s_.

[2021-08-01 21:49] jggithub2017 commented on #74
Had to disable Secure Boot with help of `$ sudo mokutil --disable-validation`, reboot and after in the BIOS/UEFI too. But then the update with fwupdmgr went well. Then I reactivated Secure Boot in the BIOS and with help of `$ sudo mokutil --enable-validation`. Now I have version 1.34 on my T14 AMD Gen 1.

[2021-08-02 16:40] bdaase opened #141 ""Lenovo ThinkPad T14 Gen 2 / P14s Gen 2 / T15 Gen 2 / P15s Gen 2" name ist ambiguous"
The entry "Lenovo ThinkPad T14 Gen 2 / P14s Gen 2 / T15 Gen 2 / P15s Gen 2" on the LVFS listed here https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN34ET.firmware is ambiguous. It's unclear whether that references the Intel or the AMD model (or maybe both?). Therefore, one also can't determine whether both versions are supported via the LVFS (even though the hardware manual seems to imply that b

[2021-08-03 00:27] LinuxOnTheDesktop opened #142 "X1CG6 cannot update even after Ubuntu shim upgrade (and fwupd output confuses)"
Previously my X1 Carbon 6th Generation ThinkPad could not install an update that fwupd offered. I gather that the problem was to do with something called a 'shim' and that Ubuntu was working upon a fix. What looked like the intended fix was offered via my distribution's repositories in the form of these packages:

- shim-signed:amd64 (1.40.4+15+1552672080.a4a1fbe-0ubuntu2, 1.40.6+15.4-0ubuntu7)
-

[2021-08-03 07:18] hughsie commented on #142
I think 1.6.x handles this much better. Please upgrade to 1.6.2 and try again. Thanks.

[2021-08-03 07:18] #142 closed, assigned to nobody

[2021-08-04 08:31] der-eismann commented on #76
Closing because it's been available for a while.

[2021-08-04 08:31] #76 closed, assigned to mrhpearson

[2021-08-04 09:48] zomp commented on #56
Today, Ubuntu gave me `fwupd` and `fwupd-signed` updates and then the firmware was updated successfully. Thank you! (fwupd 1.5.11, Ubuntu 21.04, ThinkPad X1 Carbon Gen 8)

[2021-08-05 07:17] smalltimer commented on #70
Hi, I still get the error `Failed to update metadata for lvfs: '48A6D80E4538BAC2' is not a valid signature`. Any workarounds for this?

[2021-08-06 10:51] ChiWei-Chen commented on #115
@rugubara, apologize for the late, I'm working with @mrhpearson .
Our BIOS team tried to update the EC firmware from 0.1.15 to 0.1.16 but can’t duplicate the issue.
Their system can boot to Linux system success after update EC firmware. Check the boot type setting in BIOS setup menu is keep previous settings.

Is it possible to get more detail on your system what the BIOS(system firmware) version

[2021-08-06 21:33] bdaase opened #143 "ThinkPad P14s Gen 2 AMD system firmware is missing"
The ThinkPad P14s Gen 2 AMD system firmware is missing on the lvfs, even though it is referenced as available in the corresponding hardware manual.

[2021-08-06 21:34] bdaase commented on #141
Alright, this seems to be about the Intel version. The AMD version is, for whatever reason, missing on the lvfs (reported in https://github.com/fwupd/firmware-lenovo-thinkpad/issues/143).

[2021-08-06 22:25] sebirdman commented on #122
I've managed to update my TPM!

After updating:

[code]

I then ran the TPM update:

[code]

All is well now. I suspect others require a similar bios update or there is something else different wrong.

[2021-08-06 22:25] #122 closed, assigned to nobody

[2021-08-07 16:59] MrReSc commented on #133
Is it possible that something is wrong with the version number?

[2021-08-09 11:07] michaellass commented on #129
As far as I can see, that commit was never merged and the corresponding pull request was closed. The patch that was actually merged seems to be this one: https://github.com/rhboot/shim/commit/4d64389c6c941d21548b06423b8131c872e3c3c7

That patch is pretty recent and not included in 15.3 or 15.4. A good place to track the current shim issues seems to be https://github.com/rhboot/shim-review/issues/1

[2021-08-09 18:47] vwbusguy commented on #5
It looks like 1.6.2 was released a week ago but the firmware is still unavailable.

[2021-08-09 19:07] mrhpearson commented on #133
I don't think the so - the metainfo state 1.39 in a few places. It likely hasn't been released yet.
I'll see if I can get an update from the FW team on what is happening here.
Mark

[2021-08-09 19:14] mrhpearson commented on #141
We tend to refer to Txx G2 as the Intel version and Txx AMD G2 (I've also seen T14 G2 AMD) for the AMD version. I suspect it's somewhat historical (I'm guessing). It's even worse on our Lenovo product support pages in my opinion...

The page does say the FW contains "Intel BIOS Guard and "Intel Boot Guard" which are Intel specific :) And the Intel FW won't install on AMD and vice-versa.

I'm unlik

[2021-08-09 19:15] mrhpearson commented on #143
We haven't released P14s G2 AMD with Linux yet - there are still HW enablement issues we're working through.
Mark

[2021-08-09 19:15] #143 closed, assigned to nobody

[2021-08-09 19:21] mrhpearson commented on #131
Sorry for the slow reply - I was on vacation. I don't know why you're seeing these issues but will raise them with the FW team. I did a bunch of testing myself and haven't seen a problem.

[2021-08-09 19:29] bdaase commented on #141
Yeah, that's also what I figured out now :)

Anyway, I think it would be easiest if both versions have the Intel/AMD suffix. Especially for users new to the ThinkPad lineup, I think that would make things a bit easier to understand. Just my two cents ;)

So yeah, please feel free to close it then.

[2021-08-09 19:30] bdaase commented on #143
Thanks for the fast response :)

Do you have a rough ETA when we can expect it?

[2021-08-09 19:32] mrhpearson commented on #132
@neupsh - yes please, with the details from your system.
Thanks!
Mark

[2021-08-09 19:35] mrhpearson commented on #141
I don't disagree - just picking my battles right now with the FW team ;)
Thanks!
Mark

[2021-08-09 19:35] #141 closed, assigned to nobody

[2021-08-09 19:37] mrhpearson commented on #143
We've been hit by WLAN component shortages and they switched parts on us very very late in the program. The new parts don't have Linux support upstream yet (vendors are working on it right now). I'm going to guess at least another month but I don't have an actual ETA.
Mark

[2021-08-09 19:40] bdaase commented on #143
Sure, the first thing I did after purchase was swapping out the Realtek card for an AX210 - with that everything works flawlessly under Linux so far for me :)

So we first have to wait for the hardware stuff to be fixed before we can expect system firmware on the LVFS?

[2021-08-09 20:03] mrhpearson commented on #143
I'll see if the FW team will put it up sooner. The problem is that they usually test FW updates with our preload image - which we don't have yet.
Mark

[2021-08-10 07:13] bdaase commented on #143
Thank you, Mark. This is highly appreciated!

[2021-08-10 13:02] galibozek commented on #70
@kmauleon how is progress with my problem?

[2021-08-10 22:33] vwbusguy commented on #5
1.6.3 hit koji on Fedora today, so I upgraded to it and enabled lvfs-testing and was able to update my dock just fine.
![image](https://user-images.githubusercontent.com/5474941/128943488-277829cb-2d60-487c-8e9a-269dfb130923.png)
![image](https://user-images.githubusercontent.com/5474941/128943565-28ddfa3b-c7ce-47d4-8840-b39ba4f66020.png)

[2021-08-11 01:31] kmauleon commented on #70
hi @galibozek i am sorry but i can't get the BIOS dev to investigate ESRT issue further unless we recreate the issue.  i am not sure how to go from here.... @mrhpearson @hughsie any suggestions?

[2021-08-12 15:57] ChiWei-Chen commented on #115
@rugubara our BIOS team also ty BIOS(system firmware) update from 1.27 to 1.42 with fwupd 1.5.11, they're still unable to duplicate this issue on their side. Could you try if you can still duplicate the issue when update BIOS to the latest version?
Thanks.
Chi-Wei

[2021-08-12 16:08] ChiWei-Chen commented on #136
@linearpone , I'm Chi-Wei be working with @mrhpearson .
The HW team already got pass result with trial BIOS and will release BIOS N2WET30W(1.20) fix this issue recently. I believe the BIOS would be upload to LVFS recently(few weeks).
Any concern please let us know. Thank you.

[2021-08-12 23:15] neupsh opened #144 "firmware is not updated after reboot on Lenovo P1 Gen 3"
**Describe the bug**
My Lenovo Thinkpad P1 Gen 3 is failing to update the system firmware. `fwupdmgr update` finds the udpate and prepares for the update too, but when the computer is rebooted to apply the update, it quickly flashes the following text (had to take a video to see what it says):
`WARNING: No updates to process. Called in error?`

**Steps to Reproduce**
Steps to reproduce the behavio

[2021-08-12 23:17] neupsh commented on #144
Just for reference:
I had left a detailed comment here before https://github.com/fwupd/firmware-lenovo-thinkpad/issues/80#issuecomment-857063805
and here as well: https://github.com/fwupd/firmware-lenovo-thinkpad/issues/132#issuecomment-889383318

[2021-08-13 09:53] fdevibe opened #145 "fwupdmgr won't update if sha1 hex digest in cabinet metainfo is uppercase"
**Description**
The checksum comparison is case sensitive, so if the checksum hex digest in the metainfo xml for a cabinet file is written in uppercase, it won't match the digest returned by `g_compute_checksum_for_bytes()` (as this returns a digest in lowercase, see https://docs.gtk.org/glib/func.compute_checksum_for_bytes.html).

**Steps to Reproduce**
`fwupdmgr install N2HET64W.cab` on a Lenovo

[2021-08-13 10:34] hughsie commented on #145
The guid needs to be lowercase as per the specification. Archives from the LVFS have been checked and verified and should never have this issue.

[2021-08-13 11:18] fdevibe commented on #145
@hughsie I see. I was trying to figure out whether the error was on the part of Lenovo, who made these cabinet files, but didn't know where to look. Which specification is this?

[2021-08-13 15:33] superm1 commented on #145
This is the spec here: https://lvfs.readthedocs.io/en/latest/metainfo.html

However to be fair, I don't see anywhere that mentions it needs to be lowercase...  Anything uploaded to LVFS has the metainfo rewritten, so it would be made lower case at that time if it was wrong.

[2021-08-13 15:33] superm1 commented on #145
@mrhpearson can you take a look at these?  It seems that they probably are written incorrectly and the release needs re-spinning.

[2021-08-13 18:54] mrhpearson commented on #145
Sorry - I'm missing something but the firmware on LVFS has the checksum set in lower case as far as I can tell:

https://fwupd.org/lvfs/firmware/7837

<release version="0.1.47" date="2021-07-20" urgency="high" tag="N2HET64P">
<checksum type="sha1" filename="firmware.bin" target="content">e1b59d351bed0f98a36d97b589a10c58db6203f5</checksum>
<checksum type="sha256" filename="firmware.bin" target="con

[2021-08-13 19:29] superm1 commented on #145
Right I would also expect people to use the LVFS one, but if the support one is posted and has a mistake it should be fixed.

[2021-08-13 19:54] mrhpearson commented on #145
I guess. I can't get excited about this one. We go from having no ways of updating systems on Linux to too many ways....

I see you've already done a fix in the code to force it to be lowercase. As
1) it isn't *actually* specfied in the spec that lowercase is a requirement (that I could find)
2) asking the FW to to regen is going to be a long cycle with them having to pull the current ones, rebuil

[2021-08-13 20:45] fdevibe commented on #145
OK, the reason I fetched the files from Lenovo's site is the warning on https://wiki.archlinux.org/title/Lenovo_ThinkPad_X1_Carbon_(Gen_7)#Updates :

This may of course be wildly inaccurate for all I know, but it *can* make sense from a user perspective to use "official" BIOS updates.

Now, I worked around the problem by extracting the cabinet file, changing the case of the checksum hex string:
[c

[2021-08-13 21:49] mrhpearson commented on #145
Wow - I have no idea why they've put that in the wiki. Not come across that one before.

The firmware files on LVFS are from the Lenovo FW teams or vendors on behalf of Lenovo. They should be the  same as what is on the support site - I don't know of any cases where they differ. The biggest issue I have is how long it sometimes takes the FW teams to get firmware up on fwupd.org...but the firmware

[2021-08-13 21:56] superm1 commented on #145
Mark, I suggest you at least get internal team to fix whatever job generates the cab so that future releases aren't affected.

My proposed fix still needs to be merged, and per code review needs further rework.

[2021-08-13 22:53] fdevibe commented on #145
@mrhpearson the relevant change on that wiki page is https://wiki.archlinux.org/index.php?title=Lenovo_ThinkPad_X1_Carbon_(Gen_7)&diff=prev&oldid=681139

If I understand this correctly,  fwupd/fwupd#3638 won't really do anything about files provided by Lenovo? (Please correct me if I'm wrong.) In that case it doesn't feel entirely right closing this issue due to that patch? It still seems to me a

[2021-08-14 03:19] LinuxOnTheDesktop commented on #139
Note for others: _X_  is the 'Device ID' shown by `fwupdmgr get-updates`.

[2021-08-15 18:56] linearpone commented on #136
Hi @ChiWei-Chen @mrhpearson ,
the Version 1.20 doesn't seem to be released yet. https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2WET.firmware When it is released, will I be able to update via "fwupdmgr update" or will I have to install it manually via for example the Lenovo ISO Installer?
I will note here if it has resolved my problem. Thanks for the fix.

[2021-08-16 10:19] zwiar opened #146 "Thinkpad X1 Nano Embedded controller issue"
My System firmware is 1.44
My EC firmware is 1.26.

In optional updates (WIn10) I'm receiving a suggestion to install the EC Firmware 1.40

Seems something is not correct, as it is sowed as installed after the restart but with an error, saying that the device will not work properly until the next restart. After the restart the situation is the same....

Please help

[2021-08-16 10:24] ChiWei-Chen commented on #136
@linearpone , thanks.
The new BIOS release is under internal release/verification process, it would take around 6 weeks. I'll keep you updated if I get any exact schedule from the FW(BIOS) team.

[2021-08-16 15:24] superm1 commented on #145
The person Jiahao, are they a Lenovo person or an outside person?

It should help those, but it needs to be reworked as a different fixup still.  And if/when it's merged it will only be fwupd 1.7.x and later.

[2021-08-16 15:46] mrhpearson commented on #145
Don't know I'm afraid - it's not someone on our team.

[2021-08-16 16:06] tgelter commented on #140
I found this issue after running into the same problem when notified of [this update](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2ERM.firmware) starting this morning. I'll be happy to help test or provide additional information. Thanks!

[2021-08-17 03:59] zubozrout opened #147 "AM620 firmware bricking Lenovo Ideapad's SSDs"
Hello,
it seems that multiple Lenovo Ideapad laptops are "bricked" after installing this update:
https://fwupd.org/lvfs/devices/com.lenovo.AM620.firmware

I've opened an issue on [Ubuntu's Launchpad](https://bugs.launchpad.net/ubuntu/+source/fwupd/+bug/1940140), however have been redirected here as this seems to be an issue with the FW itself.

I am not sure if the hardware in these laptops is not

[2021-08-17 08:19] Yawning commented on #65
This still is an issue for me, after over a year and countless updates.  It's still not a big deal because the firmware does update, but it isn't any less annoying.

[code]

[2021-08-17 09:23] kmauleon commented on #65
hi @Yawning thank you very much for the update... unfortunately, I can't get BIOS dev to further investigate the ESRT table problem without recreating the issue.  I already have done a lot of testings for this one but still unable to recreate the issue T_T

[2021-08-17 11:55] GITMichaelK commented on #131
This is to confirm, that today using fwupd, my system (T14s Gen. 1 (AMD)) was successfully updated to BIOS 1.34

The LED indicating Microphone-Muting was not working properly with 1.32 and is not with 1.34; this is related only to the LED, the muting / unmuting works fine.  I noticed this difference:
- Kernel Version: 5.10.53-1-MANJARO (64-bit) → LED permanently OFF
- Kernel Version: 5.10.56-1-MAN

[2021-08-17 12:49] Charlyo commented on #133
Any news on the 1.39? Is undervolt still enabled to be done?

[2021-08-17 14:34] Yawning commented on #65
That's fine, is there anything I can do to help with this?

[2021-08-17 17:19] dadair-ca commented on #74
Following this allowed me to circumvent the issues on my T14 going from 1.30 => 1.34.

[2021-08-18 02:47] kmauleon commented on #65
hi @Yawning if you still remember the specific config or scenario the first time you see the issue... we need to have the recreational procedure for this in order for BIOS Dev to investigate... if you have any information please advise... thank you very much

[2021-08-18 09:52] dkwo commented on #209
@hughsie
I have `/usr/libexec/fwupd/fwupd`
Just to make sure: what does this perform?

[2021-08-18 13:58] mkauzlar commented on #110
I think this is the firmware that needs to be added:
https://support.lenovo.com/us/en/downloads/ds539092-firmware-for-windows-10-7-32-bit-64-bit-thinkpad-usb-c-dock-gen-2

[2021-08-18 14:00] mrhpearson commented on #147
Sent in a question is in to the FW team on this. Initial feedback is we don't think this SSD is used on any of our Linux certified platforms - just on Ideapads.
So far we're not sure why it's on LVFS (normally I'd be happy to see more firmware on LVFS...but I don't think this went through our internal process). I'm waiting on more details.

@hughsie - suggest we pull this one until I have more det

[2021-08-18 14:58] hughsie commented on #147
I've moved it to testing for now. The lenovo user that promoted it was jmagara1_at_lenovo.com if that helps.

[2021-08-18 15:56] absurd34 commented on #137
Hi,

Thinkpad L14 AMD (20U50001GE) (0.1.15 → 0.1.19)

fwiw, I retried minutes ago, and this time everything worked fine.

Hth!

S

[2021-08-18 18:42] superm1 commented on #209
That's the daemon, and we need the verbose logs from it. Launch manually adding --verbose to the command line or modify the systemd unit to do the same.

[2021-08-18 20:00] mrhpearson commented on #147
Some internal discussion. I was wrong and the SSD is also used on our Linux certified platforms and the update was tested there. We need to understand why it's failing on this platform.

@zubozrout - is it possible to get hold of the broken SSD drive so they can do some analysis? If so please email me (markpearson at lenovo dot com) and I'll put you in touch with the team looking at this to figure

[2021-08-18 20:11] michaellass commented on #131
After the latest failed update I reported (https://github.com/fwupd/firmware-lenovo-thinkpad/issues/131#issuecomment-890325274), I built and installed shim from git (https://github.com/rhboot/shim/commit/1b30c2b9e5ee7d3e305a28a92805152d5cbfc9cb) and retried the 1.34 update via fwupd. And I am very glad to report success!

Brief summary:
* On reboot I was greeted with a friendly update screen inste

[2021-08-18 20:19] superm1 commented on #145
https://github.com/fwupd/fwupd/commit/7ae233b7cfb8ccf964e131f5dde2f1073374cf8e went in, so the CABs like this should work with the unreleased fwupd 1.7.0 or later.

Maybe one of the people with an arch login can fix the wiki page to take that out, it's obviously not a Lenovo intended comment.

[2021-08-18 20:57] zubozrout commented on #147
Hi @mrhpearson, I've returned both laptops I've tried to a Czech reseller (CZC.cz) as I was quite sad over it and also needed to have this resolved quickly. They should all be now back at Lenovo.

[2021-08-19 10:48] dkwo commented on #209
This is my log (I terminated it with ctrl-c):
[code]

[2021-08-19 10:50] dkwo commented on #209
I'm on Void Linux
[code]
Can provide more details if needed.

[2021-08-21 17:16] GBT opened #148 "My lenovo L15 reboots and updates are not applied"
# Describe the bug
I have firmware updates offered when I run fwupmgr :
[code]

When I reboot  firmware update is not applied

# Steps to Reproduce
[code]
# Expected behavior
After the reboot running the update command returns that I'm up to date.

# fwupd version information
Please provide the version of the daemon and client.
[code]
Please note how you installed it (apt, dnf, pacman, source, etc

[2021-08-23 02:15] vchernin commented on #145
Did a quick fix: https://wiki.archlinux.org/index.php?title=Lenovo_ThinkPad_X1_Carbon_(Gen_7)&oldid=692523
I am really not sure how or why that was ever added there.

[2021-08-23 19:00] smrqdt commented on #140
I tried again today and was able to get a different result:

I was able to install the newly released [System Firmware N24ET65W 0.1.39](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN24ETXXW.firmware) and [Embedded Controller Firmware 0.1.22](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN24HT.firmware), the ME Update wasn’t applied, but it did not get stuck anymore (a message said somethi

[2021-08-23 21:20] #97 closed, assigned to nobody

[2021-08-24 08:56] jknaus opened #149 "Thinkpad T490s Intel Management Engine Update No updates to process, called in error, ..."
fwupd presented me with an update for Intel ME (192.72.1757 -> 192.81.1753).
The update was seemingly applied correctly (192.81.1753 is shown to be installed).
However, at every boot the message
[code]
is shortly shown on the boot screen.
Strangely enough, I cannot find version 192.81.1753 among the Intel ME updates on fwupd.org.
I already tried to reinstall (no change) and to downgrade (aborted w

[2021-08-25 22:07] pizzadude opened #150 "Possible incorrect release notes for the latest T580 Intel ME Update"
What does Intel ME have to do with analog sticks?
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN27RN.firmware

[code]

[2021-08-26 00:45] flortsch commented on #131
Can also confirm that updating to the bios version 1.34 works with recent fwupd 1.6.3.

[2021-08-26 02:01] mrhpearson commented on #150
Looks like somebody on the FW team was having a bad day...
Update notes on the Lenovo site are:

[code]
I assume a copy/past error? I've flagged to the FW team - internal ticket #  LO-1339

Thanks for letting us know.
Mark

[2021-08-27 01:19] ghost commented on #140
Similar issue on a ThinkPad X390 trying to update Intel ME. Rebooting after running update brings up "Error 366: Failed to verify signature of OEM or RoT key manifests". This happens when trying to update to any of the versions available on lvfs (224.45.1389, 224.48.1605, 224.53.1649). I'm on Pop OS 21.04 with client/daemon version 1.5.11. The update also failed on Ubuntu 21,04 and Fedora 34.

[2021-08-30 15:12] bdaase commented on #143
Thank you, Mark, it looks like its available on the lvfs now: https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1MET.firmware.

Edit: It is available now and update went perfectly fine!

[2021-08-31 11:52] mrhpearson commented on #150
Description has been updated to be correct.
Closing ticket - let me know if you see any problems

[2021-08-31 11:52] #150 closed, assigned to nobody

[2021-08-31 13:55] pizzadude commented on #150
@mrhpearson Hi, I used gnome firmware to update on Fedora KDE. The update seems to have applied successfully. There was no visual indication of the update process however, it just said "reset system" or something like that and rebooted to a black screen for a minute, then rebooted and fwupd shows the update as a success. Is this normal?

[2021-08-31 17:16] mrhpearson commented on #150
I don't have that platform to test with myself - usually there is an indicator of update progress, but I've seen a couple of cases on other platforms where that hasn't worked and you get the black screen (which is a bit scary but patience is key).

I'll let the FW team know and see if we can track down one of these platforms to see if we can reproduce.

[2021-08-31 17:51] pizzadude commented on #150
Here are my system specs if that matters:

Kernel: Linux 5.13.13-200.fc34.x86_64 x86_64
Distro: Fedora release 34 (Thirty Four)
CPU:    Intel(R) Core(TM) i5-7300U CPU @ 2.60GHz
        4 cores/threads
        3500.00 MHz
RAM:    7.60 GiB
GPU:    Mesa Intel(R) HD Graphics 620 (KBL GT2)
        OpenGL 4.6 (Compatibility Profile) Mesa 21.1.7
        GLSL 4.60

on thinkpad t580

[2021-09-01 09:07] stefanobaghino-da commented on #70
[code]
got the job done for me.

[2021-09-01 23:00] TaylorPaiga commented on #5
Sorry for rez'ing a dead issue @hughsie but I'm currently facing this issue on a P15 Gen1 which is preventing the DP firmware from updating on my USB3 Gen2 dock. Did the laptop Lenovo provided offer any insights into a workaround/solution?

[2021-09-02 13:57] dkwo commented on #89
Any news on this side?

[2021-09-02 15:48] jknaus commented on #149
I updated the complete error message that appears at each boot.

The update was applied correctly, as fwupd shows the new version number for Intel ME.
However, the laptop tries to boot into the fw-update image/shim (I do not know the exact naming as I am not an expert in this field), which is empty (?) as everything was already processed.

So, maybe it is just that the shim was not removed correct

[2021-09-03 01:06] kmauleon commented on #89
hi @dkwo for ESRT issue, BIOS dev can not investigate further without recreating the issue on our side... not sure how to proceed with this.  @mrhpearson @hughsie any suggestion?

[2021-09-03 07:14] dkwo commented on #89
@kmauleon Sure, can't you just grab a thinkpad machine from lenovo and recreate the issue?

[2021-09-03 08:36] kmauleon commented on #89
hi @dkwo I've been testing 9 different systems with 4 different Linux OS and still can not recreate the issue.  I was able to ask some assistance with a few customers to help me recreate the issue using their scenario and procedures but still no luck in recreating the issue T_T

[2021-09-03 09:20] dkwo commented on #89
Hi @kmauleon , I see. Is any of your machines a T460s? would you be able to try with void linux os, the x86_64-musl variant?

[2021-09-03 09:27] kmauleon commented on #89
Yes, I already tried with Ubuntu, Debian, RHEL, Suse, Fedora, Arch but no luck

[2021-09-03 09:47] dkwo commented on #89
Did you test on T460s or not?

[2021-09-03 09:52] kmauleon commented on #89
Yes I did test T460s

[2021-09-03 10:03] dkwo commented on #89
Could you try with void linux (musl) there? https://voidlinux.org

[2021-09-03 12:10] csantelmann opened #151 "Missing firmware 1.35 for Lenovo"
Hi,
I got a Lenovo X13 notebook.
According to the Lenovo site, there is a new firmware 1.35 available:
https://pcsupport.lenovo.com/de/de/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x13-type-20uf-20ug/downloads/DS544980
fwupd does not offer the new version.
Can I do anything to help fix this?
Regards
Cord

[2021-09-03 14:24] mrhpearson commented on #151
It will make it's way to LVFS - it just takes our BIOS teams some time to prepare the LVFS release, test it and deliver it.
We're looking into how to streamline the process but it's complicated (and a honestly a little frustrating).
Mark

[2021-09-03 14:53] mrhpearson commented on #89
Can I bounce the question back the other way - can you put a Live Fedora on your system and try that please?
Thanks!

[2021-09-03 14:59] mrhpearson commented on #149
You can use efibootmgr to change your bootorder. I think
efibootmgr -o 0000,001B,001C,001D,001E,001F,0020,0021,0022,0012,0024,0023,0011
would do it (but I don't mess with this stuff very often)

Don't remove shim - you need that :) I think the problem is just that it's trying to run the firmware-updater first on every boot when there is no update to run

@hughsie - is this a fwupdmgr thing or Leno

[2021-09-03 15:13] hughsie commented on #149
The latter I fear. fwupd just sets up BootNext which is only used *once* rather than changing the BootOrder.

The spec part yes, but I wish that was true in reality. The Lenovo firmware actually looks for `Linux-Firmware-Update` and special cases that so it doesn't get "cleaned up". That's why we force the label to have tabs and not use the spaces like every other vendor: https://github.com/fwupd/

[2021-09-03 15:19] mrhpearson commented on #149
Got it - thanks! So somehow/somewhere the boot-order got set here to always run the FW updater...interesting.

@jknaus - I think if you clean up your boot-order that will fix it and get you up and running. We'll have to see if we can reproduce and are messing things up somehow.

Mark

[2021-09-04 12:43] jknaus commented on #149
Thank you. I did take out
[code]
by applying
`efibootmgr -o 0000,001B,001C,001D,001E,001F,0020,0021,0022,0012,0024,0023,0011`
and this worked out well.
Thank you very much for helping me.

Johannes

(I have one additional question, however, as this is another topic I'll put it into another issue.)

[2021-09-04 12:56] jknaus opened #152 "Intel SSD firmware update available on Lenovo website but not via fwupdmgr"
Hello,

I have a Thinkpad T490s with an Intel SSDPEKKF010T8L running the fw-version L11P.
The Lenovo-Support-Website <https://pcsupport.lenovo.com/fi/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t490s-type-20nx-20ny/downloads/ds545014-intel-ssd-firmware-updater-for-linux-os-thinkpad> shows there is an update available to version L14P (release date September 2020).
There is e

[2021-09-04 20:05] deimosfr commented on #148
Same for me on Arch Linux and Lenovo X1 Extreme Gen2

[2021-09-06 19:19] dkwo commented on #89
On 9/3/21 4:53 PM, Mark Pearson wrote:

I do get the same exact result with Fedora live.

[2021-09-07 12:06] mrhpearson commented on #152
Strange - we've released a whole bunch of SSD updates on LVFS.

Can you confirm what the GUID is for your SSD part please (fwupdmgr get-devices)?

[2021-09-07 17:52] csantelmann commented on #151
Thanks a lot for the information! I'm in no hurry.
Cord

[2021-09-07 17:52] #151 closed, assigned to mrhpearson

[2021-09-08 10:14] kmauleon commented on #89
hi @dkwo sorry i am not familiar with void linux but i tried to install it following some video from youtube and i was able to install void xfce but unfortunately i can't make fwupd to work... received UEFI ESP warning

[2021-09-08 11:15] dkwo commented on #89
@kmauleon I'm assuming you installed on bare metal, not some virtual machine etc.
I do `mount -t efivarfs efivarfs /sys/firmware/efi/efivars` before runnig fwupd, can you do it?

[2021-09-09 02:37] groovenectar commented on #110
And it's in an `.exe` file... So are Linux users SOL for updating the firmware on that dock using what's currently available?

[2021-09-09 02:39] groovenectar commented on #110
@j13m126 Is your dock [`40AS0090US`](https://www.lenovo.com/us/en/p/accessories-and-software/docking/docking_usb-docks-(universal-cable-docks)/40as0090us?bvstate=pg:2/ct:q)?

[2021-09-10 01:50] LinuxOnTheDesktop commented on #111
It looks like this issue should be closed.

[2021-09-10 01:56] LinuxOnTheDesktop commented on #149
Is a meta-bug (/issue) in order? For, we have fwupd + Lenovo's firmware updates resulting in the following.

_Failed attempts_: updates not being applied when they should be (see #109, #118, #140, #144, #148 etc. );
_Bogus attempts_: repeated attempts to install non-existent updates (this bug);
_Non-attempts_: updates that should be offered not being offered at all (#105, #138, #152).

All the bug

[2021-09-10 02:39] kmauleon commented on #89
@dkwo sorry for the delay as we have no internet yesterday... anyway, it says already mounted on /sys/firmware/efi/efivars and with the same warning error UEFI ESP partition not detected or configured

[2021-09-10 07:12] #111 closed, assigned to nobody

[2021-09-10 07:38] dkwo commented on #89
Can you follow this instead?
https://docs.voidlinux.org/installation/live-images/guide.html

[2021-09-10 09:28] kmauleon commented on #89
@dkwo i think the instruction is the same with the one i followed in youtube.  by the way, this is the iso i tried >> void-live-x86_64-musl-20210218-xfce.iso

[2021-09-10 14:59] dkwo commented on #89
https://github.com/fwupd/fwupd/wiki/PluginFlag:esp-not-found
looked here?

[2021-09-10 21:03] oschwald opened #153 "Lenovo T480 update error"
When running `fwupdmgr update`, I get the error `Document must begin with an element` with `5a70ec7f22e97bfe090387fae06debcff2788e387c3d87fdc4ac404d744a26e3-Lenovo-ThinkPad-T480-ECFirmware-1.22.cab`.

Debug output:

[code]

[2021-09-11 16:17] cwozny commented on #153
I have this same issue on my Lenovo Thinkpad T480 running Ubuntu 20.04.3. fwupdmgr client version 1.5.11.

Here is the output from running the update:

Devices with no available firmware updates:
 • Thunderbolt host controller
 • TOSHIBA-RC100
 • UEFI Device Firmware
 • UEFI Device Firmware
 • UEFI dbx
Upgrade available for Embedded Controller from 0.1.20 to 0.1.22
20L5CTO1WW must remain plugged i

[2021-09-12 09:55] jknaus commented on #152
@mrhpearson here you are:
[code]

[2021-09-13 17:37] bstin commented on #74
On my T14 had the same problem. Went into BIOS setup manually (F1) and disabled "Secure Boot" and this allowed the fwupdate to run normally.

[2021-09-14 12:20] Colfenor commented on #131
as an alternative: shouldn't it be possible to flash the bios from 1.30 to e.g. 1.32 with a windows 10 booted from usb-stick ? has someone tried this out ?

[2021-09-14 12:27] flortsch commented on #131
Never tried it with Windows, but before fwupd, I always flashed BIOS updates on my Thinkpads using geteltorito (which I also did on my T14s after the update to 1.32 failed with fwupd).

[2021-09-14 13:55] Colfenor commented on #131
Thanks for that insight ! If u have time, could you elaborate on how you upgraded with `geteltorito` (I guess via usb flash drive) ? I'd like to upgrade the bios from 1.30 -> 1.32 however feel a bit reluctant to do so after reading so many hassles/troubles arose

[2021-09-14 14:00] flortsch commented on #131
Yeah, you basically use geteltorito to extract an image from the Lenovo BIOS ISO file and copy it onto a usb flash drive.

Here are two guides:
https://wiki.archlinux.org/title/Flashing_BIOS_from_Linux#Bootable_optical_disk_emulation
https://thinkwiki.de/BIOS-Update_ohne_optisches_Laufwerk_unter_Linux#El_Torito_Image_auf_USB-Stick_.28nur_UEFI.29

[2021-09-14 15:03] tisma commented on #70
I had a problem with this for a while on my `Thinkpad T480` but today I manged to fix it with

[code]

[2021-09-14 17:17] plafue opened #154 "BIOS Update 1.22 - ThinkPad P14s Gen 1, P15s Gen 1, T14 Gen 1, T15 Gen 1"
Support page:
https://pcsupport.lenovo.com/de/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t14-type-20s0-20s1/20s0/20s0cto1ww/pf2aqpz7/downloads/ds544549-bios-update-utility-bootable-cd-for-windows-10-64-bit-linux-thinkpad-p14s-gen-1-p15s-gen-1-t14-gen-1-t15-gen-1

Direct zip download:

https://download.lenovo.com/pccbbs/mobiles/n2xul14w.zip

Zip file contains UEFI BIOS upda

[2021-09-14 18:29] mrhpearson commented on #154
Looks like they haven't set the version format in the cap file (interestingly they did it on the BIOS file...) I'll forward to the FW team.

FWIW - I'd wait until the FW was released on LVFS too, as then they'll have tested it with fwupdmgr and certified it. Might save you some headaches

Mark

[2021-09-14 18:39] mrhpearson commented on #154
For my records: DFT163706

[2021-09-14 19:48] plafue commented on #154
Thanks, @mrhpearson !

[2021-09-15 00:51] kmauleon commented on #89
@dkwo still can't resolve the issue with void linux... by the way, others resolve their issue by doing this >> https://github.com/fwupd/firmware-lenovo-thinkpad/issues/70#issuecomment-919238383
please try.  thank you very much

[2021-09-15 07:32] dkwo commented on #89
Doesn't work for me, I still get
[code]

[2021-09-15 08:38] kmauleon commented on #89
not sure if it will make a difference but please try with "sudo"
**sudo** fwupdmgr refresh **--force**
**sudo** fwupdmgr update

[2021-09-15 09:11] dkwo commented on #89
I do get the same result as above.

[2021-09-15 09:50] smalltimer commented on #70
@tisma Nice. I have been trying this for a while now, but I get the same error, even after a forced update.

`failed to compile 75867731fe378702ebb0f31a57c0a225f1a85d9c:prefix=components: Error on line 46 char 2: Document must begin with an element (e.g. <book>)`

[2021-09-15 09:57] kmauleon commented on #89
do you also have windows installed in your system? can you please try to update thru windows?

[2021-09-15 09:58] dkwo commented on #89
Nope.

[2021-09-17 08:39] kmauleon commented on #89
hi @dkwo are you familiar with this error...
![image](https://user-images.githubusercontent.com/62524943/133752478-3f559e85-1d2b-4c9c-8d74-996a985bd48b.png)

[2021-09-17 09:40] dkwo commented on #89
It seems you did not partition correctly.
Can you show output of `cfdisk` on your diks?
This is what you expect
[code]
in particular
[code]
If you don't have anything like that, then please follow this https://docs.voidlinux.org/installation/live-images/partitions.html (not some youtube video).

[2021-09-17 13:21] #103 closed, assigned to mrhpearson

[2021-09-17 14:02] dkadioglu commented on #138
The update is available now via LVFS and I successfully applied the update.
However, the device is still shown as updateable, despite the version number shown in the UEFI setup is the newer one now:

[code]

[2021-09-17 14:09] dkadioglu commented on #138
Maybe the same as: https://github.com/fwupd/firmware-lenovo-thinkpad/issues/89 and https://github.com/fwupd/firmware-lenovo-thinkpad/issues/70 and https://github.com/fwupd/firmware-lenovo-thinkpad/issues/156
I already tried to do `fwupdmgr refresh` or `fwupdmgr refresh --force`, the update is still shown.

[2021-09-17 15:37] saikocat opened #155 "ThinkPad T480s - Unable to update ME and Bios (Error 105)"
**Describe the bug**

Devices that were not updated correctly:
 • Intel Management Engine (184.80.3746 → 184.86.3909)
 • System Firmware (0.1.42 → 0.1.47)

After running `fwupdmgr update` and said yes to all the prompt, and system restarted. While applying the update, it will report the failure in applying update with the following error message:

[code]

**System info**

Secure Boot: No

[code]

[2021-09-19 19:04] adamthiede commented on #148
For what it's worth I encountered something similar today (Fedora 34, T480) - repeatedly trying to apply updates, but the boot entry doing nothing and just kicking me back to Fedora's GRUB. I had applied updates a number of months ago. The fix as others have mentioned was to delete my Linux-Firmware-Updater entry in efibootmgr (`efibootmgr -b <entry> -B`; find `<entry>` by running `efibootmgr` wit

[2021-09-20 07:49] dkwo commented on #209
This is with
[code]
Just to keep the bug from going stale, from newer version:
[code]

[2021-09-20 09:33] kmauleon commented on #89
hi @dkwo i successfully updated mefw for t460s with void linux.  please see below images.  thank you very much.
![image](https://user-images.githubusercontent.com/62524943/133981751-7d3a7997-bd21-4ad0-b055-5b837e0a381a.png)
![image](https://user-images.githubusercontent.com/62524943/133981794-ac389f53-21c3-4b93-b099-dab4a5685af5.png)
![image](https://user-images.githubusercontent.com/62524943/1339

[2021-09-20 11:56] dkwo commented on #89
@kmauleon Does it persist even after reboot and `fwupdmgr get-updates`?

[2021-09-21 05:15] kmauleon commented on #89
did not encounter problem even after reboot and fwupdmgr get-updates...
![image](https://user-images.githubusercontent.com/62524943/134115187-06191032-cde4-4168-b14a-3d3b3c36ef1a.png)

[2021-09-21 08:27] dkwo commented on #89
Ok, then it is not likely a void linux or other distro issue.

[2021-09-21 18:56] BenjamenMeyer commented on #70
@smalltimer same here

[2021-09-21 20:57] mrhpearson commented on #89
Apologies if this has been asked before - just want to confirm ESRT table is incorrect. Can you do:
cat /sys/firmware/efi/esrt/entries/entry?/fw_version
Thanks

[2021-09-22 01:35] brianredbeard commented on #112
More grist for the mill

Just as an FYI, the `created` field still shows up as a date in the past.  I had forgotten that i mentioned that previously and came here to note it.  With the exception of seeing `Current version`:  `0.1.45` the lack of usable or actionable information provided in the information _about_ the update really had my hackles up about a potential roll-back attack. If the urgenc

[2021-09-22 02:02] MountainX commented on #140
I am not using self-signed binaries. (I'm not sure what "shim" is.)

[2021-09-22 05:25] Roxxor91 opened #156 "Lenovo T470 not showing correct Intel ME Version"
**Describe the bug**
fwupd shows that only 184.70.3626 is installed. I installed 184.86.3909 without issues via fwupd. The BIOS shows 184.86.3909. All other firmwares are correctly displayed and also updated.

**Steps to Reproduce**
Upgrade Intel ME, shown version stays the same

**Expected behavior**
184.86.3909 is installed and should displayed accordingly.

**fwupd version information**
Please

[2021-09-22 07:39] hughsie commented on #156
@kmauleon @mrhpearson do we know what/where actually updates the value in the ESRT table for the ME firmware? This seems to be something we keep getting wrong, and maybe it's something I can verify at LVFS upload time?

[2021-09-22 07:57] dkwo commented on #89
@mrhpearson Does this help?
[code]

[2021-09-22 08:02] kmauleon commented on #156
hi @hughsie ESRT table is managed by BIOS but BIOS dev does not want to further investigate unless the issue is recreated at Lenovo.  sorry i've been trying to recreate the issue myself for months now but still unlucky T_T

[2021-09-22 08:27] hughsie commented on #156
@kmauleon can you expand a bit (over email is fine if this is too public) -- e.g. how does the system bios look at the ME file system? Or does the system bios have some kind of map like:

    if me_checksum == "8dfa3c58ae9bd685152dff928b2981a7"
         set esrt_version = "1.2.4.5"
    elif me_checksum == "bdb4d43b8478bd927615e5022693c940"
         set esrt_version = "1.2.4.6"

If that's what happ

[2021-09-22 15:02] mrhpearson commented on #89
Yep - thanks. It confirms the ESRT table is wrong (as expected) - 3091598890 -> 184.70.3626

@kmauleon - let's discuss internally but the BIOS team **have** to understand that they're doing something wrong here. I know they can't reproduce it but we have enough of these cases that somewhere their implementation is flawed.

[2021-09-22 17:53] Roxxor91 commented on #156
If I can test/help something, let me know! Right now I do not know what you are talking about :D

[2021-09-23 16:39] rmappleby commented on #110
Worth noting that there seems to be quite a lot of unhappiness related to updating of these docks from Windows users, as found here: https://forums.lenovo.com/t5/Displays-Options-and-Accessories/Can-t-update-firmware-for-displayport-on-ThinkPad-USB-C-Dock-Gen2/m-p/4506706?page=1
The reports aren't definitive, but there appear to be problems updating the display port hub firmware. Some users are in

[2021-09-24 09:09] ChiWei-Chen commented on #136
@linearpone ,
The BIOS 0.1.20 is released now, please let me know if this does not work for you.
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2WET.firmware

[2021-09-24 15:40] mrhpearson commented on #146
Hi - your EC FW is quite out of date - with System firmware 1.44 you should have had EC updated to 1.41

It sounds like you're running Windows and this firmware forum is for Linux users. I suggest you contact Lenovo support about your question. You may have some joy with the 'Bootable CD' method on the support site (works with a USB stick). Looks like they've released version 1.45 there (it's not

[2021-09-26 09:31] CHBMB commented on #89
Just chiming in to confirm this is affecting my Lenovo T470s running Pop_OS! 21.04

[code]
[code]
[code]

[code]
[code]
Entering the BIOS at boot does indeed confirm that I actually do have version `184.80.3746` of the Intel Management Engine installed.

[2021-09-26 13:40] andrey-krutov opened #157 "Lenovo Thinkpad L590 missing BIOS 1.26"
Package  (ID)     UEFI BIOS  (BIOS ID)  ECP  (ECP ID)       Rev.  Issue Date
1.26  (R0ZUJ20W)  1.26  (R0ZET48W)      1.18  (R0ZHT39W)    01    2021/09/15

https://download.lenovo.com/pccbbs/mobiles/r0zuj20wd.txt

[2021-09-26 17:46] linearpone commented on #136
Hi @ChiWei-Chen ,
the firmware of the Embedded Controller is correctly detected after the system update 0.1.20 as version 0.1.8 by fwupd which seems to match the installed one which is 0.1.08 (detected by bios).

However I couldn't test if I can update my Embedded Controller via fwupd afterwards because there is no newer stable version than 0.1.08 on fwupd [1]. However on the official Lenovo websi

[2021-09-29 07:51] luitzifa commented on #70
@smalltimer same here with version 1.5.11 from ubuntu focal
edit:
i just installed fwupd snap, including version 1.6.4 which works for me.

[2021-09-29 07:53] galibozek commented on #70
@kmauleon something new in the topic you know?

[2021-09-29 09:14] kmauleon commented on #70
hi @galibozek... sorry but no progress at this moment... but @mrhpearson is helping to escalate the issue... no update yet from BIOS dev...

[2021-09-29 19:04] zaggash opened #190 "Lenovo X1G7 failed to reboot after Intel Management Engine update"
**Describe the bug**
Lenovo X1G7 failed to reboot after Intel Management Engine update

* Secure Boot disabled
* 'Boot Order Lock' disabled
* LUKS Disk Encryption enabled on boot

It worked for a year and it is failing on this update.

**Steps to Reproduce**
[code]

**Expected behavior**
The laptop ask to reboot then reboot then the update is installed.

**fwupd version information**
Please provid

[2021-09-29 19:18] zaggash commented on #190
[code]

[2021-10-01 11:59] LordChaos73 opened #159 "Missing BIOS update (1.53) for X1 Carbon 6th gen"
**Describe the bug**
There seem to be no 1.53 BIOS update available, but it is available on Lenovo's support website

**Steps to Reproduce**
No BIOS update available after running ``fwupdmgr refresh && fwupdmgr get-updates``

**Expected behavior**
A BIOS update should be available

**fwupd version information**
Please provide the version of the daemon and client.

[code]

Please note how you insta

[2021-10-01 12:56] LordChaos73 opened #158 "Missing Intel Management Engine update (11.8.86.3909) for X1 Carbon 6th gen"
**Describe the bug**
No IME update available through fwupdmgr for X1 Carbon 6th gen

**Steps to Reproduce**
[code]

**Expected behavior**
An update for the Intel Management Engine (11.8.86.3909) should be available.

**fwupd version information**
Please provide the version of the daemon and client.

[code]

Please note how you installed it (`apt`, `dnf`, `pacman`, source, etc):

Came with the dist

[2021-10-01 16:00] Colfenor commented on #131
thanks a lot this worked for me :) however did you experience this issue after upgrading to 1.32 ?

https://bbs.archlinux.org/viewtopic.php?id=269705

[2021-10-01 16:29] flortsch commented on #131
Did not notice any TSC clocksource related problems on my machine after upgrading so far, but I will check it out :)

[2021-10-01 21:12] mrhpearson commented on #158
Let me know if I'm missing something - but the FW is here:
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23RN.firmware
And it looks like you already have it installed don't you?
├─Intel Management Engine:
│     Device ID:          349bb341230b1a86e5effe7dfe4337e1590227bd
│     Summary:            UEFI ESRT device
│     Current version:    184.86.3909
(note: 184 -> 0xB8 -> 11.8 - I think the d

[2021-10-02 12:14] LordChaos73 commented on #158
Ah sorry Mark, I didn't look properly. My apologies.

[2021-10-02 12:14] #158 closed, assigned to nobody

[2021-10-02 16:12] johannbg opened #160 "Missing Thunderbolt firmware updates for ThinkPad X1 Carbon Gen 6 (Machine types: 20KH, 20KG)"
There are seemingly two missing Thunderbolt updates for the X1 Carbon Gen 6 and it looks like the Thunderbird controller has not recieved updates on Linux since version 43 for whatever reason.

One `46` that was released on 2021/03/17
`n23th07w   17.0.0.18     N23TF23W        46   F407.06.31    01    2021/03/17`
and fixes a thunderbolt vulnerability

`Version 17.0.0.18-N23TF23W

[Important updates

[2021-10-03 15:40] ccoenen commented on #153
same here:

[code]

[2021-10-04 08:50] hughsie commented on #153
What fwupd version?

[2021-10-04 14:18] oschwald commented on #153
I am on Ubuntu 21.04. It looks like it is using version 1.5.11.

[code]

[2021-10-04 16:39] mrhpearson commented on #160
I have a ticket open with the FW teams on missing LVFS updates for TBT FW (it's a number of different platforms)
For my reference: LO-1371
Mark

[2021-10-04 22:41] bmreading opened #161 "ThinkPad X1 Nano gets stuck on EC 1.42 update"
Using the latest Fedora 34, I'm currently on version 1.40, and tried to update to the 1.42 version of the embedded controller firmware for my X1 Nano three times. Each time, it reboots the system, and gets stuck on the screen showing the Lenovo logo with white text under it saying "Installing firmware update..."

![stuck-screen](https://user-images.githubusercontent.com/48337326/135934128-ee7b3d17

[2021-10-04 23:11] jonassvatos commented on #161
I can confirm that the same thing happens also on X1 Carbon Gen 9 (same hardware as X1 Nano Gen1) with EC 0.1.27->0.1.29 update.
Also Fedora 34

[2021-10-05 01:15] mrhpearson commented on #161
Do you have secure boot enabled? If it's enabled can you try the update with SB disabled - there is an issue with shim that is impacting FW updates with SB enabled.
I realise it's not particularly helpful - but I've done both those updates succesfully (Fedora 34 on the X1 Nano, Debian 11 on the X1 Carbon 9)
Thanks
Mark

[2021-10-05 01:33] bmreading commented on #161
Hi Mark, thanks for the response. Good to hear that someone has been successful, but I do not have Secure Boot enabled. I've included some screenshots of some other stuff in the UEFI settings in case they are helpful:

![uefi-1](https://user-images.githubusercontent.com/48337326/135946507-56c1e704-a6c8-42ef-b5df-22ead92911a0.jpg)
![uefi-2](https://user-images.githubusercontent.com/48337326/1359465

[2021-10-05 03:29] LinuxOnTheDesktop commented on #159
I wonder whether the reason that this update is missing, and this other one (#160) too, is as follows. Other updates for the X1CG6 are shown on fwupd but do not actually install. (See e.g. #142.) That is: perhaps Lenovo is aware of that latter problem and perhaps that awareness is holding Lenovo back. Still, the problems could be distinct.

[2021-10-05 03:36] LinuxOnTheDesktop commented on #148
Let me elaborate on elagost's procedure, via what I see on my machine.

[code]
Right - let's see whether it works i.e. whether the update gets applied:
[code]

[2021-10-05 03:54] LinuxOnTheDesktop commented on #148
Postscript to my post immediately above: it did not work (and I even tried deleting the Windows boot manager, but that did not help).

[2021-10-05 07:14] jonassvatos commented on #161
Hi, secure boot is disabled on my X1 Carbon Gen 9.

[2021-10-05 17:08] adamthiede commented on #148
@LinuxOnTheDesktop do you have secure boot on?

[2021-10-05 17:15] mrhpearson commented on #148
Also (just because I literally suffered this myself on a P15 and scratched by head a bit before realising what I was missing)
 - Make sure your system is plugged in
 - Make sure your battery is charged more than 60% (I think it needs 40%...but not completely sure so playing safe)
 - Recommend disabling secure boot just because there have been some issues with shim that are being fixed but aren't r

[2021-10-05 17:31] LinuxOnTheDesktop commented on #148
@elagost: no, nor do I have boot order locked.

[2021-10-06 18:42] linearpone commented on #136
In the meantime, there was a new version released for the EC on fwupd and I was able to update. Thank you very much for the work. <3
I'll close the issue.

[2021-10-06 18:42] #136 closed, assigned to mrhpearson

[2021-10-08 08:41] nvaert1986 opened #162 "Lenovo ThinkPad P52 fails to upgrade Intel Management Engine from 192.72.1757 to 192.81.1753"
**Describe the bug**
Lenovo ThinkPad P52 fails to upgrade Intel Management Engine from 192.72.1757 to 192.81.1753

**Steps to Reproduce**
Run fwupdmgr update on a Lenovo ThinkPad P52 with an older Intel Management Engine version

**Expected behavior**
An up-to-date Intel Management Engine

**fwupd version information**
Please provide the version of the daemon and client.

[code]

Please note how y

[2021-10-08 08:43] hughsie commented on #162
This is another one where we get `Update State:       Success` but no updated ESRT entry.

[2021-10-08 09:52] nvaert1986 commented on #162
Richard,

Is this a known bug or related to another bug? Or am I doing something incorrectly (as I did a few Intel Management Engine upgrades in the past that went fine)?

[2021-10-08 10:14] hughsie commented on #162
I don't think you're doing anything wrong, sorry -- my comment was more to the lenovo people reading these issues.

[2021-10-08 14:09] mrhpearson commented on #162
Yeah - looks very similar :(
I've forwarded to the FW team and added it to the list of impacted platforms - I know they're investigating but don't have root cause yet
Mark

[2021-10-08 23:48] camilleacey commented on #70
Same issue here on Lenovo T480

[code]
running it as root didn't help. I was able to do the Core update so I am gonna restart and try again here...

[2021-10-09 10:24] johannbg commented on #160
@mrhpearson have you identified the bottleneck already I mean what is the root problem for the missing firmware updates which in somecases are even available on Lenovo's website for the Linux platform. Is it usability issues with LVFS, workflow issues inside Lenovo in uploading them to LVFS, something else?

[2021-10-09 10:33] johannbg commented on #160
@hughsie does lvfs provide something similar to the update-testing path in Fedora where vendors employees and users can test firmware updates prior to them being "officially" pushed as updates?

[2021-10-09 11:22] hughsie commented on #160
Yup, lvfs-testing. It's only possible for vendors to upload files rather than end users for a few legal and security reasons.

[2021-10-09 12:14] johannbg commented on #160
@hughsie how does one go about enabling lvfs-testing or is that just available for vendors?

That makes sense but the demand for end users wanting to share/upload files themselves automatically goes away if vendors themselves do their due dilligence and upload it, so it's more of a question of identifying the root cause why vendors aren't uploading those files in the first place, which could be us

[2021-10-09 14:46] hughsie commented on #160
fwupdmgr enable-remote lvfs-testing

I don't disagree, but sometimes a public bugtracker isn't the right place for those discussions.

[2021-10-12 15:12] mrhpearson commented on #160
@johannbg - they're working on delivering the TBT updates. I don't have dates but I think they'll be available quite soon - they were scrambling on it.
Not sure how/why they got missed but it's an internal process issue. The updates are part of the product requirement so should have been delivered.

[2021-10-13 09:42] atopia opened #163 "Thinkpad X1 Carbon 6th gen BIOS/UEFI updates missing (LVFS has 1.51, latest version is 1.53)"
The Lenovo download page lists a [BIOS/UEFI update](https://pcsupport.lenovo.com/de/en/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-carbon-6th-gen-type-20kh-20kg/20kh/20kh006jge/pf1e2xr1/downloads/ds502281-bios-update-utility-bootable-cd-for-windows-10-64-bit-linux-thinkpad-x1-carbon-type-20kh-20kg) to version 1.53, however the latest version in LVFS is 1.51.

[2021-10-13 16:46] mrhpearson commented on #162
We think we have a solution for this - but we're unable to reproduce the issue internally so are hoping there is a guinea pig who is seeing the problem who would be willing to help us with testing.
Let me know if you can help and I'll get you a trial BIOS to try along with instructions.
Thanks
Mark

[2021-10-13 17:00] mrhpearson commented on #163
Flagged to the firmware team (for my referenceLO-1389)

[2021-10-14 07:23] nvaert1986 commented on #162
For me this issue only occurs with the Management Engine. A UEFI / BIOS upgrade is working fine. If you can provide me with a trital for the Intel Management Engine I don't mind giving it a try.

[2021-10-14 13:06] mrhpearson commented on #162
My apologies - apparently the fix they have isn't available yet for the P52 :( They gave me a list of platforms and P52 was top of the list...apparently incorrectly. They are working on the fix for P52 too - but I don't have a trial for that platform available yet. I'll keep you posted when it's available.
Time to track down another platform for testing - sorry for the distraction!

[2021-10-14 13:08] hughsie commented on #162
@mrhpearson did we ever find out what the root cause was? I'm super interested to findout. Offlist is fine if that's more appropriate.

[2021-10-14 14:49] nvaert1986 commented on #162
Can you specify which platforms are encountering this issue (or is there a link to a list)? Then I can see if I have other hardware that matches the criteria and test it.

[2021-10-15 13:15] mrhpearson commented on #134
Closing ticket.

[2021-10-15 13:15] #134 closed, assigned to nobody

[2021-10-15 18:29] mrhpearson commented on #94
TBT3 WS G2 dock firmware is on LVFS now - I think this can be closed. Let me know if you're still seeing problems

[2021-10-15 18:29] #94 closed, assigned to nobody

[2021-10-15 18:43] jwesterd-redhat commented on #94
Cant see the dock over TB3 cable ...  have tried a few cables last was a
0.5M 100W40Gbps rated cable with a 3 and a lightning bolt unit from
cabletime.

***@***.*** ~]$ fwupdmgr get-topology --show-all
WARNING: The daemon has loaded 3rd party code and is no longer supported by
the upstream developers!
20L8S2N800
│
├─Thunderbolt host controller:
│     Device ID:          4d2b831f1d8e7157c03d279f592

[2021-10-16 11:28] johannbg commented on #160
@mrhpearson I suspected that much since I have had a climpse into some of Lenovo's processes in the past anyways that was few years back and typical internal process workflow should have workflow steps which identifies where the bottleneck is and or steps that prevent you to move the status of the task from open to closed without completing that tasks so you might want to review the workflow in us

[2021-10-18 13:54] mrhpearson commented on #162
I got the list of platforms...and they don't match the list I'm tracking issues with. They're backporting the fix to the older platforms - I'll update when available.
@hughsie - I've asked for root cause, don't have it yet.
Mark

[2021-10-18 21:03] dkwo commented on #89
@mrhpearson @kmauleon One more weird thing with efivars on my t460s: it is refusing to write the Platform Key from linux, as seen in https://github.com/Foxboron/sbctl/issues/102 which is needed for secure boot. Perhaps the bios team could investigate this (related?) issue as well.
Btw, not sure it is relevant, my ATM was set to permanently disabled in bios a long ago.

[2021-10-20 11:32] dayio commented on #2
Same here, Lenovo ThinkPad L380 recognized as X280.

[2021-10-20 22:54] mrhpearson commented on #115
We're unable to reproduce and no update from ticket originator so closing issue. Let me know if there are any updates and we can revisit.

[2021-10-20 22:54] #115 closed, assigned to nobody

[2021-10-20 23:03] mrhpearson commented on #117
We were unable to reproduce so closing issue.

[2021-10-20 23:03] #117 closed, assigned to nobody

[2021-10-23 12:06] microfortnight commented on #162
Not sure if it adds any relevant information, but I have the same problem on a ThinkPad P1.

[code]

[code]

[code]

[code]

[code]

Fedora 35 Beta, 5.14.10-300.fc35.x86_64
Tried reboot, tried several times.
Have NVMe disk.
Can't check for secure boot or boot order lock right now, will add if it is actually relevant.

[2021-10-25 04:04] LinuxOnTheDesktop commented on #142
This problem persists for me, even when using the current FlatPak version of fwupd.

[code]

[2021-10-25 12:29] dkwo commented on #89
@kmauleon Could you try the tool `sbctl` (e.g. on Arch or Void) on a T460s and let me know if it lets you enroll the PK key?
The commands are `sbctl create-keys` and `sbctl enroll-keys` (as root, after choosing 'setup mode' for Secure Boot in UEFI).

[2021-10-26 05:40] kmauleon commented on #89
@dkwo let's hold that idea for now... currently our bios dev is working on a patch... so let's wait for that... thank you

[2021-10-26 09:05] dkwo commented on #89
@kmauleon That's a separate issue, but it could be originating from bugs in Lenovo's UEFI implementation as well.
Could you (or anyone else with a T460s) please try it?

[2021-10-27 17:54] mrhpearson commented on #162
OK - I have test FW updates for:
P52/P72               N2CET61A
T480s                   N22ET71T
T480                    N24ET66T
X1 Carbon 6         N23ET79W_T

Are there are any volunteers to try these? The updates are a CAP file and UEFI executable (with instructions on the parameters). I usually boot a USB stick with a UEFI shell to do these things (I can provide steps).

If anybody, who is se

[2021-10-29 07:25] romanstingler opened #164 "Lenovo P15v Embedded Controller version wrong detection"
I was able to update all kind of components (bios/embedded controller EC/...) but the FW version of the EC is displayed wrong.
This issue was already before upgrading to version 1.16.

[Lenovo P15 BIOS Download page](https://support.lenovo.com/at/de/downloads/ds546302-bios-update-utility-bootable-cd-for-windows-10-64-bit-linux-thinkpad-p15-gen-1-p17-gen-1-t15g-gen-1-t15p-gen-1-p15v-gen-1)

[code]

[2021-10-29 08:40] hughsie commented on #164
I've fixed both firmwares on the LVFS and sent the uploader some instructions for future uploads. The metadata will be resigned in 4 hours, can you wait until that and then do `fwupdmgr refresh --force` and then `fuwpdmgr update` please.

[2021-10-29 08:44] romanstingler commented on #164
@hughsie  Thanks! I appreciate your hard work.

[2021-10-29 12:28] bhack commented on #110
What is the status of this?

[2021-10-31 22:18] seanclerkin commented on #162
Same issue with my X1 Carbon 7th Gen.

[2021-11-01 19:35] mvdan opened #165 "T14/P14s gen 2 AMD fails with "unsupported" capsule error"
1.11 was released on the 11th of October: https://pcsupport.lenovo.com/gb/en/products/laptops-and-netbooks/thinkpad-p-series-laptops/thinkpad-p14s-gen-2-type-21a0-21a1/21a0/21a0cto1ww/downloads/driver-list/component?name=BIOS%2FUEFI

LVFS only has 1.09 from early September: https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1MET.firmware

It's possible and likely that other bits of firmware for th

[2021-11-02 12:58] mrhpearson commented on #165
I'll check and find out. (For my reference LO-1419)

As a note - we haven't officially released Linux support on the AMD G2 platforms due to WLAN driver issues. I know that sounds like a wonky reason - but the FW team use our certified Linux images for their testing so that may have had an impact on why the updates aren't available yet or are slower to be released (and they did manage to get 1.09

[2021-11-02 14:04] mvdan commented on #165
Thanks for the very quick update! Much appreciated.

I swapped the WLAN card on my laptop for that reason. It seems like Linux 5.15 was released just this week with native support for its original Realtek card.

[2021-11-04 10:28] bdaase commented on #165
Looks like Marks rechecking worked and a new version is available now: https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1MET.firmware

[2021-11-04 21:59] maxicarlos08 commented on #147
I used this update some time ago on my Lenovo IdeaPad 5 15ALC05, and the ssd got bricked (all information lost, and no backups :sob:).
I sent the notebook to the Lenovo support and they gave it back with a replaced ssd and windows installed (good work Lenovo :+1:), since then I haven't touched fwupd

**EDIT**: I think I should have read the docs better since my laptop is not listed in the supporte

[2021-11-05 21:23] mrhpearson opened #166 "P1G3 and X1E3 TBT FW v62 update fails with invalid version format"
P1G3 TBT FW update fails with:

`Firmware version formats were different, device was 'pair' and release is 'plain'
`

Looks like metadata in FW is incorrect:
`<value key="LVFS::VersionFormat">plain</value>
`

Issue raised with Lenovo FW team. Tracked with internal ticket # LO-1424.
(Raising this issue so others are aware it's being looked at if they hit it)

[2021-11-06 21:16] superm1 commented on #166
@hughsie at least for the thunderbolt protocol maybe worth enforcing on LVFS side that it needs to be set to version format of pair and block promotions if it's wrong?

[2021-11-06 21:27] hughsie commented on #166
We already have that set; I'm wondering what happened here. I think the LVFS only uses the protocol verfmt as a fallback in case the component verfmt is not set, rather than a "problem" on mismatch.

[2021-11-06 21:56] mvdan commented on #165
Interesting, thanks! I just tried upgrading to it, but it did not work. The error I got is https://github.com/fwupd/fwupd/wiki/LVFS-Triaged-Issue:-Failed-to-run-update-on-reboot. My secure boot and boot order lock BIOS settings are off.

[2021-11-06 22:26] michaeldleslie commented on #140
I am seeing the same behavior that @smrqdt described during an update today on my T480.

Successfully installed system firmware 0.1.40 and embedded controller firmware 0.1.22. Only the ME update 184.86.3909 fails to apply. However, it also doesn't get stuck: it sits on the red-and-white Lenovo splash screen for a bit, eventually "System reset" is printed, and then the machine reboots, as others ha

[2021-11-07 09:32] klemmster commented on #140
@michaeldleslie Thank you for the ping.
I've updated the system firmware from 0.1.39 to 0.1.40 and the machine doesn't get stuck anymore. The behavior is now identical to the one Michael described.

[2021-11-07 09:59] johannbg commented on #160
@mrhpearson well it's getting close to a month so any news on this issue. Is the update somehow failing in testing?

[2021-11-07 14:53] aeckstein opened #168 "Lenovo X1 Carbon 6th gen UEFI update 1.53 isn't available via fwupd"
Hi,
apologies if this is not the right venue to bring this up, but the latest UEFI update for Lenovo X1 Carbon 6th gen UEFI has been out for six weeks or so but isn't offered via 'fwupd get-updates' (neither of the variants as far as I can tell).
Is there some known reason for this? If not, can anyone tell me if there is a person at Lenovo I can poke to make it happen? Thanks!

[2021-11-07 19:45] bmreading commented on #161
Hi, I just wanted to check back and see if there was perhaps a workaround for this issue? I have updated to Fedora 35, and still cannot update the embedded controller.

[2021-11-07 20:31] jonassvatos commented on #161
@bmreading Just download the latest BIOS Update from lenovo support which also includes the embedded controller update.
Then flash it with the standard method, and it will flash both components.
(do not forget to use 'geteltorito' command if you're flashing the ISO to USB pendrive, otherwhise it won't boot)

[2021-11-07 21:34] t-8ch opened #167 "X1C9 firmware version 1.48 missing from LVFS, only 1.47 is available"
On the Lenovo drivers page 1.48 has been released on 2021-10-29 and marked as recommended and security relevant. It is missing on LVFS.

[2021-11-07 22:07] bdaase commented on #165
Interesting, for me it updated just fine.

[2021-11-07 23:07] croissong commented on #155
I was able to at least update the Bios by selecting it via `fwupdmgr update <Device ID>`

[2021-11-08 04:35] MountainX commented on #140
I am continuing to see issues with *70 series ThinkPads (like X270 or T470).

[2021-11-08 18:32] mvdan commented on #165
I just tried again, same result. The following boot goes to a dark screen and shows a few lines of output for a split second, but it doesn't give me enough time to take a picture of it.

I also double-checked that `fwupdmgr update` does add a boot entry as expected:

[code]

[2021-11-09 04:01] javadr commented on #140
Same issue with X390 Yoga.
[code]

Operating system and version: Manjaro
Have you tried rebooting? Yes
Is this a regression? No
Are you using an NVMe disk? Yes
Is secure boot enabled? No
Is this a Lenovo system with 'Boot Order Lock' turned on in the BIOS? Boot order lock is disabled.

[code]

[code]

[2021-11-09 14:43] mrhpearson commented on #165
I usually take a video using the phone and then can pause that to check the error message - can you check that please and see if you can get any clues?
Only obvious one I can think of is make sure you're plugged in and battery charged > 50% (I think)

[2021-11-09 15:10] mvdan commented on #165
That's a clever idea :) I'll give that a go.

[2021-11-09 20:19] zaggash commented on #190
No activity on this, but still the problem persist.

[2021-11-10 00:05] pieska commented on #89
just want to confirm the same issue with my T460s, BIOS says 184.86.3909, fwupmgr 184.80.3746.

[code]

Intel CSME Version Detection Tool reports the correct version:

[code]

[2021-11-10 10:25] mvdan commented on #165
It flashed for just a few frames, but I was able to capture it:

This is with the device plugged in with ~80% battery. It's plugged in to a usb-c dock, but I don't imagine that changes anything. The only other interesting bit of context is that I swapped the Realtek wireless card for an Intel card, so I'm not sure if that's throwing off the system update. The machine and BIOS otherwise work perfec

[2021-11-10 10:29] mvdan commented on #165
Issues like https://github.com/fwupd/fwupd/issues/1190 and https://github.com/fwupd/firmware-lenovo-thinkpad/issues/59 seem to point towards my current BIOS being too old to work with fwupd. I am on 0.1.9 at the moment, as it came when it shipped in August. I'll try updating via an alternative method.

[2021-11-10 11:46] mvdan commented on #165
Downloading 0.1.11 from the Lenovo site and burning it to a usb with geteltorito and dd worked - I'm now on that version. I'm not entirely sure why fwupd has 0.1.12 when that doesn't show up on the Lenovo firmware site. I'll try the regular fwupd upgrade again.

Edit: upgrade from .11 to .12 failed just like the upgrade from .9 to .12 did. At least my BIOS is not nearly as old for now :)

[2021-11-10 13:24] frittentheke commented on #209
I don't think this is stale....

[2021-11-11 06:21] tpopela commented on #165
I do see that same as @mvdan - can't update firmware through fwupd.

[2021-11-11 14:36] mvdan commented on #165
I'm more than happy to move this to the fwupd issue tracker, by the way - but as far as I can tell, fwupd is doing its job correctly to download the update and boot it. Perhaps there's some difference between the files uploaded to LVFS and the ISO I obtained from lenovo.com - beyond that it's 0.1.12 versus 0.1.11.

[2021-11-11 22:23] iyanmv commented on #168
Where do you see 1.53 is out? It [looks](https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-yoga-6th-gen-type-20xy-20y0/downloads/driver-list/component?name=BIOS%2FUEFI) like 1.48 is the latest update, no?

[2021-11-12 04:47] rainbowjose commented on #153
Same

[2021-11-12 10:24] jvtm commented on #162
There seems to be quite many issues about the same / similar behavior, but this seems to be the most relevant fresh one (and comment above already points to few different laptop models).

I had Intel Management Engine update issue on X1 Carbon 5th gen.

[code]

I think the `184.86.3909` was applied, but `fwupd` was seeing the older version, and then other updates (especially bios) were blocked bec

[2021-11-12 15:09] #133 closed, assigned to nobody

[2021-11-12 15:14] xvitaly opened #169 "T480 Intel Management Engine 184.86.3909 update error"
Can't install Intel ME 184.86.3909 update:
[code]

After rebooting nothing happens. I see only Lenovo logo for 20 seconds and then system reboots into installed system.

Tested with disabled UEFI Secure boot too.

OS: Fedora 34
fwupd version:
[code]

[2021-11-12 15:17] xvitaly commented on #169
Duplicate of #140.

[2021-11-12 15:17] #169 closed, assigned to nobody

[2021-11-12 15:18] xvitaly commented on #140
Can't install 184.86.3909 on ThinkPad T480. Tested with Secure Boot disabled:
[code]

[2021-11-12 15:24] xvitaly commented on #140
@mrhpearson Can you ask Lenovo firmware team to check this issue?

[2021-11-15 02:57] LinuxOnTheDesktop commented on #162
So: has anything come from any of the efforts of the volunteers?

[2021-11-15 14:14] iyanmv opened #170 "Last two UEFI BIOS updates missing for Thinkpad X1 Carbon Gen 9 / Thinkpad X1 Yoga Gen 6"
[Latest UEFI BIOS version](https://download.lenovo.com/pccbbs/mobiles/n32ul13w.txt) for Lenovo Thinkpad X1 Carbon Gen 9 and Thinkpad X1 Yoga Gen 6 is 1.49. It was released on 11/11/2021. Previous version, 1.48 was released on 28/10/2021.

However, the latest update that I received via fwupdmgr was [1.47](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN32ETXXW.firmware).

[2021-11-15 14:49] iyanmv opened #171 "Latest Embedded Controller Firmware update missing for Thinkpad X1 Carbon Gen 9 / Thinkpad X1 Yoga Gen 6"
Version [1.30 (N32HT50W)](https://pcsupport.lenovo.com/ch/en/downloads/ds548819-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpad-x1-carbon-9th-gen-x1-yoga-6th-gen) is available, but latest on LVFS is [1.29](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN32HT.firmware).

[2021-11-15 19:59] fkru commented on #171
Lenovo's update policy for Linux seems to be very lousy. For example, the latest firmware for my ThinkPad T14 Gen 1 was published on 27 Aug on Lenovo's website, but was available on LVFS on 10 Nov.

[2021-11-15 20:45] mrhpearson commented on #170
I've flagged to the FW team - Internal ticket # LO-1439

[2021-11-15 20:45] mrhpearson commented on #171
I've flagged to the FW team - Internal ticket # LO-1439

[2021-11-15 21:38] iyanmv commented on #170
Thanks! Also, if I download the files from the support page and try to install them with `fwupdmgr install *.cab` as mentioned in the instructions, they fail to install because they cannot be verified.

[2021-11-23 08:09] tpopela commented on #165
@hughsie any idea how to debug this further?

[2021-11-23 14:09] mrhpearson commented on #165
Sorry - I'd missed the updates to this thread in my inbox swamp.
Thanks for collecting the warning messages - I'll forward those to the FW team and get their input on one it's failing.

[2021-11-23 15:25] nre opened #172 "ThinkPad L13 Gen 2 on LVFS?"
Hello @mrhpearson

Will the ThinkPad L13 Gen 2 be on LVFS?

My 20VH-CTO1WW isn't Yoga but they seem to share the same firmware updates. [The Yoga is certified for Ubuntu 20.04](https://ubuntu.com/certified/202011-28408) although [it isn't on Lenovo's list](https://support.lenovo.com/us/en/solutions/pd031426#l). I did get an [Ubuntu driver update for L13 Gen 2](https://bugs.launchpad.net/oem-priori

[2021-11-23 19:42] mrhpearson commented on #172
Hi,
L13 G2 should be on the list...it has completed it's certification. Not sure how that got missed.
I'll go and bug the firmware team as to why the updates aren't on LVFS - they are supposed to be.

Mark

[2021-11-24 18:00] Etn40ff commented on #166
Any update on this?

[2021-11-24 18:26] mrhpearson commented on #166
Afraid not - I'll go and nag

[2021-11-24 23:48] mrhpearson commented on #163
Looks like 1.54 is up https://fwupd.org/lvfs/firmware/8945
OK if I close the ticket?

[2021-11-25 08:12] hughsie commented on #163
Dude, of course, better to ask forgiveness than permission. :)

[2021-11-25 08:12] #163 closed, assigned to nobody

[2021-11-25 08:17] LordChaos73 commented on #163
Just upgraded to 1.54, works fine! Thank you for your hard work.

[2021-11-25 08:33] hughsie commented on #163
Indeed, @mrhpearson is a shining star from my point of view.

[2021-11-25 08:34] LordChaos73 commented on #168
1.54 is online, please check.

[2021-11-25 08:35] LordChaos73 commented on #159
Upgraded to 1.54 successfully.

[2021-11-25 08:35] #159 closed, assigned to nobody

[2021-11-25 16:30] mrhpearson commented on #165
Hi @mvdan
Main comment from the FW team was "confirm battery is more than 25%" - which I know you've noted above so I will feed that back to them; but seems for them that message is usually battery related.

Mostly for the heck of it can you try without using the dock and being direct plugged into a power source. Just because I've had some notes from users getting power from monitor hubs who have

[2021-11-25 17:07] tpopela commented on #165
If it matter @mrhpearson I've tried it now - fully charged and connected to the charger - and still the same.

[2021-11-26 12:16] ChiWei-Chen commented on #118
Hello @kendoori , I worked with @lijunwang1990 and @mrhpearson , I got a trial BIOS from them. If you still encounter this problem and want to try this BIOS, could you drop me a mail to "cchen50 @lenovo.com"? (without space)
I will send you a link to download it.
Thank you

[2021-11-27 11:54] ginkel opened #173 "UEFI / EC firmware 1.11 for X1 Extreme Gen4 (20Y5) missing from LVFS"
Hi there,

the [Lenovo support page for the X1E4](https://pcsupport.lenovo.com/de/de/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-extreme-4th-gen-type-20y5-20y6/downloads/driver-list/component?name=BIOS) lists firmware 1.11 while LVFS only has 1.09 available.

Thanks,
Thilo

[2021-11-28 09:27] LinuxOnTheDesktop commented on #140
@mrhpearson Perhaps you could tell the team also that having problems for months and months with multiple models of ThinkPads (as evidenced by this very bugtracker) has got rather beyond a joke.

[2021-11-28 09:36] xvitaly commented on #140
After several attempts to install the update, I finally got an error message:

![IMG_20211120_210322](https://user-images.githubusercontent.com/966711/143762777-0994e210-02c6-4ccf-95b8-af131ab48041.jpg)

[2021-11-28 09:39] xvitaly commented on #140
After several attempts to install the update, I finally got an error message:

![fwupd_t480](https://user-images.githubusercontent.com/966711/143762881-b833c793-bd88-4557-9250-af92ae7310c8.jpg)

[2021-11-29 06:17] iyanmv commented on #170
Any news about this? Right now, the only workaround is to use Windows to install the updates.

[2021-11-29 14:30] #167 closed, assigned to nobody

[2021-11-29 14:31] t-8ch commented on #171
0.1.30 seems to be available now.

[2021-11-29 14:32] t-8ch commented on #170
1.49 seems to be available now

[2021-11-29 19:12] dariusk commented on #20
I'm on a Thinkpad X1 Carbon Gen 9 running Ubuntu 20.04 and am seeing the same issues. I was able to get my firmware updated from 1.27 to 1.49 simply by doing:

[code]

and following the instructions and rebooting. I still can't get it to update past 1.49 but this was still a big, and easy, improvement for me.

[2021-11-29 19:31] iyanmv commented on #170
I confirm it is. Updated without errors.

[2021-11-29 19:31] #170 closed, assigned to nobody

[2021-11-29 19:31] iyanmv commented on #171
This one, too. I confirm it is available now. Updated without errors.

[2021-11-29 19:31] #171 closed, assigned to nobody

[2021-11-30 00:09] mrhpearson commented on #140
My first reaction was to be angry that we had broken FW uploaded - but checking the telemetry this FW has been downloaded 145732 with 77 successes and 2 fails reported (most users don't report). So I don't think it's the FW itself that is neccesarily bad (see attached screenshot)

![T480 ME update 3909](https://user-images.githubusercontent.com/15003507/143961367-f8cb1f95-2ed9-439e-9735-a10f01cdda

[2021-11-30 00:28] LinuxOnTheDesktop commented on #140
Mark,

Thank you.

However, you risk being disingenuous. For, what would the telemetry look like for a _range_ of ThinkPad models and a _range_ of updates? This bug tracker suggests that there is _a lot_ of failure happening. (Also: I, for one, tell fwupd to report its failures and its successes.)

[2021-11-30 04:19] ChiWei-Chen commented on #118
@kendoori Thanks for the mail reply.
As discussed in the mail, the system updated ME successfully with the trial BIOS, could you provide output of “fwupdmgr get-devices” for @lijunwang1990 's reference?
Thanks

[2021-11-30 06:10] javadr commented on #162
I have exactly the same issue with X390 Yoga. [more details](https://github.com/fwupd/firmware-lenovo-thinkpad/issues/140#issuecomment-963795105)

[2021-11-30 09:27] hughsie commented on #140
That's uncalled for, please don't do this again. Mark is the most open of all the vendor representatives.

The problem is scale; the LVFS is pumping out 2 million updates a month now, and with just 0.01% failure rate that's an awful lot of failed firmware updates being reported.

[2021-11-30 12:01] ChiWei-Chen commented on #166
Hello All, the FW team pushed the new FW 08W with correct metadata to LVFS stable. (thanks, hughsie )
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2VTF.firmware

Please let me know if this not work for you.

[2021-11-30 13:31] mrhpearson commented on #140
@LinuxOnTheDesktop - I didn't mean to make it seem like I was dismissing your issue. Apologies if that's how it came across. Your issue is valid and I've raised it to be looked at - any FW update failure is frustrating. I just wanted to note that the FW image itself is not necessarily broken and your issue is something more subtle - these are harder issues to solve, especially if we can't reproduc

[2021-11-30 13:50] smrqdt commented on #140
The update error fwupdmgr shows is `failed to run update on reboot`.

[code]

Wouldn’t this be the same error as if the fwupd EFI entry did not run during reboot? Is this even reported or maybe filtered, because this is a common problem unrelated to firmware?

btw: I have a non-vPro device and therefor problems installing the Consumer ME firmware `184.83.3874` , maybe this is relevant.

[2021-11-30 15:20] kendoori commented on #118
`fwupdmgr get-devices
20L50011US
│
├─Embedded Controller:
│     Device ID:          c19580db344e418cf2b23297bcf46d75c06e432a
│     Current version:    0.1.22
│     Minimum Version:    0.1.22
│     Vendor:             DMI:LENOVO
│     GUIDs:              b87a926d-189c-49a1-b1ff-921099b1de89
│                         646e8b00-c980-5327-b889-b518b0a1cc1c
│     Device Flags:       • Internal device
│

[2021-12-01 07:02] MartiniMoe commented on #148
I'm also having this exact same issue, but on a T14s AMD.
Secure Boot is off, Boot order not locked, Battery charged, Power plugged in. I also deleted the Firmware Updater EFI entry. Nothing seems to work :/

[2021-12-01 07:38] MartiniMoe commented on #148
Nvm, it worked when I deleted the Firmware Update EFI entry again after disabling secure boot and then installing the update again :)

[2021-12-01 07:50] javadr commented on #140
ThinkPad X390 Yoga

[code]

[2021-12-02 01:44] ChiWei-Chen commented on #118
@superm1 , BIOS replied BIOS code will compare the GUID first. If the GUID is the same as MEFW(Vpro/Nonvpro), BIOS will update the new version. But they foun an excrescence GUID on this @kendoori 's log. Normally there should be only one GUID.
Do you know where the excrescence GUID comes from? Could we have your advice is there something we can check in fwupd?
Thanks.

Here is the BIOS page I got

[2021-12-03 15:45] mrhpearson opened #174 "TBT 3 WS G2 dock update failing with latest fwupd"
Trying to install https://fwupd.org/lvfs/firmware/8790 on TBT3 WS G2 dock. Using Fedora 35 on P1 G3 and it is failing with fwupd version  1.7.1

Attached are the logs from fwupd and fwupdmgr. Failure message reported is:
`failed to get device before update attach: failed to wait for detach replug: device 3281dd62e64cfca4eec0492d675e1d4deb1b1cea did not come back
`
I believe this is the MSP430.

[l

[2021-12-04 16:13] hughsie commented on #174
Notes for me: The MSP430 device auto-reboots when the firmware write gets to 100% and doesn't require attach. Will continue debugging on Monday.

[2021-12-04 22:18] j5k opened #175 "ThinkPad Thunderbolt 4 Dock is missing"
Hello

I have problems with flickering displays and want to update my `ThinkPad Thunderbolt 4 Dock`. Can you add this device to LVFS?

[code]
https://support.lenovo.com/uu/en/solutions/pd500503-thinkpad-universal-thunderbolt-4-dock-overview-and-service-parts

[2021-12-05 08:27] kyak commented on #144
I have exactly the same problem on ThinkPad P15v Gen 1. Found this issue by searching the "WARNING: No updates to process. Called in error?" message.

I basically have the same setup and OS as @neupsh, only `/boot` is not a separate partition and `efi` filesystem is mounted at `/efi`:

[code]

[2021-12-05 09:04] hughsie commented on #175
The ODM Lenovo is using for this dock is working on the required plugin to fwupd. I don't have an ETA I'm afraid.

[2021-12-05 09:33] j5k commented on #175
Nice to hear that someone is working on it. Thanks.

[2021-12-05 10:43] ginkel commented on #173
s/1.11/1.13/

[2021-12-06 12:54] hughsie commented on #174
So the weirdness seems to be that the USB context seems to stop emitting hotplug events, but only after the MSP430 device is updated. You can even insert a device on a different parent to the dock and it's ignored completely. Continuing to debug.

[2021-12-06 13:12] hughsie commented on #174
That would do it:

	==184942== Invalid read of size 8
	==184942==    at 0x4DF9261: UnknownInlinedFun (gusb-context.c:334)
	==184942==    by 0x4DF9261: g_usb_context_idle_hotplug_cb (gusb-context.c:390)
	==184942==    by 0x4CC352A: g_idle_dispatch (gmain.c:5897)
	==184942==    by 0x4CC733E: UnknownInlinedFun (gmain.c:3381)
	==184942==    by 0x4CC733E: g_main_context_dispatch (gmain.c:4099)
	==18494

[2021-12-06 14:14] hughsie commented on #174
Adding in some debugging to weak ref the USB context:

	14:12:34:0423 FuBackend            [Thread 0x7fffe3b85640 (LWP 201155) exited]
	GUsbContext 0x47cda0 was finalized from under our feet!

	Thread 1 "fwupd" received signal SIGTRAP, Trace/breakpoint trap.
	g_logv (log_domain=0x439d3e "FuBackend", log_level=G_LOG_LEVEL_CRITICAL, format=<optimized out>, args=<optimized out>) at ../glib/gmessages.

[2021-12-06 14:56] hughsie commented on #174
@mrhpearson can you compare the libgusb versions between _working_ and _not-working_? https://github.com/hughsie/libgusb/pull/55 seems to fix the issue for me.

[2021-12-06 14:56] hughsie commented on #174
also be careful that libgusb gets built as a subproject if not new enough.

[2021-12-06 17:07] mrhpearson commented on #174
Ubuntu was using 0.3.4 and Fedora 0.3.8
I built the patched version of libgusb and installed (and did 'sudo ldconfig'). I'm still seeing the issue - do I need to rebuild fwupd as well?
Thanks!
mark

[2021-12-06 20:16] mrhpearson commented on #173
1.11 has been up on LVFS for 2 months - https://fwupd.org/lvfs/firmware/8519 so the orignal bug you're raising seems invalid. Let me know if you weren't able to update to 1.11

1.13 only landed on the Lenovo site 3 days ago. It always takes a while for the update to happen on LVFS as they do extra testing. Just the way it is.

[2021-12-06 20:39] paulmenzel opened #176 "Lenovo: Missing firmware for Lenovo V14/15IGL and IdeaPad 3 14/15IGL05 (82C3/LNVNB161216)"
The laptop (compatible to Lenovo V14/15IGL and IdeaPad 3 14/15IGL05) has firmware

    DMI: LENOVO 82C3/LNVNB161216, BIOS DVCN17WW 09/29/2020

and the newer version DVCN21WW from October 9th, 2021 is [available on Lenovo’s Web site](https://pcsupport.lenovo.com/de/de/products/laptops-and-netbooks/lenovo-v-series-laptops/v15-igl/82c3/downloads/ds544169-bios-update-for-windows-10-64-bit-v14-igl-v15-

[2021-12-06 21:22] hughsie commented on #174
@mrhpearson can you try the libgusb here please: https://people.freedesktop.org/~hughsient/fedora/32/x86_64/ -- you can install the fwupd build to if that makes things easier too.

[2021-12-06 21:33] ginkel commented on #173
The most recent version I see on LVFS is 1.09: https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN40ET.firmware

The link you posted renders a "permission denied" error.

[2021-12-06 23:41] mrhpearson commented on #173
Ooops - sorry, I was logged in and I have access to some internal pages that aren't generally accessible. My bad.
Turns out I'm having a bad day - I mixed up EC and BIOS firmware - I was looking at https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN40HT.firmware :(

I've raised an internal ticket: LO-1471 and will get this updated

[2021-12-07 07:16] johannbg commented on #168
I can confirm 1.54, is available for the gen6 and the update worked flawlessly on fwupd-1.7.x on Fedora 35.
I probably should mention that I had previously manually updated to 1.53 ( via Lenovo's provided cab file on Lenovo's website ) and run Fedora without any trace of grub2 installed on this particular laptop ( I use sd-boot ) so depending on the distribution in use and it's setup, the update e

[2021-12-07 07:18] johannbg commented on #160
@mrhpearson another month has passed, any update on this matter?

[2021-12-07 07:40] aeckstein commented on #168
Thanks guys, I'll give it a whirl! (Spoke too soon anyway it seems, since not long after I posted this I found a test version of v1.55 on LVFS, so most probably 1.54 was already in the pipeline even then...)

[2021-12-07 07:40] #168 closed, assigned to nobody

[2021-12-07 17:00] mrhpearson commented on #173
FW is up - I successfully updated both EC and BIOS on mine. Let me know if any issues

[2021-12-07 18:11] ginkel commented on #173
Excellent, thanks a lot!

[2021-12-07 18:11] #173 closed, assigned to nobody

[2021-12-07 23:59] joakim-tjernlund opened #177 "Missing FW for T14s Gen 2i"

[2021-12-08 00:04] joakim-tjernlund commented on #177
You should include FW on LVFS before certifying for Linux :)

[2021-12-08 03:44] idcmp commented on #162
Same, ThinkPad X1E (20MFCTO1WW).

[2021-12-11 00:19] kyak commented on #140
Since I wasn't able to update BIOS and EC firmware using `fwupdmgr` (see https://github.com/fwupd/firmware-lenovo-thinkpad/issues/144#issuecomment-986187162), I did it using the ISO provided by Lenovo. It worked fine.

Now Intel ME is the only firmware that needs updating. However, it fails to run update on reboot:

[code]

ThinkPad P15v Gen 1.

Failure report had been sent, too.

[2021-12-11 17:04] ma773o commented on #175
I'm also experiencing display flickering issues when using the dock with my Thinkpad T14 Gen 1, with Fedora workstation 34.
I've a setup with two 4k monitors connected to the dock via DisplayPort 1.4 + the laptop display on (FullHD)
Flickering, or better "not stable signal" that causes the external monitor to turn black, happens only on one of the two monitors. This flickering is mitigated if I te

[2021-12-14 18:24] aladkoi commented on #147
I had the same problem. After installing the firmware, the SSD died. I just bought a new one from Samsung.

[2021-12-15 14:19] ccoenen commented on #153
I just verified that I still have this issue. I'm on a pretty default ubuntu 21.10 install with fwupdmgr 1.5.11. I still get the same message as described in https://github.com/fwupd/firmware-lenovo-thinkpad/issues/153#issuecomment-932975365.

[2021-12-16 00:16] j5k commented on #175
@ma773o: `fwupdmgr get-devices`

[2021-12-16 12:21] alex-ie commented on #25
@basicinside

What is the purpose of AssistTBT.bin? Is it not for assist mode of thunderbolt in UEFI setup? Why for Linux I see everywhere to use only TBT.bin?

Thank you.

[2021-12-16 16:01] plafue commented on #154
A quick note: there was an update in November (BIOS 1.23, embedded controller 1.13 : https://download.lenovo.com/pccbbs/mobiles/n2xul15w.zip)

[2021-12-16 17:08] PhilippWendler opened #178 "TPM PCR0 differs from reconstruction on ThinkCentre M70s"
**Describe the bug**
fwupd reports that the TPM PCR0 differs from reconstruction and an issue should be created with this [output of fwupdtpmevlog](https://github.com/fwupd/fwupd/files/7729107/fwupdtpmevlog.txt).

Btw.: The [wiki page](https://github.com/fwupd/fwupd/wiki/TPM-PCR0-differs-from-reconstruction#analysis) has a typo in the tool name: `fwupdtpmevelog` should be `fwupdtpmevlog`.

**Steps

[2021-12-16 17:32] happyalu commented on #165
i noticed that 1.13 is released on the lenovo support page, but it is [listed](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1MET.firmware) with status "testing" rather than "stable".

[2021-12-16 19:04] hughsie commented on #178
Is this fixed in something newer, e.g. 1.7.3?

[2021-12-17 06:37] PhilippWendler commented on #178
I hadn't checked because the wiki page only mentions that I should use at least 1.5.0. But now I checked with 1.7.3-31-g9f94dc97 from the `--edge` snap and it still reports the same (thanks for fixing fwupd/fwupd#4099 so quickly which allowed me to do this now).

[2021-12-17 10:19] hughsie commented on #178
If you do `sudo fwupdtool security --force -v` do you get a line like:

    FuPluginTpm          comparing TPM FOO and EVT BARBAZ

Can you also share the output of `sudo ./plugins/tpm/fwupdtpmevlog -p 0` from the built tree please.

Thanks!

[2021-12-17 10:35] PhilippWendler commented on #178
With `1.7.3-31-g9f94dc97` yes, it is
[code]

Here is its full output: [fwupdtool_security_force_v.log](https://github.com/fwupd/fwupd/files/7734355/fwupdtool_security_force_v.log)

Hm, do you happen to have a binary of that somewhere, e.g., as part of a snap or a Docker container or as a job artifact of CI? I am not sure whether I will find the time to build fwupd on my own soon.

[2021-12-17 12:51] hughsie commented on #178
Interesting; that's a SHA256 hash. Can you share that whole log please?

[2021-12-17 13:09] PhilippWendler commented on #178
The full output of `fwupdtool security --force -v` is linked above, do you need anything else?

[2021-12-17 13:57] hughsie commented on #178
In this case I think it might actually be a firmware bug. SeeL

    sudo tpm2_pcrread
    sudo tpm2_eventlog /sys/kernel/security/tpm0/binary_bios_measurements

I bet those pcr0's are different.

[2021-12-17 16:21] PhilippWendler commented on #178
`tpm2_pcrread` outputs
[code]

`tpm2_eventlog` outputs this (actually, I copied `binary_bios_measurements` to a different machine and passed it to `tpm2_eventlog` there, I think this should be ok):
[code]

PCR0 differs. So that seems to confirm your suspicion. Thanks for the investigation!

Now, because I know that firmware issues are discussed in fwupd-related GitHub repositories if the issues ar

[2021-12-17 16:43] hughsie commented on #178
If you file it here https://github.com/fwupd/firmware-lenovo-thinkpad/issues/ I can try and find the right person. @mrhpearson might also know a better way to file this internally.

[2021-12-17 17:06] superm1 commented on #178
Magic transfer button!

[2021-12-17 17:20] PhilippWendler commented on #178
Thank you very much!

[2021-12-19 14:00] mczuchnowski opened #179 "ME on T480 not updating - "image provided is not supported""
**Describe the bug**
fwupd shows a new version of ME available. When trying to update it, on reboot the text on splash screen says "image provided is not supported by the platform".

**NOTE:** BIOS shows ME version as 11.8.90.3987 which seems to be the latest version as shown on Lenovo support site for this model. Last successful ME update was in fact made using Windows, not sure if this has anyth

[2021-12-19 14:06] hughsie commented on #179
@mrhpearson a mixup perhaps?

[2021-12-20 02:35] akaWolf commented on #89
hello.
I decide not to open a new issue.
but at my X1 Carbon Gen 6 I have the same issue:
incorrect fw_version showing in userspace.
current installed version: 184.86.3909
showing in userspace: 184.70.3626
feel free to ask me for additional debug info.
cc @mrhpearson

[2021-12-22 17:43] linuxcrash commented on #74
Turning off Secure Boot did the trick for me too. 1.29 => 1.35 worked right after turning off Secure Boot in the BIOS menu.

[2021-12-23 00:22] XenGi commented on #165
Didn't check from which version I came but I just successfully flashed to 0.1.12 through fwupd on my P14s Gen2 AMD.

[2021-12-23 00:25] XenGi commented on #175
Any updates on this?
I'm trying to get this dock to work with my P14s Gen2 AMD and it seems like there is a firmware update that could solve my issues. I can't flash it via the firmware update tool on windows because the check and install buttons stay grey and unclickable. So it would be nice to use fwupd to update the dock.

[2021-12-23 23:55] outbacker commented on #153
I'm also affected. I tried forcing refresh as well as purging and reinstalling fwupd fwupdate fwupdate-signed but to no avail.
Seems like we aren't the only affected users either:
https://www.reddit.com/r/pop_os/comments/p7a4zb/error_while_trying_to_update_firmware_on_a_lenovo/

[2021-12-24 08:11] hughsie commented on #153
You need to use a newer fwupd version I'm afraid.

[2021-12-24 09:53] cwozny commented on #153
Which newer version specifically resolved this issue?

[2021-12-24 15:44] hughsie commented on #153
I think literally any newer version than you have installed.

[2021-12-24 18:44] outbacker commented on #153
@hughsie Thanks for the hint. I'm on Kubuntu 20.4 and was able to get past the issue of this ticket, but it was a bit fiddly.

First I had to apt purge fwupd. Then I tried installing the snap version via the recommended "snap install fwupd --classic" but instantly ran into another error:
"Run install hook of "fwupd" snap if present (run hook "install": install: cannot stat '/snap/fwupd/3664/share/

[2021-12-25 20:29] alxchk opened #180 "T490s - 1.74 -- What is this?"
[code]

Meanwhile, at official support.lenovo.com latest one is 1.73. Is it safe to install this?

[2021-12-25 20:37] mvdan commented on #165
@mrhpearson I just tried upgrading again, this time to 0.1.13 and with the official charger plugged in, and I still get the same split-second error as in https://github.com/fwupd/firmware-lenovo/issues/165#issuecomment-964993004.

I'll upgrade manually once again :) Just letting you know that, as far as I can tell, it's still not working.

[2021-12-26 18:24] cwozny commented on #153
I took some manual steps and was eventually able to get my firmware updated:

1. Manually updated ThinkPad T480 BIOS via bootable CD method from Lenovo support site. This took care of my Embedded Controller and System Firmware.

2. Installed fwupd 1.7.3 via snap, but resulted in the following which @outbacker also observed:
[code]
3. Disabled Secure Boot in BIOS

4. Reran fwupdmgr update and syste

[2021-12-26 20:26] evgeni opened #181 "firmware upgrade with lid closed doesn't enable external display"
Ohai,

laptops are mostly used docked these days, and thus also often with the lid closed and the external display being the only one visible.

However, when you schedule an upgrade via fwupd and reboot, the update capsule doesn't enable the external display. The update seems to perform just fine, but all the output goes to the internal display and the user doesn't see anything.

I think the best

[2021-12-27 00:31] camilleacey commented on #153
I am on version 20.04.3 LTS and version 1.5.11 of fwupd.

After installing the candidate, everything went wrong. The error upon trying to install the firmware update said something about "AppArmor Policy prevents this sender" so I ended up running

`sudo apt purge fwupd`
then
`sudo apt install fwupd`
then
`sudo apt update`

Now when I check Ubuntu Software > Updates it says software is up to date.

[2021-12-29 09:44] hughsie commented on #175
We added the code side of this a few days ago: https://github.com/fwupd/fwupd/tree/main/plugins/usi-dock although there's nothing on the LVFS yet.

[2021-12-29 19:06] seichter commented on #162
Same here for a ThinkPad P1Gen2 (20QTS0KD00) update from 192.72.1757 to 192.81.1753 (same as original issue here refers to)

[2021-12-29 19:18] #181 closed, assigned to nobody

[2021-12-31 20:39] #84 closed, assigned to nobody

[2022-01-03 07:25] tpopela commented on #165
For me the same as @mvdan .

[2022-01-04 10:06] ilpianista commented on #180
[Apparently](https://forums.lenovo.com/t5/ThinkPad-T400-T500-and-newer-T-series-Laptops/T490s-Bios-1-74/m-p/5111437) it was available for a while and then they removed it :thinking:

[2022-01-04 10:10] hughsie commented on #180
It's had thousands of downloads; is the really bad update description the problem?

[2022-01-04 10:12] hughsie commented on #180
I've asked the uploader to fix the update description.

[2022-01-04 12:45] alxchk commented on #180
Description is important, however the fact that version doesn't match latest official available looks really suspicious. So it's always better to ask

[2022-01-05 20:42] bmreading commented on #161
@lsde Thanks. This worked for me. Closing this now.

[2022-01-05 20:42] #161 closed, assigned to nobody

[2022-01-06 19:37] PVasileff commented on #140
Same here. Using Lenovo T480, Fedora 35:

[code]
[code]

[2022-01-07 19:15] mrhpearson commented on #140
I've updated the ticket with the extra information and escalated it as I've not had any useful feedback yet. Sorry :(

Mark

[2022-01-07 19:27] mrhpearson commented on #165
Thanks @mvdan and @tpopela - I've forwarded the details to the FW team and asked for suggestions on how to debug further.

[2022-01-07 19:40] mrhpearson commented on #180
The fix in that particular version, from the internal notes, is "issue where Nuvoton TPM firmware version might not detected properly".
But there's a new 1.75 version that is in the works with a fix on the memory size reporting - so I'm guessing a bug was found that they decided was worth pulling 1.74 for (at least based on reading the internal release notes).

The release was official for anybody

[2022-01-07 20:41] mrhpearson commented on #179
@hughsie - I'm not sure - but the file has been downloaded 167539..with 81 success reports and been available for 8M. It would seem to me the FW file itself should be fine right? I don't have a T480 to try on myself...but I feel like I'm missing something more subtle (or obvious) here.

I wonder if this is a vPro vs non-vPro issue as there are two different updates depending on which model you hav

[2022-01-08 16:42] Sprinterfreak commented on #110
Also looking for updateability because of major usb/network'ing instabilities.

[2022-01-08 19:57] Genius1237 opened #182 "Samsung OEM SSD firmware missing"
I have a Lenovo OEM version of the very popular Samsung PM981 (MZVLB1T0HALR-000L2) and the current firmware it's running is `5L1QEXA7`. fwupdmgr puts this device in the category of "Devices with no available firmware updates". I felt that this was strange as I assumed that most OEM branded SSDs have their firmware available via fwupd.

On doing some further digging, it looks like lenovo has a vers

[2022-01-09 00:36] niedzielski commented on #56
Thank you so much for fwupd!! I use it for everything.

I think I had this same issue on my ThinkPad X1 Yoga Gen 6 but for some reason the outdated firmware wasn't always reported so I mistakenly assumed it had upgraded a long time ago. By chance, I saw the outdated firmware in gnome-software's update tab.

What ultimately worked for me was disabling Secure Boot temporarily:
1. Disabled Secure Boo

[2022-01-09 07:05] johannbg opened #183 "Missing Bios firmware update ( 1.55/N23ET80 ) for ThinkPad X1 Carbon Gen 6 (Machine types: 20KH, 20KG)"
Another case where bios firmware update [( 1.55/N23ET80 )](https://download.lenovo.com/pccbbs/mobiles/n23ul33w.zip) is available on Lenovo website but not found in LVFS.

Manual updating the firmware ( fwupdmgr install xxx.cab ) works fine on F35 and recommended until it's available in LVFS since the firmware contains a security update.

Note: Lenovo does not provide signed firmware on their websi

[2022-01-09 15:58] equaeghe opened #188 "Missing existing firmware updates for ThinkPad USB-C Dock Gen2"
The ThinkPad USB-C Dock Gen2 [has updates available](https://download.lenovo.com/pccbbs/mobiles/usbcg2dkfw1113_2.txt) that are far more recent than [those available via LVFS](https://fwupd.org/lvfs/search?value=Lenovo+ThinkPad+USB-C+Dock+Gen2). Is it possible for these to be made available?

[2022-01-09 16:17] equaeghe opened #184 "ThinkPad USB-C Dock Gen2 not listed as supporting firmware updates"
**Describe the bug**
The ThinkPad USB-C Dock Gen2 components are not listed as supporting firmware updates for me, even though [firmware is available via LVFS](https://fwupd.org/lvfs/search?value=Lenovo+ThinkPad+USB-C+Dock+Gen2).

**Steps to Reproduce**
`fwupdmgr get-devices` does not list ThinkPad USB-C Dock Gen2 components.

**Expected behavior**
`fwupdmgr get-devices` also lists ThinkPad USB-C

[2022-01-10 08:42] paulmenzel commented on #147
On https://fwupd.org/lvfs/devices/com.lenovo.AM620.firmware, the listed version 2.2Q0628 has a release date of 2021-10-15 02:38:04, after the issue was opened. What versions did you have problems with? If with that version, the firmware update should be removed to avoid bricking devices.

[2022-01-10 08:43] paulmenzel commented on #176
@mrhpearson, do you have an idea what to do about it? My impression was, that Lenovo would get GNU/Linux support by default on all Lenovo devices.

[2022-01-10 14:56] mrhpearson commented on #176
Hi @paulmenzel
Afraid that's incorrect - we don't support Linux on all Lenovo devices unfortunately. We just don't have the resources to do that.
Platforms supported are listed on www.lenovo.com/linux

Those two platforms aren't supported to my knowledge. Sorry.
Mark

[2022-01-10 14:56] #176 closed, assigned to nobody

[2022-01-10 15:12] paulmenzel commented on #176
Thank you for clearing that up. Too bad, I misremembered the press coverage from 2020, but the article [*Lenovo is now offering full certification and Linux preinstalled hardware.*](https://www.linux-magazine.com/Online/News/Lenovo-Upping-Their-Linux-Support) clearly states, that IdeaPads are not part of it.

Though, I do not really understand the problem. The firmware updates are published on Len

[2022-01-10 16:17] mrhpearson commented on #165
Hi - request from the FW team - could you provide the output from:
fwupdmgr get-devices
Thanks
Mark

[2022-01-10 16:23] mvdan commented on #165
@mrhpearson anywhere I can email the output? It has serial numbers and other unique strings, so I'd rather not post them publicly. Thanks!

[2022-01-10 16:25] mvdan commented on #165
On second thought, the fwupd issue tracker asks for this info for bug reports, so I guess there isn't any harm :)

<details>

[code]

</details>

[2022-01-10 20:49] mrhpearson commented on #176
We can't really do it in an unsupported way - the potential backlash would be too big if there were issues and systems bricked.

While LVFS is amazing and makes doing FW updates on Linux so much easier than it used to be, it's still not trivial either. The FW teams would need to put in the work to prepare the FW for uploading to LVFS (creating the right metadata, doing the upload, testing) and the

[2022-01-10 20:52] mrhpearson commented on #165
Thanks! Forwared to the FW team.
For future reference you're welcome to send them to my email if you're uncomfortable posting (markpearson at lenovo.com)
Mark

[2022-01-11 19:44] ejawhary commented on #175
I have an issue with this dock and my ThinkPad X1 Carbon gen 9. I use gnome and in the settings I have set the power button to suspend the pc when pressed. The pc power button suspends the pc as it should however the dock power button shuts down the pc after a short press. Any ideas??

[2022-01-13 14:50] hughsie commented on #175
We merged the usi-dock plugin in 1.7.4 and the ODM is currently testing the payload on the LVFS.

[2022-01-13 15:02] drahnr opened #185 "Ultra Dock FW ( 40A20135XX ) is missing"
It would be awesome if support for https://support.lenovo.com/de/en/solutions/pd028011#135w could be added :)

[2022-01-14 09:42] johnnywalls commented on #179
I can confirm the same behavior on my T480, same specs and versions as the original reporter, the downloaded file is:

[code]

Laptop model: 20L5S1HU00 (LENOVO_MT_20L5_BU_Think_FM_ThinkPad T480).  All previous updates were successfully made using linux (Ubuntu 20.04, current kernel 5.11.0-46-generic).

Let me know if I can provide additional information for diagnosing the problem.  Thanks again!

[2022-01-14 17:30] MadCatX commented on #110
+1

I need to restart the dock whenever I connect in to my computer, otherwise the external display connected to DP just won't light up. fwupdmgr 1.7.4 doesn't list any updates for the dock.

[2022-01-14 18:39] biredel opened #186 "Lenovo "X380 Yoga" Intel Management Engine update does not apply"
A Lenovo "X380 Yoga" attempts to apply a Lenovo "X280" Intel ME upgrade, the expected version change is not apparent after reboot.
Attempted step is "fwupdmgr upgrade". After fwupdx64.efi, system quickly reboots twice, only vendor logo visible.

Note that vendor READMEs appear to distinguish X280 and X380 models (but lvfs does not):
https://download.lenovo.com/pccbbs/mobiles/n20rk05w.txt
https://d

[2022-01-15 09:15] hughsie commented on #186
@mrhpearson can you check if the esrt guids are different please. Thanks!

[2022-01-17 16:52] mrhpearson commented on #186
Unfortunately I don't have either of those two platforms to check myself - but I've raised a ticket to the FW team for clarification (internal reference LO-1519). Will udpate ASAP

[2022-01-17 17:10] mrhpearson commented on #110
I discussed this with the docking team and currently LVFS support for this dock is **not** in plan and they don't have the resources to deliver it. I'm working on some exercises to improve our dock support and get them more funding, but I don't know what will be approved or not. This request is part of it but I have limited data as to how many Linux users are using the USB-c docks so it's a hard i

[2022-01-17 17:10] #110 closed, assigned to nobody

[2022-01-17 17:28] mrhpearson commented on #184
This is a duplicate of https://github.com/fwupd/firmware-lenovo/issues/110

Please see my post at the end of that ticket for the support related to USB-c docks.

[2022-01-17 17:28] #184 closed, assigned to nobody

[2022-01-17 17:35] bhack commented on #110
I think that telemetry stats could be only collected when you are going to propose an update.

https://lvfs.readthedocs.io/en/latest/telemetry.html

[2022-01-17 21:16] mrhpearson commented on #174
Hi @hughsie
My apologies - I completely lost track of this one over the holidays and then in the inbox swamp from the new year. Testing again today I get:

[code]
The error message gets displayed immediately as the dock comes back on (from presumably updating it's FW?). Is this just a slight timing issue and the dock needs just a few more seconds before it responds? The device is showing up from f

[2022-01-18 09:22] hughsie commented on #110
Right, we can't collect this kind of information for other updates as it oversteps the privacy policy unfortunately.

[2022-01-18 10:00] bhack commented on #110
@hughsie Is there a way to send dummy update for this?

[2022-01-18 11:00] hughsie commented on #110
Well, you could issue an update with the current firmware versions, but people would have to do `fwupdmgr reinstall` manually and then wait for them to submit a report on the CLI to get the data.

[2022-01-18 11:22] bhack commented on #110
Probably we could find a way in the future to voluntary pseudo-anon send specific hw stats that could help hw vendors to prioritize resources.

In this way we could voluntary send not LVFS covered hw reports in the db instead of handling only tickets on github.

Another alternative, but not mutally esclusive, is to create an LVFS compliant hw logo/trademark  that  hw vendors could use trought a ce

[2022-01-18 11:54] hughsie commented on #110
That's super hard to avoid bias and also respect privacy, the latter have to do by law.

I've been asked for that before, I'm not sure how it works tbh. There has to be legal teams involved as it would be a trademark used with permission, and there would have to be some kind f policy to deal with vendors using the mark and not actually uploading firmware. Something to ponder for sure.

[2022-01-18 12:07] bhack commented on #110
I think it could be really similar to what we have here:

probably we could just avoid too much duplicates but I suppose that also now we are not sharing the serial number in the telemetry.

I think that the Linux Foundation is big and strong enough to setup and handle this process.

[2022-01-18 13:21] nre commented on #172
@mrhpearson System firmware for [vPro](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1PET.firmware) and [non-vPro](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1FET.firmware) are in testing. Thank you!

Non-vPro versions >= 1.10 have a hard requirement on ME firmware 15.0.23.1706 but I don't see `<requires>` in the [testing metadata](https://cdn.fwupd.org/downloads/firmware-testing.xml.

[2022-01-18 14:29] hughsie commented on #172
@mrhpearson if you want me to demote the firmware back to embargo say the word.

[2022-01-18 15:25] mrhpearson commented on #172
Yeah - let's put it back to embargo and I'll send them a note on why. Thanks for flagging this.

[2022-01-18 17:07] hughsie commented on #172
Done.

[2022-01-19 13:09] mrhpearson commented on #172
Thanks - it was apparently a mistake for it to be in Testing in the first place, they had meant to put it in Embargo whilst they updated the metadata.
We're expecting this to be ready next week

[2022-01-20 03:40] rugubara opened #187 "UEFI firmware update on Thinkpad P52 reset boot table to default"
**Describe the bug**
Recent update of the UEFI firmware and Intel ME has reset the boot table to the default one.
Original boot order:
[code]
After update:
[code]

**Steps to Reproduce**
fwupdmgr update

**Expected behavior**
The boot order table should remain intact

**fwupd version information**
Please provide the version of the daemon and client.

[code]

Installed via emerge - package manageme

[2022-01-20 15:24] jrop commented on #85
@mlalkaka I just changed Linux-Firmware-Updater to be first in my EFI entries, and ran the update command, and it still failed to update the firmware.  I have a T14s (Gen 1).

[2022-01-20 16:12] mlalkaka commented on #85
@jrop how many device were being updated at once? I was coincidentally updating firmware again last night, and manually changing the boot order from the boot menu didn't work for me. (Maybe the boot order was just a coincidence last time, or there's something different about changing the boot order versus selecting a boot device from the boot menu.)

But I read elsewhere that some Lenovo laptops o

[2022-01-20 16:23] hughsie commented on #85
We've added this restriction in fwupd for Lenovo since version 1.5.6

[2022-01-20 16:45] MakisH commented on #85
Since my main issue is still that I cannot even load the `Linux-Firmware-Updater`, is there any way I could debug this? For example, somehow reinstall it or get any kind of insight on why it is not loading but just immediately returning to the boot menu?

[2022-01-20 17:19] jrop commented on #85
@mlalkaka @hughsie Ah, I'm on fwupd 1.5.11, I'll try and make sure that it is running for one device at a time.  Not sure if it was multiple this morning or not, I'll have to jump back on this when I can reboot my laptop repeatedly (as it is now, I am in the middle of tasks that I don't want to terminate).

[2022-01-20 22:24] yawpitch opened #189 "Lenovo T470: `fwupdmgr update` has effectively bricked my machine"
**Describe the bug**

Lenovo T470 failed to reboot after `fwupdmgr update`, bypassing the usual "Lenovo" boot screen and just going to black the first time. Waited over an hour just in case as the fan was going, but found no response to the power button; eventually tried a hardware reset via paperclip to the hardware reset button. This time I got the "Lenovo" screen, but after a few seconds "Syste

[2022-01-21 00:17] mrhpearson commented on #189
That sounds horrible :(
I've raised a ticket to get input from the FW team on recommendations to get your system back up and working. Ref LO-1531.
I'll update as soon as I hear from them with suggestions.

Mark

[2022-01-21 00:28] mrhpearson commented on #187
Hi,
Which FW did you update? And did it update cleanly and with no errors displayed.
I can flag this to the FW team, it's not expected behaviour, but I want to make sure they know which update to focus on.
Thanks
Mark

[2022-01-21 08:58] rugubara commented on #187
I think it was the System firmware on 2022-01-19 0.1.43 to 0.1.44. If I read the history correctly, other updates didn't succeed due to boot entry reset.
[code]

[2022-01-21 09:49] ChiWei-Chen commented on #189
@yawpitch , I work with @mrhpearson and got the following questions from BIOS team.
Could you please check?

Thanks!
Chen

[2022-01-21 10:32] yawpitch commented on #189
Hi @mrhpearson and @ChiWei-Chen, thanks for looking into this.

After entering the boot setup, I see:

BIOS version: N1QET92W (1.67)
EC version: N1QHT54W (1.36)
ME version: 11.8.86.3909

Note that the original update that failed was for the BIOS and the ME, with the ME version being upgraded to being 11.8.86.3909. This has not changed in any attempt to downgrade the ME, which always ends in a "Res

[2022-01-21 13:05] hughsie commented on #209
@dkwo we need the daemon log when you've actually scheduled the update (using fwupdmgr) -- not just the startup phase. Thanks.

[2022-01-21 13:45] mrhpearson commented on #188
Unfortunately currently the USB-C dock is not in scope for getting Linux support I'm afraid.
I'm pushing to expand our docking support but for now the expectation should be that this dock won't be on LVFS and you'll need to use a Windows machine to update your dock. Sorry

[2022-01-21 13:45] #188 closed, assigned to nobody

[2022-01-21 13:51] mrhpearson commented on #190
Hi @zaggash
Sorry, I wasn't aware of this issue originally. We had a whole bunch of ME FW update problems on a number of platforms.
My understanding is the FW team claims these have been fixed in the next update, though there were still some concerns around older platforms. I believe the X1C7 got the fix - I'll dig through my notes and see if I can find the details.

I guess the question is - have

[2022-01-21 16:25] dkwo commented on #209
Do you mean: start logging, schedule update, stop logging ?

There's a new update for my firmware,
so I can do that in the next couple of days.

[2022-01-21 17:26] DonnieWest commented on #190
@mrhpearson I'm also the owner of a X1C7 and I've been experiencing the same problems as described here. Including today

Do you have any good troubleshooting steps or anything I can provide to help you diagnose?

[2022-01-21 17:34] zaggash commented on #190
@mrhpearson No, the issue still exists even today.
I can't pass this failling upgrade.

I'm ok to test anything you can provide to mitigate and fix the issue.

Rgds.

[2022-01-21 22:42] fbatschi opened #191 "ThinkPad Thunderbolt 4 Docking Station - Ethernet crashes since fwupd to 1.7.4"
**Describe the bug**
Since updating fwupd to 1.7.4 there is apparently the possibility to do firmware updates for the Lenovo ThinkPad Thunderbolt 4 docking station.  After applying the firmware update for the docking station on my X1 Gen9 with the Thunderbolt 4 docking station there is a crash and the system freezes once the system tries to activate the Ethernet port of the docking station.

The f

[2022-01-22 07:56] hughsie commented on #191
What firmware update version did you update to please. Was the package from the LVFS?

[2022-01-22 16:55] dkwo commented on #209
@hughsie Done, here's the log: https://paste.c-net.org/BeatriceDelay
Hope it helps.

[2022-01-22 22:40] deriamis commented on #190
I've been having this exact issue with the same upgrade for ages now - for several months at least. I don't have secure boot enabled (never have), and the update actually runs but never applies. Other firmware upgrades succeed just fine - I just can't seem to get off of Lenovo ThinkPad X1 Yoga 4th/X1 Carbon 7th Corporate ME Firmware version 192.68.1606 specifically no matter how I try.

However, I

[2022-01-23 15:59] fbatschi commented on #191
I updated via LVFS, yes.

I now updated the dock on a windows machine to the latest available firmware which is 1.0.07 for the dock and 35.00.06 for the TB4 and 1.73.1 for the I225 ethernet chip. The problem persist. As it only started after doing the update i assume it must be related to one of these firmwares.

Apparently not related to fwupd itself (although i am still not sure what the
Update

[2022-01-24 03:14] kmauleon commented on #190
hi @zaggash can you please try disabling disk encryption?  For Windows case, any disk encryption tool is not supported and should be suspended or disabled first prior to update.  I guess this will have the same behavior with any type of disk encryption tool in Linux.  Thank you very much.

[2022-01-24 03:18] kmauleon commented on #190
@deriamis have you checked the MEFW version in Setup Menu after the update?  Please advise.  Thank you very much

[2022-01-24 06:24] deriamis commented on #190
@kmauleon The version number I reported was after the update. I don't know what it was before because I didn't think to look, sorry.

[2022-01-24 06:59] kmauleon commented on #190
hi @deriamis got it. the issue you were seeing is still being looked at by BIOS Dev.  I don't think they have update yet.
hi @mrhpearson, will BIOS Dev release a probable fix for the ESRT table issue?  Please advise.  Thank you very much.

[2022-01-24 07:03] kmauleon commented on #190
@deriamis sorry forgot to mention... your system MEFW was updated as confirmed in BIOS Setup Menu.  For some reason, fwupd is not getting the correct version and this is related to ESRT table issue which is being managed by BIOS.

[2022-01-24 12:21] hughsie commented on #191
Ohh, this just means that the device isn't to be updated using the thunderbolt mechanism, and instead it should be updated using the USI protocol instead. That bit is working as designed, but I think the TBT4 firmware has the issue. I'll reassign and poke some people.

[2022-01-24 12:23] hughsie commented on #191
@victor-cheng I think USI needs to be aware of this. @mrhpearson is this something you want to track too?

[2022-01-24 13:06] hughsie commented on #209
So we're just reusing the existing Boot0001 entry. Can you provide us `sudo efibootmgr -v` too please.

[2022-01-24 14:08] dkwo commented on #209
Here it is:
[code]

[2022-01-24 14:09] dkwo commented on #209
(Notice I had to chroot and reinstall grub after the firmware update, with
`grub-install --target=x86_64-efi --efi-directory=/boot --bootloader-id="GRUB"`
otherwise nothing  to boot from..)

[2022-01-25 08:12] zaggash commented on #190
I can't disable LUKS encryption, it is such a pain I prefer to live without the ME update then.
The others updates are working fine, so be with it.

[2022-01-25 08:29] kmauleon commented on #190
sorry @zaggash not much of a help.  I think we can close this particular issue then.  Thank you very much.

[2022-01-25 08:29] #190 closed, assigned to nobody

[2022-01-25 11:04] ChiWei-Chen commented on #189
@yawpitch thanks for sharing the information.
There are some following question from FW team, could you please check it?

Thanks.

[2022-01-25 11:34] telmich commented on #108
I have also been hit by this problem and the bios message appears on every reboot now

[2022-01-25 14:24] yawpitch commented on #189
@ChiWei-Chen On my first attempt I ran the update in my Linux session as normal, then when asked to reboot I hit “Y” and the machine reboots itself I get the Lenovo screen, after the “Hit Enter to enter Setup” message disappears about 10-15 seconds elapse before “Reset System” (or “System Reset”, I can’t remember for sure) appears. About 5-10 seconds later the screen then goes black (no backlight,

[2022-01-25 14:40] DonnieWest commented on #190
@kmauleon is there an issue we can follow for the ESRT table issue? Turns out I have the same problem @deriamis is having

[2022-01-26 01:08] kmauleon commented on #190
hi @DonnieWest quite a number actually but i'm afraid no update yet as of now... #65 #67 #70
thank you very much

[2022-01-26 09:18] deriamis commented on #65
@kmauleon I just want to point out that *only* the Intel ME capsule doesn't update the ESRT for me. All other updates work. I'm quite sure my system has been in essentially the same configuration since before the problem started, and I am very diligent about running updates (including firmware) once per week. The only thing I noticed was that one day I was suddenly getting the same Intel ME update

[2022-01-26 09:26] kmauleon commented on #65
hi @deriamis yes this is an existing issue, unfortunately ESRT table is managed by BIOS, thus, can't do anything on ME side.
Thank you very much.
hi @mrhpearson any update from BIOS dev regarding the ESRT issue?  please advise.  Thank you very much.

[2022-01-27 00:48] LinuxOnTheDesktop commented on #123
I still have this problem. I have had it for some nine months. Has Ubuntu (it's Ubuntu's problem, right?) actually fixed the problem? If so, the fix has yet to reach Linux Mint.

[2022-01-27 04:46] deriamis commented on #65
@kmauleon I think I've unintentionally fixed my problem, but I don't fully understand how.

Through a series of complicated (and embarrassing) events, I managed to delete my GPT last night and corrupted my EFI system partition in the process. Everything else was fine, and I rebuilt the EFI system partition from scratch.

After rebuilding my EFI system partition, the Intel ME update installed prope

[2022-01-27 05:08] kmauleon commented on #65
hi @deriamis thank you very much for the update... this is interesting.  honestly it's hard to pinpoint which caused the failure since it was not recreated here. but based on investigation, fwupd was not getting the correct version.  fwupd is using ESRT table as reference and upon checking, ESRT table does not contain the correct version.  Thus, we have concluded that somehow this was caused by BI

[2022-01-27 07:03] deriamis commented on #65
@kmauleon Could it be that the ESRT may not be getting updated because there's something wrong with the update process in relation to what's on the EFI system partition? I don't know enough about how `fwupd` and update capsules work, but something was definitely different with how the update looked and behaved while it was running when it worked.

[2022-01-27 07:13] kmauleon commented on #65
@deriamis could it be but neither do I... we can't exactly say what's the cause since we never replicated the issue.  but maybe we can have some insight from @hughsie ... what do you think @hughsie ? ^_^

[2022-01-27 08:01] deimosfr commented on #89
Hi!

Same for me with X1 Extreme Gen2

Thanks

[2022-01-27 16:12] hughsie commented on #65
The ESRT versions should never be affected by the contents of the ESP. From someone _sitting on the sidelines_ without any internal information it sure looks like the system BIOS is manually creating the ESRT entries, rather than querying the ME for the correct version. If that's true, then every CSME update should depend on a system BIOS which recognises the build ID so that he ESRT can be set co

[2022-01-28 04:26] its-me commented on #162
Same, ThinkPad X1 Carbon 7th Gen (20QDS02200).

[2022-02-01 15:47] mrhpearson commented on #67
I have a Trial BIOS for the T480 to potentially fix this problem if anybody is able to try it. Please ping me directly (markpearson at lenovo dot com) so I can share the image and details.

[2022-02-01 15:48] mrhpearson commented on #70
I have a Trial BIOS for the T480s (and T480) to potentially fix this problem if anybody is able to try it. Please ping me directly (markpearson at lenovo dot com) so I can share the image and details.

[2022-02-01 15:48] lijunwang1990 commented on #70
 
您好，邮件已收到

[2022-02-01 16:54] maikzumstrull opened #192 "ECP firmware not updated with UEFI"
I was dealing with a T14 Gen1 with overheating issues, and eventually noticed that it was running an unsupported firmware combination: UEFI 1.23 (latest) with ECP 1.08 (originally paired with the 1.17 main firmware).

My understanding is that ECP updates are supposed to be applied in lockstep with UEFI updates, unless there isn't a new release of either, as per this list from the Lenovo README:

[

[2022-02-01 16:59] hughsie commented on #192
In general we only do one firmware update at a time on all Lenovo hardware due to this: https://github.com/fwupd/fwupd/blob/main/plugins/uefi-capsule/uefi-capsule.quirk#L13 --- if that needs to be more nuanced (e.g. to models) can someone at Lenovo let me know. Originally we switched on the quirk because of problems with UEFI _coalesce_ i.e. https://github.com/fwupd/fwupd/commit/a676a5ec70fc3e6946

[2022-02-01 17:33] solardiz commented on #130
Do we have an idea why the update broke @CyberDomovoy's system here? Was it the unsupported update procedure, or was it unrelated (could happen when running the `.exe` under Windows just as well)?

@mrhpearson Are all ThinkBooks not supported for `fwupd` by Lenovo, or are the closer-to-professional models like 16p series possibly are? Thanks!

[2022-02-02 07:26] ida-greuelr commented on #179
Same here for me on model t480 (20L5-0005GE), since months. fwupd shows ME Consumer update version 184.86.3909 (N24RN17W):
[code]
Update is starting after reboot with a blank screen, but stops with _Reset system_ and no error message at all. When checking the results:
`fwupdmgr get-results -v 349bb341230b1a86e5effe7dfe4337e1590227bd`
I get the following report:
[code]
If there's anything helpful I

[2022-02-02 15:11] mrhpearson commented on #192
Thanks for flagging this - I think this looks like the FW team haven't delivered the EC update for this platform...at least as far as I can tell. I can't see the 1.13 release, and that should be available.

I've flagged it to the FW team as an urgent issue (LO-1556) but as a note with it being Chinese New Year I likely won't get an update until next week.

With the linking the two: I'll see what f

[2022-02-03 02:52] mrhpearson commented on #130
Hi - no idea on why it broke I'm afraid.

I'm not allowed to comment on future products but hopefully the Thinkbooks get added in the future - right now none of them are listed.
The Linux program is growing a little every year but it really happens by customer demand. Once the product teams start seeing customer demand they come to my team to understand how they can deliver Linux - so when you get

[2022-02-03 12:46] tehcaster opened #193 "Lenovo T460: missing latest uefi bios versions"
Hi,

I've noticed there have been UEFI BIOS updates 1.42 and 1.43 released by Lenovo:
https://pcsupport.lenovo.com/cz/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t460/downloads/ds112122

But the latest in LVFS is still 1.41:
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR06ET.firmware

Thanks in advance for poking the right people.

[2022-02-03 13:42] mrhpearson commented on #193
I'll look into it (for my reference, internal ticket LO-1558)

[2022-02-03 16:27] sukahiroaki opened #194 "Thinkpad X1 Gen 8 / UEFI version 0.1.24 with critical update should be pushed to stable"
So far the update for the recent critical security issues [¹]has only been pushed to testing. Especially given that those issues are now public knowledge this should be pushed to stable so that it actually gets to users.

[¹] https://www.bleepingcomputer.com/news/security/uefi-firmware-vulnerabilities-affect-at-least-25-computer-vendors/

[2022-02-03 16:59] mrhpearson commented on #194
Ack - flagged to the FW team (LO-1559). I know we have a lot of updates waiting in embargo state too.
Mark

[2022-02-04 07:43] mskott opened #195 "Thinkpad P1 gen 2 newer firmware is available"
LVFS has version 0.1.41 (released on 2021-12-30) https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2OETXXP.firmware

Latest on Lenovo suport site is 1.42 (issued on 2021-12-22) https://download.lenovo.com/pccbbs/mobiles/n2oul24w.txt

Update can be downloaded from Lenovo, but I would rather get it from LVFS :)

[2022-02-04 18:02] persicsb opened #196 "ThinkPad P43s, P53s, T490, T590 Thunderbolt critical update missing"
Lenovo issued a critical update to ThinkPad P43s, P53s, T490, T590 Thunderbolt controllers on 08 Nov 2021, with ID 1.21.07.14-N2ITF15W.
This is missing from LVFS but it is really needed.

[2022-02-07 12:36] hughsie commented on #174
I can reproduce the same failure; mea culpa. https://github.com/fwupd/fwupd/pull/4255 fixes it for me.

[2022-02-07 13:55] mrhpearson commented on #174
Sweet :) Thanks - I'll give that a spin

[2022-02-08 22:20] pgn674 commented on #140
Here's a possibility that hasn't been mentioned: Maybe the Intel ME firmware was actually updated successfully, but fwupd is reporting the version incorrectly?

Try out this tool: [Intel® Converged Security and Management Engine Version Detection Tool (Intel® CSMEVDT)](https://www.intel.com/content/www/us/en/download/19392/intel-converged-security-and-management-engine-version-detection-tool-intel

[2022-02-08 22:33] tgelter commented on #140
Great question! I show similar results with a different OS/Model:
[code]

[2022-02-08 23:30] smrqdt commented on #140
Same result for me, `intel_csme_version_detection_tool` tells me `11.8.86.3909` is installed, `fwupdmg` wants to install `11.8.86.3909(LVFS: 184.86.3909)`.

<details>
<summary>fwupdmgr get-updates 349bb341230b1a86e5effe7dfe4337e1590227bd</summary>

[code]
</details>
<details>
<summary> ./intel_csme_version_detection_tool</summary>

[code]
</details>

@pgn674 Great catch, I hope this realization si

[2022-02-08 23:36] laudrup commented on #140
@pgn674

Exactly the same here. The Intel tool shows I'm already updated.

Guess I don't need to post the output from the tool and fwupdmgr, but I'm running on a Lenovo Carbon X1 5th gen.

This is really great. Has been annoying me for a quite a while.

[2022-02-09 01:51] kmauleon commented on #140
This is a known issue due to BIOS ESRT Table not updating correctly, thus, fwupd not getting the correct version.
Sorry, there's not much update at the moment.  We are tying to ask anyone willing to use the trial BIOS as mentioned here #67 #70 ... Thank you very much...
Any luck @mrhpearson?

[2022-02-09 02:41] tgelter commented on #70
Hello @mrhpearson, do you have a trial BIOS for the X1 Extreme (Gen 1)?

[2022-02-09 11:14] ChiWei-Chen commented on #194
@sukahiroaki , I'm working with @mrhpearson , our FW team pushed BIOS 0.1.24 to stable. Could you give it a try then let us know how it works. Thanks!

https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2WET.firmware

[2022-02-09 11:21] ghost opened #203 "[ThinkPad X1 Carbon Gen 9] failed to verify System Firmware: For System Firmware 0.1.51 expected ..."
**Describe the question**

Got my ThinkPad X1 Carbon Gen 9 mobo replaced due to a faulty charging port. (Common issues with some gen9 models).

Used `fwupdmgr update`, worked like a charm!

![image](https://user-images.githubusercontent.com/3791945/153190354-71747901-e467-4ec4-9470-2d7326ac35c8.png)
![image](https://user-images.githubusercontent.com/3791945/153190368-521bd280-b222-454e-9eb3-e37750

[2022-02-09 11:23] hughsie commented on #203
Can you attach the output of `fwupdmgr get-devices` please.

[2022-02-09 11:32] nre commented on #172
@mrhpearson The [non-vPro ME firmware](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1FRN.firmware) 15.0.23.1706 (R1FRN17W) is now in testing without `<requires>`.

The [README](https://download.lenovo.com/pccbbs/mobiles/r1frg03w.txt) for package R1FRG03W (ME 15.0.23.1706 and other firmware updates) says "non Vpro system BIOS should be R1FET35W(v1.09) or later". (The complete dependency hell

[2022-02-09 11:40] ghost opened #197 "New Lenovo X1 gen9 N32HT52W ECP 1.32 is out"
The new "Lenovo Thinkpad X1 Carbon 9th / X1 Yoga 6th Embedded Controller Firmware N32HT52W, version 1.32." is out, and is addressing the common problem with the primary power port issue due to which I just had my mobo replaced in fwupd/firmware-lenovo#203

[code]
source https://support.lenovo.com/lu/en/downloads/ds548819-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpad-x1-carbon-9th-

[2022-02-09 11:43] hughsie commented on #203
Lenovo specified the PCR0s of af3218af1484c0a9395fbc59a4190a181f6c7582 and a5bc5b90f2b1117ee4c58d2a54a4eeaa0d5c90fe for that firmware and model, but it appears your PCR0 isn't that for some reason. Also, (for Lenovo only) looking at https://fwupd.org/lvfs/components/10953/checksums it appears the PCR0 is not predictable *at all* -- @mrhpearson is there anything you can discover here? The PCR0 is s

[2022-02-09 11:44] hughsie commented on #197
This was uploaded a few days ago, I assume it's undergoing testing before being pushed to stable.

[2022-02-09 11:47] hughsie commented on #140
@kmauleon I'm a bit confused why the ME update can't update the reported ESRT version itself. Is the system bios responsible for updating the ESRT version of the ME component based on some kind of hash->version mapping table? If so, that seems, well, suboptimal...

[2022-02-09 12:44] sukahiroaki commented on #194
Just applied the update, went flawlessly. Looking good.

[2022-02-09 13:00] ChiWei-Chen commented on #194
Great! Thanks!
@mrhpearson , any concern to close this?

[2022-02-09 13:01] ghost commented on #203
[code]

[2022-02-09 13:09] ghost commented on #197
Is there some way I can override some setting manually, so that I can get the updates sooner, before they get tested/QA'ed?

The reason is as I've already tried that update on my previous motherboard, it worked well. And the other reason is that I love running the latest FW [announced](https://support.lenovo.com/lu/en/downloads/ds548819-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpa

[2022-02-09 13:10] hughsie commented on #197
No, it's currently embargoed I'm afraid. I'm sure Lenovo will push it soon.

[2022-02-09 13:52] urandom2 opened #198 "Missing Thunderbolt firmware for T25 (Type 20K7) Laptop (ThinkPad)"
As tracked in #32, the Thinkpad 25 also requires the Thunderbolt firmware update, however this is not automatically handled by `fwupdmgr update`. #32 calls out "T470 / ThinkPad 25", so I would have expected that this would just work, as that issue is closed.

Furthermore, the [lenovo support link](https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t

[2022-02-09 13:53] ghost commented on #203
Have just gotten `84c3b9112d5830c15a280a5555b60a2fd4926e69` UEFI device FW update `1.2.22.0` -> `1.2.24.0`, after:

[code]

[code]

[2022-02-09 13:56] hughsie commented on #198
what's `fwupdmgr get-devices --show-all` say?

[2022-02-09 13:58] urandom2 commented on #198
[code]

[2022-02-09 13:58] ghost commented on #203
Oh, and the CPU voltage seem to have dropped from `1.0 V` down to `0.8 V` after the latest `fwupdmgr update`:

[code]

Not sure if that's expected.

[2022-02-09 14:22] urandom2 commented on #198
interestingly, and this may be part of the original bug, that device does not show up unless you have a thunderbolt thing plugged in. so, upon inserting my dock, these two devices show up in the normal (not just `--show-all`):
[code]
at which point, things started working: (hope this helps somebody)
[code]
[code]

[2022-02-09 14:22] #198 closed, assigned to nobody

[2022-02-09 14:23] hughsie commented on #198
Yup, that's a limitation of the thunderbolt hardware unfortunately.

[2022-02-09 14:25] urandom2 commented on #198
that said, and again this may be more issues with lenovo's branding and model overlap, it would be nice to have a little more information about this update being for both the t470 and t25 like these two are:
- https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1QET.firmware
- https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1QHT.firmware

[2022-02-09 14:59] mrhpearson commented on #194
Closing. Thanks Chi-Wei

[2022-02-09 14:59] #194 closed, assigned to mrhpearson

[2022-02-09 15:13] hughsie commented on #203
¯\_(ツ)_/¯

[2022-02-09 15:38] LordChaos73 commented on #183
Any update on this ticket please?

[2022-02-09 19:49] mvdan commented on #165
This thread is now about why firmware updates only work without fwupd, and no longer about a delay in versions, so I've adjusted the title.

[2022-02-09 20:51] hughsie commented on #165
Is the non-fwupd mechanism also using UpdateCapsule?

[2022-02-09 21:07] mvdan commented on #165
I am not sure; for both 1.11 and 1.13, the fwupd route failed, but what worked was downloading the bootable CD ISO from the lenovo firmware site, and using geteltorito and dd to put it on a bootable USB. Then selecting that device in the BIOS boot menu and following the instructions, letting the machine reboot itself a couple of times.

[2022-02-10 02:04] kmauleon commented on #140
hi @hughsie as mentioned before ESRT table is managed by BIOS... Intel does not know anything about it, thus we can't answer how BIOS is updating it... thank you very much.

[2022-02-10 08:36] hughsie commented on #140
How does the BIOS update the ME entry in the ESRT table now? There must be some kind of side-channel (e.g. AMT) to get the ME version number.

[2022-02-10 10:12] ghost commented on #197
Looks like it got pushed! :partying_face:
Am gonna update today :-)

[code]

[2022-02-10 10:41] ghost commented on #197
## Success!

Gonna close this now.

And the CPU Voltage returned back to `1.0 V` (or maybe it depends on whether I started the laptop with or without the power cable connected? :thinking:)

[code]

[2022-02-10 10:41] #197 closed, assigned to mrhpearson

[2022-02-11 00:51] kmauleon commented on #140
@hughsie sorry i don't have the answer for that... I've been trying to ask the BIOS dev that same question but the only reply I got was we have to replicate the issue in order for them to investigate.  this is the reason why I already asked help from @mrhpearson to push BIOS Dev.  currently Mark obtain a few systems' trial BIOS and asking if some customers can try.... thank you very much

[2022-02-11 15:46] superm1 commented on #140
How is this bug not wrecking havoc on Windows Update too?  It must be right?

At least for Linux though, maybe it's possible to do some custom overrides for now?

Here's an idea if someone wants to codify it:
1. Ignore the ESRT entry corresponding to the ME for Lenovo Intel devices in the `uefi` plugin.
2. Get the version from the ME directly using either the `amt` plugin or the `pci-mei` plugin.

[2022-02-14 20:45] mrhpearson commented on #203
Sorry for the slow reply - inbox got the better of me.
I can reproduce the issue and have flagged it to the FW team for investigation. Internal ticket LO-1576
Thanks!
Mark

[2022-02-14 20:48] mrhpearson commented on #198
So...are we good to close this once a thunderbolt device is plugged in?
Ack on the page should flag it being for the T25 - I can let them know that but getting the update working is more important so want to check that's resolved.

[2022-02-14 20:57] hughsie commented on #198
Ya, It sucks that we have to have a tbt device installed to update the controller, but usb4 to the rescue I guess.

[2022-02-14 21:01] mrhpearson commented on #183
It looks like the FW has been delivered: https://fwupd.org/downloads/a8248641f51f0ef240e6749429e9b62702e1f5183c8201decbd4e850f4005b6c-Lenovo-ThinkPad-X1Carbon6th-SystemFirmware-1.55P.cab
Only curious thing is I'm seeing 1.54 being displayed first...but I'm assuming that it just takes some time for things to refresh. I'll check it again later to confirm it's correct.

For workflow, it's a mixed bag

[2022-02-15 11:30] hughsie commented on #183
@mrhpearson the update seems promoted, but there seem to be a lot of failures with `authentication signing error` -- is that expected? I don't see any of the signed tests I normally do for ThinkPads, and so I can't see if QA tested this update with secure boot turned on or not.

[2022-02-16 10:00] jpasquier commented on #74
I recently updated the system firmware to version 1.37. This version solves an issue that I had since I used the T14 AMD Gen1 with the Thinkpad USB-C Dock Gen 2: the external screen was not detected at startup. I had to disconnect and reconnect the docking station for the screen to finally be detected. Strangely, this problem only occurred during the first start of the day (see [this discussion](h

[2022-02-16 10:27] ivankovnatsky commented on #74
also had this sporadically on my system, great to hear it's resolved.

yeah, but lenovo can't just fix everything at once :shrug:

[2022-02-16 18:29] fkru commented on #74
Good to know that at least you could downgrade, since the changelog of FW 1.37  claims "Add back flash prevention that can't rollback to older BIOS version". Anyway, the massive battery drain has not been solved (and probably will never be solved).

[2022-02-16 19:27] LordChaos73 commented on #183
There seem to be 2 available updates for the X1 Carbon 6th gen now:
* Intel ME 184.90.3987
* System firmware (Bios 1.55)

I tried to apply them both but the updates fail; the laptop reboots but does not seem to update correctly. Then reboots again normally, but the updates haven't been applied. I tried to apply the updates using fwupmgr 1.5.11 on KDE Neon. Secure boot is turned off.

[2022-02-16 19:52] johannbg commented on #183
I would not apply the intel ME update since it comes with a big fat warning

`Version 11.8.90.3987 Fixes the  IPU 2021.2 security vulnerabilities. please refer to Issues List.`

What issue list?

`This firmware is provided by LVFS community members and is not provided (or supported) by the original hardware vendor.`

Which begs the question provided by whom exactly, which member(s) and why is ther

[2022-02-16 20:17] hughsie commented on #183
No, this is a fwupd bug. I got the boolean the wrong way around. I'll do a new release next week with the fix included.

[2022-02-16 20:23] johannbg commented on #183
The provided search url delivers not found and afaik is wrong for the gen 6 platform  ( N23RM18W <-- dont think this exist for gen 6 ) I'm even unsure of the gen 6 is affected by this [1] + should not the URL from Intel be the one that is provided if this is from some random member in the community release ( what ever that is supposed to mean )
[1] https://www.intel.com/content/www/us/en/security-

[2022-02-16 20:26] johannbg commented on #183
You should probably also mention in the big fat warning that this might avoid any insurances the device might have...

[2022-02-16 20:26] hughsie commented on #183
It's this https://github.com/fwupd/fwupd/commit/9ea78077af8e6f2e5dc06f9d410aeacb68f065cb -- it was my error. Ignore the text or go back to 1.7.4 if it's troubling you.

[2022-02-16 20:41] johannbg commented on #183
I'm unsure how to interperet that response, is the 184.90.3987 a legit Lenovo security update?
Regardless the text needs fixing ( void warranty == void insurance which should be mentioned ), missing issue reference ( CVE or an an actual issue someplace ) which lvfs community member is providing the fix ( so the source of the fix can be validated ) The provided search reference URL ( legit or not )

[2022-02-17 09:40] ChauhanT commented on #53
Hi, faced this issue on Debian 11 and trashed the dump-* files on instinct (really, really bad practice, I know =.="). Worked after reboot. I don't know enough about bootup, but is this something that should be reported upstream to Debian ? If so, any tips/suggestions on where to report would be awesome. Thanks!

[2022-02-17 10:09] eyalzek commented on #85
Seeing the same behavior on X1 Nano running fwupd 1.7.4-2...

[2022-02-17 21:08] tuch96 commented on #183
I have the same problem (x1 carbon 6th) as @LordChaos73. With

`fwupdmgr verify`

I get the following info:

`Selected device: System Firmware
failed to verify System Firmware: No stored checksums for 0.1.54
`

[2022-02-18 06:10] ChiWei-Chen commented on #118
@superm1 , could we have your advice/clarification on the comment from @lijunwang1990?

[2022-02-20 17:24] johannbg commented on #183
@tuch96 the Intel Management Engine (184.86.3909 → 184.90.3987) fails to update just like it did for @LordChaos73  and both the firmwares that verify command detects fails
The system firmware fails with
`failed to verify System Firmware: No stored checksums for 0.1.55`
and the UHD Graphics 620 one fails with
`failed to verify UHD Graphics 620: failed to read firmware: Error reading from file: Inpu

[2022-02-20 17:32] johannbg commented on #160
@mrhpearson it's been close to half a year since you opened LO-1371 what's the status of the issue?

[2022-02-20 17:52] johannbg commented on #183
@hughsie could the IME update failure be related to fwupd not being able to differentiate between consumer or the corporate firmware update thus downloading the wrong one, trying to update which eventually will fail?

[2022-02-21 01:35] l3s2d commented on #5
@hughsie, can this issue be reopened? The firmware has not hit stable again after it was removed, and the version available on lvfs-testing is out of date as there was a new release on 2021/10/29.

[2022-02-21 08:49] jvanschie opened #199 "Lenovo ThinkPad T480 - Me FW Downgrade - Request MeSpiLock Failed"
Hi,

Ubuntu recently pushed me an update which caused an error in BIOS when I boot my system.

```(A7) Me FW Downgrade - Request MeSpiLock Failed```

What does this error mean and what can I do about this?

fwupdmgr get-history

[code]
Thanks in advance.

[2022-02-21 09:43] hughsie commented on #183
Well, these **should** have different GUIDs in the ESRT, so I'd hope not. Note the word in bold. :)

[2022-02-21 21:08] tuch96 commented on #183
@johannbg I was able to successfully install the Intel update today. However, the system firmware update still does not work.

[2022-02-21 21:29] johannbg commented on #183
@tuch96 hmm that makes no sense, what voodoo did you perform, did you re-download the fw ( which means something was changed )? I manually updated using the system firmware update from the Lenovo ( US ) site and it work perfectly ( see first comment in this issue for the link to the fw and directions how to do that )

[2022-02-21 21:43] tuch96 commented on #183
@johannbg Voodoo is the right name for it :-). I have no idea why it suddenly worked. I had started an update process in the Terminal again, but then aborted it with N and shutdown the notebook. When I started the X1 the next day, the update was applied.

[2022-02-21 21:49] tuch96 commented on #183
@johannbg ...I'll try the manual method you described to install the system update.

[2022-02-21 22:06] sydneymeyer commented on #155
@saikocat Have you found a way to apply the updates, specifically the Intel ME update, in the meantime? I was able to update, at least, the BIOS/System FW directly via ` fwupdmgr update <Device ID>`, as suggested by @Croissong, but get the same error message when trying to update the Intel ME on a ThinkPad X1 (6th Gen) from 2018.

[2022-02-22 01:38] saikocat commented on #155
@sydneymeyer no, I still can't update the Intel ME (as of fwupd version 1.7.5). Keep a pin handy for the emergency reset button at the bottom of the laptop, as that's only way to reset the laptop when upgrading stopped half way.
And yes, the BIOS firmware can be updated via the method suggested by croissong.

[2022-02-22 03:11] JulinhoCLB opened #200 "> I simply did fwupdmgr update X"
Note for others: _X_  is the 'Device ID' shown by `fwupdmgr get-updates`.

_Originally posted by @LinuxOnTheDesktop in https://github.com/fwupd/firmware-lenovo/issues/139#issuecomment-898808592_

[2022-02-22 03:13] JulinhoCLB commented on #200
thank you. This solved the problem

[2022-02-22 03:24] LinuxOnTheDesktop commented on #200
@JulinhoCLB

You are welcome. However: it is very strange to open a new issue in order only to thank someone for having, on a github page devoted to another issue, clarified something that some third person said.

[2022-02-22 07:08] #195 closed, assigned to mrhpearson

[2022-02-22 07:08] mskott commented on #195
Looks like an updated firmware was released to LVFS on 2022-02-18 07:59:33. Applied without issue on my machine.

[2022-02-22 14:09] LordChaos73 commented on #183
What's the difference between the "Absolute Persistence Module version" and the "Non-Absolute Persistence Module version" as described here: https://download.lenovo.com/pccbbs/mobiles/n23ul33w.txt ?

[2022-02-22 14:23] hughsie commented on #183
Absolute Persistence Module == CompuTrace, i.e. https://en.wikipedia.org/wiki/Absolute_Home_%26_Office

[2022-02-22 14:51] LordChaos73 commented on #183
Ah...I think I installed the wrong cab file then. By the way, after upgrading the BIOS to 1.55 (fwupdmgr install xxxxxxx.cab) I was able to upgrade the Intel ME firmware as well using fwupdmgr.

[2022-02-22 18:12] mbacchi commented on #85
Thanks for this information, as a Lenovo user for a number of years I didn't know this. How can we 'unselect' multiple devices if we've already selected more than one to be updated? I did a little digging on the fwupd wiki and don't see a way to do that.

[2022-02-22 18:36] hughsie commented on #85
I don't think you need to; we only do the BootNext once and then we revert back to the normal bootloader. After that you can just save a new update and then it should only do one, not multiple.

[2022-02-22 23:53] sydneymeyer commented on #155
@saikocat Thanks for the update. I also have tried to install the update manually by downloading the ME update cab file for linux from the official lenovo support site, but with that i only get `firmware signature missing or not trusted; set OnlyTrusted=false in /etc/fwupd/daemon.conf ONLY if you are a firmware developer.`

It appears that Lenovo has botched this particular ME update for good then

[2022-02-23 08:04] hughsie commented on #155
This is because Ubuntu hasn't updated libjcat since 2020. Update libjcat and this will go away.

No, this is an Ubuntu problem. I've raised the jcat dep in the next fwupd version artificially to force them to update the version when they backport the next fwupd.

[2022-02-23 13:16] sydneymeyer commented on #155
I could have mentioned this earlier, i'm running NixOS unstable with libjcat 0.1.10. @hughsie should open a separate issue?

[2022-02-23 13:31] hughsie commented on #155
No idea then. I guess the daemon verbose log might show you what's going on, i.e. if it's failing to find the shipped public keys perhaps.

[2022-02-23 23:13] binarysta commented on #162
same here
[code]

[code]

[2022-02-24 05:40] mlalkaka commented on #85
@mbacchi try my instructions in [this comment](https://github.com/fwupd/firmware-lenovo/issues/85#issuecomment-1017668999). That worked for me on a Lenovo T480s laptop.

[2022-02-25 12:08] tpopela commented on #165
@mrhpearson looks like 1.14 is missing in LVFS.

[2022-02-25 13:58] mrhpearson commented on #165
It's there - but still under testing
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1MET.firmware
Mark

[2022-02-26 00:13] 95440b97d opened #202 "Update of ME firmware fails on Thinkpad X1 Carbon 6th gen"
Update of ME firmware fails on Thinkpad X1 Carbon 6th gen.  The firmware was downloaded (fwupd-9c9d9769-32fa-4841-b550-ea998e754e99.cap), the computer rebooted, nothing happened for a while, then message appears "Reset system", computer rebooted successfully.

Secure boot is on and /boot/EFI/arch/fwupdx64.efi is properly signed (however it is obviously not a problem with Secure Boot).

[code]

[co

[2022-02-28 04:05] shenki opened #201 "System and ME firmware fail to update on Lenovo t480s"
**Describe the bug**
I have a pending update for both the system firmware and the ME firmware on my t480s.

I have used fwupd to update these in the past, but not recently. fwupd has moved to a newer version since the update last succeeded.

I am running Debian testing.

**Steps to Reproduce**

Accept the prompts to update the following:

And accept the prompt to reboot. System reboots to the red

[2022-02-28 04:13] ghost commented on #140
T580 running Fedora 35.

fwupd detecting incorrect version of IME firmware.

![Screenshot from 2022-02-27 23-05-53](https://user-images.githubusercontent.com/52607990/155922404-bc66193d-2c5b-4d3c-adbd-fcb4246db86a.png)
![Screenshot from 2022-02-27 23-04-57](https://user-images.githubusercontent.com/52607990/155922461-d59032bb-747c-47d2-876a-c2b6fcbe69d0.png)

[2022-02-28 13:18] hughsie commented on #201
@mrhpearson the use of ShellFlash64 arguments does worry me slightly...

[2022-02-28 13:20] hughsie commented on #202
You sure that's the correct .cab file? I think the root cause isn't fwupd if we get as far as `Reset System`.

[2022-02-28 22:40] colemickens opened #204 "Yoga Slim 7 Pro-14ACH5 Laptop (ideapad) - Type 82MS - provide payloads"
Lenovo offers these updates for this laptop:
* https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/yoga-series/yoga-slim-7-pro-14ach5/82ms/82ms0000cd/pf2qfgdc/downloads/driver-list
* System Firmware

It would be nice if Lenovo could at least provide that via `fwupdmgr`.

Not sure why the NVME doesn't show up, maybe it's unsupported or doesn't support fw upgrades?

[code]

[2022-02-28 22:41] colemickens commented on #204
full product string from `lshw`: `product: 82MS (LENOVO_MT_82MS_BU_idea_FM_Yoga 14sACH 2021)`

[2022-03-01 19:07] johannbg commented on #183
@hughsie how does fwupd determine which of the updates it should install, manually downloading both consumer and corporate IME updates from Lenovo ( US ) site, the consumer get's rejected with fwupdmgr while the corporate is accepted as an update, both updates ( from lvfs and from lenovo ) fail the same way just the Lenovo logo followed by a reset system ( which is awfully similar to system firmwa

[2022-03-01 19:12] johannbg commented on #202
I'm experiencing the same failure ( as are seemingly others on a different issue ), it does not matter if it's the update from lvfs and or Lenovo site ( tried both the consumer which got rejected and the corporate which was accepted ) so both updating via lvfs and or manually with the cab files from lenovo site fails with reset system ( which arguably is good since it should narrow it down to the

[2022-03-01 19:13] johannbg commented on #202
maybe @mrhpearson can ( or have someone ) duplicate this.

[2022-03-01 20:27] mrhpearson commented on #202
Hi,
I don't have an X1 Carbon 6 unfortunately. I have raised a ticket to the FW team for their input (LO-1597)
Couple of suggestions
1) Could you check in the BIOS setup information screen (F1 during early boot) to see what that reports as the ME FW version.
2) Could you try the update with Secure Boot disabled. Even with correctly signed updaters we've had some issues with shim and fwupd in the l

[2022-03-01 20:31] mrhpearson commented on #204
Hi,

Unfortunately that platform isn't in the Linux certification program so the FW team aren't going to be posted updates to LVFS as it's not in their support scope.

Let the product team knows you want Linux support so we can add these platforms in the future. Recommendation is through the customer survey if you still have that available - or contact support.

Mark

[2022-03-01 20:31] #204 closed, assigned to nobody

[2022-03-01 20:42] mrhpearson commented on #201
I've raised LO-1598 with the FW team for their input, but shellflash is (I believe) used for the BIOS update, and it looks like there's been almost 14k succesfull downloads for this update - so there is something wonky in this case.

Can you try doing just the system update by itself?

@hughsie - why is the use of arguments a concern? I know when I do updates from UEFI shell (which I do quite a bi

[2022-03-01 20:52] johannbg commented on #202
@mrhpearson ME FW version in bios is listed as 11.8.90.3987 but the current version as reported by fwupdmgr get-updates is 184.86.3909 and it proposes an update versioned 184.90.3987 created on 2016-07-08  ( Release ID: 11630 ) o_O Disabling secure boot does not change anything.

[2022-03-01 21:06] mrhpearson commented on #202
Hi,
OK - so your FW has been updated - it's just not reporting the version correctly to the OS in the ESRT tables.

Thanks for the details. I'll pass those on to the FW team
Mark

[2022-03-01 22:05] sydneymeyer commented on #201
Perhaps related: https://github.com/fwupd/firmware-lenovo/issues/155

[2022-03-01 22:30] colemickens commented on #204
Okay, thanks for the extra info @mrhpearson! Appreciate the details and tip on providing feedback. 💯

[2022-03-02 10:26] hughsie commented on #183
The GUID in the ESRT has to match the <provide> in the XML, e.g.

    # cat /sys/firmware/efi/esrt/entries/entry*/fw_class

[2022-03-02 13:04] mrhpearson commented on #201
Note - ignore the comment about the arguments above. ShellFlash is an internal tool only (I had never realised that - I use it all the time). It isn't included in either the Windows or the LVFS updates....so you really shouldn't be seeing it being used at all.

Can you check what files show up in your efi partition?
Have you done any updates not via Windows update or LVFS?

Mark

[2022-03-02 13:43] mrhpearson commented on #202
Can we check the contents of the esrt tables please?
cat /sys/firmware/efi/esrt/entries/entry?/fw_class
cat /sys/firmware/efi/esrt/entries/entry?/fw_version

Thanks
Mark

[2022-03-02 15:54] fbatschi opened #205 "Serious problems with battery charging since N32HT52W, version 1.32"
Since applying `Lenovo Thinkpad X1 Carbon 9th / X1 Yoga 6th Embedded Controller Firmware N32HT52W, version 1.32` via fwupd i have some serious problems with charging the X1C under linux (Fedora 35)

[code]

Having the charger cable (from the original 65W power supply) on the main TB charging port sometimes no charing is done. `acpi` only shows "discharging".  It seems the charging cable is either

[2022-03-02 17:08] mrhpearson commented on #205
Looks like a regression :( Not really LVFS related - but hopefully OK to track here.
I've raised a ticket with the FW team with the details:  LO-1599
Mark

[2022-03-02 18:31] johannbg commented on #202
`
cat /sys/firmware/efi/esrt/entries/entry?/fw_class
`
`
a4b51dca-8f97-4310-8821-3330f83c9135
`
`
42a0a96e-c9f3-438f-9687-7826be33e4ce
`
`
3babca5f-b2bf-4f4b-a72e-2bdc84eb4019
`

`
cat /sys/firmware/efi/esrt/entries/entry?/fw_version
`
`
65591
`
`
3092647749
`
`
65558
`

[2022-03-02 20:46] mrhpearson commented on #202
OK - I'm officially confused.

You're ESRT table has GUID 42a0a96e-c9f3-438f-9687-7826be33e4ce as the 2nd entry - and that says the FW ID is 184.86.3909 (once you do the number munging). Which is good - if you have a vPro machine.
So that should means you should be using the Corporate/vPro version of FW - i.e 23RM:
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23RM.firmware

@hughsie - I'm mi

[2022-03-02 21:05] johannbg commented on #202
@mrhpearson yes I have a vPro machine, and yes fwup denied me to install the consumer firmware but allowed me to install the corporate one ( which is the correct behaviour I think).

And I think you are confusing me with the guid of the original reporter since I dont have any GUID equalling to `9c9d9769-32fa-4841-b550-ea998e754e99`
![lenovo](https://user-images.githubusercontent.com/1309070/156448

[2022-03-02 21:09] johannbg commented on #202
@95440b97d could you provde the esrt tables on your machine as @mrhpearson requested

[2022-03-03 01:47] mrhpearson commented on #202
My apologies - I was trying to look at this between meetings and it seems I didn't engage my brain.

Your ESRT table is wrong. If BIOS says you have 184.90.3987 and ESRT table says 184.86.3909 then the ESRT table is incorrect and everything flows from there.

Pretty much ignore my comment above...it's brain dead. I'll follow up with the FW team

[2022-03-03 22:28] sydneymeyer commented on #202
If it helps, here's my output too.. Same issue, also x1 6th gen, non-vPro.

`cat /sys/firmware/efi/esrt/entries/entry?/fw_class`
`a4b51dca-8f97-4310-8821-3330f83c9135`
`9c9d9769-32fa-4841-b550-ea998e754e99`
`3babca5f-b2bf-4f4b-a72e-2bdc84eb4019`

`cat /sys/firmware/efi/esrt/entries/entry?/fw_version`
`65591`
`3092647749`
`65558`

[2022-03-04 18:41] dklementowski commented on #201
I'm affected as well on X1 Carbon 6 20KG. Firmware updates used to work without any problem and I haven't change anything, just upgrading my OS as usual. I'm on Arch Linux, my installed packages are as follows:

[code]

Just like OP, when I try to update, it hangs for a moment and then shows the error message for a short period of time. After that it disappears and reboots.

![obraz](https://user-

[2022-03-04 19:04] mrhpearson commented on #202
3092647749 = 0xB8560F45 = 184.86.3909
If you can confirm from the BIOS setup screen (F1 during early boot) which ME version is reported there we'll know you have the same issue

[2022-03-04 21:12] sydneymeyer commented on #202
@mrhpearson i'm not fully sure if you were asking me, but, yes, it would appear so.

BIOS says "ME Firmware Version 11.8.90.3987".

![IMG_0872](https://user-images.githubusercontent.com/43523516/156841854-9451615f-8e42-4ddc-8d30-60884d0c1dd9.jpg)

fwupd output:

[code]

[2022-03-05 08:39] fkru commented on #74
JFYI: According to the changelog of FW 1.39, it will contain a fix to improve Linux sleep battery drain (https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1BET.firmware).

[2022-03-05 14:14] linuxcrash commented on #74
@fkru sounds great. Just in case itjwas not noticed, it states this version is still in testing and?might not be suitable for production. So maybe not for everyone yet untill its final.

Rgds

[2022-03-05 18:47] peteryates commented on #56
@niedzielski - thanks, this worked for me too (X1 Carbon Gen 7)

[2022-03-06 00:39] LinuxOnTheDesktop commented on #56
Unfortunately, [niedzielski](https://github.com/niedzielski)'s putative fix does not work for me (X1 Carbon Gen 6).

[2022-03-06 03:33] pasunboneleve commented on #202
My BIOS looks the same, and `fwupdmgr` also keeps asking to update
[code]
Secure boot is off and boot order lock is disabled.

[2022-03-08 13:13] j5k commented on #175
To date, no firmware update is available in LVFS. Do we know where it is stuck? The screen problem is quite annoying...

[2022-03-08 20:30] mrhpearson commented on #175
It's stuck on the Lenovo docking team delivering it :(
If you can borrow a Windows machine to update the dock I would do that rather than wait. I'm running out of ways to escalate this.

[2022-03-09 00:11] j5k commented on #175
Thanks for the information. I think the original issue of this thread is fixed and I hope, the Lenovo docking team works on it.

[2022-03-09 00:11] #175 closed, assigned to nobody

[2022-03-10 13:51] mrhpearson commented on #202
Hi - looks like we'll have a test BIOS shortly, but in the meantime would you mind collectiong the remaining ESRT details for the bad entry (the one that has the ME GUID). Using this should work:
`sudo find /sys/firmware/efi/esrt/entries/entry?/ -type f -exec cat {} \; -print`
(replace the ? with the entry number if you know which entry is the one that matters)

Thanks
Mark

[2022-03-10 19:44] luiswirth opened #206 "Thinkpad Universal Thunderbolt 4 Smart Dock Problems"
I'm experiencing a lot of problems with my new "Thinkpad Universal Thunderbolt 4 Smart Dock", which I have connected to my ThinkPad X1 Yoga Gen 6 (product name 20XYCT01WW) running Arch Linux 5.16.13.

Let's talk about the problems.
The dock has two Displayport connectors. For some reason only one works at a time. Each of them work, when only one is used and if both are connected one port takes ove

[2022-03-10 22:11] sydneymeyer commented on #202
I don't. Here's all of them then.

[code]

[2022-03-11 12:35] hughsie commented on #206
I think that's talking about the GigE chip in the dock. If you update the kernel, does that go away? I suspect the weirdness is due to the `BUG: unable to handle page fault for address: 0000000000005b50`.

[2022-03-11 14:39] mrhpearson commented on #202
I have a TrialBIOS from the FW team for the T480. If someone is willing to test that it would be appreciated - send me an email (markpearson at lenovo dot com)
Installation will be by fwupdmgr and it will involve updating the BIOS and then
 - trying a ME FW update
 - If that doesn't work, downgrading ME and then upgrading again
Thanks
Mark

[2022-03-11 15:32] mrhpearson commented on #192
FW is now available. Let me know if any issues
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2XHT.firmware

[2022-03-11 15:32] #192 closed, assigned to mrhpearson

[2022-03-11 19:50] 95440b97d commented on #202
99d47dfe-68fc-4a6f-b541-32e003c886fb
/sys/firmware/efi/esrt/entries/entry0/fw_class
1
/sys/firmware/efi/esrt/entries/entry0/lowest_supported_fw_version
0
/sys/firmware/efi/esrt/entries/entry0/last_attempt_version
0
/sys/firmware/efi/esrt/entries/entry0/last_attempt_status
1
/sys/firmware/efi/esrt/entries/entry0/fw_type
65590
/sys/firmware/efi/esrt/entries/entry0/fw_version
0x0
/sys/firmware/efi/es

[2022-03-12 09:38] mvdan commented on #165
I am similarly now confused by how LVFS has 1.15, but the Lenovo site only has 1.14 :) Given that both versions are tagged as "high" urgency, I also wonder how long it will take for either of them to come out of testing.

[2022-03-12 18:10] sudopluto commented on #140
same here, t480 running fedora 35 and latest fwupd on that release, i get the same results as the screenshot above.

[2022-03-12 18:15] LinuxOnTheDesktop commented on #140
@[mrhpearson](https://github.com/mrhpearson), @hughsie: might I ask whether any progress is being made upon this problem - and indeed upon similar problems - please?

[2022-03-12 18:19] sudopluto commented on #201
i have a similar issue for the IME with my t480, but when i used the tool mentioned in this thread, the update was indeed applied: https://github.com/fwupd/firmware-lenovo/issues/140#issuecomment-1053867852

[2022-03-12 18:25] sudopluto commented on #201
another use on the t480 on the same thread got similar shellfish error: https://github.com/fwupd/firmware-lenovo/issues/140#issuecomment-981053810. i did as well but didn't think to capture it

[2022-03-12 19:10] hughsie commented on #140
Yes, we're discussing the root cause via email due to an NDA -- sorry it's not public. We're making progress.

[2022-03-12 20:40] bibz commented on #202
Same problem than OP here.

@mrhpearson A trial firmware for the T480 or for the X1C6?

My own ESRT details for the Intel ME entry:
[code]

edit: and the current versions
[code]

[2022-03-13 12:37] luiswirth commented on #206
Updating to the latest stable kernel 5.16.14 didn't help.

I have some further information.
When booting my laptop with the dock plugged in, I get
[code]

While trying to configure the displays with xrandr with their highest resolution
[code]
I always get the error `xrandr: Configure crtc 0 failed` (it also happens for crtc 1, 2 and 3). And only one monitor turns on.
But when turning them down to

[2022-03-14 12:47] mrhpearson commented on #202
@bibz - Trial BIOS for the T480.

Thanks to all the above for the esrt table dumps. I think I have enough for now :)

Mark

[2022-03-15 04:11] sudopluto commented on #140
hopefully not revealing too much here, but can anyone else not able to downgrade their ME firmware? I get an error: 8578: image is not supported by the system upon reboot, and the downgrade install does not proceed. this is on a t480, all firmware updated with fwupd on fedora

[2022-03-15 12:22] ChiWei-Chen commented on #202
I work with Mark and have a trail BIOS for X1C6.  If someone is willing to test that it would be appreciated - send me or @mrhpearson an email. Thanks!
(cchen50 at lenovo dot com)(markpearson at lenovo dot com)

Installation will be by fwupdmgr and it will involve updating the BIOS and then

trying a ME FW update
If that doesn't work, downgrading ME and then upgrading again
Thanks

[2022-03-15 15:12] Jamstah commented on #162
@mrhpearson if you still need volunteers, I have a P52 that isn't updating the Intel ME successfully.

<details>
  <summary>System details</summary>

[code]

</details>

<details>
  <summary>Attempting upgrade</summary>

[code]

</details>

And on boot the error was:
[code]

No secure boot or boot order lock.

[2022-03-15 16:28] rumpumpel1 commented on #199
I had the same error message with a T460. The message went away after installing "Intel Management Engine 11.8 Firmware for Windows 10".

Good luck.

[2022-03-15 19:58] mrhpearson commented on #140
I'll check with the FW team - but double check that you have FW downgrades allowed in your BIOS settings

[2022-03-16 07:20] ChiWei-Chen commented on #189
@yawpitch, I got a trial BIOS for T470, If you or someone is willing to test that it would be appreciated - please send me an email. Thanks!
(cchen50 at lenovo dot com)

Installation will be by fwupdmgr and it will involve updating the BIOS and then

trying a ME FW update
If that doesn't work, downgrading ME and then upgrading again
Thanks

[2022-03-16 08:05] jekkel commented on #199
Which you did using a windows boot...?

[2022-03-17 09:16] MathieuBordere opened #207 "Thinkpad X1 Carbon Gen 9 - Thunderbolt retimer firmware 1.2.26.0"
https://download.lenovo.com/pccbbs/mobiles/n32tt07w.txt

Is this going to land soon in LVFS? The README says that it should fix some issues with Modern Standby, so I have high hopes for this one.