[2022-08-03 03:18] arderyp commented on #208
@ChiWei-Chen :point_up:

[2022-08-03 03:42] wwktzz commented on #250
P1 Gen4 has same problems.

[2022-08-03 05:32] ChiWei-Chen commented on #208
@pglpm , thanks for the update, it seems the issue was resolved, please let me know if any other issues.

@arderyp , thanks, I would to confirm the Intel Management Engine Firmware version in the BIOS Main page (press F1 after power on). Is it 184.92.4222 already?

[2022-08-03 05:42] arderyp commented on #208
@ChiWei-Chen
[code]
Ubutnu 20.04

[2022-08-03 05:59] rugubara opened #252 "fwupdmgr fails to update UEFI on my Lenovo P52 - UEFI capsule updates not available or enabled in firmware setup"
PF16W6Y2 ~ # fwupdmgr update
WARNING: UEFI capsule updates not available or enabled in firmware setup
  See https://github.com/fwupd/fwupd/wiki/PluginFlag:capsules-unsupported for more information.
Devices with no available firmware updates:
 • Corsair MP400
 • Corsair MP400
No updatable devices

[2022-08-03 06:07] rugubara commented on #252
![IMG_20220803_090248](https://user-images.githubusercontent.com/9335047/182536021-3f147a74-cca9-4ecc-b670-b6bc9b531415.jpg)

[2022-08-03 07:53] ChiWei-Chen commented on #208
@arderyp , thanks, it seems the ME firmware is already updated, but still having display problem with fwupd, I'll give you update if any progress from FW team.

[2022-08-03 09:11] fabiendespinoy commented on #250
Exactly the same problem with the same config as described by @kleops9 but I did not manage to fix the screen.
For the moment I have a black screen, fan running and no information about what is going on.
Is there a way to fix it ?

[2022-08-03 09:29] kleops9 commented on #250
@fabiendespinoy you can try the reset hole to make laptop boot
![image](https://user-images.githubusercontent.com/20028400/182574919-5a55d8bf-feb7-4899-966b-40f49b909092.png)

If you can boot the laptop then you can try to force firmware update to the version found in the lenovo support page for your model.

[2022-08-03 10:29] fabiendespinoy commented on #250
Thanks to @kleops9 I managed to reboot the heating brick after trying an automatic update that did not work (black screen for about 20 mins and no response from pressing power button during +60sec.) by pressing the little button at the back of the laptop.

Just to help people who may encounter this issue later, here is the process I followed to recover the firmware:

Ubuntu 22.04 LTS with kernel:

[2022-08-03 11:21] superm1 commented on #252
Did your not install in UEFI mode?

[2022-08-03 11:57] ChiWei-Chen commented on #208
@arderyp could you try following command from our FW team? Thanks!
Try downgrading the ME via fwupd (**$ sudo fwupdmgr downgrade**)
You should be able to find ME from the list.
Then rerun the update command. (**$ sudo fwupdmgr update**)

[2022-08-03 12:10] rugubara commented on #252
I use uefi-only boot mode

ср, 3 авг. 2022 г., 14:22 Mario Limonciello ***@***.***>:

[2022-08-03 12:12] superm1 commented on #252
Do you have an esrt directory in sysfs?

[2022-08-03 14:02] mrhpearson commented on #250
@ChiWei-Chen - can you flag this to the FW team please. I know we've been releasing fixes for the ME version number issue but it's a bit worrying if they're going to be hitting issues like this.

Oddly I'm not being offered the update on my P15 G2....not sure why and will have to look into that

[2022-08-03 14:47] superm1 commented on #252
I mean specifically: `/sys/firmware/efi/esrt`

[2022-08-03 16:46] arderyp commented on #208
I will try that shortly and report back

@ChiWei-Chen  what does this mean `You should be able to find ME from the list.`?

[2022-08-03 16:58] rugubara commented on #252
Nothing.

PF16W6Y2 ~ # ls -l /sys/firmware/efi/
total 0
-r--r--r-- 1 root root 4096 авг  3 19:57 config_table
dr-xr-xr-x 2 root root    0 авг  3 09:11 efivars
-r--r--r-- 1 root root 4096 авг  3 19:57 fw_platform_size
-r--r--r-- 1 root root 4096 авг  3 19:57 fw_vendor
-r--r--r-- 1 root root 4096 авг  3 19:57 runtime
-r-------- 1 root root 4096 авг  3 19:57 systab

On Wed, Aug 3, 2022 at 5:47 PM Mar

[2022-08-03 17:14] superm1 commented on #252
Then either your kernel isn't compiled with support or the BIOS isn't properly turning it on.  Nothing fwupd can do about either of these problems.

[2022-08-03 22:44] arderyp commented on #208
also @ChiWei-Chen is there any potential risk in trying to downgrade? I don't know why, but it seems risky.

[2022-08-04 02:29] wwktzz commented on #250
All firmware update problems has solved for me (ThinkPad P1 Gen 4) . New version firmware had been released just now.

[2022-08-04 02:33] roliverio commented on #5
Hi, as there is a new version on the Lenovo site from April (it was released recently as the page reported the previous with february dates just last week), i would like to know if this is going to get pushed.

[2022-08-04 02:38] roliverio commented on #246
I also have had this issue from the day that i bought the dock (early 2020), and it's just as you described. I can certify that it is the dock), however, i think that this is not the correct place to report it, unless Lenovo is really listening to these issues.

Recently a new version for the dock's firmware was released, would be nice if you can update it (as i don't have a windows machine to tes

[2022-08-04 05:26] rugubara commented on #252
Definetly, my kernel is compiled with esrt support:
PF16W6Y2 /usr/src/linux # zcat /proc/config.gz | grep -i esrt
CONFIG_EFI_ESRT=y

So is this issue better suited  for Lenovo firmware?

On Wed, Aug 3, 2022 at 8:14 PM Mario Limonciello ***@***.***>
wrote:

[2022-08-04 05:32] ChiWei-Chen commented on #250
@mrhpearson , thanks, this looks P1 Gen 4 MEFW configuration on LVFS causing this problem, I'll ask the FW team to check this.
Raised LO-1914 for internal tracking.

[2022-08-04 06:54] j5k commented on #246
I have the very same issue and will test the new firmware as soon as possible.

[2022-08-04 12:44] ChiWei-Chen commented on #250
Hi,
It seems the P1 Gen4 FW team uploaded the firmware by mistake, it should be removed now.
Please let me know if you still seeing this problem. Thanks!

[2022-08-04 13:22] wwktzz commented on #250
240.41.2142 had been removed which has been replaced by 0.1.16 and 0.1.17. I have successfully upgraded.

[2022-08-04 13:42] ChiWei-Chen commented on #208
@arderyp , I'll give you back if any feedback from FW team.

[2022-08-04 15:01] ChiWei-Chen commented on #224
@agurenko thanks for reporting the issue, could you provide more detailed information?
Please raise a separate ticket for P1 Gen 2 since we need to address it with separate FW team. Thanks!

- fwupdmgr update --show-all
- system firmware version and Intel Management Engine firmware version in BIOS main page
- OS and fwupdmgr version

[2022-08-04 15:37] ChiWei-Chen commented on #248
@tgelter , thanks, I'll give you back if I got any progress from FW team. (LO-1920 for my internal tracking)

@BaronKrause , @mark-beeby , @pglpm , this seems resolved, please check this [comment](https://github.com/fwupd/firmware-lenovo/issues/250#issuecomment-1205206747). Let me know if this doesn't work for you.

[2022-08-04 15:41] ChiWei-Chen commented on #140
@DianaAlcantara ,
thanks for reporting the issue, could you provide more detailed information?
And please raise a separate ticket for T580 P52s since we need to address with separate FW team. Thanks!

- fwupdmgr update --show-all
- system firmware version and Intel Management Engine firmware version in BIOS main page
- OS and fwupdmgr version

[2022-08-04 15:41] agurenko opened #251 "P1 gen2 ME Update failes"
As continuation of https://github.com/fwupd/firmware-lenovo/issues/224#issuecomment-1205378202:

-     fwupdmgr update --show-all

[code]

-     system firmware version and Intel Management Engine firmware version in BIOS main page

  - ME: 12.0.90.2072
  - BIOS: N20ET56W (1.43)

-     OS and fwupdmgr version
  - OS: Fedora Linux 36 KDE Spin; kernel 5.19.0-65.fc37.x86_64
  - fwupd-1.8.3-1.fc36.x86

[2022-08-04 15:46] superm1 commented on #252
One more suggestion is to try to reset BIOS default settings to see if it fixes this issue, otherwise it should be for Lenovo to dig into further for your system.

[2022-08-04 16:32] DianaAlcantara commented on #140
Will do as soon as I can (have a relative hospitalized). For now, it fails to update the Bios, but I still can rebootk and work with the laptop. As soon as I get 10 minutes free, will create the ticket with all details I can gather. Thanks!

[2022-08-04 20:06] mrhpearson commented on #226
Tagging @ChiWei-Chen for this one. Afraid I've lost track of where we are with the ME FW update issues...

[2022-08-04 20:08] mrhpearson commented on #5
We're struggling to get the docking FW updates on LVFS...some people left and I'm figuring out how to get it going again. If you can update the dock FW from a windows machine I recommend doing that. We'll get there eventually from LVFS but it's not happening fast :(

[2022-08-04 20:16] roliverio commented on #5
@mrhpearson Thanks, i'm going to try to find a Windows PC to do just that, i've struggling with the monitor flicker issue for years now, and it would be nice to have linux capability to do this as the dock hasn't reached EOL.

OTOH, would be nice to know how to report issues with the dock directly towards Lenovo.

[2022-08-05 02:32] ChiWei-Chen commented on #208
@arderyp , could you try reinstalling MEFW as instructed below?  Thank you very much.
1. Download ME Firmware 184.92.4222 [cab file](https://fwupd.org/downloads/311a1ab421ffc0ea95f0e4e43f2626876e78a2cfdc27382f0df9162fd8123e04-Lenovo-ThinkPad-T460s-ConsumerMEFirmware-11.8.92.4222.cab)
2. Reinstalling MEFW as instructed below
$ sudo fwupdmgr --allow-older --allow-reinstall install [cab file]

[2022-08-05 04:52] ChiWei-Chen commented on #245
Hi @ExecuteRestart66 , I work with @mrhpearson.
If you can enter BIOS page (press F1 when power on), could you let us know the following firmware versions of the machine? Thank you very much.
- System Firmware (BIOS)
- EC Firmware
- Intel ME Firmware

If you cannot provide information above, could you provide a screenshot of the error message? Thanks so much.
i.e. please check it without the dock

[2022-08-05 05:04] ChiWei-Chen commented on #226
@grobz , @kleops9 , thanks for reporting this issue. Could you open a separate ticket for T14 Gen2 and P15 Gen2 provide more detailed information? We need to address this with separate FW team. Thanks!

- fwupdmgr update --show-all (if possible)
- system firmware version and Intel Management Engine firmware version in BIOS main page
- OS and fwupdmgr version

[2022-08-05 11:04] akostadinov commented on #5
Write to Lenovo support.

[2022-08-05 12:36] solsticedhiver opened #253 "All keys have been deleted"
I just discovered that my lenovo laptop X270 is not in Secure Boot  but in Setup Mode and that all the keys (PK, KEK, db, dbx) have been deleted.

I just performed an update of the BIOS to 0.1.46 using `fwupgmgr update`

I don't know if that situation was there before or if it happened because of the upgrade.

ALL EFI entries to boot have been deleted too.

I saw a Reset system during the upgrade.

[2022-08-05 12:50] jmontleon commented on #217
I saw the update this morning:
[code]

And it updated normally, without issue:
[code]

[2022-08-05 13:03] superm1 commented on #253
fwupd doesn't directly delete any keys like this.  However the capsule update process may have done it.  Transferring over to Lenovo to investigate.

[2022-08-05 13:21] solsticedhiver commented on #253
I was able to get back those OEM keys by using an option in the BIOS. So no harm done. I use shim for Secure Boot.

[2022-08-05 13:29] roliverio commented on #5
@mrhpearson I had the opportunity to update the FW with a windows machine, give your heads-up to the people on the Lenovo site that report the release date incorrectly (you'll see that the README has a release date different from the FW file itself), thanks for your help.

[2022-08-05 14:25] rugubara commented on #252
Resetting the BIOS to default settings didn't change anything. Still no way to update UEFI.

[2022-08-05 14:31] rugubara commented on #224
I checked the version in my BIOS - 12.0.25.1869 - so the update has happened, but the version is incorrectly reported to linux.

[2022-08-05 16:32] mrhpearson commented on #5
Hi @roliverio

For reporting the issue - you can call support (not sure I would write to them myself...) but reporting it to me, for Linux related issues, is probably the best as realistically most Linux issues come to my team (and this one would as it's not easily answered)

For the release date - can you point me at the specific file please?

Thanks!
Mark

[2022-08-05 17:10] roliverio commented on #5
@mrhpearson i know, that's why i reached out to you when i saw your reply to my first inquiry, Lenovo Support always escalates internally in my country so the issue never gets to your team (believe me, i've done it more than once), and that's why i was active on the Lenovo Forums talking about this until a while ago.

In any case, if you want to see the inconsistencies between release dates you ca

[2022-08-05 19:16] mrhpearson commented on #5
Ack.

For the dates - I suspect they updated the release notes so you're just getting the date of the last file update. I don't think I'd worry too much about the date there myself. Getting the FW up on LVFS is a higher priority :)

Mark

[2022-08-06 05:57] arderyp commented on #208
@ChiWei-Chen

[code]

[code]

[2022-08-07 07:29] iAmG-r00t commented on #240
Yep still an issue.

[2022-08-07 07:54] iAmG-r00t commented on #240
@ChiWei-Chen so I am having a similar issue, where from my Bios Menu it shows I have the following;

[code]

So I was trying a different approach where I wanted to downgrade the BIOS, then the ME. I was able to downgrade the BIOS but when downgrading the ME to version `184.90.3987` during reboot it gives me the below error;

[code]

Downgrade command; `sudo fwupdmgr install --allow-older` (for bot

[2022-08-08 01:37] kmauleon commented on #208
hi @arderyp can you please try this again.... and see what happens?  thank you very much
sudo fwupdmgr refresh --force
sudo fwupdmgr update

[2022-08-08 01:38] arderyp commented on #208
@kmauleon

[code]

[2022-08-08 01:41] kmauleon commented on #208
I guess fwupd already picked up the correct version... can we confirm by executing below command...
sudo fwupdmgr get-devices

[2022-08-08 01:51] arderyp commented on #208
@kmauleon, see below.  For what it is worth, when running firmware updates, I am still either being told there are no updatable devices, or being prompted to install the version I already have installed.  There is no discernible pattern as to when I receive "no updatable devices" or a prompt to install the version I already have installed.

[code]

[2022-08-08 02:00] kmauleon commented on #208
weird... not sure if this will make a difference... can we try this one instead please...
download cab file from lenovo site [https://pcsupport.lenovo.com/ph/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t460s/downloads/ds545530-intel-management-engine-118-firmware-consumer-update-utility-for-linux-thinkpad-t460s-non-vpro?category=Motherboard%20Devices%20%28core%20chipset,%20

[2022-08-08 02:03] arderyp commented on #208
I downloaded, then unzipped `n1crl07w.zip`, then tried:
[code]

[2022-08-08 02:03] arderyp commented on #208
@kmauleon :point_up:

[2022-08-08 02:09] kmauleon commented on #208
hmmm... really not seeing the device is updatable... I guess the only option is to wait until next MEFW release and see if fwupd will update correctly.... for now at least you are not prompted with the updates anymore, right?
thank you very much for bearing with us @arderyp

[2022-08-08 02:11] arderyp commented on #208
Thanks for the help @kmauleon.  I _do_ still intermittently get prompted to update (to the version I am already running).

If there is nothing to do but wait for the next release and see if updating to that fixes the issues, then I can do that.  I don't suppose we have any idea when that will be, do we?

[2022-08-08 02:16] kmauleon commented on #208
we are targeting end of this year or early next year... I'll inform you once we have it ^_^

[2022-08-08 02:18] arderyp commented on #208
okay yeah, that would be great if you could check back in here once its released.  Otherwise, I might forget, especially if it does work. I'll set a reminder for myself as well.

[2022-08-08 02:20] kmauleon commented on #208
ok will do @arderyp thank you very much!

[2022-08-08 02:21] arderyp commented on #208
thank you :)

[2022-08-08 05:12] arderyp commented on #208
@kmauleon for what it's worth, I've figured out there is indeed a pattern for when I receive "no updatable devices" vs when I am prompted to update firmware (to the version I am already on).

If the machine is plugged into the power cable, I am prompted to update the firmware version (to the version I am currently running).

If the machine is unplugges and running on battery, I get "no updateable

[2022-08-08 05:20] kmauleon commented on #208
oh... will there be a change if you execute the commands if with AC on?
fwupdmgr refresh --force
fwupdmgr --allow-older --allow-reinstall install <cab file>

[2022-08-08 05:25] arderyp commented on #208
@kmauleon

[code]

Passing the cab file as an argument still gives the same error:

[code]

[2022-08-08 05:33] kmauleon commented on #208
let's just wait for the new mefw then ^_^  thank you very much @arderyp

[2022-08-08 07:18] frazar opened #254 "Intel Management Engine update fails on T490"
Upgrading the Intel Management Engine fails on my T490.
Related to #140, where users were asked to open a separate issue for different laptop models.

- fwupdmgr update --show-all

[code]

- system firmware version and Intel Management Engine firmware version in BIOS main page

![T490_bios](https://user-images.githubusercontent.com/914950/183362547-465de50a-c7eb-4f89-9f9a-8e800e48f3bf.jpg)

[code]

[2022-08-08 11:47] rochfort1 opened #255 "Intel Management Engine fails on ThinkPad T580/P52s"
This follows on from @DianaAlcantara's comments for [https://github.com/fwupd/firmware-lenovo/issues/140].

### (I)   PROCEDURE I USED TO DUPLICATE THE PROBLEM

1. Run:
john@T580:~$ fwupdmgr update

The following shows:
Devices with no available firmware updates:
 • UEFI Device Firmware
 • UEFI Device Firmware
 • UEFI dbx
╔════════════════════════════════════╗
║ Upgrade Intel Management Engine fro

[2022-08-08 12:54] dkwo commented on #89
Updated firmware to 0.1.56, still do not get offered any ME updates when plugged to AC.
Perhaps it's better to report issues with other models separately, as not to pullute this thread, which is about the T460s.

[2022-08-08 12:58] dkwo commented on #209
This is not specific to grub, as the same happens with just an efistub created using efibootmgr:
when updating firmware, it resets/removes the corresponding boot efi variables, and the only option left in the list is nvme... (the hard drive).

[2022-08-09 06:10] myllynen opened #256 "Lenovo X1 Carbon G9 firmware update failure"
Lenovo firmware update keeps failing on my new Lenovo X1 Carbon G9.

[code]
I see how update starts after reboot but soon after it, progress bar perhaps at 15%, I see momentarily an error message saying something about "Capsule Failed" (or Fail or Failure) and then the system reboots immediately. All the other firmware updates were applied properly earlier.

[code]

[code]

**System UEFI configura

[2022-08-09 10:02] ChiWei-Chen commented on #240
@iAmG-r00t , thanks for sharing the information, since T460s case is a little bit different from your T480 machine, please wait for a few weeks for the next BIOS relase :)

[2022-08-10 08:37] ChiWei-Chen commented on #251
@agurenko , thanks, this seems to be related to other ME version issue #224 need to be fixed in the BIOS update, I'll keep you update if there is any progress from FW team. (LO-1938 for my tracking)

[2022-08-10 08:59] agurenko commented on #251
Perfect, thank you

[2022-08-10 12:57] ChiWei-Chen commented on #89
@kparal , @jpseara thanks for sharing the information, T480s FW replied the BIOS in under internal process, expected to be available a few weeks later.

@dkwo, the status of T460s is tracked by #208 , please wait for the new MEFW release. Thanks!

[2022-08-10 13:03] ChiWei-Chen commented on #209
@dkwo , I shared your feedback to the FW, since they're in the holiday season these 2 weeks, we may not get an update soon.
I'll keep you posted if there is any progress. Thanks.

[2022-08-10 13:40] ChiWei-Chen commented on #224
@rugubara , thanks for the information, please wait for the next BIOS release. :)

[2022-08-10 15:13] #234 closed, assigned to nobody

[2022-08-11 00:34] boxallw commented on #191
New firmware for the dock came out. No change. Still a full lockup after logging in.

[2022-08-11 09:59] hvhaugwitz commented on #254
I'm experiencing a similar issue on my `T490` (BIOS Version: `N2IET98W (1.76 )`, Machine Type Model: `20N2CTO1WW`) on Debian unstable (fwupd version: `1.8.3`):

`fwupdmgr update` still offers me an upgrade for `Intel Management Engine` from 192.72.1757 to 192.90.2072 (Version `12.0.90.2072` (LVFS: 192.90.2072)) though the `ME Firmware Version` shown in BIOS main page is already `12.0.90.2072`.

[2022-08-12 16:01] mark-beeby commented on #191
Finally managed to upgrade the firmware via a Windows 10 machine using the Lenovo Docker Manager, sadly it still hasn't fixed the locking up of my Thinkpad X1 Extreme Gen4 running Pop-OS. Is there any chance of getting some help with this issue @hughsie @mrhpearson?

[2022-08-13 08:23] boxallw commented on #191
As above. Same result.

[2022-08-13 15:18] dimisjim commented on #221
Stumbled upon this issue with a T16 too, while trying to upgrade to a newer UEFI firmware which was available via the lenovo support website, but was not picked up via the `fwupdmng` utility in ubuntu 22.04 (running v1.7.5). Doing the quirk thingy @mrhpearson suggested worked! Thanks!

(I also had to reboot, just refreshing didn't help)

[2022-08-15 08:52] rogueai opened #257 "Could not apply capsules: volume full"
**Describe the bug**
I'm running `fwmgr update` on my ThinkPad P53 from Arch Linux, dual booting, when rebooting the update process starts correctly, but I'm getting:
[code]

**Steps to Reproduce**
- `fwupdmgr update`
- reboot

**Expected behavior**
Firmware updates correctly.

**fwupd version information**

[code]

Please note how you installed it (`apt`, `dnf`, `pacman`, source, etc):
Installed

[2022-08-15 14:46] superm1 commented on #257
Is your ESP full?

[2022-08-15 14:56] rogueai commented on #257
There is plenty of space as far as I can tell:
[code]

I'm not sure if it's relevant, but there are actually a few files in the efi partition that look related to fwupd:
[code]

[2022-08-15 15:02] superm1 commented on #257
Yeah fwupd stages the capsules there, which is why I was suggesting if it's full that could be the problem.
Maybe this is a problem with the NVRAM being full then.

We don't have that error string in the fwupd codebase, so it must be coming from the firmware.

I think there isn't much more we can do from fwupd side, let's see if Lenovo has any thoughts on it.

[2022-08-15 18:07] olegk25 commented on #257
I have the same issue while trying to apply official Lenovo upgrade (4.8 MB size) and my /efi is only 19% full.
ThinkPad T560, ArchLinux 5.19.1-arch2-1 x64

/dev/sda1       256M   49M  208M  19% /efi

[2022-08-16 10:40] hughsie commented on #257
@mrhpearson any ideas?

[2022-08-17 12:19] gustafla commented on #254
I'm also having this issue on my T490, the ME update just won't "stick".

[2022-08-17 12:21] taoky opened #258 "fwupdmgr shows incorrect ME Firmware upgrade for ThinkPad T14 Gen3"
When running `fwupdmgr get-updates`, it tells me that the Intel Management Engine on my laptop needs to be upgraded:

[code]

However, my laptop is ThinkPad T14 Gen3 -- neither ThinkPad X1 Yoga Gen 7 nor ThinkPad X1 Carbon Gen 10. [This page from Lenovo](https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t14-gen-3-type-21ah-21aj/downloads/ds556721-i

[2022-08-17 13:45] mohms opened #259 "Latest firmware for X13/T14s Gen 2 AMD shown as "testing""
The two latest firmware releases for  [Lenovo (ThinkPad) ThinkPad X13/T14s Gen 2 AMD](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1NET.firmware) - 0.1.20 and 0.1.21 - are shown as "state: testing". However, 1.21 is released for download on the [Lenovo support site](https://pcsupport.lenovo.com/de/de/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x13-gen-2-type-20xh-20xj/20

[2022-08-17 15:28] tylermontneyacc commented on #206
I've been noticing similar issues on Windows across multiple laptops (typically T15) on...

- USB-C Dock Gen 2
- Thunderbolt 3 Workstation Dock Gen 2
- Universal Thunderbolt 4 Dock
- Ultra Docking Station

Been bugging me for a couple months now across various firmware versions.

[2022-08-17 19:11] mrhpearson commented on #259
Hmm - it's been in testing for a month so it looks like someone forgot to move it...grumble
I'll send a nudge to the FW team (tracked internally with ticket  LO-1963)

[2022-08-17 19:21] mrhpearson commented on #257
No idea I'm afraid - I've flagged this to the FW team (ticket #  LO-1964)

[2022-08-17 19:25] mrhpearson commented on #256
Hi - are you able to catch (maybe video) the error message when it happens? If you can do that I'll flag to the FW team. I know I've done this update succesfully on my X1C9 (from Fedora) so it should work...

[2022-08-17 20:30] tommy-mor opened #260 "x1, 7g. cant install new embedded controller fw"
1. I had the oldest firmware on [this](https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-carbon-7th-gen-type-20qd-20qe/downloads/ds540232-bios-update-utility-bootable-cd-for-linux-windows-10-64-bit-thinkpad-x1-carbon-7th-gen-x1-yoga-4th-gen?category=BIOS%2FUEFI) list and I wanted to update.

 2. I downloaded the cab files and used fwupdmgr to in

[2022-08-17 21:29] mrhpearson commented on #252
I just tested this out on my P52 and it updated the BIOS with no issues.

I was running Fedora 36 - would you mind trying the update from a F36 live session just to see if it makes any difference? (and being nosy - which distro are you running?)

Also - which FW version are you currently on? You can check from the BIOS setup screen.

[2022-08-17 22:12] willismonroe opened #261 "IME update and disk encryption"
I have an update waiting for the IME but it says "Note: Please suspend or disable any disk encryption tool prior to update." My entire SSD is encrypted (w/ luks) and as far as I can tell, there's really no way to remove or suspend the encryption. Am I just stuck on this version of the IME, or is there some way to install the update without suspending/removing the disk encryption.

[code]

[2022-08-18 02:15] kmauleon commented on #261
hi @willismonroe you may proceed with the update... there's a similar scenario as yours and they seem to update their ME successfully... this is just a general reminder ... thank you

[2022-08-18 06:08] myllynen commented on #256
Thanks for looking into this. I recorded a video and saw the complete message.

The update procedure starts as usual, first "Reset System" is shown on the left-corner of the screen and then few moments later below the progress bar "Please wait while we install a system update" text appears.

However, the progress bar is perhaps only at 10% when "FMP Capsule Update Fail" text is shown right under l

[2022-08-18 07:47] rugubara commented on #252
I'm running Gentoo.
The version of BIOS reported in the Thinkpad Setup - N2CET63W (1.46)
The version of EC N2CHT26W (1.16)
The version of ME 12.0.85.1869

I'll try with F36 live and report.

[2022-08-18 10:41] ChiWei-Chen commented on #259
Mark, thanks.

@mohms , the FW team moved the BIOS 1.20 and 1.21 to stable. Please let me know if this doesn't work for you. Thanks!
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1NET.firmware

[2022-08-18 11:08] aagor commented on #5
Is there a workaround to get the latest firmware onto the dock in the meantime until the LVFS problem gots resolved?
I have tried to update using Windows PE and also the command prompt from the Windows ISO, but it didn't work.

[2022-08-18 11:58] #259 closed, assigned to nobody

[2022-08-18 17:39] willismonroe commented on #261
Just reporting that the upgrade worked despite an active LUKS encrypted
disk.

On Wed, Aug 17, 2022 at 7:15 PM kmauleon ***@***.***> wrote:

[2022-08-19 02:09] kmauleon commented on #261
hi @willismonroe thank you for the update... will close this ticket but please reopen if any concern... thank you very much.

[2022-08-19 02:09] #261 closed, assigned to nobody

[2022-08-19 07:30] ChiWei-Chen commented on #257
@rogueai , I'm working with @mrhpearson and got these questions from FW team, could you help t comment them? Thanks!

![LO-1964-1](https://user-images.githubusercontent.com/59999446/185567022-b550ff11-41fd-403f-8d35-1c997696fa97.png)
![LO-1964-2](https://user-images.githubusercontent.com/59999446/185567046-d1163329-b4b5-4f6b-899f-999de358376a.png)

[2022-08-19 09:59] kmauleon commented on #258
hi @taoky thank you for reporting we are looking into this... will feedback once we have update.  Thank you very much...

[2022-08-19 15:06] eaepstein commented on #254
Same failure to update to 192.90.2072 on P53 running RHEL 8.6
The update process shows no error and stops with "hit any key to continue"
fwupdmgr get-history  shows  for "Intel Management Engine":
   "Update Error:       failed to run update on reboot"
And the BIOS reports "ME Firmware Version"  12.0.90.2072

No problem installing other firmware

[2022-08-21 00:35] vancanhuit commented on #240
![Screenshot from 2022-08-21 07-33-42](https://user-images.githubusercontent.com/18382438/185770567-72f07f68-476a-4f3e-834c-250a50572187.png)

With the new BIOS update, I can confirm that the issue has gone on my T480 machine.

[2022-08-21 01:07] iAmG-r00t commented on #240
What did you install first, firmware then IME?

[2022-08-21 01:11] vancanhuit commented on #240
I just did install firmware first then the ME version will be automatically updated correctly.

[2022-08-21 02:25] rotanid commented on #240
can confirm.

[2022-08-21 15:02] iAmG-r00t commented on #240
Yep, worked on my end too.

[2022-08-21 15:03] iAmG-r00t commented on #240
You can now close the issue since it has been fixed. @vancanhuit

[2022-08-21 15:39] #240 closed, assigned to nobody

[2022-08-21 17:27] ullgren commented on #240
@vancanhuit Sorry for commenting on a closed issue but I see the same issue on a Lenovo ThinkPad P1. Will there be a fix for that model as well or should I open a new issue for this ?

[2022-08-21 21:42] LinuxOnTheDesktop commented on #240
And what please about the X1CG6? For, that is another model that has suffered (for a long time now) with being unable to update its Intel firmware.

[2022-08-21 23:55] rotanid commented on #240
@ullgren @LinuxOnTheDesktop this issue was about T480, so if you have issues with other models, feel free to open an issue for your device. please check first, if there is already one, as there are some similar issues already for some other models like e.g. T480s and T470s

[2022-08-22 02:39] ghost commented on #257
This also happens on my system—ThinkPad T14 Gen 2 (AMD) running Fedora 36.
**Kernel**: `Linux 5.18.17-200.fc36.x86_64`
**Output of `df -h /dev/nvme0n1p1`**:
[code]

The error message occurs after the machine reboots and says `fwupd-efi`’s version, which is 1.3 I believe.
Trying to update by targeting specifically the System Firmware has the same issue.

[2022-08-22 06:58] sisyphus74 opened #262 "Bios Bug Lenovo ThinkPad T14/P14s Gen 2 AMD System Firmware R1MET49W, Version 1.19"
i get following errors on boot:
[    0.449031] ACPI BIOS Error (Bug): Could not resolve symbol [\_SB.PCI0.LPC0.EC0.AC._PSR.AFN4], AE_NOT_FOUND (20220331/psargs-330)
[    0.449046] ACPI Error: Abotrting method \_SB.PCI0.LPC0.EC0.AC._PSR due to previous error (AE_NOT_FOUND) (20220331/psparse-529)

i hope this is the right channel for a bios bug. If not, where can i report the bios bug?
See: https://

[2022-08-22 09:19] hughsie commented on #262
@mrhpearson is this the kind of thing you want here or is there a more suitable place for issues like this?

[2022-08-22 13:38] LinuxOnTheDesktop commented on #142
May this issue be re-opened, please - in accord with [this request](https://github.com/fwupd/firmware-lenovo/issues/240#issuecomment-1221647991)?

[2022-08-22 15:09] tv-nieri commented on #226
Team, where can i get the files for Lenovo T14 GEN2 Corp?

I can see that Mark shared a procedure that seems to resolve the issue and it was complemented by other amazing people here, but i still did not find this files...

[2022-08-22 15:22] ssilenzi commented on #216
The last BIOS update, installed today, solved the problem:

├─Intel Management Engine:
│     Device ID:          349bb341230b1a86e5effe7dfe4337e1590227bd
│     Summary:            UEFI ESRT device
│     Current version:    240.41.2142
│     Minimum Version:    0.0.1
│     Vendor:             Lenovo (DMI:LENOVO)
│     Update State:       Success
│     GUIDs:              8d023cbb-b57d-4c49-bdf4-7c5

[2022-08-22 15:24] #216 closed, assigned to nobody

[2022-08-22 15:34] mrhpearson commented on #262
This isn't LVFS related - I don't think it should go here.

I've tracked BIOS issues in the kernel.org forum before, but it's not ideal either. Best place is probably the Lenovo Linux forums
https://forums.lenovo.com/t5/Linux-Operating-Systems/ct-p/lx_en
I (or someone on the team) should see it and will pick it up from there.

I have in the meantime raised LO-1974 as an internal ticket to the FW t

[2022-08-22 15:34] #262 closed, assigned to nobody

[2022-08-22 16:43] hughsie commented on #262
Ack, thanks @mrhpearson -- much appreciated.

[2022-08-23 02:03] ChiWei-Chen commented on #226
@tv-nieri , thanks. Could you open a separate ticket for T14 Gen2 and provide more detailed information? We need to address this with different FW team. Thanks!

- fwupdmgr update --show-all (if possible)
- system firmware version and Intel Management Engine firmware version in BIOS main page
- OS and fwupdmgr version

[2022-08-23 05:00] ChiWei-Chen commented on #235
@majamee , it seems Canonical will not update 18.04, it is suggested to upgrade Ubuntu 20.04 (or later) if you see the same problem in the future. Thank you for your understanding.

[2022-08-23 05:22] ChiWei-Chen commented on #118
Hi @kendoori , New BIOS for T480 is released, could you give it a try and let me know how it works? Thanks!
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN24ETXXP.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN24ETXXW.firmware

[2022-08-23 05:22] lijunwang1990 commented on #118
 
您好，邮件已收到

[2022-08-23 05:29] ChiWei-Chen commented on #208
@palonsoro , there are newer P50 BIOS and MEFW released a few weeks ago, could you give it a try?
If it still does not work for you, could you open a separate ticket for P50 and provide more detailed information? Thanks!

- fwupdmgr update --show-all (if possible)
- system firmware version and Intel Management Engine firmware version in BIOS main page
- OS and fwupdmgr version

[2022-08-23 05:51] sisyphus74 commented on #262
Please let me know when you have new informations about it. Also much appreciated.

[2022-08-23 06:17] palonsoro commented on #208
@ChiWei-Chen I won't be able to test that until the end of this week or the beginning of next week, but I'll test it as soon as I can. If I find any issue, I can open separate ticket.

[2022-08-23 06:27] ChiWei-Chen commented on #189
Hi,
The FW was released to stable, please let me know if this doesn't work for you. Thanks!
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1WET.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1QET.firmware

[2022-08-23 10:11] dkadioglu commented on #138
@ChiWei-Chen I just saw that the updated BIOS has been released: https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1WET.firmware
Just a question: Is the trial BIOS 1.47 I installed some weeks ago the same as the released stable version? Should I reinstall?
Thanks!

[2022-08-23 13:22] aaroncarlucci commented on #208
I don't know if this has anything to do with this particular issue, but I was struggling with this on Ubuntu 22.04 on a ThinkPad P15 Gen 2 for months and `apt-get install fwupd-signed` finally fixed the issue for me. I think you can install `fwupd-unsigned` as well depending on your case.

Admittedly, this is all a bit over my head, but I hope this helps someone.

[2022-08-24 09:54] jsabater commented on #208
Same issue on a Lenovo Thinkpad X1 Carbon Core i7 8th Gen.

[code]

After installing the packages `fwupd-signed` and `fwupd-unsigned` packages and rebooting the laptop (because of other updates, but not sure if it helped or not), the error changed, as described also in this issue by other people:

[code]

These are my installed packages:

[code]

Thanks.

[2022-08-24 14:07] jvanschie commented on #199
Lenovo support says that I need to install Windows :(

[2022-08-24 14:08] jvanschie commented on #199
@jekkel did you found a solution already?

[2022-08-25 09:51] ida-greuelr commented on #179
Finally,

an update for the BIOS to version 0.1.45 fixed the wrong version reporting for Intel ME and my `fwupdmgr get-updates` is not showing any outstanding (but already applied) upgrades.

Thanks for the ongoing work on this device.

[2022-08-25 13:26] mrhpearson commented on #239
L13 G1 ME FW is now on LVFS but under embargo. Will monitor for when it moves to stable.

[2022-08-25 15:27] devopshndz commented on #250
Hi, P1 Gen4 has same problems. :(

[2022-08-25 15:28] devopshndz commented on #250
Hi, P15s has same problems :(

[2022-08-25 16:28] ChiWei-Chen commented on #138
@dkadioglu , this is the official version, I would suggest to reinstall this one. Thanks!

[2022-08-26 02:42] ChiWei-Chen commented on #250
Hi @kleops9 , could you let us know how this work on the P15 Gen2 machine? Thanks!

@devopshndz , thanks for the comment, could you provide more details, the output of `sudo fwupdmgr update`  and `$ sudo dmidecode -s bios-version` on the P15s machine? Maybe we can have a separate ticket? Thanks!

[2022-08-26 06:00] ChiWei-Chen commented on #140
Hi, Here are the BIOS releases for T480/T480s/X1C6, please feel free to give it a try and let us know how it works. Thanks!

T480s
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN22ETXXW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN22ETXXP.firmware

X1C6
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23ETXXW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23ETXXP.

[2022-08-26 06:04] ChiWei-Chen commented on #214
Hi, Here are the BIOS releases for X1C6, please feel free to give it a try and let us know how it works. Thanks!

X1C6
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23ETXXW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23ETXXP.firmware

I also commented this link to #140

[2022-08-26 07:16] linrunner commented on #202
@ChiWei-Chen I consider this as finally solved for my X1 Carbon 6th. Just installed the [BIOS 1.57 cab](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23ETXXP.firmware) via `fwupdmgr install`.

[code]
Thanks for your support.

[2022-08-26 07:26] ChiWei-Chen commented on #202
@linrunner thanks, it's good to know this.

Just a note here for those who want to try BIOS for X1C6.

X1C6
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23ETXXW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN23ETXXP.firmware

[2022-08-26 07:59] prajnoha commented on #140
@ChiWei-Chen Do you also plan a fix for T490s, I'm seeing exactly the same issue there too.

[2022-08-26 08:02] pparidans commented on #140
I got also the update for my T470s: problem solved. Thanks a lot guys! :+1:

[2022-08-26 08:08] MatejKovacic commented on #208
I have the similar issue.
[code]
Say yes, reboot, "System Reset" appears in top left corner, spinning line is saying "Please wait while we install firmware update" and when I log in back and re-run the above commands, it tells me the same update needs to be installed.

I have Ubuntu 20.04.5 LTS with LUKS enryption.

[2022-08-26 08:27] dkadioglu commented on #138
@ChiWei-Chen thanks for your reply, successfully reinstalled.

I think, I can close this now, as the ESRT issue seems to be fixed. If the issue comes up again with the next ME update, I will reopen.

Thank you very much for keeping up and looking into this!

[2022-08-26 08:27] #138 closed, assigned to nobody

[2022-08-26 08:49] ChiWei-Chen commented on #140
@prajnoha , thanks, I'm following up with the T490s/X390 FW team. I'll give you back once there is any progress update.

[2022-08-26 08:58] ChiWei-Chen commented on #208
@MatejKovacic , it looks you're using T480s. (please correct me if I misunderstood)
Here are the BIOS releases for T480s a few hours ago, could you give it a try and let us know how it works? Thanks!

T480s
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN22ETXXW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN22ETXXP.firmware

I also commented to #140

[2022-08-26 09:19] mreiger commented on #65
I got BIOS version 0.1.54 today, and it fixed the issue on my X1C7.

[2022-08-26 09:31] MatejKovacic commented on #208
That is correct, I am using T480s. When these new updates came to the official channel? Because I guess it is the easiest way for me to install them directly with `fwupdmgr` tool.

[2022-08-26 09:42] ChiWei-Chen commented on #65
@mreiger , thanks, it's good to know it helps.

Just a note, here is the BIOS fix for X1C7 released yesterday.
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2HETXXW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2HETXXP.firmware

[2022-08-26 09:50] ChiWei-Chen commented on #208
@MatejKovacic , it is stable now, I think you can find them via `fwupdmgr refresh` then `sudo fwupdmgr update` .

[2022-08-26 10:31] bendik commented on #202
My X1C6 also took the latest update and without any issues 👍

[2022-08-26 10:51] hughsie commented on #202
@ChiWei-Chen I really appreciate all these fixes, and how you've been communicating on these tickets. It's been noticed, and passed back to people like @mrhpearson -- many thanks indeed.

[2022-08-26 10:55] agurenko commented on #140
@ChiWei-Chen is P1 gen2 firmware with a fix also in a work?

[2022-08-26 12:45] MatejKovacic commented on #208
Just did it and it is working now. Thanks!

[2022-08-26 12:52] AdnanHodzic commented on #65
Can confirm that this update fixed my problem on X1C7, thanks!

[2022-08-26 13:39] ceronman commented on #65
One more confirmation that this was fixed by 0.1.54 on my X1C7

[2022-08-26 14:10] tgelter commented on #248
Hello again @ChiWei-Chen, I see that [updated BIOS releases](https://github.com/fwupd/firmware-lenovo/issues/140#issuecomment-1228087043) are out for other models. Would you mind updating us regarding progress with `LO-1920`?

Thank you!

[2022-08-26 14:31] ackerleytng commented on #140
How do I install these bios firmwares? Thanks in advance!

[2022-08-27 20:59] mmege commented on #250
Hi @ChiWei-Chen , same problem here with my P15.
`sudo fwupmgr update` prints
[code]
And `dmidecode -s bios-version` prints:
```N34ET52W (1.52 )```

Hope this will be helpfull !

[2022-08-28 01:07] smrqdt commented on #140
The BIOS update fixed it for my T480 (20L5000BGE/N24ET70W), thanks! :+1:

@ackerleytng same as any other firmware updates: with `fwupdmgr refresh` and `fwupdmgr update` (you can check the update is available through `fwupdmgr get-updates`) or using any of the GUIs. I selected the specific update with `fwupdmgr update a45df35ac0e948ee180fe216a5f703f32dda163f` (UUID depending on device, copy from `f

[2022-08-28 01:35] LinuxOnTheDesktop commented on #214
I managed to install this BIOS on my X1CG6. However, the TPM upgrade that I have long been offered, and that would not install, _still_ does not install.

[2022-08-28 15:20] VorpalBlade opened #263 "Lenovo Thinkpad T480: Insecure configuration according to `fwupdmgr security`"
As suggested by @hughsie  in https://github.com/fwupd/fwupd/issues/4959#issuecomment-1229460665 I posted this as a separate bug report here.

On my Lenovo Thinkpad T480 `fwupdmgr security` reports some issues that I really would expect not to be the case, especially since some of those should then have been fixed via UEFI updates.

[code]

I have intentionally disabled "Secure Boot" as I run Arch

[2022-08-28 19:25] AlexandraAlter commented on #254
Same issue, Intel Management Engine from 192.72.1757 to 192.90.2072. Update does not claim to have failed, only two reboots occur, but fwupdmgr reports a failed update.
Lenovo T590, running Pop!OS 22.04 (an Ubuntu variant).
BIOS reports the current version as 192.90.2072.

[2022-08-28 20:10] hughsie commented on #263
@mrhpearson is it plausible these machines have `CSME manufacturing mode` left enabled? We're reading HFSTS1 if that helps the internal ticket.

[2022-08-28 21:08] LordChaos73 opened #264 "Thunderbolt controller firmware update - X1 Carbon gen6"
Hi,

I'm one of the many owners with this laptop and I've lost HDMI output. I'm not sure when it exactly happened, but I think it was when I updated the Intel ME firmware a month or three ago. Basically, nothing happens when an external monitor is connected.
I've read a lot about this particular issue on (Lenovo) forums and it seems the following firmware update can fix this issue:

https://pcsupp

[2022-08-29 06:32] ChiWei-Chen commented on #214
@LinuxOnTheDesktop , thanks, this seems a different issue, could you provide the error log and `fwupdmgr get-devices`? We need FW team to check this.

[2022-08-29 06:36] ChiWei-Chen commented on #140
@agurenko I'm afraid there is still no clear date, I'll follow with P1 Gen2 FW team and keep you posted in #251 .

[2022-08-29 07:08] jekkel commented on #199
@jvanschie no, and as the machine is my daily driver for work I probably won't go the windows install or Lenovo Support way anytime soon.

FYI Just installed Lenovo System Firmware upate to v0.1.45 whose release notes contain the following:

But the situation remains the same.

[2022-08-29 10:54] hughsie commented on #264
@LordChaos73 what firmware version are  missing? Thanks.

[2022-08-29 13:36] palonsoro commented on #208
I have been finally able to test and I can confirm that the issue is now solved for me on my P50
Thank you very much!!!

[2022-08-29 19:28] hughsie commented on #208
I think we all need to buy the BIOS team at Lenovo a drink or something.

[2022-08-29 20:43] mrhpearson commented on #201
I think we're good to close this one.

[2022-08-29 20:43] #201 closed, assigned to mrhpearson

[2022-08-29 20:44] mrhpearson commented on #202
Agreed - very awesome. Really happy to be able to close these ME related issues.
Thanks @ChiWei-Chen (as always)

[2022-08-29 20:44] #202 closed, assigned to nobody

[2022-08-29 21:58] LordChaos73 commented on #264
@hughsie My question is: is the thunderbolt controller firmware update (as linked above) available on the LVFS platform?

[2022-08-29 22:07] boxallw commented on #191
Tried again today after a dnf update and all is working perfectly.   Except when I fire up a VM and the whole machine shuts down like a massive power failure.

Lenovo is just rubbish these days.

[2022-08-29 23:21] LinuxOnTheDesktop commented on #214
@ ChiWei-Chen: thank you. Here is the `fwupdmgr get-devices`. As to 'the error log', I am afraid that I do not know what you mean: please explain.

[code]

[2022-08-29 23:45] mrhpearson commented on #264
Hmmm - looks like we last updated the TBT controller on the X1 Carbon 6 two years ago.. with version 43.
I'll check with the FW team when (hopefully not if) the next update is - it looks like they're now up to version 47.

All that being said - I don't see why a TBT controller update would have any impact on HDMI display - unless you're connected via a TBT dock maybe? Any reason you think this par

[2022-08-30 11:29] LordChaos73 commented on #264
@mrhpearson please see the following posts:

https://forums.lenovo.com/t5/ThinkPad-X-Series-Laptops/X1-Carbon-6th-gen-HDMI-Thunderbolt-stopped-working/m-p/5120432

https://forums.lenovo.com/t5/thinkpad-x-series-laptops/x1-carbon-6th-gen-hdmi-not-working/td-p/4091511

https://forums.lenovo.com/t5/ThinkPad-X-Series-Laptops/X1-Carbon-6th-Gen-HDMI-Not-Working-and-Thunderbolt-Missing/m-p/4326149

[2022-08-30 14:07] PhilippWendler opened #265 "Potentially wrong firmware on LVFS for ThinkCentre M70s"
I suspect there is some wrong firmware on LVFS for the ThinkCentre M70s (and likely also the M70t, M80s, M80t, M90s, M90t).

Summary of facts and current situation:
- I have an M70s (model 11DBSAPP00) with firmware version 0.1.71 / M2TKT47A from 2021-09-27 (was shipped with this version).
- If I search for M70s on LVFS, I only get this [old version](https://fwupd.org/lvfs/devices/com.lenovo.M90t_M

[2022-08-30 14:10] hughsie commented on #265
@mrhpearson can you ping the right person please? Thanks.

[2022-08-30 14:44] PhilippWendler commented on #178
Interestingly, the situation has changed compared to what was described above.
I am now running fwupd 1.8.4 from the snap package and Ubuntu's 5.4.0-125-generic kernel (same Ubuntu 20.04 as above). I did not install any firmware upgrade.

Now `fwupdtool security` claims that "TPM PCR0 reconstruction" is **valid**, so it would seem this issue is fixed.
The log message that was requested above now r

[2022-08-30 15:21] joshcangit commented on #140
Just did it on my **X1C6**.
Installing the _System Firmware_ also installs the _Intel ME_.
Gnome Firmware shows both installed as the latest version.
Also, `fwupdmgr` shows this as below.
[code]

[2022-08-30 15:44] ChiWei-Chen commented on #251
@agurenko , FW already merged the fix in the next BIOS release, I'll keep you update once there is clear ETA.

[2022-08-30 15:53] ChiWei-Chen commented on #248
@tgelter , FW team already merge the fix in next BIOS release which is in queued.
I'll keep you updated if there is an ETA available.

[2022-08-30 15:56] ChiWei-Chen commented on #65
Thanks for feedbacks, I think we're good to close this one.

[2022-08-30 15:56] #65 closed, assigned to nobody

[2022-08-30 16:31] tgelter commented on #248
Thank you very much @ChiWei-Chen for the update and for taking communications lead responsibility for this issue across several different models!

[2022-08-30 17:11] agurenko commented on #251
Perfect, thank you. Ready to test it as soon as it's released

[2022-08-30 18:13] deriamis commented on #65
Also works for me, but with a small addendum for those who come across this issue later on: make sure you have updated the *System Firmware* to version `0.1.54` to apply the bugfix *before* attempting to apply any other pending updates. Some firmwares like the ME may try to update first, which won't work well.

[2022-08-30 19:48] mrhpearson commented on #265
I think this is fine. The same BIOS is used for M70 t and s and checking the README on the Lenovo site it does list M2TKT4FA as a release for the M70s (two releases ago).
The newer version is on LVFS - it's just under embargo still and it looks like they're working on it (my guess is they're just waiting for the approval process to complete)
Afraid I don't understand the question about merging - t

[2022-08-30 19:50] mrhpearson commented on #178
It's possible they fixed it....I did have an internal bug on this open but admittedly I never got a squeak of feedback.
I'll send out some feelers and see if it was addressed or if something else happened.

[2022-08-30 19:53] mrhpearson commented on #264
Got it - thanks.

[2022-08-30 20:14] hughsie commented on #178
I wondered if this was https://github.com/fwupd/fwupd/commit/0812ce5d20cad3ba0f4a40e1be697ecf0ebe30b5

[2022-08-31 03:06] ChiWei-Chen commented on #214
@LinuxOnTheDesktop sorry for not being clear.
Since I cannot find the TPM offered in the `fwupdmgr get-devices` above. And BIOS(system firmware) and ME firmware have already been updated successfully.
Could you provide steps or instructions on how the system getting TPM not installed? Any video or screenshot would be very appreciated.
Thanks!

[2022-08-31 03:10] ghost commented on #226
Same happened to me on Ubuntu 22.04, but I could still boot the system.
I solved it by reinstalling the ME Firmware from the terminal.

fwupdmgr reinstall

Then selected the appropriate number for the ME Firmware from the list.

The

"Failed to recover ME Firmware"

would still display, but because of @vwalek comment I didn't touch it for a couple of minutes and then after a few minutes the the "R

[2022-08-31 04:18] LinuxOnTheDesktop commented on #214
@ChiWei-Chen

[code]

When I do reboot, a firmware screen flashes up briefly - 'please wait while we install a system update' - and then the PC reboots, and then next time I run fwupdmg, I see the same text as above. When I tried the procedure with a newer version of fwupd (using flatpak), `fwupdmgr update` gives me a message about a missing or invalid capsule header.

[2022-08-31 04:43] LinuxOnTheDesktop commented on #214
Ah: here is some of what happens on the newly released fwupd 1.8.4:

[code]

EDIT:

[code]

[2022-08-31 04:45] PhilippWendler commented on #178
I see, this would be an explanation. Thanks for having a look!

[2022-08-31 04:45] #178 closed, assigned to nobody

[2022-08-31 04:53] PhilippWendler commented on #265
Thanks @mrhpearson! The update worked fine. And thanks a lot in general for working with LVFS! This is really nice and definitely an argument in buying decisions for us.

Sorry for the confusing part about "merging". If they are different things, maybe they can be renamed such that it is visible to users that it is indeed the correct update for M70(s|t|ts)?

From my point of view this issue can be

[2022-08-31 05:01] ChiWei-Chen commented on #214
@LinuxOnTheDesktop , thank you for sharing the information, I'll give you back if any feedback from the FW team. (LO-1990 for my internal tracking)

[2022-08-31 06:21] ChiWei-Chen commented on #250
@mmege , thanks, it seems your system is P15s Gen 2, did you still see any unexpected firmware proposed by `sudo fwupmgr update ` currently?

[2022-08-31 06:55] ChiWei-Chen commented on #257
Hello @Jaeson813 ,

Have you tried resizing the EFI partition?

[2022-08-31 09:03] kmauleon commented on #258
hi @taoky can you please check if X1 Carbon Gen 10 MEFW Consumer update is still being offered to you?
Please advise.  Thank you very much...

[2022-08-31 09:16] taoky commented on #258
It's no longer provided after refreshing metadata. Thank you.

[2022-08-31 09:16] #258 closed, assigned to nobody

[2022-08-31 09:18] kmauleon commented on #258
thank you very much for the confirmation @taoky !

[2022-08-31 17:31] devopshndz commented on #250
Hi @ChiWei-Chen Sorry for not answering before :( Apologies.
`$ sudo fwupdmgr update
Devices with no available firmware updates:
 • UEFI dbx
No updatable devices
$ sudo dmidecode -s bios-version
N34ET46W (1.46 )

`

[2022-08-31 18:16] mmege commented on #250
Hi @ChiWei-Chen ... Yes it is a P15s Gen2. Sorry, I should mentionned that. Here what I have now:
[code]

[2022-09-01 08:00] kmauleon commented on #2
hi @diego-treitos fixed BIOS has been released.  Please check.  Thank you very much.
Link for your reference >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR0RET.firmware

[2022-09-01 08:16] ChiWei-Chen commented on #250
@devopshndz , @mmege , it seems your P15s Gen2 looks good, there is no unexpected FW proposed. Please correct me if I misunderstood. Thanks for the comment.

[2022-09-01 08:54] mmege commented on #250
@ChiWei-Chen, I still have the problem "Failed ME firmware etc..." at the very start of boot and no sound (speaker nor microhpone).

About 2 minutes after pressing the power button, the screen with the message "Failed ME firmware" disappears then I am finally able to log in. But after that I don't have sound devices working.

[2022-09-01 13:06] ChiWei-Chen commented on #250
@mmege , thanks for the clarification, could you provide the output of `fwupmgr get-devices` and kernel version of your Linux?
Thanks!

[2022-09-01 13:26] joakim-tjernlund commented on #244
I have System Firmware: 0.1.19 for a while now but my battery still malfunctions.
If I let the battery drain completely and put in the dock and start it, then battery status in Linux is discharging and will turn off the laptop in about a minute. Then it will stay off, not charging.

Then I have to toggle power to the dock, let laptop stay off for c.a 10 min. Now I can turn laptop on and battery is

[2022-09-02 05:48] mmege commented on #250
@ChiWei-Chen, Here there are:
[code]

My linux version:
[code]

[2022-09-02 08:21] ChiWei-Chen commented on #250
@mmege , thanks, I assume this seems the same as this issue.
https://github.com/fwupd/firmware-lenovo/issues/250#issuecomment-1203769040

Could you refer to the instruction above to download [Lenovo-ThinkPad-T14T15P14sP15sGen2-Consumer-MEFirmware-15.0.41.2142.cab](https://fwupd.org/downloads/52f06e11cd7114e9cb9af950f7189aa50c70b0828ae5070393733d44bb48d077-Lenovo-ThinkPad-T14T15P14sP15sGen2-Consume

[2022-09-02 11:45] jevank opened #266 "Lenovo System Firmware updates wipe SLIC ACPI table"
**Describe the bug**

After successfully updating the system firmware on Lenovo Thinkpad laptops (X1C5 and X1C8), I discovered the loss of the ACPI SLIC table and the ability to use the activated preinstalled Windows

**Steps to Reproduce**
Install system firmware update

**Expected behavior**
ACPI SLIC table present

**fwupd version information**
1.7.9

Please note how you installed it (`apt`, `d

[2022-09-02 11:47] hughsie commented on #266
@mrhpearson sounds like a regression to me, accidental I assume?

[2022-09-02 13:08] diego-treitos commented on #2
Thank you very much @kmauleon , although I am not sure how to get that new version. I tried with `fwupdmgr refresh` but after that `fwupdmgr get-updates` still returns the `Thinkpad X380` version. I also tried to purge the packages and remove `/var/lib/fwupd`, but still nothing. Also tried the update itself and still fails.

Maybe I need to try in a few days?

[2022-09-02 13:38] devopshndz commented on #250
@ChiWei-Chen  When I turn on my pc, I get "Reading ME firmware... Please no not power off!" it reaches 48% and then it throws "Failed to recover ME firmware" it is not updated and that continues to appear on the screen. Since that appeared, I have no sound on the pc even with headphones and I also have no access to a microphone

[2022-09-02 15:33] hughsie commented on #2
Try `fwupdmgr refresh --force`

[2022-09-02 15:42] diego-treitos commented on #2
Thanks for the suggestion but it didn't work either. As I said already removed anything related to fwupd and reinstalled so I guess that the X280 information is the one that is getting.

My guess is that either this is not fixed or that there is some intermediate cache that I need to wait to expire so I get the new information.

[2022-09-04 15:24] asegarra commented on #257
Fedora 36 on X1 Carbon Gen 9

I have the same issue, tried “fwupdmgr update [BIOS Device ID]” and got the same error. My efi partition is 629MB of which 603 are free. Resizing in not an option for me at the moment, what is the recommended size for fwupd?

[2022-09-04 23:02] kmauleon commented on #2
hi @diego-treitos can you please try to download the BIOS and install it manually as below... thank you very much
BIOS link >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR0RET.firmware
**fwupdmgr install xxx.cab**

[2022-09-05 14:13] mcamou opened #267 "Thinkpad X1 Extreme Gen2 failing update"
There are 2 issues here:

1. Running `fwupdmgr get-updates` shows me an update to the Intel Management Engine. If I apply it and reboot, the update is still there:

[code]

I don't know how to diagnose this, I have secure boot disabled and "Change boot order" enabled.

2. There is a new update to firmware 1.44 in https://pcsupport.lenovo.com/es/en/products/laptops-and-netbooks/thinkpad-x-series-la

[2022-09-05 16:49] diego-treitos commented on #2
hi @kmauleon thanks for the follow up. I downloaded the firmwar and run the command but nothing happened after reboot.

Then I run `fwupdmgr get-updates` to get the report. Here it is:

[code]

[2022-09-05 17:33] agurenko commented on #251
I see there is a new BIOS 1.44 from 1st of September available now on Lenovo support site. Is that the one?

[2022-09-05 18:51] ghost commented on #257
@ChiWei-Chen, I’m unable to resize the partition currently. I booted into Windows, and one of the optional BIOS updates actually did successfully update it to 1.19.

[2022-09-05 19:02] olegk25 commented on #257
Hi, it's obviously a logical glitch in fwupdmgr while trying to assess available space.
I used bootable image from the vendor and upgrade was successful.

[2022-09-05 22:46] kmauleon commented on #2
thanks for the feedback @diego-treitos ...will forward your results to BIOS dev for checking...

[2022-09-06 04:32] ChiWei-Chen commented on #257
@hughsie is there any idea or anything we can do for fwupdmgr?

@Jaeson813 , @olegk25 , thanks for the comment.

[2022-09-06 04:56] adityamukho commented on #250
Any updates on this issue? I'm stuck with the same issue for days with no resolution.

[2022-09-06 05:45] ChiWei-Chen commented on #250
@devopshndz , @adityamukho , would you be able to try reinstall the ME firmware with my comment above and let me know how it works? Thanks

[2022-09-06 06:05] mmege commented on #250
Hi @ChiWei-Chen ! Sorry for the delay.
I did what you mentioned and It has worked perfectly!
Thank you :)

[2022-09-06 06:13] ChiWei-Chen commented on #250
@mmege thanks! It's good to know this helps!

[2022-09-06 08:50] hughsie commented on #257
@ChiWei-Chen I don't think it's fwupd at fault here, the userspace bit has already written the capsule to the ESP at the point the `Could not apply capsules: volume full` appears. The `volume full` is coming either from the UEFI runtime service, either `RT->QueryCapsuleCapabilities` or `RT->UpdateCapsule` -- perhaps it's telling us that NVRAM is full, rather than the ESP is full?

[2022-09-06 09:10] adityamukho commented on #250
[code]

@ChiWei-Chen I have a ThinkPad P15V Gen 2i (Corporate).

Here's the output of `dmidecode |grep SKU`:
[code]

Before posting here, I had downloaded a firmware update from https://pcsupport.lenovo.com/in/en/products/laptops-and-netbooks/thinkpad-p-series-laptops/thinkpad-p15v-gen-2-type-21a9-21aa/21aa/21aas0r500/pf3q3dkv/downloads/driver-list/component?name=Motherboard%20Devices%20%28core%20

[2022-09-06 12:24] mrhpearson commented on #267
Hi - I believe you've hit a known issue that is being fixed.
If you go into the BIOS setup screen (F1 during early boot) can you confirm which ME version you have there - it's likely the updated version.
The BIOS isn't reported the updated version to the ESRT tables correctly, so fwupdmgr thinks an update is still needed.
For not just ignore it - the fix is rolling out on various platforms and I'l

[2022-09-06 12:55] mrhpearson commented on #266
I'm not sure but I assume so - never come across this one before. Raised internal ticket LO-2000 to the FW team.
Mark

[2022-09-06 15:39] ChiWei-Chen commented on #257
Richard, Thanks, I'll give you back once I heard any clues from FW experts.

[2022-09-06 16:22] ChiWei-Chen commented on #250
@adityamukho , thanks for sharing the information.
P15v Gen2 is different platform from P15s Gen2, so the result is expected.
I noticed the Embedded Controller version is pretty old, could you try to install the latest version 1.11 (N38HT29W) and see how it works?
https://pcsupport.lenovo.com/in/en/products/laptops-and-netbooks/thinkpad-p-series-laptops/thinkpad-p15v-gen-2-type-21a9-21aa/21aa/21aa

[2022-09-07 05:41] adityamukho commented on #250
@ChiWei-Chen I extracted the two cab files and applied both updates (one was redundant since it was a BIOS update and my BIOS was already at the latest version. The EC update had to be forced, however, because for some strange reason, its current version number shows up as 65544!

[code]

Here's the relevant output from `dmidecode` for the BIOS and the EC after **forcing** both updates:
[code]

As

[2022-09-07 06:55] afelinczak commented on #255
Have similar issue on my P52s. In my case seems that upgrade is completed but fwupdmgr doesn't recognize this.

1. BIOS
UEFI BIOS Version: N27ET47W (1.33)
ME Firmware Version: 11.8.92.4222
UEFI BIOS Date: 2022-07-18
UEFI Secure Boot: Off
Secure Boot: Disabled
Boot Order Lock: Disabled

fwupdmgr update --show-all
Devices with no available firmware updates:
 • UEFI Device Firmware
 • UEFI Device Fir

[2022-09-07 09:38] ChiWei-Chen commented on #250
@adityamukho your feedback is very appreciated, I'll share this with FW team and see their replies.

[2022-09-07 14:18] mrhpearson commented on #255
Please check what version of ME is installed from the BIOS setup screen (F1 during early boot).
I think you've hit the known issue that the BIOS isn't updating the ESRT table correctly, so fwupdmgr thinks the update didn't take place. This is being fixed and rolled out.

[2022-09-07 15:05] jike212 commented on #256
I've been having this same issue for a while as well. One element to add in all this is that the disk is encrypted (during Fedora's usual install process)

I do wonder if the encryption plus having to unlock the disk each time the system reboots may be contributing to the issue.

[2022-09-07 20:12] dal00 commented on #264
I have the same issue with thunderbolt not working and hdmi also having issues. I'm even unable to see thunderbolt in lspci.
Windows can't see it in the device manager too and I'm unable to flash it from windows.

@LordChaos73 Are you even able to see the thunderbolt controller in lspci?

[2022-09-07 20:37] mrhpearson commented on #264
Do you know which version of FW you had on there previously? There was a critical update a while back (2019) that was published and I'm pretty sure we put those updates on LVFS.
https://support.lenovo.com/ca/en/solutions/ht508988-critical-intel-thunderbolt-software-and-firmware-updates-thinkpad

My understanding was that if the FW wasn't updated it was possible to brick your TBT controller.
If you

[2022-09-07 21:14] LordChaos73 commented on #264
I remember about the critical update back in 2019 and I've always had the latest possible firmware installed since. Since so many X1C6 owners seem to have this issue, I'm wondering if the patch was successful in the first place.
Anyway, since this was my production machine until very recently, I know everything was working fine until we had the Intel ME issues that failed to install. I think I los

[2022-09-07 21:29] dal00 commented on #264
@mrhpearson I'm not sure as I'm unable to connect to the controller in any way that I know of.

But here is a dump of the fw from the W25Q80DVSNIG
[x1c6_tb3.zip](https://github.com/fwupd/firmware-lenovo/files/9517570/x1c6_tb3.zip)

[2022-09-07 23:52] kmauleon commented on #2
hi @diego-treitos BIOS dev did not encounter the issue... still asking them for any suggestion.  while waiting... could you please try below commands and after system restart, rerun the system update...  thank you very much...
sudo apt-get update && sudo apt install && sudo apt dist-upgrade && sudo apt full-upgrade && sudo apt autoremove && sudo reboot

[2022-09-08 13:12] mrhpearson commented on #264
Ack - thanks for the details and they've been forwarded to the FW team.

[2022-09-08 15:48] mcamou commented on #267
Thanks @mrhpearson. I've checked and the current ME version according to the BIOS is 192.90.2072 which is the same one that `fwupdmgr` says I need to update to, so I'm hitting that bug. I'll ignore it for now, it would be nice to know what the status is.

[2022-09-08 16:59] val06 commented on #250
had the same issue, the fix worked for me, sound is back to normal!

[2022-09-09 07:20] mmerklinger commented on #208
I can confirm the problem is solved for the ThinkPad X1 Carbon 6th, after update to System Firmware version `0.1.57`. Thank you very much for your work!

[2022-09-09 08:30] kmauleon commented on #208
hi @arderyp ... sorry but we may need to confirm your MEFW GUID... I can't seem to find it in this long thread LOL.  Can you please execute below command.... thank you very much.

fwupdmgr get-devices

[2022-09-09 09:43] maxhille commented on #208
Can confirm this is solved now on my T470. Note that I had to hand-pick the system firmware update because `fwupdmgr` wanted to install the "broken" update first by default.

[2022-09-09 12:39] manukean commented on #252
turn off Secure Boot (disabled) and everything is ok

[2022-09-09 12:56] manukean commented on #252
sorry, Windows UEFI Firmware Update turn it on

[2022-09-09 14:29] DianaAlcantara commented on #255
Is it possible that there was a release today? If so, didn't work me :(

![Screenshot_20220909_110113](https://user-images.githubusercontent.com/44092899/189373543-f1961583-da13-420a-a913-c2a9ef9ff4ce.png)

[code]

[2022-09-10 06:20] arderyp commented on #208
@kmauleon

[code]

[2022-09-10 06:21] arderyp commented on #208
@maxhille can you explain further how you did this?

I am confused as to how this is fixed for everyone else now except me. Maybe I'm doing something wrong, or I need to run though some manual steps.  Hopefully @maxhille has the answer.

[2022-09-10 06:46] maxhille commented on #208
@arderyp: Of course

In my case, `fwupdmgr` had two updates queued: The (errorneous, see BIOS) IME update to `184.92.4222` and the System Firmware update to `0.1.71`. You should be able to see them in `fwupdmgr get-updates` and/or `fwupdmgr get-devices` (sorry, I find the `fwupdmgr` command names to be quite confusing).

Now the problem on my machine was that `fwupdmgr update` always wanted to upd

[2022-09-10 07:53] arderyp commented on #208
@maxhille thanks for the info!  I am still somewhat unclear.

[code]

Based on this and my `fwupdmgr get-devices` output [above](https://github.com/fwupd/firmware-lenovo/issues/208#issuecomment-1242643180), you advise I run:

[code]

Then what? Should I expect this to reboot my system? Do I need to run something else after it boots back up, or should it simply reboot and the issue should be solved

[2022-09-10 08:04] maxhille commented on #208
@arderyp The system firmware update should definitely come with a reboot and a fairly obvious (and very 1980`s retro) BIOS update process.

From your earlier comment it seems that you have a T460s. So it seems that you are on the latest System Firmware[0]. Unfortunately I _think_ (Lenovo should clear that up) that your System Firmware does not have the needed fix (yet?). Compare my machines System

[2022-09-10 14:29] eb4x commented on #208
I've got this problem with the X1 Carbon 5th gen. BIOS has been updated (1.55) and reports 4222 is already installed. But fwupdmgr wants to upgrade from 184.86.3909 to 184.92.4222.

[2022-09-10 16:20] WillsyAu opened #268 "Qualcomm Snapdragon X55 5G "Update Error: Device was not found""
Hi,
My Thinkpad X1 Nano G2 is reporting the below device details for the X55 5G modem.
├─Qualcomm Snapdragon X55 5G:
│     Device ID:          bba54f76de66958e5d70964b6ddd2d1e6c7dae9e
│     Summary:            Mobile broadband device
│     Current version:    T99W175.F0.6.0.0.6.TE.010.020
│     Vendor:             foxconn (PCI:0x105B)
│     GUIDs:              35e951d5-8ae0-59d7-99a5-61ef1f42c024

[2022-09-10 18:46] arderyp commented on #208
@maxhille yes, I manually installed a firmware version from the Lenovo site as per @ChiWei-Chen's instruction.  The update went fine, but it didn't fix this problem of the system continually telling me I have a pending update (when I do not)

[2022-09-10 18:46] arderyp commented on #208
Sounds like my same issue

[2022-09-11 20:22] WillsyAu commented on #268
I found this on kernel.org. Seems my issue may be that I have the e-sim compatible version of the card... ?

diff --git a/drivers/bus/mhi/pci_generic.c b/drivers/bus/mhi/pci_generic.c
index 59a4896a8030..566483dc15db 100644
--- a/drivers/bus/mhi/pci_generic.c
+++ b/drivers/bus/mhi/pci_generic.c
@@ -423,6 +423,9 @@  static const struct pci_device_id mhi_pci_id_table[] = {
 	/* DW5930e (sdx55), Non-

[2022-09-12 01:34] kmauleon commented on #208
@arderyp can you please try to download this >> https://download.lenovo.com/pccbbs/mobiles/n1crk07w.zip
and kindly follow steps as below....thank you very much....
  1. Make sure the AC adapter is firmly connected to the target computer
  2. Extract package zip file
  3. Launch Terminal
  4. Login as root user
  5. Navigate to the directory where the cabinet file was placed
  6. Execute as below:

[2022-09-12 01:43] arderyp commented on #208
@kmauleon thank for the detailed instructions.  The command fails because the cab file is not signed:

[code]

I can update `/etc/fwupd/daemon.conf` but this seems somewhat sketchy.  Why is lenovo not providing signed files?

[2022-09-12 01:50] kmauleon commented on #208
@arderyp please modify conf file for now to proceed with manual update... then modify back to original after the update.
the file is signed as it is released to Lenovo Support Site.  It just that it is not the usual update procedure we do in LVFS. Thus, it is considered as external file. please try... thank you very much...

[2022-09-12 02:05] arderyp commented on #208
@kmauleon sadly, that did not solve the problem.

1. The command succeeded
2. asked me to reboot, I did
3. it gave me the startup screen
4. it showed "System Restart" in the top left corner
5. it restarted again and then showed "Please wait while we install the system update" with a spinning line
6. after that spun for a minute, it restarted
7. `sudo fwupdmgr update` is still prompting me to updat

[2022-09-12 02:06] arderyp commented on #208
On a seperate note, can you somehow prove your employment with Lenovo? I really should not be flashing firmware provided by unfamiliar github accounts with no history or affiliation. I suppose the dead is already done, but its a bad practice.

[2022-09-12 02:10] kmauleon commented on #208
@arderyp this is me... i am one of the component owners for LVFS MEFW for some of Lenovo platforms ^_^
![image](https://user-images.githubusercontent.com/62524943/189561793-6b5913fd-3edc-4c9e-95d1-212478542460.png)

[2022-09-12 02:14] kmauleon commented on #208
@arderyp will contact BIOS dev again... somehow they did not include the fix entirely... as some platforms already resolved this issue by merely updating the BIOS... will message again once we have the update form them... thank you very much

[2022-09-12 03:04] arderyp commented on #208
@kmauleon I hope I didn't come off as too harsh asking for ID. I really appreciate you providing it and also providing all of the assistance on this issue with your other coworkers.  I greatly appreciate it, and will continue to test whatever you all need in this regard.

[2022-09-12 03:08] kmauleon commented on #208
@arderyp no problem ^_^ i very well understand your hesitation... just doing my best to support in any way with this issue.  thank you very much for bearing with us. already contacted the BIOS dev... will feedback again once i have an update from them... hopefully soon

[2022-09-12 03:51] sudopluto commented on #140
can report that bios update fixed it for my t480, thanks!

[2022-09-12 06:05] ChiWei-Chen commented on #140
Thanks! Since this works in most platforms, I'll close this task. We can continue track remaining in another task.

[2022-09-12 06:05] #140 closed, assigned to nobody

[2022-09-12 07:56] kmauleon commented on #208
@arderyp the fix was indeed lacking... BIOS dev will release a new one hopefully within this month.  BIOS currently under testing.  thank you very much...

[2022-09-12 10:20] hughsie commented on #208
I can attest to @kmauleon being awesome at Lenovo, but you're probably right to check :)

[2022-09-12 13:06] mrhpearson commented on #268
I don't think that should matter - but I'm not an expert here. I do know that it was qute the challenge getting the FW updates up and working and the version of kernel and fwupd are important.

Could you let me know what you're running - distro, kernel version, fwupdmgr version and (if possible) modem manager version and I'll get some input from the team who were working on this.

Thanks

[2022-09-12 13:54] mrhpearson commented on #263
I don't know I'm afraid - seems odd. Raised internal ticket LO-2012 to the FW team.
As a note - my apologies - I completely missed this issue in my Inbox swamp :(

[2022-09-12 13:57] mrhpearson commented on #265
Sounds good - I'll give them feedback on the naming but closing the ticket as the issue itself is resolved.
Thanks!

[2022-09-12 13:57] #265 closed, assigned to nobody

[2022-09-12 14:00] VorpalBlade commented on #263
I should mention that the motherboard was replaced on-site under warranty recently (weeks before this bug report was made) due to a broken thunderbolt controller. I'm not sure if that is relevant.

However this does *not* correspond to the dates from the fwupd event log (`2022-04-29 08:21:10:  ✘ MEI manufacturing mode changed: Locked → Unlocked`) etc. The warranty replacement happened in late july

[2022-09-12 15:08] mrhpearson commented on #256
Sorry for the slow reply - this got lost in the swamp.
We did have some issues where for Windows they were asking users to disable disk encryption (bitlocker) before doing FW updates; but guidance I was given is it didn't imply to Linux as bitlocker wasn't being used.
How do you have your disk encrypted?

[2022-09-12 15:26] myllynen commented on #256
I have my disk encrypted by the RHEL installer (using LUKS as is usual on Linux) but only the non-boot partitions. Given this and the fact that all the other updates applied without issues I don't think at least in my case that would be the root cause, especially when I already see the update process starting on my system before failing with the "FMP Capsule Update Fail".

FWIW, my system received

[2022-09-12 16:50] DianaAlcantara commented on #255
Hello, good morning/afternoon/evening!!! Is there an ETA for this fix?

[2022-09-12 17:11] mrhpearson commented on #264
Hi - can you confirm the BIOS, EC and ME FW versions please (easiest is to grab them from the BIOS setup screen - F1 during early boot). The note from the FW team says:

_I checked history, there was an issue that system will lost TBT controller and fixed by one EC firmware on X1 Carbon G8 project, never hear this issue on X1 Carbon G6 project. So that is why I suggest to have a try with upgrade B

[2022-09-12 20:15] LordChaos73 commented on #264
![x1g6_setup](https://user-images.githubusercontent.com/7850883/189748947-3d12cb9f-ca51-403b-ac27-734f1c6deb53.jpg)

I´m not sure the cab files you provided are the correct ones?

[levid@x1carbon6 n2wul23w]$ fwupdmgr install N2WHT20W.cab
Decompressing…           [ -                                     ]
No supported devices found

[levid@x1carbon6 n2wul23w]$ fwupdmgr install N2WET37W.cab
Decompres

[2022-09-12 22:18] LordChaos73 commented on #264
By the way, I downloaded the ISO of the latest BIOS and wanted to see if I could re-apply it. So I created a bootable USB stick with the latest BIOS, but I can't seem to re-apply it; the setup program states there is nothing to do. Is there any way to re-apply the BIOS update? I was hoping the ISO _is_ carrying the EC update as well.

[2022-09-13 01:39] mrhpearson commented on #264
Sorry - those are X1Carbon 8 items...my bad.
I'll look for the X1 Carbon 6 ones.

[2022-09-13 05:27] WillsyAu commented on #268
Thanks Mark,
I am running Fedora 36.

$ uname -r
5.19.7-200.fc36.x86_64

$ fwupdmgr --version
runtime   org.freedesktop.fwupd         1.8.4

$ ModemManager --version
ModemManager 1.18.8-1.fc36

$ dmesg | grep 105b
[    0.552904] pci 0000:08:00.0: [105b:e0bf] type 00 class 0x0d4000

Thanks

[2022-09-13 06:39] 54ki commented on #199
I managed to fix this but I had to use Windows, albeit installed on an external drive.
I installed the same firmware update that @jekkel mentioned and it did not fix the issue. What I did was install a fresh copy of Windows on the external drive as to not touch my Linux stuff, fully updated it, then downloaded "Intel Management Engine 11.8 Firmware for Windows 10". After the restart, the issue wen

[2022-09-13 14:23] mrhpearson commented on #263
Hi @VorpalBlade - would you mind sending me some details to my markpearson at lenovo dot com address please?

I need your serial number and any details you're able to share about the warranty work (dates/where it was done/etc). The support team are going to follow up on this as your system should not have been sent out with unlocked FW on it so we need to find out how that happened.

[2022-09-13 20:01] VorpalBlade commented on #263
Sure. However as I said, I do not believe it to be related given the timings of the entries in the event log. Guess it doesn't hurt though.

[2022-09-14 02:11] Jasontoronto commented on #234
Hi Tweippert,

I got exactly same issue as you did on my X1 Carborn 9.  How did you remove the upower from the system?  can you please share your steps.

Thanks a lot.

[2022-09-14 07:06] VorpalBlade commented on #263
@mrhpearson I tried to send you an email, but apparently your email system rejects my email server (hosted on my VPS at Linode in a datacenter in UK):

    lenovo-com.mail.protection.outlook.com[104.47.26.10] said: 550 5.4.1
    Recipient address rejected: Access denied. AS(201806281)
    [PSAAPC01FT011.eop-APC01.prod.protection.outlook.com] (in reply to RCPT TO
    command)

So until you fix that

[2022-09-14 09:56] jekkel commented on #199
Just tried almost the same thing today with the following differences:
* windows 11 instead of 10
* temporarily replaced the internal SSD instead of booting from USB
* used all available update streams (windows updates, lenovo vantage, website downloads)
* explicitly installed the mgmt engine v11.8 package (which succeeded but did not want to restart the system, IMO it did not flash anything)

The

[2022-09-14 10:56] t-8ch commented on #234
@Jasontoronto You can probably just mask the service with `sudo systemctl mask upower.service`

[2022-09-14 15:08] mrhpearson commented on #263
Wow....that's strange. I guess we'll use my personal email if that's OK? banther at gmail. Dealing with IT on this is going to be an exercise in pain.
Outlook sucks....I loathe it (mind you - lotus notes which they used at IBM is even worse :D)

The serial number detail is so we can check where the update was done and who did it and find out if that is where the issue was introduced - because it r

[2022-09-14 16:19] VorpalBlade commented on #263
That is probably the sensible option (sidestepping IT). I have some vague memories of using Lotus Notes early in my career, but I can't say I remember much of it, other than it being generally awkward and difficult to use. Especially the groupware document handling features.

[2022-09-14 20:44] diego-treitos commented on #2
@kmauleon I was finally able to update. I found that I had to disable *secure boot* for the update to work. After disabling it, the firmware update was triggered and it updated. Oddly enough, after the reboot, `fwupdatemgr get-updates` reported that there was an error with the update BUT, `fwupdmgr get-history` reported the update and the "BIOS" interface shows version `1.29`. Also next executions

[2022-09-15 05:21] #235 closed, assigned to nobody

[2022-09-15 08:37] lohedges commented on #175
Apologies for hijacking this issue thread, but I am also interested in the availability of firmware for this dock within the LVFS. I am running Arch Linux on a P1 Gen 2 and the dock is mostly working other than the external displays (connected to the dock via DisplayPort) not being detected on boot or following suspend/resume. The dock itself is detected and USB peripherals attached to it work as

[2022-09-15 13:48] LordChaos73 commented on #264
Hi @mrhpearson were you able to find them?

[2022-09-16 00:50] kmauleon commented on #2
hi @diego-treitos thank you very much for the update.  it should always be for L380.  if in any case you received any update offer again for X280, kindly report it here.  Again thank you very much.  will close this issue for now.  please reopen if i missed anything....

[2022-09-16 00:50] #2 closed, assigned to nobody

[2022-09-16 10:25] mcamou commented on #267
Hello again @mrhpearson, do you have any news on the status of the X1EG2? It's becoming annoying... each time that I run Plasma Discover to get updates, I need to remember to disable this one, or the next reboot is going to take a long time.

[2022-09-16 15:30] Maltimore commented on #6
Could someone tell me in concrete steps what I need to do to "get grub back"? I do not have windows installed, so for me it just boots into an error screen. I do have a live USB stick available. I followed guides to reinstall grub like here: http://subinsb.com/how-to-repairrestorereinstall-grub-2-using-a-ubuntu-live-cd/ but it doesn't seem to solve the problem.
I don't know what some abstract step

[2022-09-16 17:39] mrhpearson commented on #267
They've been rolling out the fix for a number of platforms - I believe you need to pick up the BIOS fix, and then install (or re-install) the ME FW.

I can see that for the X1EG2 there is a FW (1.44) that was uploaded to LVFS 10 days ago but is under embargo and I'm guessing that has the fix but not sure

@ChiWei-Chen - do you have confirmation this issue is fixed in 1.44 and any ETA from the FW t

[2022-09-16 17:45] mrhpearson commented on #264
I checked and the X1 Carbon 6 versions I can find are the same you already have - so I went back to the FW team and asked for any other suggestions. Not heard back yet.

[2022-09-16 19:11] Maltimore commented on #6
Turns out, that one newer systems there's one more directory that needs to be bind-mounted, see this answer here: https://unix.stackexchange.com/a/418913
All the bind-mounted directories can be mounted like so:
`for i in /dev /dev/pts /proc /sys /sys/firmware/efi/efivars /run; do sudo mount -B $i /mnt$i; done`
Apart from that, follow any guide like http://subinsb.com/how-to-repairrestorereinstall-

[2022-09-16 20:52] mrhpearson commented on #260
Hi - doing an inbox cleanup and I had completely missed this one. Apologies

I'm not sure why you're being given that limitation - I've checked the internal notes and I'm not seeing anything that says why this is.
What I suggest is we pick an interim release and try that. Looking at the LVFS details there's a lot to choose from. Looks like the versions offered go:
1.05->1.07->1.10->1..11->1.12->1.

[2022-09-16 20:58] mrhpearson commented on #256
@ChiWei-Chen - do you think this is related to the other couple of Capsule related errors we've got or is this something new? (LO-1964 in particular?

[2022-09-16 21:00] mrhpearson commented on #255
Tagging @ChiWei-Chen - I couldn't find these two specifically but most of the platforms were targetted for beginning and mid september.

[2022-09-16 21:03] mrhpearson commented on #268
As a note - tracked internally with LO-2027. Thanks for the details

[2022-09-17 14:25] tweippert commented on #234
Hi @Jasontoronto,
as i write, i removed the upower package from my system and restart fwupd. If fwupd doesn't recognize upower on the system it doesn't check the battery status. Haven't tried with the service masking @t-8ch  mentioned above, maybe it is sufficient. Afterwards i installed upower package again and all is fine.

HTH!

[2022-09-17 18:42] davidstrauss opened #269 "Trouble updating firmware on ThinkPad T16 Gen 1"
**Describe the bug**

I'm attempting to update the firmware on a Lenovo ThinkPad T16 Gen 1. It seems to attempt to boot into installing the update, but then the screen goes black and startup happens again from scratch (now booting into Fedora).

[code]

**Steps to Reproduce**

1. Wipe the machine.
1. Install Fedora Silverblue 36.
1. Attempt to update the main device firmware.

**Expected behavior*

[2022-09-18 10:30] hughsie commented on #269
Can you try with Secure Boot turned off?

[2022-09-18 11:07] davidstrauss commented on #269
I already have it off.

[2022-09-18 11:24] hughsie commented on #269
I'm wondering if this is somehow broken; we're seeing quite a few failure with SB in the last few months.

[2022-09-19 08:18] davidstrauss commented on #269
For what it's worth, my ThinkPad T580 -- also on SB 36 -- has also had fwupd issues. You might be onto something.

For the T580, though, I've just resorted to using Lenovo's bootable update ISOs rather than using fwupd. It's just unfortunately the case that this particular T16 Gen 1 update to fix suspend is only released to LVFS right now.

I will attempt to update my T16 Gen 1 by using Fedora Wor

[2022-09-19 10:03] matthkoch opened #270 "ThinkPad T480 - Unable to update Intel Management Engine on Kubuntu 18.04 & 22.04"
[code]

If I reboot the system. I see the
'Could not query capsule capabilities: Unsupported...System Reset' Message

I had the exact same problem before updating my bios with other components. I updated my bios and now the only update that is missing is this one, but i'm still not able to install it.

[code]

[code]

[code]

[2022-09-19 19:05] mrhpearson commented on #266
Hi @jevank

Feedback from the FW team is they don't know what change might have caused this (bear in mind many of the changes in the BIOS come from Intel). They'll need to debug but need further information on how to reproduce.

They don't see a SLIC table under ACPI in either Windows or Linux. Can you share more details on how to reproduce and check this issue. We're not seeing any SLIC entry und

[2022-09-20 13:20] ChiWei-Chen commented on #267
@mrhpearson @mcamou thanks for looping me in, this seems duplicated to #251 , the FW already merged the fix in the next BIOS release, I'll keep you update once there is clear ETA. I assume it would be in 1.45. (LO-1938 for my tracking)

[2022-09-20 13:21] ChiWei-Chen commented on #251
@agurenko sorry for the late, FW team replied that 1.44 has not included the fix yet, we'll keep you update once we have ETA of next release.

[2022-09-20 13:23] agurenko commented on #251
Yeah, no worries, I've tried this update and it didn't solve the problem, so I figured :) I'll be on a lookout for a new release. Thank you for the follow up, really appreciate the effort here.

[2022-09-20 13:51] ChiWei-Chen commented on #256
@mrhpearson thanks. This seems TBT Retimer Firmware related, I'll need FW owner to check it. (LO-2035 for tracking)

[2022-09-20 14:02] ChiWei-Chen commented on #255
@mrhpearson , thanks I asked FW team to look at this (LO-2036 for internal tracking)

[2022-09-20 16:00] plumlis commented on #219
Fedota 37 beta with x55 modem, Still  failing with 'Invalid transition'

[2022-09-21 05:51] adgud commented on #256
I hit the same error repeatedly and the solution in my case was to use a standard power supply instead of a docking station. The upgrade completed successfully.

[2022-09-21 06:47] myllynen commented on #256
I don't have a docking station so for me this issue occurs when using a standard power supply.

[2022-09-21 06:58] adgud commented on #256
I see, so the issue you are having is different than mine, despite the same symptoms.

[2022-09-21 20:43] jevank commented on #266
Hi @mrhpearson and thanks for the support.

the SLIC table is available on laptops with preinstalled Windows 10 and requires AFAIK to Windows activation process only.

I guess the firmware update somehow make it invisible or (I hope not) wipe it. I've never seen it before using firmware updates under Windows.

What can I help? Trying downgrade to any previous versions?

[2022-09-22 04:55] ChiWei-Chen commented on #255
Hi,
The FW team confirmed the next BIOS will include the fix, it is expected to release a few weeks later. Thanks!

[2022-09-23 21:36] isagalaev-dd commented on #250
Another "me too" to @adityamukho . Having the same problem (and ran all the same updates, with all the same messages) for P15v Gen 2.

[2022-09-24 01:41] arawaaa commented on #239
Thank you, the firmware update no longer appears for the Yoga 9i.

[2022-09-24 01:41] #239 closed, assigned to mrhpearson, ChiWei-Chen, kmauleon

[2022-09-24 18:14] nre commented on #172
[Non-vPro BIOS 1.20](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1FET.firmware) was released on LVFS stable three days ago but it `<requires><firmware compare="ge" version="240.35.1951">19aef08f-2701-4db3-b90b-d4bc1412ade7</firmware></requires>`.

[ME firmware 240.35.1951](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1FRN.firmware) has been in LVFS testing since July and has never bee

[2022-09-25 10:49] johannbg opened #271 "Missing firmware for Lenovo ThinkCentre M90n-1 Nano i3,i5,i7"
The latest available version for the Thinkcentre nano's is M2AKT34A.
The platform is supported to 2026 according to psref so Lenovo should be including those.

@mrhpearson could you have a look since it seems like the firmware updates stopped getting uploaded to lvfs after firmware update M2AKT25A.

[2022-09-25 22:04] marex commented on #208
Sadly, P51 is still broken.

[2022-09-26 02:55] rcbjr commented on #267
I have a potentially related issue:
My X1E G1 Intel ME  firmware update fails.

BIOS:  N2EET59W (1.41)
BIOS reports old firmware (12.0.85.1869)

MEInfoWin64.exe  reports old firmware (12.0.85.1869 H Corporate)
(not sure why corporate, it's my computer since day 1)

Lenovo Vantage reports that a critical update is available, appears to update the firmware, then reports update failed (and to try reb

[2022-09-26 06:58] SlarkXiao commented on #268
Hi,
  The FW you  used belongs to a newer code baseline. FW version named by F0.6.0.0.6.XX.
  And the target FW you want to use F0.1.0.0.9.XX doesn't share a same code baseline. So it's not allowed to update FW to another directly.
  Actually, both these 2 FW were released in this April. Don't worried about the FW is too old.
  More concerns about the new update version of F0.6.0.0.6.XX, please co

[2022-09-26 07:05] ChiWei-Chen commented on #208
@marex thanks for reporting the issue, could you provide more detailed information? We need a different FW (P51) team to address this.
And if you can raise a separate ticket for P51 product it would be great. Thanks!

- fwupdmgr update --show-all
- system firmware version and Intel Management Engine firmware version in BIOS main page
- OS and fwupdmgr version

[2022-09-26 07:53] ChiWei-Chen commented on #267
@rcbjr , thanks, but I think it would be better to report this issue to forums.lenovo.com , you can get more Vantage experts' assistance to resolve the issue of Windows environment. Thank you very much.

[2022-09-26 08:04] LordChaos73 commented on #264
@mrhpearson what about the EC update that was never provided on lvfs?

[2022-09-26 11:02] ganchair commented on #172
hi @nre I have ME firmware 240.35.1951 installed yet I don't see the non-vpro bios update from fwupd. about the faulty bios image there is a new v3 release but that also failed to install with a different error. https://forums.lenovo.com/t5/ThinkPad-L-R-and-SL-series-Laptops/Intel-L13-GEN-2-20VJ-Wrong-BIOS-Image-Is-Being-Distributed-On-The-Support-Page/m-p/5161220?page=1#5752369

[2022-09-26 11:03] ganchair commented on #172
about the 240.35.1951 firmware if I remember right there was a short period of time where it was listed in pcsupport lenovo but then taken down.

[2022-09-26 11:46] ganchair commented on #172
tried the V3 image with defaulting my BIOS led to a stuck bios update session (waited over 30 mins) had to shutdown my device. nothing bad happened nothing updated guess that V3 image is also borked.

![image](https://user-images.githubusercontent.com/105324789/192268503-e1a1d16a-beb1-40e1-9bd9-faf18aed8d17.png)

[2022-09-26 13:40] mrhpearson commented on #268
Hi @SlarkXiao - thanks for replying directly on here, appreciate it.
What should users be doing to get from the old to the new? Is there an interim version needed etc?
Thanks
Mark

[2022-09-26 16:59] mrhpearson commented on #266
Hi - let me check what the FW team want to do with this. Kinda intrigued that they don't expect there to be a SLIC table - you're sure it was there before? (I haven't got a clue how Windows does this normally)

[2022-09-26 17:22] jevank commented on #266
Absolutely. I use this table passed through to virtual machine to activate guest Windows system.

[2022-09-26 17:44] mrhpearson commented on #271
Sigh - this is the 2nd ThinkCentre platform we've found this. They seem to have a flaw in their process so the FW never actually gets released. For all versions from 2CA (up to 34A) are all on LVFS - but under embargo so nobody can access them :/

I've sent a request to the FW team to please move them to stable once they've finished testing. From the download stats they have tested these so I have

[2022-09-26 17:59] mrhpearson commented on #269
It looks like you're making progress in the other thread. Are we good to close this one?
If stuck - can you try booting from a Fedora Live Workstation USB?

[2022-09-26 18:05] mrhpearson commented on #264
EC 1.22 is here (and under stable) https://fwupd.org/lvfs/firmware/5728

Checking the released notes on the support site it's the latest version:
   https://download.lenovo.com/pccbbs/mobiles/n23ul35w.txt:
   1.57      (N23UL35W)  1.57 (N23ET82W)      1.22 (N23HT37W)   01    2022/08/25

[2022-09-26 18:07] mrhpearson commented on #172
Afraid I don't know the answers to those questions. @ChiWei-Chen - do you?

Mark

[2022-09-26 19:58] nre commented on #172
@ganchair If fwupd thinks your ME firmware version is 0.35.1951 (because of the [ME-version problem](https://github.com/fwupd/firmware-lenovo/issues/172#issuecomment-1158753329)) then it will also think that it doesn't meet the requirement of >= 240.35.1951.

Otherwise check that you are on mains power instead of battery and that you don't have Boot Order Lock enabled in BIOS. I think `fwupdmgr ge

[2022-09-26 20:19] ganchair commented on #172
yes it thinks like that.

[code]

[2022-09-26 22:35] davidstrauss commented on #269
Yes.

I attempted this, but it didn't help. Lenovo has since released the bootable ISO version, which I've since installed after converting it to a thumb drive image with the eltorito tool.

[2022-09-26 22:35] #269 closed, assigned to nobody

[2022-09-26 23:50] mrhpearson commented on #266
OK - I've passed them back to them

For my understanding - I'm not seeing the table under /sys/firmware/acpi/tables on any of my systems. Is that because they're all prototypes and won't be activated - or am I looking in the wrong place. I'd like to be able to show the FW team how to reproduce it but don't think I have a system that I can do that on (joys of getting prototypes...)

Mark

[2022-09-27 01:09] mrhpearson commented on #266
Got some feedback quite quickly:
 - Can the table come back If the user flash back to the previous FW version1.26 ?
 - If we confirm the table comes back we will have to narrow down on the change that causes the issue - there are '13 tags merged in this version' (which I take to mean 13 updates from Intel)

I would rather duplicate this issue in house so we can investigate and cycle thru some test

[2022-09-27 04:34] ChiWei-Chen commented on #172
@nre , @mrhpearson I'm afraid I don't have this info, I'll give you back once I heard any back from FW team.

[2022-09-27 12:43] sirdiego commented on #7
I just today learned about fwupd, LVFS and all this crazy cool stuff. Thanks for the hard work! Does anybody know if there are options to change the boot splash via fwupd? It would be super cool to have a reliable way of changing the splash even when Lenovo releases updates. Hoping that maybe Lenovo answered the questions you guys had for them 🤞

[2022-09-28 07:08] rogueai commented on #257
I've retested this with `v1.8.5` and it seems to be working now. Unfortunately, in the meanwhile I've setup secure boot + custom signing keys so my environment is not as it was when I first tested it with `v1.8.3`

[2022-09-28 07:51] hughsie commented on #7
I asked @mrhpearson about this a while ago; Mark -- any updates? This is something the corporate customers ask me too.

[2022-09-28 12:06] vishnuocv commented on #268
@WillsyAu and @mrhpearson

The version you have (T99W175.F0.6.0.0.6.TE.010.020) and the version T99W175.F0.1.0.0.9.TE.008.079 are for two different modules. The hardware configuration of both versions is different (slightly).
Hence you could not do the upgrade.

The error logs are as expected.

@WillsyAu Shall I know Why you have gone for the upgrade? Are you facing any issues with the current FW?

[2022-09-28 21:45] WillsyAu commented on #268
Thanks Vishnuocv,
Yes I am having issues with FCC unlock.... Given your confirmation of the hardware difference, I will close this ticket and chase up the vendor regarding the FCC unlock scripts.

Thanks.

[2022-09-28 23:46] #268 closed, assigned to nobody

[2022-09-29 12:57] mrhpearson commented on #271
FW released to stable - closing ticket, but let me know if any issues.
Thanks for flagging this!

[2022-09-29 12:57] #271 closed, assigned to nobody

[2022-09-29 14:26] mark-beeby commented on #191
Had a breakthrough here. Whilst the driver update has been left utterly broken and remains unsupported by Lenovo since this thing was released, I have got the dock working (including ethernet) by changing a bios setting:-

Bios -> Config -> Thunderbolt 4 -> PCIe Tunelling **(disable this)**

[2022-09-29 14:31] ChiWei-Chen commented on #172
Hi @nre we heard some feedback from FW team, could you help to check with it? Thanks.

[2022-09-29 14:59] RaphaelJenni commented on #191
Can confirm. No crashes. But for me no screen is detected (via HDMI), does that work for you @mark-beeby ?

**Edit**: After a reboot, the screen was detected with no issues.
**Edit 2**: Switching to a different screen (ultrawide) while the computer is running does not detect the screen correctly. A reboot fixed the detection part again, but only the top corner is visible (this one could also be a

[2022-09-29 15:30] thattolleyguy commented on #191
Worked for me as well

[2022-09-29 16:07] mark-beeby commented on #191
@RaphaelJenni saw you'd gotten screens mostly working, HDMI and DisplayPort (which i normally use) both now work fine here, just to confirm!

[2022-09-29 21:13] nre commented on #172
@ChiWei-Chen
1. I have found ME 240.23.1706 to be less stable than the previous version (e.g. errors at shutdown) so I am glad to hear that 1951 is more stable and that 2142 is also ready.
2. Thank you for checking and releasing 1951.
3. Yes, that is the problem. BIOS 1.20 is released now on LVFS but I believe no one can install it because fwupd thinks that ME 0.35.1951 does not meet the requireme

[2022-09-30 01:55] ChiWei-Chen commented on #172
@nre , thanks, I'll keep you posted once I get any FW team's reply.

[2022-10-03 15:11] speachy opened #272 "Missing firmware for Thinkpad T495 -- 1.31 (R12UL61W) (2022-09-01)"
https://download.lenovo.com/pccbbs/mobiles/r12ul61w.zip
https://download.lenovo.com/pccbbs/mobiles/r12ul61w.txt

Interestingly, they provide a direct Linux update cab in that zip file, but when trying 'fupdmgr install XXX.cab' it claims 'No supported devices found' This is with fwupd 1.8.5 on Fedora 36.

[2022-10-03 15:22] speachy commented on #272
[code]

[code]

Also, I noticed that this one's internal version string is "0.1.31" but the current (v1.30) firmware's reported string is "0.1.36" which might be part of the problem.  fwupdmgr's output:

[code]
And the .cab's xml file:
[code]

[2022-10-03 17:22] mrhpearson commented on #272
It is on LVFS - but under embargo and doesn't look like they have done the testing on it yet :(
I've flagged this to the FW team (internal ticket  LO-2058).

[2022-10-03 17:37] speachy commented on #272
Well, it's publicly posted on the T495's download site.  :)

https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t495-type-20nj-20nk/20nj/20njcto1ww/pf21vbhd/downloads/ds539877-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpad-t495?category=BIOS%2FUEFI

(Come to think of it, the v1.30 firmware I got from LVFS last time never got posted t

[2022-10-04 15:05] drahnr opened #273 "Error "Use the MCU to update the DMC device" with `ThinkPad Universal Thunderbolt 4 Dock`"
**Describe the bug**

There is no update path for the "ThinkPad Universal Thunderbolt 4 Dock"

Consequences are that I am hitting a known and fixed issue in a later firmware update regarding issues in multiscreen setups where EDID information is corrupted.

**Steps to Reproduce**

[code]

The versions reference at lenovo are of the following format 1.0.9 or 1.0.11 etc:
* https://support.lenovo.com

[2022-10-05 00:44] LinuxOnTheDesktop commented on #214
@ChiWei-Chen

Please note that the update in question is from _March 2020_ (_sic_) and is given the urgency level of . . 'high'.

[2022-10-05 04:24] ChiWei-Chen commented on #214
Hi @LinuxOnTheDesktop thanks, I know the FW team is working on fixing this by re-upload the new FW with metadata, I will keep you posted if any updates from the team.

[2022-10-05 13:00] martenb commented on #162
i have same problem, any updates on this?

[2022-10-05 16:15] #274 closed, assigned to nobody

[2022-10-05 20:41] christophgysin commented on #162
I just spotted this:

Let's see if it fixes the problem.

[2022-10-05 20:53] christophgysin commented on #162
I just spotted this:

And after a reboot, this seems to have indeed been fixed!

[2022-10-05 21:08] fbatschi commented on #191
Can confirm as well. No more crashes, ethernet on dock and HDMI works fine with PCIe Tunneling switched off..

[2022-10-06 07:08] ChiWei-Chen commented on #272
Hi @speachy , I work with @mrhpearson.
The FW steam seems released the new BIOS 1.37 to stable, please let me know if this doesn't work for you. Thanks!
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR12ETXXW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR12ETXXP.firmware

[2022-10-06 07:10] LordChaos73 commented on #264
Is there any hope on restoring Thunderbolt/HDMI functionality? A BIOS update maybe?

[2022-10-06 07:18] LordChaos73 commented on #264
I see there's a new version of the Intel ME available - 11.8.93.4323. It's not on LVFS yet?

[2022-10-06 09:32] drahnr commented on #185
Related: https://github.com/fwupd/firmware-lenovo/issues/75

[2022-10-06 09:32] drahnr commented on #75
gentle ping @mrhpearson

[2022-10-06 09:53] Dagur commented on #162
Where did you spot this? Can you elaborate on what you did?

[2022-10-06 10:30] abitmore opened #275 "Firmware 0.1.51 and 0.1.52 for Thinkpad T570 require current version >= 0.1.64"
The 0.1.51 firmware requires (again) current version greater than or equal to 0.1.64. The requirement was not in the 0.1.50 firmware. Looks like it is an old bug in 0.1.45 (see https://github.com/fwupd/firmware-lenovo/issues/97#issuecomment-748922595).

* Systems: Lenovo ThinkPad T570, Lenovo ThinkPad P51s
* Link to the firmware update at Lenovo Support: /
* Firmware Release Date: /
* Link to the

[2022-10-06 17:47] speachy commented on #272
I just installed the update through fwupd, and it seems okay.  Thanks for getting this handled so quickly!

[2022-10-06 17:47] #272 closed, assigned to nobody

[2022-10-06 18:17] christophgysin commented on #162
@Dagur Sorry, this is an update that came in with:
[code]

[2022-10-06 20:06] dkwo commented on #89
Even after yesterday's firmware update, my ME is still stuck at 184.86.3909.
@ChiWei-Chen This is a T460s, like the title says (of the issue that I created).
What fwupd sees (notice the incorrect weird version)
[code]
So things are unchanged.

[2022-10-06 20:58] dkwo commented on #89
On the positive side, I'm still able to update by hand (checked in bios that it worked):
`fwupdmgr local-install --allow-older e3157585106d603f76a0140f3e41e0135a030a9a1a87d8a2a9a961dcfe26156f-Lenovo-ThinkPad-T460s-CorporateMEFirmware-11.8.92.4222.cab`
even though the tool incorrectly says
[code]

[2022-10-07 05:44] kmauleon commented on #89
hi All.. please install System Firmware 1.57 for the fix.... thank you very much.
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1CET.firmware

[2022-10-07 06:35] ChiWei-Chen commented on #208
@arderyp the new T460s System Firmware 1.57 for the fix is already stable, please let us know if this doesn't work for you.
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1CET.firmware

Thanks, @kmauleon

[2022-10-07 18:08] drahnr commented on #273
CC @fbatschi
 could you post your spec, iirc you already got an update for your dock via fwupdate? I suspect that it's either a different dock or there has been no firmware for a while

[2022-10-08 22:24] arderyp commented on #208
@ChiWei-Chen do I follow the same .cab download/install steps used earlier? What are my expectation? It triggers a reboot, installs itself, another reboot, then fwupdmgr detects no pending firmware updates?

[2022-10-09 10:52] najjara commented on #162
System Firmware on T490 got updated to 0.1.77, no mention of a similar changelog (like for 0.1.54), IME version is still being reported incorrectly.
fwupdmgr got updated to 1.8.6

[2022-10-09 17:28] ndrs-pst commented on #254
Dear All,

I'm using T490 with Windows 10 and faced the same problem.
After disabled "Enhanced Windows Biometric Security" in BIOS, I can success fully update Intel Management Engine.
Hope this also applies to this issue too.
[Windows BSOD and other problems after enabling "Enhanced Windows Biometric Security" in BIOS Setup - ThinkPad](https://pcsupport.lenovo.com/ca/en/products/laptops-and-netboo

[2022-10-09 18:39] arderyp commented on #208
@ChiWei-Chen the day may finally have come :pray: !

I ran `fwupdmgr --allow-older --allow-reinstall install 8294783c9ed6c759b3dc3968cacc8d5a3c981f47ecbc105779c2fdaefebd0806-Lenovo-ThinkPad-T460s-SystemFirmware-1.57.cab`

It did not give me errors about it being unsigned :)

I rebooted the system, saw "Systen Reset" in the top left corner, then was launched into the firmware install screen.  This

[2022-10-10 01:09] kmauleon commented on #208
hi @arderyp thank you very much for the feedback.  very much appreciated ^_^

[2022-10-10 22:03] sufanek1 commented on #226
same happened to me with p17gen2

fwupdmgr reinstall helped

[2022-10-11 07:40] ChiWei-Chen commented on #208
@arderyp appreciated for your patience and hearing good news from you :)
Also thanks for @kmauleon 's great support!

[2022-10-11 07:51] ChiWei-Chen commented on #118
This fix already verified pass in #140.

[2022-10-11 07:51] #118 closed, assigned to nobody

[2022-10-11 07:51] lijunwang1990 commented on #118
 
您好，邮件已收到

[2022-10-11 08:48] thmo commented on #208
Please forgive a question from someone lurking here for a while ;) What is the TL'DR version of how to check whether the latest firmware components are installed? I never force-installed (reinstall/allow-older) something on my T460s but `fwupdmgr` recently installed 1.57. Am I good?

[2022-10-11 09:40] ChiWei-Chen commented on #208
@thmo , I'm not pretty sure about the TL'DR version. (@kmauleon any suggestion?)
You can check with `fwupdmgr refresh` and `fwupdmgr get-devices`.
If the T460s machine already has BIOS(system firmware) 1.57 and Management Engine Firmware version 184.92.4222 without prompting update.Your machine is upgraded correctly.

[2022-10-11 10:08] jknaus commented on #162
Same issue here with a T490s:
[code]
Going into UEFI graphical interface at boot, the BIOS shows
Intel Management Engine ("ME Firmware Version") is already 12.0.85.1869

However, `fwupdmgr get-updates` still erroneously offers
[code]

This is also offered by Gnome-Software (running Fedora36 workstation).
My fwupdmgr version is 1.8.5

Is this issue the same as #224?

[2022-10-11 23:04] kmauleon commented on #208
hi @thmo Yup as @ChiWei-Chen mentioned if fwupd not prompting for any update.... means your systems is updated.
You may also confirm versions installed in your system via "fwupdmgr get-devices"
thank you very much...

[2022-10-12 03:24] justwheel commented on #256
I am able to replicate this issue on RHEL 8.6 (CSB) on a Red Hat standard issue X1 Carbon G9, except with two differences:

1. The firmware upgrade bricked the laptop, once it got stuck on the Lenovo boot splash with the updating firmware message. The upgrade hung here and was never completed, leaving the laptop fully unresponsive with both the power button and the reset pinhole on the bottom havi

[2022-10-12 03:30] justwheel commented on #257
This issue captures my problem, except with a few differences:

1. This bricked the laptop as my firmware upgrade got stuck while applying the firmware update, and it never completed. I had to wait for power loss before I could then reboot and access my OS
2. Using a X1 Carbon Gen9 on RHEL 8.6 (RH CSB)
3. I don't use rEFInd

I experienced this on the first day of using the laptop, so I am hesitant

[2022-10-12 11:27] thmo commented on #208
`fwupdmgr get-devices` still reports 3092909971 for the IME version, does that mean I have to manually update?

[2022-10-12 18:54] #229 closed, assigned to nobody

[2022-10-12 18:54] jwesterd-redhat commented on #229
Looks like 40AC is a dead end. OK.

[2022-10-12 22:32] kmauleon commented on #208
hi @thmo have you tried executing the following
     fwupdmgr refresh --force
     fwupdmgr update
if any update needed, please install firmware one by one.... thank you very much

[2022-10-13 10:03] thmo commented on #208
[code]

but BIOS reports this:
- UEFI BIOS Version: N1CET89W (1.57)
- UEFI BIOS Date: 2022-09-13
- Embedded Controller Version: N1CHT32W (1.14)
- ME Firmware Version : 11.8.90.3987

[2022-10-13 12:07] VorpalBlade commented on #263
Any updates on this? I haven't heard back since your original reply when I sent the emails.

[2022-10-14 01:14] kmauleon commented on #208
hi @thmo can you please share output for this one... thank you
fwupdmgr get-devices > thmo_t460s.txt

[2022-10-14 19:36] mrhpearson commented on #263
Afraid not - I've sent another nag to the team in Europe (but got an OOO so not expecting a quick reply).

[2022-10-15 06:48] ganchair commented on #172
looks like firmware 15.0.41.2142 has been released on driver page (https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-l-series-laptops/thinkpad-l13-gen-2-type-20vh-20vj/downloads/driver-list/component?name=BIOS%2FUEFI)

[2022-10-15 08:10] lohedges commented on #273
There is currently no firmware for this dock in LVFS. As of yesterday (October 14th) there is no firmware available whatsoever, since Lenovo have pulled the Windows version. I only discovered this having finally got access to a Windows laptop in order to update. (What are the chances of the firmware being removed on the same day?)

Having found the latest firmware on the Internet Archive's WayBack

[2022-10-15 08:16] drahnr commented on #273
For cross referencing ease, while somewhat related, https://forums.lenovo.com/t5/Fedora/Fedora-Linux-Thunderbolt-4-Dock-Update/m-p/5173614?page=1#5762965

[2022-10-15 16:11] arderyp commented on #208
@thmo are you on a Lenovo T460s?

If not, it would be best to open a separate issue, as the Lenovo team is handling separate issues for separate models, and this issue is already very long (and potentially resolved)

[2022-10-15 17:15] das-menschy opened #276 "Lenovo System Firmware update 1.55 -> 1.56 deletes all SecureBoot keys and certs, disables SecureBoot / turns on Setup Mode and deletes all UEFI Boot entries"
**Describe the bug**
Updating my Lenovo system firmware from version 1.55 to version 1.56
(Lenovo-ThinkPad-X1Carbon5th-SystemFirmware-1.55.cab => Lenovo-ThinkPad-X1Carbon5th-SystemFirmware-1.56.cab)
* **deleted** all of the SecureBoot keys in UEFI NVRAM: all database (DB) keys were removed, all Key Exchange Keys (KEK) were removed, the Platform Key (PK) was removed, all Machine Owner Keys (MOK) we

[2022-10-15 17:25] das-menschy commented on #276
Is the hardware on this Lenovo Thinkpad broken?
Or is this a firmware bug?

[2022-10-15 19:58] das-menschy commented on #276
I also made two photos during the Lenovo System Firmware update, but I guess they won't help; because they report success and no error:
![IMG_20221014_133844](https://user-images.githubusercontent.com/86577857/196005340-04a8f5f5-faac-4a26-add6-45ba09fcad8d.jpg)
![IMG_20221014_133848](https://user-images.githubusercontent.com/86577857/196005437-b39dc741-e39d-41df-9921-c5a32073abc4.jpg)

[2022-10-15 20:07] das-menschy commented on #276
Is this not a bug, but an undocumented feature to disable Secure Boot? :laughing: :smile:
I guess this issue is a security vulnerability.... Maybe I should not have gone public. Anyway, here we are.

[2022-10-15 20:28] das-menschy commented on #266
I've got the same problem. On my Thinkpad X1 Carbon 5th Generation, the MSDM table with the Windows License Product Key is also gone. I guess the deletion also happened during the last Lenovo System Firmware update 1.55 => 1.56.

I can say with 100% certainty that I had this Windows 10 Product License Key, because I **saved** it in my Password Manager (KeePassXC) some time ago, when it was still a

[2022-10-15 20:29] das-menschy commented on #276
Could be the same bug as #266 . Lenovo System Firmware updates seem to delete quite a lot of things...

[2022-10-16 08:51] thmo commented on #208
This is on a T460s. Here's the output of `get-devices`: [thmo_t460s.txt](https://github.com/fwupd/firmware-lenovo/files/9793975/thmo_t460s.txt)

[2022-10-17 02:40] mrhpearson commented on #273
We have the FW for the USB-c and TBT3 dock (though I think that needs updating now) but not the TBT4 dock yet. The docking team are working on releasing it but hit some issues in the last round of testing that have delayed it being released.

I've asked for an update and ETA. Will try and remember to update here (and in the linked forum topic) but please nag me if you don't hear anything.

[2022-10-17 09:03] rochfort1 commented on #255
Lenovo have made a new firmware (they call it BIOS) version available. After updating, I now see the following on the Main tab of BIOS main page:
UEFI BIOS Version: N27ET48W (1.34)
ME Firmware Version: 11.8.92.4222
UEFI BIOS Date: 2022-09-16

GNOME's software updates no longer requests an ME Firmware update.

Looks like they have fixed the problem.

[2022-10-17 09:39] hughsie commented on #276
@mrhpearson if this is disabling SecureBoot by just updating we should probably spin up secalart too. Do you want me to pull the update whilst we debug?

[2022-10-17 15:41] cponder commented on #255
Can you please list the command-lines to perform the update?
If I use the Ubuntu 22.04 menus I still have the problem.
Just running `sudo fwupdmgr update` went through the steps but I still see this from `fwupdmgr get-history`
[code]
and the Ubuntu software update menu says the update still needs to be installed.

[2022-10-18 01:53] ChiWei-Chen commented on #255
@cponder, could you give it a try with `sudo fwupdmgr update` again?
The FW has moved to stable a few minutes ago.
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN27ETxxW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN27ETxxP.firmware

@rochfort1 , thanks, it's good to know this.

[2022-10-18 02:24] cponder commented on #144
I've been having the same update-problem on my T580.
Here's the disk partitioning:
[code]
Is there something here that I need to change?

[2022-10-18 08:09] VorpalBlade commented on #263
I thought I should let you know that the charging on that replacement motherboard died yesterday evening and I have now created another service ticket for replacement.

Once that goes back to Lenovo you may want to pull it and prevent it from getting repaired and going out to another customer.

[2022-10-18 12:22] cponder commented on #255
In the `System Tools  ->  Software  ->  Updates` menu, it looks like the latest updates have cleared the problem out, so it doesn't show there being any updates left to make.
When I run `fwupdmgr get-history` I see this
[code]
Since these two entries are labeled differently, I can't tell if (A) the first one was an old failure and the second one shows the subsequent success, or (B) they represent

[2022-10-18 18:58] mrhpearson commented on #263
OK - thank for the note. They're ignoring me at the moment - not impressed :/

[2022-10-18 19:44] mrhpearson commented on #276
Sorry for the slow reply.
I'll definitely follow up with the FW team on this, but unsure on pulling it - looks like a lot of succesful downloads and updates from the stats.
My concern is that we're not going to be able to reproduce this and if it's a one off we end up stuck. Can you give me a day to follow up with the FW team and see what they say?

It's hard enough getting them to do the FW updat

[2022-10-18 19:47] mrhpearson commented on #276
As a note - internal ticket # LO-2077

[2022-10-18 19:51] das-menschy commented on #276
During the firmware update, a **"System reset"** message was displayed. I guess the "System reset" is the problem.
Solution:
* either don't do a "System reset" during the firmware update (for this, the *.cab file would have to be changed, I guess)
* or make a backup of all system settings (UEFI boot variables, UEFI secure boot certs, etc.) **before** the firmware update / System Reset, and **reloa

[2022-10-18 19:57] mrhpearson commented on #276
Those entries really shouldn't be impacted by a FW update. The system is reset during the update so that's pretty normal and I don't think is necesarily the problem.

I saw your note in #266 and that is making me double guess if this should be pulled or not. We didn't get to the bottom of what was going on there.

Afraid I really need feedback from the FW team. What you're seeing is not common - I

[2022-10-18 20:08] das-menschy commented on #276
Let's see who is faster to implement: the firmware developers at Lenovo or the developers of fwupdmgr.
I would guess the latter. ;-)

[2022-10-18 21:37] rochfort1 commented on #255
@cponder If you want to see what versions of the UEFI firmware and management engine firmware are installed, press F1 when you start the computer and look at the BIOS main page Main tab. The following are of interest:
UEFI BIOS Version:
ME Firmware Version:

You appear to have found a problem with what `$ fwupdmgr get-history` reports. In my case, the BIOS main page shows:
UEFI BIOS Version: N27ET

[2022-10-19 12:34] eBug commented on #94
Please be aware that you have to use the correct usb-c port on the computer: there are 2 connectors on the left side, only one is thunderbolt-enabled.

[2022-10-19 15:41] jwesterd-redhat commented on #94
the second USB-C port from the back is the one for sure .. Over that, the
Display and Network and sound and USB and .. all sorta stuff goes over that
link.

What tools do we have to query/interact at that level?

lsusb -t shows the dock:
/:  Bus 01.Port 1: Dev 1, Class=root_hub, Driver=xhci_hcd/12p, 480M
    |__ Port 1: Dev 2, If 1, Class=Audio, Driver=snd-usb-audio, 12M
    |__ Port 1: Dev 2, If

[2022-10-19 18:27] #220 closed, assigned to nobody

[2022-10-19 22:37] eBug commented on #94
I was referring to the port of the laptop. But it also happens that there's only one TB usb port on the 40AC.

[2022-10-20 15:34] jrop opened #277 "Cannot update to latest firmware on T14s Gen 1"
**Describe the bug**

I have tried several times to update to the latest firmware on my Lenovo ThinkPad T14s AMD Gen 1 laptop, and each time the update appears to run to completion with no apparent errors, but it still shows me at the end that an update is available.

Most recently, I downloaded an updated BIOS *.cab file directly from Lenovo's website (after putting my model # in to make sure I w

[2022-10-20 17:29] mrhpearson commented on #277
Hi
Are you able to see any error messages at all during the install? Any possibility of grabbing a video in case something is displayed briefly?
Mark

[2022-10-20 18:24] jrop commented on #277
For sure, here is a quick vid.  Sorry my camera was having trouble focusing...

https://youtu.be/DxTlzZFo-2g

[2022-10-21 00:57] kmauleon commented on #208
hi @thmo let's try if you can manually update your T460s Consumer verison... please follow as below... thank you very much.
download from here >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1CRN.firmware
  Make sure the AC adapter is firmly connected to the target computer and at least with 25% battery
  Launch Terminal
  Navigate to the directory where the cabinet file was placed
  Execute

[2022-10-21 03:30] jrop commented on #277
Per a suggestion on the Arch Wiki, I tried updating one device at a time (even though there appears to be only one update available:

[code]

After rebooting, I was prompted to upload the following error report:

[code]

[2022-10-21 03:55] jrop commented on #277
I also found this thread (https://github.com/fwupd/firmware-lenovo/issues/85 -- looks like I was on it a while ago with the same problem), and running updates one at a time for me are not working: same behavior.

[2022-10-21 13:22] aaroncarlucci opened #278 "Thinkpad P15 gen2: ACPI BIOS Error (bug): Failure creating named object"
Hello,

I'm dual-booting Ubuntu 22.10 (freshly upgraded distribution from 22.04 today) alongside Windows 11 on my Thinkpad P15 Gen 2i for a while. For quite some time (under 22.04), I've been seeing the following in `dmesg` logs during startup:

[code]

I was hoping the next distribution upgrade and kernel would fix it, but nope. My research to this point is indicating that an error like this  mig

[2022-10-21 15:26] mrhpearson commented on #277
Thanks for the video - interesting as there's basically nothing displayed there at all. It must have run something as it does the extra reboot but usually you get at least a brief message in the top left.

You noted it in the other thread you reference - but choosing the linux-firmware-update from the menu doesn't give you anything different does it? (I don't think it will..but want to check)

I'l

[2022-10-21 15:50] mrhpearson commented on #277
Sorry - a favour to ask, but can you get me what the R1CETxxW version number is? You should be able to get it from the BIOS setup screen (F1 during early boot). I should be able to figure it out but the FW team server is in Japan and is being really really slow today.
As you're on such an old version we may have to do some interim steps - I have access to some internal notes, but the ones that nee

[2022-10-21 17:22] jrop commented on #277
Correct, no difference there.

Yeah, I'm preparing to try that next.

For sure! It is: R1CET36W (1.05)

Thanks for looking into this.

[2022-10-21 17:33] jrop commented on #277
Something new at least: when I try to do the update with the Bootable CD method (flashed to a USB stick), I get the following error:

![4000-3000-max](https://user-images.githubusercontent.com/1404053/197255350-9fba2496-2546-4a7d-95a5-995f9be385f1.jpeg)

[2022-10-21 18:00] mrhpearson commented on #277
OK. As the version you have is the original production version, lso quite old, let's see if we can break this down to some stages.

First thing to do to load default values in the BIOS (from the BIOS setup menu). Once that's done double check that doesn't magically fix things (unlikely but you never know). Then I'll get you version 56W and we'll go from there.

Might be best to move this to email

[2022-10-21 18:19] mrhpearson commented on #278
Hi,

Thanks for the note. Would you mind posting this on the Lenovo Linux forums? https://forums.lenovo.com/linux
I try and keep the fwupd issues for things that are fwupd or firmware update related which this isn't.
I should pick up the thread on the Lenovo forum and can get a ticket open to the FW team from there.

Sorry to make you jump through hoops. As a note; I believe the issue is minor and

[2022-10-21 18:19] #278 closed, assigned to nobody

[2022-10-21 21:04] jrop commented on #277
@mrhpearson Thanks for the continued help.  I sent you an email, let me know if you did not receive it.

[2022-10-22 19:58] l3s2d commented on #5
Any updates? It looks like the firmware has now been removed from lvfs-testing as well.

[2022-10-23 00:16] roliverio commented on #5
Hopefully a new version is about to come out and it will be rolled-out on LVFS as well. @mrhpearson do you happen to know about this possibility?

[2022-10-24 06:51] dkadioglu opened #279 "T470s: Thunderbolt NVM version 23 missing"
Since 29th of September an updated version 23 is available for the T470s Thunderbolt. The update file for Windows has version 20.22.09.02-N1WTF16W. May this be added to fwupd.org? Thanks in advance.

[2022-10-24 08:29] RayyanRiaz opened #280 "P17 Gen 2i: Failed ME firmware. No sound on Ubuntu"
The firmware update from 1.22 to 1.23 was unsuccessful, and now at every reboot/start, I get into a screen which says:

`Reading ME Firmware...Please do not power off! 30% Complete`
After 48% progress, it restarts and quickly goes to 10% and then jumps to 60%, and then fails, saying:
` Failed to recover ME Firmware...`

Also, this thing happens twice before I can go to BIOS/grub.
I am giving these

[2022-10-24 08:46] hughsie commented on #280
Why did you use `--force` out of interest?

[2022-10-24 08:49] RayyanRiaz commented on #280
@hughsie thanks for the quick comment :)
First I tried it without `--force` flag, and then with `--force` flag because I thought that if a partial update is applied, there might be some runtime check that is blocking the update.

[2022-10-24 10:25] thmo commented on #208
Did this, and "Current version" for "Intel Management Engine" is now on "3093041278", so I guess it worked, thanks.

[2022-10-24 20:12] fhuberts commented on #206
I have a Lenovo TB4 dock (non-smart) with 2xDP and 1x HDMI.
On Fedora 36 and 37, both my Z16 AMD and P14s Gen 2 AMD laptops can't light up either of the displays, no matter which ones I plug and which ones I do not plug.
The dock was updated to the latest firmware (1.10 I think).
I've read some comments that from kernel 6.0 it should start working but with the rawhide kernel (6.1-rc1) I see no dif

[2022-10-25 01:07] kmauleon commented on #208
@thmo great! but still bothered why is your version formatting like that.... not sure but maybe your fwupd is not updated? can you please run this again...
apt install fwupd
apt install fwupdate
fwupdmgr refresh --force
fwupdmgr update

[2022-10-25 01:08] arderyp commented on #208
@kmauleon going the extra mile, I love it!

[2022-10-25 14:37] a-andre opened #281 "ThinkBook 14s Yoga ITL: MAC pass through not working"
With MAC pass through disabled the ACPI dump contains `MACA._AUXMAX_#XXXXXXXXXXXX#`

With MAC pass through enabled the ACPI dump contains `MACA._AUXMAC_#XCXAX1X1XCX2#`. As `XCXAX1X1XCX2` is an invalid MAC address, the kernel cannot configure MAC pass through.

The relevant kernel function is [`vendor_mac_passthru_addr_read`](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/d

[2022-10-25 15:33] hughsie commented on #281
@mrhpearson do you want this kind of thing here, or should I direct users to report this somewhere else?

[2022-10-25 19:35] mrhpearson commented on #281
As it's not related to FW updates I would rather it went to the Lenovo linux forums please

@a-andre - please can you post this on the Lenovo Linux forums: https://forums.lenovo.com/linux

I'll look to pick it up there (and we have a fairly active community too who may be able to contribute).

Thanks!

[2022-10-25 19:35] #281 closed, assigned to nobody

[2022-10-26 08:45] lohedges commented on #273
Just to say that the v1.0.13 firmware installer has just been released for Windows and I have managed to update using a friend's Windows laptop. I'll let you know if it solves the flickering/drop-out issue, or any of the other problems that I have been experiencing. (From the README it looks like nothing of significance has changed since v1.0.11, which was released back in August, but didn't work

[2022-10-26 11:44] Cyanose opened #282 "Thinkpad x13 gen 2 AMD - Unable to charge battery after BIOS update."
Arch Linux 6.0.2
Recent bios update to version https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1NET.firmware 0.1.21 caused laptop battery to be unable to charge. Connecting the adapter was just preventing laptop from discharging (Laptop had been consuming the energy directly from the charger, but was unable to charge battery). The interesting fact I found was that the `/sys/class/power_supply/A

[2022-10-26 11:56] hughsie commented on #282
@mrhpearson help!

[2022-10-26 12:55] mrhpearson commented on #282
Thanks for the report. Raised ticket  LO-2092 to the firmware team.

I don't have a X13 AMD G2 to test with directly myself but I do have a T14s G2 AMD which uses the same FW. I'm seeing that ACPI message and the lack of the power_supply/AC directory - but the battery is charging so those might be a red-herring (do you not seen those with 1.20?)

I'll update when I hear back from the FW team
Mark

[2022-10-26 13:12] Cyanose commented on #282
Hi, thanks for the action sir.
On the 1.20 bios version the ACPI messege regarding adapter I get in log is: `ACPI: AC: AC Adapter [AC] (on-line)`
And the `power_supply/AC` directory does exists with the proper content inside. The battery is charging just as it should.
Best regards

[2022-10-26 15:45] lohedges commented on #273
The firmware update appears to have fixed the flickering and drop-out issue. (I've not experienced any yet, at least.) However, the external displays are _still_ not detected on boot and suspend / resume doesn't work either. (I've experienced a crash, a hang, and a resume with no detection of the external displays.) I have no such issues with the TB3 workstation dock.

[2022-10-26 16:58] thmo commented on #208
Ok, I did this:
[code]

[2022-10-26 20:09] mrhpearson commented on #273
Thanks for the update. As a note (as this is the fwupd project) we are expecting that version to be released on LVFS at the beginning of November - there were some issues around 1.0.11 that needing resolving and delayed it being released.
Which platform are you testing against - I couldn't spot it in the above.

[2022-10-26 20:21] lohedges commented on #273
Thanks. I am running Arch Linux on a ThinkPad P1 Gen 5. I'm using the proprietary NVIDIA driver, with Optimus Manager managing the switching of graphics cards via the provided kernel parameters. Everything worked fine on the TB3 workstation dock that I was using before. I also have access to a P1 Gen 2 using the same setup and experience the exact same problem.

I recall reading reports of similar

[2022-10-26 20:31] mrhpearson commented on #273
OK - thanks. We haven't done the (Ubuntu) dock cert with the P1G5 yet (still wrapping up the platform enablement - dock cert comes after because docks are....complicated/painful/difficult). I was using my dock with a P1 G3 and G4 previously succesfully though.
It's quite possible there are still fixes to come.

[2022-10-27 00:37] kmauleon commented on #208
hi @thmo can you please try to run fwupdmgr get-devices again... hope the version format has changed....thank you very much....

[2022-10-27 12:41] devfox-se opened #283 "Thinkpad Carbon X1 Gen8 missing part of latest firmware package"
The latest package [N2WUL23W](https://download.lenovo.com/pccbbs/mobiles/n2wul23w.txt) comes with 2 updates

UEFI got updates from 1.26 -> 1.27 successfully trough `fwupdmgr` but there is no update available for the embedded controller, its still `1.13` even after refreshing metadata

[code]

Tried to update it manually

[code]

[2022-10-27 15:25] mrhpearson commented on #282
Got confirmation from the BIOS team that this was a known issue and will be fixed in release R1NET54W BIOS
ETA for that is 18th November (it takes a while for it to go through our internal test and release process).
Note - I think 54W will be version 1.24

[2022-10-27 15:58] hughsie commented on #282
@mrhpearson can I flip that bit that makes the uploader have to specify R1NET54W?

[2022-10-27 18:57] mrhpearson commented on #282
How does that work? Means for that platform the next release has to be that?
I don't have a problem with that - unless a problem is found with 54W and they end up with 55W...

[2022-10-27 20:41] swilli opened #284 "thinkpad x1 carbon 7th gen w/ secure boot: boot entry created by fwupd causes security violation"
Setup: Arch Linux with Secure Boot enabled (shim/MOK based)

Steps to reproduce:
1. Open gnome-firmware
2. Click any device's firmware on Reinstall. This will result in the following boot entries on my machine:
[code]
4. Reboot
5. Computer reboots, Lenovo logo pops up
6. A blue screen appears with text "ERROR: Verification failed: 0x10 Security Violation"
7. Press enter
8. GRUB launches

No firmwa

[2022-10-28 07:00] Cyanose commented on #282
Thanks a lot for your involvement once again,
So if I understood correctly, This will be fixed not in the next incoming update, but I need to wait for version 0.1.24 ?

[2022-10-28 08:32] hughsie commented on #282
Ohh, sorry, I mean we make it mandatory to specify the tag e.g. `R1NET54W` for each upload. It's getting a bit confusing to compare version numbers to tags like `R1NET54W` when the latter keep being forgotten on the LVFS... :)

[2022-10-28 12:28] a-andre opened #285 "Lenovo Powered Travel Hub firmware not up-to-date and still in testing state"
The [firmware](https://fwupd.org/lvfs/devices/com.lenovo.TravelHubGen2.extra) is in testing state for almost two years. What's missing to move it to stable?

There has also been [a new release in July 2021](https://download.lenovo.com/consumer/options/lenovo_powered_usb-c_travel_hub_fw_utility_101307051.txt) which should fix some monitor issues, maybe the firmware in LVFS can be updated to that ve

[2022-10-28 13:27] mrhpearson commented on #282
@Cyanose - yes, but I think 1.24 is going to be the next release. 1.22 got pulled because of issues found during internal testing and I have no idea what happened to 1.23 (I assume the same).

@hughsie - Thumbs up from me and if any bombs get thrown just bounce them my way. I never got a reply back to my previous probe about this so silence is taken as acceptance....

[2022-10-28 20:25] lohedges commented on #273
Just an update to say that the screens have been rock-solid for the past few days following the firmware update. No flickering or drop-outs whatsoever.

Following some debugging, I've discovered that the disconnected external displays on boot results from the `nvidia-drm modeset=1` option, which is enabled by default with [optimus-manager](https://github.com/Askannz/optimus-manager), as it should

[2022-10-30 09:33] thmo commented on #208
Here's the current output: [thmo_t460s_new.txt](https://github.com/fwupd/firmware-lenovo/files/9895518/thmo_t460s_new.txt).

[2022-10-31 12:55] lohedges commented on #273
I spoke too soon. The graphical glitches returned today. Although less frequent than before, I am still experiencing an annoying level of flickering and complete drop-out. Coupled with the startup/resume issue, my solution is simply to return to using the TB3 workstation dock. I simply can't afford to waste any more time getting the TB4 dock to work correctly.

[2022-10-31 13:09] bearpebble commented on #175
@mrhpearson any idea on whether this is still being worked on?

[2022-10-31 14:21] rsysadmin-com commented on #226
HI all,

I've been also hit by this "Failed ME firmware"-thing. The corporate laptop runs Ubuntu 20.04(.05) LTS.

`SKU Number: LENOVO_MT_20W4_BU_Think_FM_ThinkPad T15 Gen 2i
`

I proceeded as follows:
* visited https://pcsupport.lenovo.com/ca/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t15-gen-2-type-20w4-20w5/20w4/20w4003fmz/pf2vey5z/downloads/driver-list/ and entered the

[2022-10-31 14:32] lohedges commented on #175
According to [this](https://github.com/fwupd/firmware-lenovo/issues/273#issuecomment-1292598135) post, they are hoping to release around the beginning of November.

[2022-10-31 14:38] rsysadmin-com commented on #226
update: fwupdmgr reinstall helped as well.
I reinstalled every element from the list.

HTH

[2022-11-01 08:01] hughsie opened #286 "Updating the dbx fails on T14"
I updated the dbx from 77 to 217 on a Lenovo T14. It fails as post-reboot no dbx device is present in fwupd. Looking closer no EFI variable is set at all. As in `/sys/firmware/efi/efivars/dbx-d719b2cb-3d3a-4596-a3bc-dad00e67656f` used to exist and now does not.

SN `FP-1X9RJH` -- which may be PVT or evaluation hardware. If it's because of that then no worries, otherwise, help! Thanks.

[2022-11-01 14:40] mrhpearson commented on #286
Hi @hughsie - Which gen T14 and Intel or AMD?

[2022-11-01 14:51] hughsie commented on #286
@mrhpearson AMD; details below:

	BiosVendor: LENOVO
	BiosVersion: R1BET24W(0.24 )
	BiosMajorRelease: 0
	BiosMinorRelease: 24
	FirmwareMajorRelease: 00
	FirmwareMinorRelease: 18
	Manufacturer: LENOVO
	Family: ThinkPad T14 Gen 1
	ProductName: GT4A1SIT19
	ProductSku: LENOVO_MT_GT4A_BU_Think_FM_ThinkPad T14 Gen 1
	EnclosureKind: a
	BaseboardManufacturer: LENOVO
	BaseboardProduct: GT4A1SIT19

[2022-11-01 14:59] mrhpearson commented on #285
Honestly, I have no idea how that got uploaded in the first place as it's not a dock that is covered by the linux program at all. I wasn't aware of it being on LVFS.
I'll go and do some digging to find out if there is or was an exercise I don't know about.
My honest guess is to not expect any further updates (I'm sometimes wrong though)

[2022-11-01 15:26] mrhpearson commented on #284
@swilli - thanks for the clear and detailed description.

@hughsie - does this one make any sense to you? I'm assuming the BIOS is barfing because fwupdx64.efi is not signed with the 3rd party cert but I'm happy to be corrected. I'm not sure how shim knows whether to call grub or fwupd....(I think I used to know...but I can't remember). I know we've ended up recommending disabling secure boot beca

[2022-11-01 15:36] mrhpearson commented on #283
Thanks for the report (and sorry for the slow reply).
I've flagged this to the FW team to get 1.14 on LVFS - it should be there. Internal ticket  LO-2099
Mark

[2022-11-01 16:58] mrhpearson commented on #286
Oh wow - that's an old version of the BIOS :) Ping me offline and we should figure out updating that because there are a ton of fixes for that platform. I'll need to go and review the internal notes as, if I remember correctly, the update sequence for that platform was a little bit tortured.
I've raised internal ticket  LO-2100 to get the FW team insight on what might have happened, and any recomm

[2022-11-01 17:23] hughsie commented on #286
Ya, it was PVT IIRC. Thanks for the help!

[2022-11-01 17:45] arderyp commented on #208
@kmauleon does @thmo's output look good? If so, I will close this issue.

[2022-11-01 20:53] jrop commented on #277
@mrhpearson Just bumping this issue, as I have not heard back via email (is it possible I sent to the wrong address?)

Thanks.

[2022-11-01 21:38] mrhpearson commented on #277
Thanks for the reminder - this was all my bad. I got your email, just never got to replying and then it got lost in the swamp. You should have a reply now - let me know if you don't.
Mark

[2022-11-02 12:44] thmo commented on #208
Thanks for the help!

Just wondering: in the end I had to use `--allow-older --allow-reinstall`, otherwise, the FW wouldn't have been updated. Shouldn't this be considered a "bug"?

[2022-11-02 14:08] devfox-se commented on #283
Much appreciate your response:)

[2022-11-02 20:09] arderyp commented on #208
@thmo I had to do that to and, as far as I know, its a one time thing to resolve this issue

@kmauleon can you please review @thmo's output [here](https://github.com/fwupd/firmware-lenovo/issues/208#issuecomment-1296186509) so I can close this?

[2022-11-03 02:30] kmauleon commented on #208
hi @thmo @arderyp sorry for the delay, we were on holidays ^_^

@thmo it's expected since you already have the same version of firmware but I can still see the same version format of MEFW. one last try, can you please execute fwupdmgr refresh --force and fwupdmgr update.  (Note: if BIOS or EC has update, please update them first then execute same commands again for other updates if any.)  lastly,

[2022-11-03 02:45] arderyp commented on #208
happy holidays :)

[2022-11-03 05:17] adityamukho commented on #250
@ChiWei-Chen any updates on this issue? I really don't get why it should take this long to fix crucial broken firmware.

[2022-11-03 08:28] BigBadBassMan opened #287 "Intel Managment Engine update fails on P53"
in relation to #140 and #255
[ME Update](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2NRM.firmware) fails to install on reboot. Only shows "Click a key to proceed" and reboots afterwards. Update is reported as not installed.

OS = Fedora 36
fwupd = Fedora package, 1.8.6
SecureBoot = off
BootGuard = on
Boot-Order-Lock = off

`fwupdmgr get-upgrades` shows only this remaining update
`fwupdmgr

[2022-11-03 13:34] mrhpearson commented on #283
Firmware has been uploaded and is in the stable channel. Let me know if you see any problems and thank you for flagging this - looks like the FW team had accidentally missed it.
I'll close the ticket as I think it's solved

[2022-11-03 13:34] #283 closed, assigned to nobody

[2022-11-03 21:57] isagalaev-dd commented on #250
@adityamukho for what it's worth, my issue has been fixed by installing the SOF firmware package with `sudo apt install firmware-sof-signed`. It's available in Ubuntu 22.04. So it looks like an Ubuntu packaging issue where they don't install it by default for some reason, not Lenovo's.

[2022-11-04 05:00] ChiWei-Chen commented on #250
@adityamukho sorry for the late, I know the FW assigned someone to look at this, but I didn't get much info, I'll need to follow up again.
BTW, could you give it a try with the latest SOF firmware? This seems more like the Ubuntu issue than the BIOS/EC FW issue for my view. Thanks.

@adityamukho thanks for the comment.

[2022-11-04 18:38] collinjc commented on #267
I have a Lenovo ThinkPad P1 Gen2 X1 Extreme 2nd with this same issue. fwupdmgr thinks that it is still on 192.72.1757, but the BIOS reports that it is on 192.90.2072.

[2022-11-04 19:08] mrhpearson commented on #267
Hi @collinjc - pretty sure you hit the ESRT table update issue.
The fix unfortunately didn't make it into 1.44 BIOS release but will be in 1.45 which we're expecting to be released mid November.
Afraid for now just ignore the update suggestions :(

[2022-11-05 14:17] Cyanose commented on #282
@mrhpearson, @hughsie I've recently discovered that despite AC directory being-no existent in the file system, the battery can still be charged. What actually causes the problem with the battery charging is trying to limit the maximum battery treshold via the systemd daemon that writes to the `/sys/class/power_supply/BAT0/charge_control_start_threshold` and `/sys/class/power_supply/BAT0/charge_con

[2022-11-05 18:15] arderyp commented on #208
for whatever it is worth, I just received notice of the first firmware update since I fixed this issue on my machine thanks to the work above.

The update seems to have taken. I rebooted and re-scanned for updates, and it is no longer saying I need an update.

That said, the update screen during the reboot did _not_ look like the successful update screen I explained [here](https://github.com/fwupd

[2022-11-05 21:52] swilli commented on #284
@mrhpearson AFAIK shim calls grubx64.efi by default (https://wiki.archlinux.org/title/Unified_Extensible_Firmware_Interface/Secure_Boot#shim) . And since I renamed my fwupdx64.efi in `/boot/EFI/arch/` to grubx64.efi, shim thinks it's calling GRUB when in fact it calls the firmware upgrader.

[2022-11-06 11:33] hvhaugwitz commented on #254
Disabling (or enabling) `Enhanced Windows Biometric Security` in BIOS did not change anything on my T490. `fwupdmgr update` still offers me the upgrade from `192.72.1757` to `192.90.2072` even after applying the upgrade via `fwupdmgr`.

[2022-11-07 02:18] kmauleon commented on #208
Hi @arderyp "the spinning line on Lenovo screen" is indeed expected during firmware update.  For peace of mind... can you please forward screen shots of BIOS Setup Menu and logs from fwupdmgr get-devices?  thank you very much

[2022-11-07 02:57] arderyp commented on #208
@kmauleon I will send a screen shot in a couple hours

The spinning line is not what I saw during the bios install that resolved this issue.  There was a colored progress bar and beeping audio.  Likewise, in 2021 and earlier, successful bios installs also showed colored progress bars with beeping, not just a spinning line.

The spinning line is less than ideal because there's no indication as to w

[2022-11-07 03:02] kmauleon commented on #208
OK @arderyp noted on the screen shots... thank you
as for the firmware update design... I agree... we just have to wait until the system restart which indicates the update has been completed...

[2022-11-07 05:00] adityamukho commented on #250
Thanks @isagalaev-dd. I checked that the SOF package is already installed in my system. The issue remains unsolved.

@ChiWei-Chen

[2022-11-07 08:59] xapienz commented on #219
@plumlis Please check https://gitlab.freedesktop.org/mobile-broadband/ModemManager/-/merge_requests/806, newer version of ModemManager is needed for "Invalid transition" fix, which is not in Fedora 37 yet

[2022-11-07 10:52] chofstede commented on #287
Exact same issue here

[2022-11-07 16:25] mrhpearson commented on #254
@kmauleon & @ChiWei-Chen - not sure if we've tracked the T490 separately or not? Let me know if we have this one on the list of platforms to get fixes for the ME udpate issue rolled out.
Thanks!
Mark

[2022-11-07 18:27] arderyp commented on #208
[code]

[2022-11-07 18:27] arderyp commented on #208
![IMG_3054](https://user-images.githubusercontent.com/6485320/200386757-fb15e9c3-44b3-4ce3-9463-f5d793d662c7.jpg)

[2022-11-07 18:32] arderyp commented on #208
@kmauleon my experience doesn't not jibe with this statement.

I've seen progress bars in the past. In fact, I've seen them more often than not when installing firmware via LVFS. So, it is possible. For whatever reason, different things happen across updates.  What I've witnessed:

1. spinning line on default Lenovo splash screen (completely uninformative and confusing)
2. green progress bar with

[2022-11-07 22:29] kmauleon commented on #208
@arderyp great! your MEFW is updated to latest...thank you for the confirmation!

As for the "update progress" design concern... sorry I am not sure whom we can address it to (BIOS?)... but I think, this should be on a separate topic if really need to push ... please advise @mrhpearson

[2022-11-07 22:54] arderyp commented on #208
@thmo can you please follow @kmauleon's instructions [here](https://github.com/fwupd/firmware-lenovo/issues/208#issuecomment-1301575909) so that we can wrap this issue up?

[2022-11-08 04:26] ChiWei-Chen commented on #254
@mrhpearson thanks, I'll ask FW team to look at this. (LO-2109 for tracking)

Hi @hvhaugwitz @frazar , there is a later version of BIOS 99W/99P(1.77) released weeks ago. Could you try to update this BIOS first then upgrade Intel Management Engine. Please let me know how it works, thanks.
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2IETXXW.firmware
https://fwupd.org/lvfs/devices/com.lenovo.T

[2022-11-08 05:45] ChiWei-Chen commented on #250
@adityamukho , thanks, I shared this with FW team, and I'll give you back once any feedback from the team

[2022-11-08 08:55] ChiWei-Chen commented on #214
@LinuxOnTheDesktop , sorry for the late update.
I got feedback from the FW team, it looks like this machine is a development sample that can only upgrade to the 71.16 version (from 71.12).
It should only allow the shipping machine upgrade to 0.73.20 from 0.73.04, they are editing metadata to restrict this.
Please send me a mail(cchen50 [at] lenovo [dot] com), I would send you the 71.16 cap firmwar

[2022-11-09 07:40] thmo commented on #208
Sorry for the delay.
[code]
BIOS reports:
[code]

[2022-11-09 21:41] scrool opened #289 "After reboot for an update error is displayed: ERROR 105 - command line error"
**Describe the bug**
I got two updates to be applied: Embedded Controller and UEFI dbx. Updates are downloaded and after reboot of the machine I get an error that ends with: "ERROR 105 - command line error!".

**Steps to Reproduce**
1. Run `sudo fwupdmgr update`
2. Accept all questions with Yes.
3. Reboot
4. First got:
[code]
5. After few seconds followed by:
[code]
6. And system is reset.
7. Anot

[2022-11-09 22:07] kmauleon commented on #208
hi @thmo good to know your MEFW updated to the previous version.  fyi, I just released a new version 11.8.93.4323
please update to latest.... thank you very much!

[2022-11-09 22:51] dkwo commented on #89
Firmware at 1.57, but updates to ME cannot be installed automatically, only manually.
Fwupd reports
[code]

[2022-11-09 23:33] kmauleon commented on #89
hi @dkwo please update your fwupd and execute the following....
fwupdmgr refresh --force
fwupdmgr update
also, kindly confirm MEFW version in BIOS... thank you very much

[2022-11-10 00:14] dkwo commented on #89
The above commands do not change anything:
MEFW in BIOS is up to date, but fwupd get-devices still has 3093106915.

[2022-11-10 00:18] kmauleon commented on #89
@dkwo there's something strange in your fwupd... any advise @hughsie
but at least we know MEFW is updated ^_^ thank you very much for the information

[2022-11-10 06:52] thmo commented on #208
I would like to do so, but the `fwupdmgr refresh --force` and `fwupdmgr update` combo does not update anything, should it?

[2022-11-10 07:00] kmauleon commented on #208
hi @thmo not sure why fwupdmgr update is not working on your side... please follow [this](https://github.com/fwupd/firmware-lenovo/issues/208#issuecomment-1286323911) instead... thank you very much

[2022-11-10 07:25] thmo commented on #208
Manually updating worked, I'm now at 3093106915 / 11.8.93.4323.

`fwupdmgr get-devices` still shows the version as "3093106915" though, maybe that's indeed the reason it doesn't want to update automatically? @hughsie

[2022-11-10 07:32] thmo commented on #208
FWIW:
[code]

[2022-11-10 08:10] thmo commented on #208
And btw,
[code]
And 11 < 184 < 3093106915, so depending on how the version comparison is actually done, it may come to wrong conclusions.

[2022-11-10 08:23] sisyphus74 opened #288 "Bios Bug Lenovo ThinkPad T14/P14s Gen 2 AMD System Firmware R1MET51W, Version 0.1.21"
i get following errors on boot:
[code]
machine: Lenovo Thinkpad P14s AMD Gen2
System Firmware R1MET51W, Version 0.1.21
* Bios Update:
 • Prometheus (10.01.3273255 → 10.01.3478575)
 • System Firmware (0.1.19 → 0.1.21)
$ fwupdmgr --version
runtime   org.freedesktop.fwupd         1.8.7
runtime   org.freedesktop.fwupd-efi     1.3
runtime   com.hughsie.libjcat           0.1.12
runtime   com.dell.libsmb

[2022-11-10 08:24] sisyphus74 commented on #288
@mrhpearson is this a consequential error from: https://github.com/fwupd/firmware-lenovo/issues/262?

[2022-11-10 09:45] hughsie commented on #289
@mrhpearson is this perhaps an older firmware that's not supported? Thanks.

[2022-11-10 15:05] dkwo commented on #89
This https://github.com/fwupd/firmware-lenovo/issues/208#issuecomment-1309918431
so it's probably a minor issue left.

[2022-11-10 15:06] dkwo commented on #208
I see exactly the same. Closing the other issue in favor of this one.

[2022-11-10 15:06] #89 closed, assigned to nobody

[2022-11-10 16:21] arderyp commented on #208
@thmo @kmauleon @dkwo

What you all are working through in the latest messages is a separate issue.  This issue has gone on far too long already and will confuse people.

@thmo please open a new issue and "@" @kmauleon and @dkwo to get the conversation going there.

I'm am closing this.

[2022-11-10 16:21] #208 closed, assigned to nobody

[2022-11-10 16:32] thmo opened #290 "fwupdmgr does not automatically apply Intel ME FW update 11.8.93.4323 on T460s"
This is a follow-up for https://github.com/fwupd/firmware-lenovo/issues/208#issuecomment-1309874473.

On Fedora 36 at least (and maybe on other OS), `fwupdmgr` does not automatically update to the version 11.8.93.4323 aka 184.93.4323 aka 3093106915.

The `fwupdmgr refresh --force` and `fwupdmgr update` combo does nothing. Downloading the cab from https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN

[2022-11-10 16:35] dkwo commented on #290
Thanks, same issue on Void Linux (fwupd 1.8.1), same machine T460s.

[2022-11-10 16:35] hughsie commented on #290
What's the Management Engine get-devices output before the update was applied please?

[2022-11-10 16:37] dkwo commented on #290
in my case, it was here https://github.com/fwupd/firmware-lenovo/issues/89#issuecomment-1270618963

[2022-11-10 16:38] dkwo commented on #290
so it was version 3093041278

[2022-11-10 16:39] thmo commented on #290
In my case https://github.com/fwupd/firmware-lenovo/issues/208#issuecomment-1296186509, so version 3093041278.

[2022-11-10 16:59] thmo commented on #266
Happened already 2019 to my T460s, lost Windows key, as SLIC and MSDM were wiped. Unfortunately after the two years warranty period already ended..., so I didn't follow up further on this.

See [here (in German)](https://forums.lenovo.com/t5/T4-T5-und-neuere-T-Serie-ThinkPad-Notebooks/T460s-Win-Lizenz-verloren/m-p/4486012).

[2022-11-10 17:05] hughsie commented on #290
That's correctly assigned "triplet" -- and fwupd should have got the "convert the random integer value to a.b.c" from the metadata. If you do "fwupdmgr refresh" to get the metadata from the lvfs remote, did the ME device get assigned a a.b.c value?

[2022-11-10 17:07] hughsie commented on #266
We've added the "upload hashes of your ACPI tables before and after the update" as part of the report. Which means when people using 1.8.7 and newer upload a report we can de-deploy the firmware automatically and then ping the right person. Longer longer term we want to require vendors to do a signed report before they're allowed to move a file to the stable remote.

[2022-11-10 17:08] thmo commented on #290
I don't think so. Cannot go back, but I am almost 100% sure that I always used `refresh --force`.

After the manual update (i.e., now), it is also displayed as 3093106915 and not as triplet.

[2022-11-10 19:06] hughsie commented on #290
Can you get the log of `sudo fwupdtool --verbose get-devices --plugins uefi_capsule` please -- we *should* see lots of `changing version....`type messages.

[2022-11-10 19:07] hughsie commented on #290
e.g. I see:

	19:05:57.680 FuDevice             349bb341230b1a86e5effe7dfe4337e1590227bd device overwriting name value: UEFI Device Firmware->Intel Management Engine
	19:05:57.680 FuDevice             changing verfmt for 349bb341230b1a86e5effe7dfe4337e1590227bd: number->triplet
	19:05:57.680 FuDevice             changing version for 349bb341230b1a86e5effe7dfe4337e1590227bd: 3779135409->225.65.1969

[2022-11-10 19:42] thmo commented on #290
Nope. I see:
[code]
but
[code]
which indeed looks like it's comparing apples and oranges.

[2022-11-10 19:47] thmo commented on #290
And btw:
[code]
has VersionFormat number, not triplet.

[2022-11-11 01:43] kmauleon commented on #208
thank you very much all!

[2022-11-11 10:52] hughsie commented on #290
I've found a metadata-generation thinko, I'm just testing a fix on the LVFS.

[2022-11-11 11:37] hughsie commented on #290
FYI: https://gitlab.com/fwupd/lvfs-website/-/commit/7d2edccc674e3ec9ccbb7f47555e9f6d2fd5d4a6

I'm deploying it now, and the 2nd half is running the new fsck action: https://gitlab.com/fwupd/lvfs-website/-/commit/894337d494c85f41a71ab95d3e08260953002a85

[2022-11-11 12:49] hughsie commented on #290
I've deployed that, and run the fsck action. @thmo can you try a `fwupdmgr refresh --force` and try again to get the version number please.

[2022-11-11 15:41] bubbleguuum commented on #276
I suppose I got hit by this issue, updating my ThinkPad P72 BIOS.
After BIOS update was completed (as shown in photos above), it rebooted into Windows (instead of GRUB).
My openSUSE EFI boot entry starting GRUB had been removed and I had to boot on a live Linux USB distro
to recreate it with `efibootmgr`.

[2022-11-11 15:48] dkwo commented on #290
Thanks, it now works for me
[code]
I'll let OP confirm.

[2022-11-11 16:02] superiorpyro commented on #191
Unfortunately no luck here.  Found the BIOS setting and set it to off, shut down and powered the dock off too...  Upon reboot, still no live ethernet port.  LENOVO PLEASE ADDRESS THIS ISSUE.

[2022-11-11 16:06] hughsie commented on #290
Woo! That's a good way to finish Friday.

[2022-11-11 18:07] thmo commented on #290
Confirmed:
[code]
[code]

Thanks for fixing!

[2022-11-11 18:07] #290 closed, assigned to nobody

[2022-11-11 21:34] mrhpearson commented on #276
Thanks for the note.
If possible - we really need to catch this and see if rolling back the BIOS to the previous version brings back the entries.
I personally don't think it will - but the BIOS team wanted to confirm

We're unable to reproduce which is making it really hard to figure out what the issue is. It's seemingly a rather rare occurence :(

mark

[2022-11-11 21:45] bubbleguuum commented on #276
Thank you for the comment.

Note that the same thing happened a few months ago on this machine when I updated the BIOS the same way, but I did not report it.
I wanted to update to a new BIOS today and check if that problem was still there, which it did.
Since I can probably reproduce it (downgrading the BIOS, recreating my GRUB EFI entry if necessary, then upgrading again), I can if you wish do th

[2022-11-12 14:21] bubbleguuum commented on #276
I also noticed that Secure Boot is disabled because it is in Setup Mode.
All keys managed by `mokutil` have been removed.

[code]

So now I have to research how to fix this situation on openSUSE Tumbleweed...

As a side note, I just updated the Intel ME firmware with `fwupdmgr` and it did not cause the initial problem (loss of GRUB EFI entry).

[2022-11-13 00:55] mrhpearson commented on #276
Thanks for the note - useful you can reproduce it and I'll forward those details to the FW team.
I'm really intrigued by your system being in setup mode - can you go into the BIOS setup menu (F1 during early boot) and reset it so that it's no longer in setup mode? I wonder if somehow it's related? (grasping at straws a little bit)

[2022-11-14 09:04] jonasbadstuebner commented on #273
I need this update working too. Am I looking at the wrong place or is there still no support for the TB4 dock? (40B0) :/

[2022-11-14 19:58] mrhpearson commented on #273
I'm not sure on the flickering issue; but on the FW update issue the last update from the dock team was:

They're working on it but that's why it hasn't been released yet :(

[2022-11-15 06:52] jonasbadstuebner commented on #273
Thank you @mrhpearson for this information. Hope this does not take too long...

I would like to share a "solution" (more of a workaround) that worked for me and I am working with right now. 2 external Monitors connected, one over DP, one over HDMI, no flicker.
I have a P1 Gen 4 running (K)ubuntu 22.04 and the 40B0 dock (40B00300EU).

- I downgraded to kernel version `5.19.0-051900-generic` (using

[2022-11-15 09:29] BigBadBassMan commented on #287
Since the latest ME firmware `192.92.2145` I see a slightly different behavior:

* download and reboot works
* Rebooting shows
[code]
  which gets amended after ~5 minutes with
[code]
* reboot to system
* update is not installed, fwupd uploads report, printing a link to (unhelpful) https://github.com/fwupd/fwupd/wiki/LVFS-Triaged-Issue:-Failed-to-run-update-on-reboot

[code]

In addition:
* No Boo

[2022-11-15 09:55] dkadioglu opened #291 "T470s: Intel Management Engine 11.8 Firmware version 11.8.93.4323 is missing"
Since 14th of November an updated version 11.8.93.4323 is available for the T470s Intel Management Engine. The update file for Windows has version 11.8.93.4323-N1QRG31W. May this be added to fwupd.org? Thanks in advance.

[2022-11-15 16:35] gandhiRodcas commented on #189
Hi, It´s possible post de correct commands order please

[2022-11-15 22:35] kmauleon commented on #291
hi @dkadioglu will ping owner, this should be under testing... will update of target release... thank you very much

[2022-11-16 00:55] kmauleon commented on #287
hi all... can you please confirm MEFW version as shown in BIOS Setup Menu?  we just want to rule out this is not BIOS ESRT related issue.  Thank you very much.

[2022-11-16 01:05] kmauleon commented on #8
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 01:05] #8 closed, assigned to nobody

[2022-11-16 01:15] kmauleon commented on #48
Closing... please refer to latest version links as below.  thank you very much.

[ThinkPad X1 Yoga 3rd Consumer ME Update](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN25RN.firmware)
Vendor: Lenovo (ThinkPad)
Latest Version: 184.92.4222

[ThinkPad X1 Yoga 3rd Corporate ME Update](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN25RM.firmware)
Vendor: Lenovo (ThinkPad)
Latest Version: 184.9

[2022-11-16 01:15] #48 closed, assigned to nobody

[2022-11-16 01:21] kmauleon commented on #49
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 01:21] #49 closed, assigned to nobody

[2022-11-16 01:28] kmauleon commented on #61
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 01:28] #61 closed, assigned to lijunwang1990

[2022-11-16 01:28] lijunwang1990 commented on #61
 
您好，邮件已收到

[2022-11-16 01:36] kmauleon commented on #291
As per owner, it will be available by 11/30... thank you very much.

[2022-11-16 02:26] kmauleon commented on #67
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 02:26] #67 closed, assigned to nobody

[2022-11-16 02:47] kmauleon commented on #69
closing as no update... thank you very much

[2022-11-16 02:47] #69 closed, assigned to nobody

[2022-11-16 02:49] kmauleon commented on #70
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 02:49] #70 closed, assigned to nobody

[2022-11-16 02:51] kmauleon commented on #96
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 02:51] #96 closed, assigned to ijiang1

[2022-11-16 03:00] kmauleon commented on #156
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 03:00] #156 closed, assigned to nobody

[2022-11-16 03:02] kmauleon commented on #162
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 03:02] #162 closed, assigned to nobody

[2022-11-16 03:05] kmauleon commented on #186
Closing as no update... please reopen if needed.  thank you very much.

[2022-11-16 03:05] #186 closed, assigned to nobody

[2022-11-16 03:09] kmauleon commented on #217
Closing as already fixed.  please reopen if needed.  thank you very much.

[2022-11-16 03:09] #217 closed, assigned to nobody

[2022-11-16 03:15] kmauleon commented on #224
Closing this as BIOS ESRT fix has been rolled out already.  Please reopen if you still see the problem.  Thank you very much.

[2022-11-16 03:15] #224 closed, assigned to nobody

[2022-11-16 03:37] kmauleon commented on #270
hi... please update BIOS System Firmware first >> 1.46 is available
Then please try to update MEFW after successful BIOS update.  Thank you very much.

[2022-11-16 04:57] ChiWei-Chen commented on #189
@gandhiRodcas please use following commands to update the firmware, thanks!
[code]

[2022-11-16 06:29] jrgiacone commented on #277
I'm having the same issue but not on an old bios with then gen3

[2022-11-16 09:13] dkadioglu commented on #291
@kmauleon thank you very much for clarifying and the update on this! Could I ask you to do the same for another missing firmware update, as there was no reply so far: https://github.com/fwupd/firmware-lenovo/issues/279 That would be great! Thank you very much!

[2022-11-16 09:25] cmaganu commented on #248
Hi! I'm having the same issue.

[code]

[code]

[code]

Am I "reading" this right - version 192.90.2072 is actually installed but fwupdmgr fails to detect it?

[2022-11-16 09:45] Dagur commented on #162
I do not see any change. Ubuntu still tells me that there's an 192.72.1757 -> 192.90.2072 update available. I click install and reboot and the install fails.
Thinkpad T490
Ubuntu 22.10

[2022-11-16 09:48] ChiWei-Chen commented on #248
Hi,
I know FW team already has the fix in the next BIOS version, they need few more weeks to finish internal process.

[2022-11-16 10:08] susman commented on #257
same issue here:

[code]

[code]

fwupd-efi 1.5 from latest `main` on https://github.com/fwupd/fwupd-efi doesn't solve it either. The result is the same:

[code]

Can we please re-open this?

[2022-11-16 14:25] seichter commented on #162
same here, the issue persists with a P1 Gen2 on ArchLinux  - can @kmauleon maybe elaborate a bit more verbose on what the actual fix is?

[code]

[2022-11-16 19:49] najjara commented on #162
It's not fixed on T490
I received an update shortly after the latest version got pushed, but that hasn't resolved the issue (as mentioned above)

[2022-11-17 10:00] DamienCassou commented on #162
@kmauleon We can't reopen the issue, a maintainer has to do it I guess.

[2022-11-17 14:23] agurenko commented on #251
I've tried the latest 1.45 update from 14 November and looks like it fixed the problem, no reoccurring update and the reported version match. Can you please confirm that was the target release?

[2022-11-17 14:24] agurenko commented on #251
Oh, actually nevermind, it's clearly mentioned in a changelog:

[code]

[2022-11-17 14:53] javadr commented on #162
Same issue, with `X390 Yoga` and Manjaro.
192.72.1757 -> 192.81.1753

[2022-11-17 16:00] cdrn commented on #264
Howdy all -- having the exact same issue w/ the exact same bios. Any suggestions here?

[2022-11-18 01:54] kmauleon commented on #162
hi All please track respective platforms as follows... thank you very much...
P1/X1 Extreme #248
P1 Gen 2 #251
T490 #254
T580 #255

[2022-11-18 02:17] kmauleon commented on #279
hi @dkadioglu already contacted owner... waiting for feedback

[2022-11-18 02:52] kmauleon commented on #239
hi... fyr please see L13 links as below... thank you very much
Lenovo-ThinkPadL13-ConsumerMEFirmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR15RG.firmware
Lenovo-ThinkPadL13Gen1-CorporateMEFirmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR15MB.firmware

[2022-11-18 03:04] kmauleon commented on #162
@javadr can you please open a separate issue for x390 yoga for proper tracking... thank you very much

[2022-11-18 03:10] ChiWei-Chen commented on #251
@agurenko , thanks, it's great to know the problem is resolved on your system.

[2022-11-18 03:10] #251 closed, assigned to nobody

[2022-11-18 03:15] ChiWei-Chen commented on #267
Hi,
The BIOS 1.45 is stable now, please give it a try, thanks.
It looks the problem was resolved. #251

[2022-11-18 03:23] kmauleon commented on #264
hi @LordChaos73 still under testing... hopefully will be available by end of this month... please open separate issue for proper tracking. thank you very much

[2022-11-18 07:43] kmauleon commented on #255
hi all please update to latest BIOS 1.34 with ESRT issue fix.  Thank you very much.

[2022-11-18 09:06] hughsie commented on #255
@kmauleon is the ME update supposed to have a `other` requirement on the system BIOS version? That would mean we don't offer the ME update if the system firmware is too old.

[2022-11-18 09:28] kmauleon commented on #255
@hughsie case by case but basically ME owner should know if a BIOS version is a prerequisite.  For this case, this version has BIOS ESRT issue fix wherein fwupd shows old MEFW version even if system has the latest MEFW already

[2022-11-18 09:57] unoexperto commented on #251
@ChiWei-Chen

I don't see 1.45 for ThinkPad P1 Gen 1, X1 Extreme Gen 1 here

https://pcsupport.lenovo.com/gb/en/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-extreme/downloads/ds504956-bios-update-utility-bootable-cd-for-windows-10-64-bit-and-linux-thinkpad-p1-x1-extreme?category=BIOS%2FUEFI

Is it going to be published ?

[2022-11-18 12:30] agurenko commented on #251
gen1 and gen2 are different machines, you might need to open a separate issue to track it like I did

[2022-11-18 14:02] seichter commented on #251
Can confirm the update to 1.45 fixes the Intel ME problem for the P1Gen2 - however, I had to force it to update the database with `fwupdmgr refresh`

[2022-11-18 14:18] collinjc commented on #267
I had to manually install it (perhaps fwupdmgr just isn't picking it up yet?), and it does appear to have resolved the issue.

[2022-11-18 15:21] mrhpearson commented on #282
1.24 has been released which should fix this issue - can we confirm and close if it's good

[2022-11-18 22:19] MatthiasLohr commented on #191
Same here.

[2022-11-18 22:40] irishgordo commented on #191
This definitely helped - ethernet on dock now works again and can run two 4k & integrated display on p15 thinkpad much more easily than before

[2022-11-19 01:18] RAY5D commented on #264
@cdrn Same issue here. I'm trying the full hardware route by buying W25Q80DVSNIG chips to replace the one on my motherboard that has gone bad, and programming them through a CH341-based programmer. Before the fix, the laptop was not shutting down properly by Windows, could only pull 15W from the charger instead of 65W, and had no HDMI output. The binary file provided by @dal00 fixed the charging i

[2022-11-19 08:23] rochfort1 commented on #255
@kmauleon I don't think the problem has been fixed.

Lenovo [PC Support  >  laptops-and-netbooks   >  thinkpad-t-series-laptops   >  T580 (Type 20L9, 20LA) Laptop (ThinkPad)] tell me that I must use Version 1.34 of the BIOS Update Utility (Linux) and Version 11.8.93.4323 of the Intel Management Engine Firmware. These I have installed.

Currently, my ThinkPad Setup Main page shows:
UEFI BIOS Versio

[2022-11-19 16:34] dkadioglu commented on #291
It has already been published, great! Thanks to @kmauleon and whomever at Lenovo is involved!
The update has been applied successfully!

[2022-11-19 16:34] #291 closed, assigned to nobody

[2022-11-20 09:43] tw0flower commented on #264
I also have this issue (HDMI and DP not working). When I first noticed it I updated all firwmares through fwupd so I have everything on the latest version now. I have no idea if the critical fix from 2019 was applied on this computer as it is second-hand so I'm not very hopeful in my case. Does anyone know if it was rolled out automatically through Windows Update?

I'm in the process of getting an

[2022-11-20 19:10] RAY5D commented on #264
@tw0flower Sorry, I don't have any data backed up. When I used the programmer on the old chip, it read all 0xff, which I think is the "default" value for this type of storage. It will still read 0xff even after writing whatever data, so the chip is most likely dead as dust since the programmer could still read its model number, indicating a correct connection. I'm pretty sure the only thing I need

[2022-11-21 01:18] kmauleon commented on #255
hi @rochfort1 to confirm BIOS ESRT fix, please execute fwupdmgr get-devices and let us know the results... thank you very much

[2022-11-21 01:40] kmauleon commented on #251
hi @seichter great!  you just did what is expected.... thank you very much!

[2022-11-21 01:56] tw0flower commented on #264
@RAY5D Ah, I misunderstood your comment. I thought you had already replaced the chip, and that some other component was writing 0xFF data all over the new chip after you flashed it.

I will post my data, but I don't think flashing it will be useful as my computer also has the HDMI/DP problem. Have you checked these binary files on the LVFS website? ﻿https://fwupd.org/lvfs/devices/com.lenovo.ThinkP

[2022-11-21 02:07] RAY5D commented on #264
@tw0flower I did replace the chip and flash the firmware. I also saw that post earlier, but apparently I didn't notice the part about writing 0's first and then flashing the actual firmware (oops). I'll do more testing with the binary files I found and post updates here. However one thing that confused me was that the official binary files from both Lenovo and https://fwupd.org/lvfs/devices/com.le

[2022-11-21 02:13] kmauleon commented on #267
closing this one as latest BIOS resolved the issue.  please reopen if needed.  thank you very much!

[2022-11-21 02:13] #267 closed, assigned to nobody

[2022-11-21 02:17] tw0flower commented on #264
@RAY5D That's what I hope I will find out if I can still extract some data from my chip. There might be some padding involved. I wonder if this information might not be available somewhere in the LVFS files? Because the flashing software must be aware of it right?

But in theory if you zero-out the chip first, then flash the firmware, this would ensure that only the firmware on the chip I think. I

[2022-11-21 03:20] rochfort1 commented on #255
@kmauleon The «fwupdmgr get-devices» report is very big. I edited it to cover just the Intel management engine and system firmware parts, These follow:

`LENOVO 20L9CTO1WW`
`│`
`├─Intel Management Engine:`
`│     Device ID:          349bb341230b1a86e5effe7dfe4337e1590227bd`
`│     Summary:            UEFI ESRT device`
`│     Current version:    184.93.4323`
`│     Minimum Version:    0.0.1`
`│

[2022-11-21 03:24] kmauleon commented on #255
@rochfort1 fwupd is displaying the latest version but as you've said the last information is strange... but i think this is on the fwupd side... @hughsie can you please check?  thank you very much....

[2022-11-21 08:07] RAY5D commented on #264
@tw0flower OK I did some more testing. I had 2 binary files, the first one was the 260KB official release, with the extra space filled with 0's, the second one is the dumped data from this issue posted by [dal00](https://github.com/dal00). For each test case, I filled the chip with a certain value (0x00 or 0xff), started the PC, shutdown, flashed the binary, and start again to see if it works. Her

[2022-11-21 09:06] taisph commented on #191
Disabling this does seem to workaround the kernel hang I was experiencing when running `fwupdmgr`. The dock ethernet port also works reliably now. But I cannot run with 3 displays any more. It will cold boot with all 3 displays but after a while, the display connected to the dock DP port above the HDMI port, will start to drop out and eventually shut off completely. Disabling the laptop display/cl

[2022-11-21 13:57] BigBadBassMan commented on #287
Strange, BIOS shows the offending ME update as installed:
![PXL_20221121_142318_8 3 252](https://user-images.githubusercontent.com/897947/203072843-d491b2be-03e4-4bdc-9336-2eace738a6e4.jpg)

[2022-11-21 20:39] mrhpearson commented on #277
@jrgiacone - could you open a separate ticket with details of which BIOS you are on etc please for your G3 system? It gets confusing to track different systems in the same ticket.

Thanks (and sorry for the slow reply)

Mark

[2022-11-21 20:44] mrhpearson commented on #288
Hi @sisyphus74

I don't think it's related to the other bug - it's another, fairly benign, error reported at boot.

As noted in #262 - if you could report this on the Lenovo linux forum (https://forums.lenovo.com/t5/Linux-Operating-Systems/ct-p/lx_en)  that would be appreciated. Try and keep the LVFS issues for firmware update issues rather than the firmware itself.

Thanks!
Mark

[2022-11-21 20:44] #288 closed, assigned to nobody

[2022-11-22 00:47] joseghasto commented on #253
Just found this as I had the same happen to me with a Thinkpad T470 when I upgraded to the Lenovo System Firmware 0.1.72 it both wiped my boot entries and put the device in setup mode.  I'm using Arch with custom keys for Secure Boot.

If I remember correctly I had done a previous upgrade on this machine, but I think it was with Fedora and without custom keys for Secure Boot. That one did not impa

[2022-11-22 05:10] ChiWei-Chen commented on #251
@unoexperto
The issue for ThinkPad P1 Gen 1, X1 Extreme Gen 1 is tracked in #248, it could be available these 2 weeks.

[2022-11-22 06:44] sisyphus74 commented on #288
Hi @mrhpearson, thanks for your answer. Its already done: https://forums.lenovo.com/t5/ThinkPad-P-and-W-Series-Mobile-Workstations/ACPI-BIOS-Error-Bug-after-Bios-Upgrade-Failure-creating-named-object/m-p/5181338

[2022-11-22 10:52] BigBadBassMan commented on #287
seems fixed with new UEFI BIOS 1.39 update.
ME is no longer reported as needing an update

[2022-11-22 10:52] #287 closed, assigned to nobody

[2022-11-22 12:33] nodens commented on #256
I had the issue on the same firmware update.
Switching from the screen USB-C power supply to the original power brick worked for me, even though the screen provides more power supposedly…

Small trick for avoiding to wait for the battery to empty: unplug from power, and use a paperclip in the "reset hole", as described here: https://pcsupport.lenovo.com/us/en/solutions/ht513019-system-may-hang-at-

[2022-11-22 13:25] #282 closed, assigned to mrhpearson

[2022-11-22 19:36] mrhpearson commented on #253
Thanks @joseghasto - I've added notes to the internal ticket looking at this issue (LO-2077). The FW team are investigating

[2022-11-23 01:30] kmauleon commented on #287
thank you very much for the update @BigBadBassMan !

[2022-11-23 09:19] taisph commented on #191
Scratch that. I'm getting that drop out and shut off even with just the two monitors. 😞

[2022-11-23 09:31] tw0flower commented on #264
I got my CH341 SPI today and I found a few things.

First of all @RAY5D if you only see 0xFF bytes on your chip it might be that your clamp is not properly attached. I had this issue at first, I solved it by re-attaching it until I read some data and by using flashrom instead of ch341eeprom. If the RUN led on your SPI board is not on when reading/writing it means something is wrong in your setup.

[2022-11-24 06:39] RAY5D commented on #264
@tw0flower Pretty sure I'm indeed getting dead chips since I always check if the programmer can read the chip's model number as an indication of good connection. However, when I tried your binary, the result is basically the same as my previous attempts. Only charging works, still no HDMI, and Windows still couldn't shutdown the laptop properly. Also, the binary file from [dal00](https://github.co

[2022-11-24 07:45] karekaa commented on #254
The same problem occours for this (new fix for a critical bugfix for nvme-driver, if I undstood right?) on my T490:
`
\# fwupdmgr update
Upgrade Intel Management Engine from 192.90.2072 to 192.92.2145?

Version 12.0.92.2145 (LVFS: 192.92.2145)

Problem Fixes

 • Intel CSME IPU 2022.3
 • Mitigated the following security vulnerabilities under issues:

20N3SA9100 must remain plugged into a power sour

[2022-11-24 08:43] Dagur commented on #254
@karekaa same here

[2022-11-24 13:41] roliverio commented on #5
@mrhpearson Since i've upgraded to kernel 6.x i stopped having the monitor flicker issue. Do you happen to know what could've changed?

[2022-11-24 15:07] mrhpearson commented on #5
I missed the previous messages - I keep nagging the FW team for getting FW delivered but they seem to lurch from one issue to another. They promise me that everything is solved and it will be delivered 'in a week' and then find another last minute issue and everything is set back for months. I think it's having all the different components in a dock but....it's frustrating. I'll go and do another

[2022-11-24 17:06] drahnr commented on #273
I successfully updated my dockingstation - thanks @mrhpearson for following through :heart:  , which was the initial concern of this issue. It never was intended as a place to rant about the state of the firmware itself or provide workarounds for the prior.

@mrhpearson you might want to direct people to a place where one can leave structured bugreports. I at least failed to find one after 5~ish s

[2022-11-24 17:06] #273 closed, assigned to nobody

[2022-11-25 00:46] kmauleon commented on #254
as per owner, BIOS ESRT fix will be included in the next release.... still asking for the target date though... will update once I received their feedback... thank you very much.

[2022-11-25 09:42] thaarbach commented on #254
@karekaa i've the same issue on T590. After update from 192.72.1757 -> 292.92.2145 the update is still available.
OS and fwupdmgr
[code]
[code]

Bios Version
[code]

[2022-11-25 10:26] gdonval opened #292 "Intel Management Engine (CSME) version is invalid"
I opened a bug report for `fwupd` proper and was told to report here instead.

https://github.com/fwupd/fwupd/issues/5277#event-7875194609

This is on a Lenovo X1 Carbon Gen 7.

- **Current** Intel Management Engine version: 192.49.1534
- **Latest** Intel Management Engine version: 192.47.1524

I am in a weird situation:

- `fwupd` says the current 192.49.1534 version is invalid;
- **downgrading**

[2022-11-25 10:28] hughsie commented on #292
@mrhpearson I think the Lenovo X1 Carbon Gen 7 is missing an CSME update.

[2022-11-25 10:44] sumit-bose commented on #227
Hi,

I run into the same issue on a Lenovo P50 while trying to upgrade the system firmware and the Intel management entgine. I didn't try another update just get the system running again with the old firmware.

Please let me know if I can do anything to help to debug this issue.

bye,
Sumit

[2022-11-26 10:30] vrumjantsev commented on #246
I've ran into same issue with ThinkPad Thunderbolt 4 Workstation Dock, both of external monitors are not working at the same time, via dp+dp or dp+hdmi.

Each of them separately works fine

[2022-11-26 10:31] vrumjantsev commented on #206
Have someone found a workaround?

[2022-11-26 10:41] jnada2021 commented on #264
Hello, I am the person who opened the case with Lenovo forums (the one in the first message on this thread) and I also have a post in reddit about this issue dated last year.

I have the latest BIOS 1.58 firmware which I flashed today. Latest Intel ME Firmware and software installed.
I flashed all the new TB firmwares posted in this forum using my  CH341 SPI with AS programmer.
As with everyone, o

[2022-11-26 11:30] jnada2021 commented on #264
And here is the latest N23TF24W firmware bin dated 25 May 2022 which I flashed as 260kb (only charging and basic USB work-No DP, No HDMI still) and read the chip again and saved 1MB this time.
[20221126_N23TF24W.zip](https://github.com/fwupd/firmware-lenovo/files/10096105/20221126_N23TF24W.zip)
https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-c

[2022-11-26 11:36] dal00 commented on #264
There used to be separate .bins for assisted mode and native mode. You can find them in the extracted firmwares this guy collected if I remember correctly. https://www.badcaps.net/forum/printthread.php?t=82556

On November 26, 2022 12:30:21 PM GMT+01:00, jnada2021 ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2022-11-26 11:45] jnada2021 commented on #264
Same as you. I can read and write to the W25Q80DVSNIG chip with the CH341-based programmer as you mentioned. Erasing the chip (with AsProgrammer for example) or writing the "wrong" *.bin file disables the charging. But if I flash a TBT.bin from Lenovo etc. charging and basic USB functions are back (USB 2 mouse, USB harddisk, connect to Sony camera etc.) but no TB, no DP and most importantly and qu

[2022-11-27 10:29] jnada2021 commented on #264
Some updates.

1.
I think Lenovo's made some changes in their latest 1.58 BIOS firmware so that even if the TB chip is corrupted or "empty" charging function works.
I have just loaded a zero.bin file to erase the TB chip and rebooted to test, and charging still works. In the past it would not and would at least give the low power warning before and/or don't charge.
Here is the zero.bin file if you

[2022-11-27 21:42] RAY5D commented on #264
![20221110_154746](https://user-images.githubusercontent.com/12710440/204161067-bf94d05d-f873-4fe6-afa4-f9a1461fe60b.jpg)
@jnada2021 The BIOS and ME firmware is stored in another flash chip right above the CPU, near the fan connector. I think it's also readable with the same programmers for the TB chip. But I'm not sure how that has an affect on our issues...

[2022-11-28 06:06] jnada2021 commented on #264
IIRC the Lenovo "2019 fix" was to disable Intel ME writing something somewhere but even that was also inevitable. Remember  them saying "after applying the fix" don't ever update intel ME ever again, which makes me believe above conclusion. Unbenownst to many Intel ME is a "master OS" it runs concurrently with any computer regardless of it being Linux, Windows etc.

Were we able to extract any kno

[2022-11-28 06:13] RAY5D commented on #264
@jnada2021 Huh, that's interesting. Can you still find the article that mentioned it? Also, even if we manage to find someone with a fully working computer and extract both the ME and TB firmware, is it as easy as just flashing it into our chips? I would assume there are some bullshit encryption going on that binds the binary with a single motherboard or something.

[2022-11-28 06:34] jnada2021 commented on #264
1. These are the articles:
https://www.notebookcheck.net/ThinkPad-Thunderbolt-3-failure-What-s-happening-why-it-s-happening-and-how-to-fix-it.451207.0.html
https://www.reddit.com/r/thinkpad/comments/eszg2o/thinkpad_tb3_failure_what_we_know_repair/

Search: DO NOT FORCE UPDATE Thunderbolt Controller. This may damage the firmware.

2. By finding a "working bin" we at least eliminate one (important)

[2022-11-28 06:44] jnada2021 commented on #264
Oh BTW if any of you are in US:
https://chimicles.com/lenovo-thinkpad-usb-c-charging-defect-class-action-investigation/

[2022-11-28 09:03] LordChaos73 commented on #264
I've always had my laptop on the latest (lvfs) updates; I haven't ran Windows in years. Still, I've lost HDMI/TB3 output a few months ago.
I'd like to thank @jnada2021 and @RAY5D for all their hard work regarding this issue.
Where is Lenovo in all of this? I have a (out of warranty) laptop I no longer can use at work since I no longer can connect it to an external display. I'd like to know if this

[2022-11-28 10:15] tw0flower commented on #264
Thank you everyone for looking in this issue. It seems a lot of people are affected by this. What bugs me is that I am pretty sure that I did not update anything before the Thunderbolt connector stopped working. I then did some updates to try and fix it, but originally I did not do anything at all. This is a very wild guess, but could it be caused by a certificate expiring somewhere?

I need to do

[2022-11-28 10:56] drahnr opened #293 "[ThinkPad Thunderbolt 4 Dock] [Lenovo 40B0] fails to handle more than one screen"
Since the last firmware update to version 10.13 and T14s AMD G3  at 0.1.25 I can't use more than one of my external screens anymore.

When I say external, I mean plugged into the docking station. The internals are 2560x1440 or 32xx x 1440 .

* the internal plus one external works
* two externals with the laptop lid _opened_ does NOT **work** (HDMI + Thunderbolt)
* two externals with the laptop lid

[2022-11-28 13:25] a-andre commented on #285
Have you found something?

[2022-11-28 15:40] drahnr commented on #293
`6.0.7-301.fc37.x86_64`
[code]

[2022-11-28 19:47] tylermontneyacc commented on #206
Ever since using straight HDMI instead of DP to HDMI adapters, I've gone from multiple incidents a day to one a week (if that). Lenovo support once told me they didn't work well with those adapters, and recommended I didn't use them.

[2022-11-28 21:12] mrhpearson commented on #266
I have a trial BIOS for the X1 Carbon 8 if anybody is able to reproduce this and willing to test it - please let me know.

I also got the note that the SLIC table should not be used for Windows 10 onwards - but it looks like the above is now updated for the MSDM table...so that's not very helpful.

[2022-11-28 23:00] kmauleon commented on #254
hi @thaarbach please open a separate tracking for T590 as this system has different owner....  thank you very much

[2022-11-28 23:22] kmauleon commented on #292
hi @gdonval may i know result of "fwupdmgr get-devices"   thank you very much
these are the latest versions for X1 Carbon 7th Gen - (Type 20QD, 20QE)
Corporate https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2HRM.firmware
Consumer https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2HRN.firmware

[2022-11-29 12:07] dgsiegel opened #294 "X13 Gen 3 AMD: TPM PCR0 reconstruction Invalid"
**Describe the bug**
fwupd reports that the TPM PCR0 reconstruction is invalid.

**Steps to Reproduce**
`fwupdmgr security`

If I run `fwupdtool security --force -v` I can find the following output:

`FuPluginTpm          comparing TPM 6a9848d0a7fb307084845a69ea3b0825d6e2430bf2879d23cb97b4eba7c72f13 and EVT 6a9848d0a7fb307084845a69ea3b0825d6e2430bf2879d23cb97b4eba7c72f13
`

**Expected behavior**
N

[2022-11-29 12:14] hughsie commented on #294
Maybe a big ask, but could you compile fwupd and then run `sudo ./plugins/tpm/fwupdtpmevlog --pcr 0`? @superm1 maybe we should install that binary into /usr/libexec/fwupd for this kind of debugging?

[2022-11-29 12:46] dgsiegel commented on #294
No worries! Here's the output:

[code]

[2022-11-29 16:50] superm1 commented on #294
I don't think generally that makes sense. The bugs in our reconstruction comparison are so sparse now, it's usually firmware bugs now isn't it?

I guess let's see what the outcome of this particular issue is to decide.

[2022-11-30 08:24] drahnr commented on #293
DP chaining 2 screens also does not work.

[2022-11-30 10:03] MichalMaler commented on #191
Hello. Please, if I can ask..maybe I bricked my Dock:

_• ~/ fwupdmgr get-updates_

Devices with no available firmware updates:
 • ThinkPad Thunderbolt 4 Dock
 • (null)
 • Integrated Camera
 • Thunderbolt host controller
 • UEFI Device Firmware
 • UEFI Device Firmware
 • UEFI Device Firmware
Devices with the latest available firmware version:
 • Embedded Controller
 • Intel Management Engine
 • KX

[2022-11-30 13:51] gdonval commented on #292
[code]

[2022-11-30 14:01] gdonval commented on #292
@kmauleon: it looks like the version on LVFS is more recent than what I have yet it is not available to me through `fwupd` update. I'm on P-BIOS if that changes anything and getting bios variables, I can confirm `AMTControl` is set to `Disable`.

What's the difference between their Consumer and Corporate version? I can see the corporate one has added localization data and a wifi component. There i

[2022-11-30 14:19] gdonval commented on #292
Went ahead and downloaded both firmware to analyse them with `fwupdmgr get-details`. They both threw an `Update Error`

* **Corporate** variant: ```GUID 4bbc40fa-f81e-4206-bc70-a1f7b744d964 was not found```
* **Consumer** variant: ```Device was not found```

[2022-11-30 23:22] kmauleon commented on #292
hi @gdonval  you have indeed very old MEFW version.... even older than the first LVFS MEFW release T_T
Corporate is for systems with AMT.  The update error is looking for W-BIOS GUID. Thus, it will not install on your system.
Let me confirm first with BIOS Dev for P-BIOS case.  Will feedback later.  Thank you very much.