[2020-10-29 08:26] jvanschie commented on #70
@kmauleon

I managed to install the update manually with fwupdmgr.

The install succeeded but afterwards I had troubles with the boot manager.
After a fresh install of ubuntu everything started to work fine.

[2020-10-29 14:43] ipstone commented on #20
reporting the same issue on thinkpad carbon x1 gen6 ... eventually I had to go back to/restore windows system on the laptop, and performed firmware update under windows ... though not ideal, it worked. Nowadays, installing linux is so fast (using manjaro etc.), so it's not big deal, but not ideal

[2020-10-29 20:51] mrhpearson commented on #75
It turns out fwupd-1.5 is not the solution we were waiting for (sorry, that's a bit Jedi...)

I'm working on tracking down what we're still missing - there are a fair few confusing threads going on.

Mark

[2020-10-29 23:58] kmauleon commented on #70
hi @jvanschie thank you very much for the information
_The install succeeded but afterwards I had troubles with the boot manager_ >> do you remember which updates resulted to this?
I am sorry that you have to reinstall ubuntu... @hughsie do we have any idea what's causing the boot manager to break?

[2020-10-30 09:06] hughsie commented on #70
Some older system UEFI firmware did "helpful" things to the BootXXXX variables (which is why we use `Linux-Firmware-Updater` on Lenovo, not `Linux Firmware Updater` like everywhere else...), I think this has all stopped in newer Lenovo firmware.

[2020-10-30 15:26] joakim-tjernlund commented on #75
OK, lets hope the upcoming 1.5.1 will close some of those threads.

[2020-10-31 03:41] kmauleon commented on #70
@hughsie so the only way to fix broken boot manager is to reinstall Linux?

[2020-10-31 12:26] hughsie commented on #70
I've not seen this myself; I'm guessing you could also boot a rescue USB disk and just reinstall grub.

[2020-11-02 21:54] hughsie commented on #75
1.5.1 out, I'll poke ODMs in the morning.

[2020-11-02 23:37] joakim-tjernlund commented on #75
Thanks alot!

[2020-11-03 00:20] kmauleon commented on #70
thanks for the information @hughsie ... is there a link that we could point customer to on how to **create a bootable rescue USB disk and reinstall grub**?

[2020-11-05 09:29] joakim-tjernlund commented on #75
Any News ?

[2020-11-05 14:37] dead10ck opened #81 "Lenovo X1 Carbon 6th Gen fails to update system firmware, embedded controller"
**Describe the bug**
I have these two updates to perform on a Lenovo X1 Carbon 6th Gen:

[code]

And when I perform the update, after reboot, I see the Lenovo splash screen, and an error message appears very briefly (fraction of a second) that says:

[code]

After this, the system reboots again, and starts up normally, but without having performed any updates.

**Steps to Reproduce**

`fwupdmgr up

[2020-11-06 01:49] lijunwang1990 commented on #81
Hi @dead10ck could you please use this commond have a try?
$ sudo fwupdmgr downgrade
This should give you a list of your recent updates. Just downgrade the looping updates. Don't worry though. Once you've downgraded, just go ahead and run
$ sudo fwupdmgr update
some users can fix similar issue by this commond. thank you.

[2020-11-06 10:20] joakim-tjernlund opened #82 "Missing ThinkCentre M920s Firmware"

[2020-11-06 10:21] joakim-tjernlund commented on #75
@mrhpearson ?

[2020-11-06 13:48] amorsen commented on #71
Can I do anything to help?

[2020-11-06 13:59] dead10ck commented on #81
May I ask why and how you think downgrading my firmware will fix the issue? Isn't this a fwupd bug?

[2020-11-06 14:19] galibozek commented on #70
version 11.8.80.3746 is available on pcsupport.lenovo.com, can I have a version for fwupd?

[2020-11-06 15:58] hughsie commented on #71
Can you try fwupd 1.5.1 please? Thanks.

[2020-11-06 16:37] mrhpearson commented on #82
I'm tracking this one

[2020-11-06 16:38] mrhpearson commented on #75
Progress - but not done yet. There are still some failure conditions that they are working through. It's being actively worked on

[2020-11-06 16:38] amorsen commented on #71
The problem is gone in fwupd-1.5.1-1.fc33.x86_64. Thank you!

[2020-11-06 16:38] #71 closed, assigned to nobody

[2020-11-06 16:43] joakim-tjernlund commented on #75
Why not ask @hughsie for help ?

[2020-11-06 16:49] mrhpearson commented on #75
He's already involved. I was just updating the status here

[2020-11-06 16:56] mrhpearson commented on #70
Forwarded the request to the firmware team.

[2020-11-08 23:36] kmauleon commented on #70
hi @galibozek @mrhpearson this version of firmware is targeted to be released to LVFS by December.  Please wait.... Thank you very much.

[2020-11-09 15:30] qoheniac opened #83 "Where do I find the checksums?"
[code]
`fwupdmgr get-updates` shows two updates and I want to block them, because my laptop got stuck during update and I was forced to remove the battery to get it back to work. It seems like the update failed in a very early stage and nothing was changed but `gnome-software` keeps reminding me of those updates and I definitely want to do this a second time. I thought maybe `fwupdmgr block-firmwa

[2020-11-09 15:34] superm1 commented on #83
That sounds terrible.  Can you share more details, we might want that vendor to remove it from stable channel...

If you don't know the checksum in advance, I believe you can just send no argument and it should prompt you.

[2020-11-09 16:34] qoheniac commented on #83
Thank you for your help! Indeed I was asked for what device I want to block firmware updates. Blocking the update for *Embedded Controller* makes it disappear, but `fwupdmgr` still shows the update for *System Firmware* after blocking it.

As you asked for more information, so here is the output of `fwupdmgr get-updates` with no blocked firmware:
[code]

I saw other reports of that problem on the

[2020-11-09 16:36] superm1 commented on #83
OK thanks.  I'll kick this over to the Lenovo bucket and hopefully someone there can help with pulling the firmware back or investigating the problem.

[2020-11-09 16:47] qoheniac commented on #83
`fwupdmgr block-firmware` without a checksum asks for what device I want to block firmware updates. It then blocks the latest firmware update for that device. As there are multiple firmware updates for the system firmware it still suggests the installation of the less recent updates. So I guess I still need to find out the checksum for those.

[2020-11-09 19:48] mrhpearson commented on #83
Thanks Mario.
I've flagged the issue to the firmware team and will get their input
(for my internal tracking: LO-898)

Thanks
Mark

[2020-11-09 21:45] fkru commented on #74
There have been three BIOS updates so far (most recent version is 1.27), but unfortunately not through LVFS. Moreover, Lenovo's T14 AMD was certified by Ubuntu 20.04 LTS with BIOS 1.24 some time ago. So, what's up? Regards, Frank

[2020-11-09 22:25] mrhpearson commented on #74
I'll check the latest and report back.

[2020-11-10 03:11] mrhpearson commented on #83
Hi
1.25 will be available very soon (they've finished testing and it's ready to be released - just going through the final steps of their process).
1.27 will follow shortly after. There were some internal reasons that require users to go via 1.25 first so that took precendence - and it will be a two step process. Update to 1.25 when it comes out and then 1.27 after when that becomes available (it

[2020-11-10 06:43] fkru commented on #74
It seems they have just released some updates at LVFS, including BIOS 1.25 (https://fwupd.org/lvfs/search?csrf_token=IjRiZGRmMDliMDVkNjQyNjkwODliMmY2YmMwODJiMDM3MTljZGYwNWIi.X6o0rg.XY8ysR6ZQZmjU0QyQ9-Sy68M9_U&value=T14) Thx. Regards, Frank

[2020-11-10 07:20] hughsie commented on #83
We need to remember to set the `<requirement>` tags on 1.27 to be 1.25 else it'll be chaos :)

[2020-11-10 07:41] fkru commented on #74
Tried to install BIOS 1.25 through 'fwupd update' on a T14, ending with the message "sucessfully installed firmware". After a reboot, however, I am still with version 1.5. Anyone else experiencing this issue?

[2020-11-10 07:48] jpasquier commented on #74
I successfully updated the firmware (to 1.25) on my T14 amd gen1 through `sudo fwupdmgr update` (after `fwupdmgr refresh`). Regards

[2020-11-10 07:58] qoheniac commented on #83
Just for the sake of completeness, I was able to block the firmware update by adding the device GUIDs to `DisabledDevices` in `/etc/fwupd/daemon.conf`.

[2020-11-10 12:07] albertogarciacz commented on #5
I'm also interested. I've got 40AN0 and I'd like to update its firmware. Last time I ran  `fwupdmgr refresh ; fwupdmgr get-update` I got `ThinkPad Thunderbolt 3 Dock has no available firmware updates`. Any update from Lenovo so far?

[2020-11-10 12:38] bin101 commented on #5
Not that I know. For linux only users I can highly recommend to install a portable unregistered windows on a flash drive and install the firmware update from windows. Some older versions have some great issues (at least under my system).

[2020-11-10 13:03] hughsie commented on #5
I'm working with the ODM on an issue they discovered during QA: https://github.com/fwupd/fwupd/pull/2570

[2020-11-10 13:11] joakim-tjernlund commented on #5
For which Dock is this ?

[2020-11-10 13:13] hughsie commented on #5
It was discovered on the TB3 Gen2, but probably affects anything with an MST device and no EC, which includes the Ultra etc.

[2020-11-10 15:28] yunusemrecan opened #84 "Wrong update for E495"
[code]
[code]
There is a update for my E495 yet it says it is for T14/P14s

[code]

[2020-11-10 15:38] mrhpearson commented on #84
That update is definitely for the T14 AMD - it shouldn't be flagged for the E495 (don't update to it!)
@hughsie - do I need to chase the firmware team for this or is there some fwupd quirk happening?
Mark

[2020-11-10 16:03] hughsie commented on #84
@mrhpearson this is the firmware: https://fwupd.org/lvfs/components/6883 -- the GUID is listed as 9bfd8b34-080b-40a1-47b3-ca1efa289e6d which seems to match the value found on the ESRT on the E495. Either the Lenovo team used the same "random" GUID between the two models or the wrong metadata was included.

I've moved the firmware back to embargo-lenovo_thinkpad -- can you ask internally what happe

[2020-11-10 16:35] mrhpearson commented on #84
Ack - will follow up. Thanks from me too @yunusemrecan
Mark

[2020-11-10 18:18] joakim-tjernlund commented on #5
I see this was merged, will there be a new release then soon?

[2020-11-10 18:46] fkru commented on #74
JFY: Today's firmware update to 1.25 has been removed from LVFS.

[2020-11-10 19:39] dead10ck commented on #81
It looks like after upgrading fwupd to 1.5.1, the same two firmware updates succeeded.

[2020-11-10 19:39] #81 closed, assigned to nobody

[2020-11-10 19:43] hughsie commented on #5
If the ODM confirms it fixes the problem, yes. Patience dude.

[2020-11-10 22:03] joakim-tjernlund commented on #5
Thanks, trying to muster some more patience then ... :)

[2020-11-10 23:47] mrhpearson commented on #83
Yes - there was a GUID clash with the E495 so it had to be pulled whilst that was fixed. Apologies!
Mark

[2020-11-11 13:52] mrhpearson commented on #83
Looking at the above - I was putting the wrong comments for the wrong ticket...tempted to delete them but that might just be confusing. Apologies for the mess...(@hughsie - if it makes sense to delete my above two comments let me know)

The team looked a the T470s issue and haven't been able to reproduce the problem - going from 1.20 to 1.21 using fwupd 1.5.1 so right now we're not sure what the i

[2020-11-11 13:52] mrhpearson commented on #74
Yes - there was a GUID clash with the E495 so it had to be pulled whilst that was fixed. Apologies!
Mark

[2020-11-11 14:01] qoheniac commented on #83
I installed a fresh vanilla Fedora 33 system from an USB stick and started the firmware update via GNOME Software. I have a second T470s where I did not try it. But I'm also too afraid to do so as I do not want to damage the devices as they are both in active use. So I won't try to reproduce it, but I saw other reports on the Internet and I if I remember correctly all of them installed the firmwar

[2020-11-11 14:08] qoheniac commented on #83
Also maybe not the update of the embedded controller but of the system firmware caused the problem. I clicked all available updates in GNOME Software, i.e. embedded controller, system firmware and Intel management engine and then rebooted. The system got stuck during the update and I had to take out the battery. After that the laptop booted into Fedora as if nothing happened and the Intel manageme

[2020-11-11 14:11] jpasquier commented on #74
I successfully applied the update yesterday. Do I now have to do something more because of this GUID clash? Thank you for your help.

[2020-11-11 16:00] mrhpearson commented on #83
Hi - do you have any links to other reports? I'll forward the details on to the firmware team
Mark

[2020-11-11 16:23] qoheniac commented on #83
For example [here](https://github.com/fwupd/firmware-lenovo-thinkpad/issues/43) and [here](https://www.reddit.com/r/thinkpad/comments/bwzsoe/thinkpad_t470s_firmware_update_hanging/)

[2020-11-11 16:29] qoheniac commented on #83
Here is the output of `fwupdmgr get-history`:

    20HGS01800
    │
    ├─Intel Management Engine:
    │ │   Device ID:          cbede50560aaa37366326cd54923421517427f39
    │ │   Previous version:   184.50.3425
    │ │   Update State:       success
    │ │   Last modified:      2020-11-04 23:53
    │ │   GUID:               e9124c4a-fdff-42e5-b2ad-f745db345953
    │ │   Device Flags:       • Inte

[2020-11-13 08:58] lijunwang1990 commented on #16
Hi @PhilippWendler : I find the system GUID was changed in 2.18,  the new GUID is {90EF2839-18D5-4BCA-8F7C-9F846031D025},please update BIOS to 2.18 or later version use USB device or CD ,the latest BIOS version is 2.32, you can not update via fwupd as it will check GUID, after that I think you can update ME. any other question, please let me known, thank you.

[2020-11-13 09:35] lijunwang1990 commented on #16
HOW TO CREATE A BOOTABLE BIOS FLASH USB MEMORY KEY
(please refer to lenovo readme https://download.lenovo.com/pccbbs/mobiles/r07uj29ww.txt)
1. Refer to the "HOW TO INSTALL" Section 1 to 7.
2. Attach a USB memory key to your Windows system, then format the USB memory key.
   Note: A medium formatted with NTFS or exFAT is not supported by this Flash Update process.
         Use FAT32 or FAT16 as a f

[2020-11-13 09:46] PhilippWendler commented on #16
Ok thanks for the response. I will upgrade manually. Is there no way to do this first upgrade without Windows?

[2020-11-14 04:09] jorgelizandro commented on #56
I just got this issue with my Thinkpad X1 Carbon 5th Gen, the boot device is not locked down:

[2020-11-14 11:05] greyltc commented on #6
I had this today with my ThinkCentre M920 Tower. It's really quite terrible since there seems to be no way in the firmware user interface to point to a new UEFI boot stub.

[2020-11-15 22:38] MakisH commented on #85
(trying to log my progress, any ideas/hints welcome)

It looks like I am always booting from:
[code]

I do see the options for "ubuntu" and for "Linux-Firmware-Updater" in my Boot Menu (F12), but I cannot execute either of them. After selecting any of these, I immediately get back to the boot menu, without any message.

What residue files could I have from a previous installation in "legacy" (non-

[2020-11-16 02:03] lijunwang1990 commented on #16
you can also download ISO file and use CD device update.

[2020-11-16 07:40] kmauleon commented on #69
hi @emvoo any update?  please advise... thank you very much

[2020-11-16 08:00] kmauleon commented on #65
hi all can you please try with latest MEFW >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2HRN.firmware
thank you very much...

[2020-11-16 08:05] kmauleon commented on #49
hi @NadirDerradj please try with latest MEFW... thank you very much
    Corporate (VPro) >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1CRM.firmware
    Consumer (NonVPro) >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1CRN.firmware

[2020-11-16 08:07] kmauleon commented on #4
hi @ajes please try latest MEFW >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1DRMP50.firmware
thank you very much...

[2020-11-16 08:11] kmauleon commented on #61
hi @markuspeloquin ... please try with latest MEFW >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN22RM.firmware
thank you very much

[2020-11-16 08:14] kmauleon commented on #34
hi... as per owner's remarks... please try as below.  thank you very much...
**we can see error message in fail report such as: failed to write data to efivarfs: Error writing to file descriptor: No space left on device, I think user can check the environment  first when meet error. Please update fwupd tool and use the latest MEFW 184.79.3722 try again.**

[2020-11-16 08:17] kmauleon commented on #19
same as #16 https://github.com/fwupd/firmware-lenovo-thinkpad/issues/16#issuecomment-726637384

[2020-11-16 08:32] kleinph commented on #61
@kmauleon unfortunately this didn't work for me. I see the firmware update screen when rebooting, but the update is still there:

[code]

[2020-11-16 08:46] kmauleon commented on #61
hi @kleinph can you please show result of below command... thank you very much
fwupdmgr get-devices

[2020-11-16 08:48] kleinph commented on #61
[code]

[2020-11-16 08:56] kmauleon commented on #61
it's weird that you have 2 GUIDs for MEFW as below
│     GUIDs:              **676af093-2a5c-4238-9c29-db8063a33532**
│                         039bd398-f61a-5c46-b02c-b660d1cf4926
the first one should be the correct one...
sorry but can you please try this again...
     **fwupdmgr refresh
     fwupdmgr update**
after update and before system reboots please check MEFW version in BIOS Setup
thank y

[2020-11-16 10:13] kleinph commented on #61
I am not sure, but I think MEFW version in BIOS/UEFI is 11.8.79.3722.

![IMG_20201116_110232](https://user-images.githubusercontent.com/566413/99240288-92056100-27fc-11eb-96cd-5917f7d35fe0.jpg)

[2020-11-16 10:59] PhilippWendler commented on #19
Indeed, and this solved the problem. I upgraded the UEFI firmware of my T460p from version 2.11 to 2.30 under Windows, and then fwupd correctly offered me version 2.31. Installing this with fwupd worked fine. Now I guess I just have to wait until 2.32 (already available on the Lenovo website) appears on LVFS.

Thank you for your help!

I think this issue can now be closed.

[2020-11-16 11:03] PhilippWendler commented on #16
Thanks, upgrading under Windows solved this for me. I upgraded my T460p's UEFI firmware to 2.30, and after that fwupd correctly offered me version 2.31 and finally also the correct "ThinkPad T460p Corporate ME Update". Upgrading the ME firmware with fwupd from 176.12.1008 to 184.77.3664 also worked fine.

Thank you for your help!

My issue is solved (although the original issue reported here was a

[2020-11-16 11:18] PhilippWendler commented on #10
This is probably the same as #19 and might be solved by doing a firmware upgrade under Windows once?

[2020-11-16 11:50] Yawning commented on #65
[code]

The ESRT being incorrect leads to fwupdmgr refusing to attempt to install the update.  None of the "Do what I say" looking options (`--force`, `--no-safety-check`, `--no-metadata-check`) alter the behavior.

[2020-11-16 12:03] hughsie commented on #34
This normally indicates that something was logging to an EFI variable and used up all the space. Perhaps try listing /sys/firmware/efi/efivars/ and sorting by size?

[2020-11-16 12:58] joakim-tjernlund commented on #77
Great, I am also looking forward to T490s updates

[2020-11-16 12:58] joakim-tjernlund commented on #75
I can see a Dock FW on LVFS now :)

[2020-11-16 23:22] kmauleon commented on #61
hi @kleinph ... this means MEFW is already the latest one... it seems ESRT table was not updated correctly... currently this is a known issue and we are still checking on this... can we just wait for the next MEFW version targeted to be released by December end and see if behavior will change...  Thank you very much

[2020-11-16 23:31] kmauleon commented on #19
thank you very much @PhilippWendler ... closing the issue ^_^

[2020-11-16 23:31] #19 closed, assigned to nobody

[2020-11-16 23:41] kmauleon commented on #10
@PhilippWendler is correct!  Thank you very much

[2020-11-16 23:46] kmauleon commented on #16
@PhilippWendler thank you very much!
@atrueba sorry for the delay in response ...unfortunately, P40 Yoga is not LVFS supported. thank you very much
@Forbo sorry for the delay in response ... please update BIOS/EC to the latest first then MEFW... after update of MEFW, please check version in BIOS Setup Menu... thank you very much

[2020-11-16 23:56] kmauleon commented on #65
hi @Yawning can you please try with the following ... thank you very much
     fwupdmgr --allow-older --allow-reinstall install <cab file>

[2020-11-17 08:57] SoMuchForSubtlety commented on #74
Should the firmware update be on LVFS again? I don't see any updates when I run `fwupdmgr refresh`.

[2020-11-17 14:15] Yawning commented on #65
That doesn't change the behavior.  As far as I can tell, there is no way to bypass the check at https://github.com/fwupd/fwupd/blob/d483fcedd5e54b5fc805a9826e8568982c28cc31/src/fu-engine.c#L1179

[2020-11-17 23:17] kmauleon commented on #65
hi @Yawning ... i temporarily removed the version requirement. can you please try again? thank you very much

[2020-11-18 09:52] smalltimer commented on #70
Hi, ran into this issue once again. This time the fix was simply uninstalling and reinstalling fwupdmgr from the debian repos. The firmware upgraded very nicely after that.

I have been running linux for more than 16 years now, and you have no idea how magical fwupdmgr feels. Never in the history of linux has upgrading/downgrading firmware been this easy. Awesome job guys <3

[2020-11-18 10:04] ghost opened #86 "Missing firmware: UEFI 1.35 for P1 Gen2 and X1 Extreme"
The Lenovo support site list a version 1.35 of the UEFI bios which was released on 2020/10/22, but isn't available on LVFS.

[Lenovo README](https://download.lenovo.com/pccbbs/mobiles/n2oul16w.txt)

[Device on LVFS](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2OETXXW.firmware)

Output of `fwupdmgr get-devices`:

[code]

[2020-11-18 11:31] Yawning commented on #65
Well, there's good news and bad news.  The good news is, according to the system setup screen, the update applied, because it lists the new ME firmware version.  The bad news is, the ESRT entry did not get updated again, so fwupd is still convinced I am running `192.47.1524` when I am not.

The relevant parts from `fwupdmgr history` are probably where it says `Update State: failed` and `Update Err

[2020-11-18 23:05] kmauleon commented on #70
thank you very much for the tips @smalltimer !!

[2020-11-18 23:24] kmauleon commented on #65
hi @Yawning ... can we get back to this after I released latest version by December?  test ongoing as of the moment... please bear with us... thank you very much.  but you may want to try this if it works for you >> https://github.com/fwupd/firmware-lenovo-thinkpad/issues/70#issuecomment-729565648

[2020-11-19 07:41] ghost commented on #86
Forgot to add some details. My laptop is P1 Gen2 running Fedora 32. The `get-devices` output above was made while attached to a Lenovo USB-C docking station, and Logitech Unifying receiver.

[2020-11-19 11:45] orclex opened #87 "FW for X1C7 is not installed correctly - still available after reboot"
Hi,
There are firmware updates available for my Lenovo Thinkpad X1 Carbon Gen7.
After updating and rebooting the firmware updates are available again.

[code]

Is that a know issue and can I give you any more information to fix this?
Thanks!

[2020-11-19 11:56] orclex commented on #87
On reboot I see for a few seconds a blue screen with "Boot Option Restored" in title bar. If I press a key to break countdown I can choose between "Reset system", "Continue boot" and "Always continue boot". I've tried both first choices. For both firmware updates are available again on next boot and so the upgrade seems never be successful.

The system is (K)ubuntu 20.10 with fwupd 1.4.5-1.

[2020-11-19 19:30] joakim-tjernlund commented on #75
It is raining Dock FW now :)
Will we see  Basic/Pro/Ultra Dock FW now?

[2020-11-19 22:46] kmauleon commented on #87
hi @orclex are you referring to MEFW update?  Can you please check MEFW version in BIOS Setup Menu and confirmed that it was actually updated?  This is a known issue for MEFW that ESRT table was not updated, thus, fwupd still recognize the old version. We plan to release new MEFW by December.  Please wait for that and let's see if behavior will change.  Thank you very much...

[2020-11-20 16:40] orclex commented on #87
It looks like it is still the old version. In UEFI setup there is no leading zero for the version number...
I can see these versions:
[code]

[2020-11-21 11:02] dkwo commented on #56
On my T460s with ME permanently disabled in BIOS, fwupd still suggests the update, and if I accept it and reboot, the system BIOS sees it and applies it, but when I run fwupd again after reboot, it says it was unable to apply ME update.
Shouldn't fwupd detect that the ME is disabled and just skip the update? or am I supposed to apply it anyway? in this case, why is it not working?

[2020-11-21 17:55] galibozek commented on #70
@kmauleon i installed today version 11.8.80.3746 (bca21ecc0bdf6d1fccab8f25b089dfe738e9f9551f9dc82a1d697b632c75b522-Lenovo-ThinkPad-T480s-CorporateMEFirmware-11.8.80.3746.cab)

and i have same effect

fwupdmgr get-topology --show-all:
[code]

bios show version: 11.8.80.3746,

sudo fwupdmgr get-updates
[code]

[2020-11-22 17:30] fkru commented on #74
@ Mark: Do you know by chance whether a BIOS release for T14 is in sight? Thx. Regards, Frank

[2020-11-22 19:30] MakisH commented on #85
A maybe important addition/update (following a discussion on [askubuntu](https://askubuntu.com/questions/1294353/understanding-my-boot-efi-tree)): I am using an MBR partition table, not GPT. Could this be an issue for fwupd?

[2020-11-23 08:41] hughsie commented on #85
As am I, and it seems to work okay.

[2020-11-23 18:08] mattdm opened #88 "Secure boot failure with firmware update to 244.39.1367"
I have an X1 Carbon Gen 8. It's got Fedora Workstation 33 installed now; it shipped from the factory with F32 and has never had any other OS.

Today GNOME Software is showing a pending update from 224.37.1165 to 244.39.1367. When I reboot to apply this update, I get a scary blue screen with

    ERROR

    Verification failed: (0x1A) Security Violation

followed by a shim error screen.

I've tried

[2020-11-23 20:58] mattdm commented on #88
This update https://bodhi.fedoraproject.org/updates/FEDORA-2020-e627c24227 seems to resolve the problem.

[2020-11-23 20:58] #88 closed, assigned to nobody

[2020-11-23 23:47] kmauleon commented on #87
hi @orclex LVFS site available versions are [12.0.47.1524](https://fwupd.org/downloads/32100a49cc474b16c9534a1a2963128d6e84bf5b-Lenovo-ThinkPad-X1Yoga4thX1Carbon7th-CorporateMEFirmware-12.0.47.1524.cab) > [12.0.64.1551](https://fwupd.org/downloads/1bf0689e23de19521c00e56794adc04bcfe5da26311afefce5f8dcf70eae8a0a-Lenovo-ThinkPad-X1Yoga4thX1Carbon7th-CorporateMEFirmware-12.0.64.1551.cab) > [12.0.68.1

[2020-11-23 23:55] kmauleon commented on #56
hi @dkwo @jorgelizandro ... can you please open a new issue for this for proper tracking since this issue has been closed already. thank you very much.

[2020-11-24 00:00] kmauleon commented on #70
hi @galibozek ... thank you very much for the information i'll forward this to owner...

[2020-11-24 07:48] orclex commented on #87
[code]

[2020-11-24 18:05] mrhpearson commented on #74
Afraid no ETA yet - I sent a nudge this morning to find out what is happening.
Mark

[2020-11-25 00:27] kmauleon commented on #87
hi @orclex can you please try to download this cab file and install as below.  Thank you very much.  >>
[github87.zip](https://github.com/fwupd/firmware-lenovo-thinkpad/files/5593550/github87.zip)
(note: same as LVFS uploaded version but without MEFW version requirement)
1. extract zip file
2. navigate to the location of the cab file
3. install cab file as below
    fwupdmgr --allow-older --allow-

[2020-11-25 08:36] joakim-tjernlund commented on #75
@mrhpearson ?

[2020-11-25 09:23] orclex commented on #87
Thanks, I tried this but unfortunately the firmware is not installed.
On reboot I got the messages

[code]

I waited about 20min but nothing happend and I need to power off/power on to restart. Firmware is not updated and update is still available.
Any ideas?

[2020-11-25 10:55] hughsie commented on #87
I think you need a new system firmware with a new enough UpdateCapsule implementation. Updating your BIOS using windows or a LiveCD should allow this to apply.

[2020-11-25 11:00] orclex commented on #87
Unfortunately I don't have Windows. Will a new UpdateCapsule implementation delivered with the next LVFS update?

[2020-11-25 12:01] hughsie commented on #87
Unfortunately the thing that needs fixing is the update routine that's on your current system firmware, so the update never gets run and thus we can't actually load any code. I believe Lenovo offers a LiveCD download .iso option as an alternative for updating most system firmwares affected by this.

[2020-11-25 13:39] orclex commented on #87
Good idea. I could install 2 of 3 updates but one is still missing.

I downloaded BIOS Update (Bootable CD)1.41 / 1.30
(https://download.lenovo.com/pccbbs/mobiles/n2hur34w.txt), booted it and I've selected _2. Update system program_.
It took a while with a blank screen until it flashed the bios and finally showed me that I have to disable **Secure RollBack Revention**. So I disabled it in BIOS and

[2020-11-25 23:43] kmauleon commented on #87
hi @orclex
this is weird though having 2 GUIDs for MEFW
**│     GUIDs:               c3e4be53-e714-4ea1-bb9c-7fe13a98b556
│                          35cbf8ae-bee1-52fa-bf0d-11f1fc4c12f5 ← UEFI\RES_{C3E4BE53-E714-4EA1-BB9C-7FE13A98B556}**

may I know how were you able to update to 12.0.49.1534?  LVFS does not have this version uploaded...
please advise.  Thank you very much.

[2020-11-25 23:55] kmauleon commented on #87
@orclex maybe you can try the following options as well if it'll work for you...
1. fw downgrade
     **fwupdmgr downgrade (choose which firmware to downgrade)
     fwupdmgr --allow-older --allow-reinstall install Lenovo-ThinkPad-X1Yoga4thX1Carbon7th-ConsumerMEFirmware-12.0.68.1606-github87.cab**
2. [uninstalling and reinstalling fwupdmgr](https://github.com/fwupd/firmware-lenovo-thinkpad/issues/7

[2020-11-26 11:16] hughsie commented on #87
Nah, newer fwupd versions use the "raw" GUID from the ESRT entry and *also* use the Microsoft `UEFI\RES_{}` format so we can use the same values as Windows Update -- which confuses some vendor _less_.

[2020-11-26 13:23] dkwo opened #89 "T460s: the ESRT is incorrect"
On my T460s with ME updated to most recent version in BIOS, fwupd still suggests the updates, and if I accept it and reboot, the system BIOS sees it and applies it, but when I run fwupd again after reboot, it says it was unable to apply ME update.

Shouldn't fwupd detect that the ME is updated and just skip the update? in this case, why is it not working?

[code]
[code]
[code]
[code]
REBOOT
[code]

[2020-11-26 23:45] kmauleon commented on #89
hi @dkwo can you please check MEFW version in BIOS Setup Menu?  Thank you very much..

[2020-11-27 08:52] dkwo commented on #89
Sure, it says: 11.8.79.3722

Thanks.

[2020-11-27 12:19] orclex commented on #87
Unfortunately there is no downgrade available:

[code]
I wonder if I can download a previous update from lenovo?

https://pcsupport.lenovo.com/de/de/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-carbon-7th-gen-type-20qd-20qe/20qd/20qdcto1ww/pf1rvln0/downloads/ds540232-bios-update-utility-bootable-cd-for-linux-windows-10-64-bit-thinkpad-x1-carbon-7th-gen-x1-yoga-4th-gen

I dow

[2020-12-01 00:19] kmauleon commented on #89
hi @dkwo your MEFW is updated already to the latest... though fwupd is not seeing the correct version.  this is still under investigation by BIOS team, issue is similar with fwupd/fwupd#65. let's keep this open for tracking... thank you very much.

[2020-12-01 00:51] kmauleon commented on #87
hi @orclex BIOS latest should be as below image...
![image](https://user-images.githubusercontent.com/62524943/100682379-eb4ec200-33b0-11eb-99e4-5a5080bbe5c6.png)

Please update to the following version
1.41      (N2HUL34W)  1.41 (**N2HET58W**)      1.21 (**N2HHT38W**)   01    2020/11/12

**fwupdmgr install** <cab file>

[2020-12-01 00:53] kmauleon commented on #87
update BIOS/EC as below command... thank you
     **fwupdmgr install <cab filename>**

[2020-12-01 00:56] kmauleon commented on #87
update BIOS/EC as below... thank you
     **fwupdmgr install** xxx.cab
xxx >> cab filename

[2020-12-01 09:10] dkwo commented on #89
Sure, thank you.

[2020-12-01 10:05] orclex commented on #87
Unfortunately it says it is already installed:

I downloaded **n2hul34w.zip** for linux, unzipped it and tried to install:

[code]

fwupdmgr still shows an available update which is also available again after upgrading and reboot:
[code]

[2020-12-01 14:43] mgedmin opened #90 "Intel ME firmware update on X390 spews debug messages"
Here's what it looks like:
![IMG_20201126_155811](https://user-images.githubusercontent.com/159967/100754888-40f88e00-33f4-11eb-99e7-381bf6380dae.jpg)

[2020-12-01 14:49] mgedmin commented on #90
fwupdmgr described the update as `ThinkPad X390/T490s Corporate ME Update` for the `Intel Management Engine` on `20Q0CTO1WW`.  The new version of the firmware was `192.71.1681` although the description also showed a version number as `Version 12.0.71.1681(LVFS:192.71.1681)`.

I was using fwupdmgr on Ubuntu 20.10, which has fwupd version 1.4.5-1.

[2020-12-01 22:35] mscherer opened #91 "Lenovo dock Synaptics VMM2322 Display Port HUB firmware is missing for Thinkpad Pro Dock"
I have a Thinkpad Pro Dock but despite using the same protocol as the regular Thinkpad Workstation Dock (cf https://download.lenovo.com/pccbbs/mobiles/fwdphb07.txt ), it doesn't seems to be supported by fwupd on Fedora 33, likely because there is a quirk for the latter, and not the former, cf https://github.com/fwupd/fwupd/blob/master/plugins/synaptics-mst/synaptics-mst.quirk#L42

I wrote a quick

[2020-12-01 23:51] kmauleon commented on #87
hi @orclex can i have a screenshot of your BIOS Setup Menu again.... thank you very much

[2020-12-02 00:03] kmauleon commented on #90
hi @mgedmin ... i will forward your concern to owner... will get back once i have update from them... thank you very much.

[2020-12-02 09:17] orclex commented on #87
![PXL_20201202_090543057 MP](https://user-images.githubusercontent.com/18591285/100853038-9336bf00-3487-11eb-81a6-98a8c97c215f.jpg)

[2020-12-02 09:39] hughsie commented on #91
You don't need a quirk; `ParentGuid` is just setting up the logical mapping so that it appears as a composite "tree" rather than lots of individual discrete devices.

It should enumerate fine if you do something like `sudo fwupdtool --plugins synaptics_mst get-devices --verbose` -- although without firmware uploaded by Lenovo (or rather, it's ODM) it's not going to be easy to flash firmware. If yo

[2020-12-02 10:11] mscherer commented on #91
So, using --verbose flag, I see that error message:
[code]

from https://github.com/fwupd/fwupd/blob/master/plugins/synaptics-mst/fu-synaptics-mst-device.c#L1063-L1071

And I confirm, it return 0x0,0x0 on that register, so I guess that's a different chipset, or a different way to get the ID.

But so, Thinkpad Workstation Dock is supported by the plugin, or I misunderstood the source code  ?

As fo

[2020-12-02 10:36] hughsie commented on #91
Possibly; I can ask Synaptics the next time I sync with that team.

I can't really say; if there's public firmware on the LVFS then it's supported otherwise my lips have to stay sealed unfortunately.

[2020-12-02 23:25] kmauleon commented on #87
hi @orclex can you please try to manually install this cab file >>
[Lenovo-ThinkPad-X1Yoga4thX1Carbon7th-ConsumerMEFirmware-12.0.64.1551.zip](https://github.com/fwupd/firmware-lenovo-thinkpad/files/5632643/Lenovo-ThinkPad-X1Yoga4thX1Carbon7th-ConsumerMEFirmware-12.0.64.1551.zip)
**fwupdmgr --allow-older --allow-reinstall install** xxx.cab

[2020-12-03 10:53] galibozek commented on #70
hi, @kmauleon @mrhpearson is something new in the topic?

[2020-12-03 15:27] orclex commented on #87
Unfortunately this lets the system freeze as in [thread above](https://github.com/fwupd/firmware-lenovo-thinkpad/issues/87#issuecomment-733579647). I had to power off and on again.
![PXL_20201203_152058395](https://user-images.githubusercontent.com/18591285/101050008-56042700-3584-11eb-9300-a26b8605060e.jpg)

[2020-12-03 21:37] fkru commented on #74
While Lenovo announced publicly a couple of months ago to ship T14 AMD with Ubuntu LTS 20.04, it seems they are incapable of providing working firmware updates at LVFS. It's rather disappointing!

[2020-12-03 23:29] kmauleon commented on #70
hi @galibozek... i'll ping owner again... but BIOS is registering the new version 11.8.80.3746 already... so it seem ESRT table is not updated correctly thus incorrect version for fwupd... thank you very much...

[2020-12-03 23:57] kmauleon commented on #87
hi @orclex sorry but I did not encounter this error... asking help from BIOS team... I will update you once I got some information... Thank you very much

[2020-12-04 06:45] orclex commented on #87
Thanks to you for asking and helping!

[2020-12-04 22:17] galibozek commented on #70
@kmauleon that is, it can be understood that the update has been applied?

[2020-12-06 22:34] guillemglez commented on #6
I have this same issue on a Lenovo X1 Carbon 6th gen. Happened several times, got used at reinstalling grub every time I update, but still very annoying...

[2020-12-06 23:50] kmauleon commented on #70
hi @galibozek ... yes you already have the latest MEFW ^_^

[2020-12-07 02:23] kmauleon commented on #90
hi @mgedmin ... can you please try newly uploaded cab file >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2JRM.firmware
thank you very much...

[2020-12-07 07:10] mgedmin commented on #90
I have no idea how to do that.

`fwupdmgr get-upgrades` finds no available firmware updates.

[2020-12-07 07:37] kmauleon commented on #90
@mgedmin can you please download the cab file from this link >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2JRM.firmware
then run the following command from terminal
**fwupdmgr --allow-older --allow-reinstall install** _cab filename_

[2020-12-07 09:57] ghost commented on #86
Closing as Lenovo has uploaded version 1.36 which is available on LVFS.

[2020-12-07 09:57] #86 closed, assigned to nobody

[2020-12-07 11:18] joakim-tjernlund commented on #75
@mrhpearson , any news?

[2020-12-07 15:44] mrhpearson commented on #75
I tested the update manually myself last week on the TBT3 WS Gen2 dock and it works. The Docking team are still doing their testing and I saw some emails about getting it up on LVFS but it's not there yet. I don't have an ETA yet I'm afraid but it is getting there.

FYI - fwupd 1.5.2 or later will be required. It's available on Fedora in updates-testing, or as a snap for other distro's.

[2020-12-07 15:46] mrhpearson commented on #75
Oh, and I assume you're interested in the Ultra dock scanning the above. My understanding is that a lot of the components are the same so it will work there too...but I don't know for certain what will happen.
I don't have one of those to test with myself. Once the TBT3 dock is done hopefully it will become more obvious...

[2020-12-08 08:09] goebbe opened #92 "Missing firmware (bios) 1.65 update for lenovo T470"
Firmware (bios) currently available in LVFS:   1.64
Device homepage on LVFS:
https://fwupd.org/lvfs/search?value=T470

The newest firmware (bios) currently available from vendor:   **1.65**
Since: 11 Nov 2020

Recommended Bios update available as a download from vendor support page:
https://pcsupport.lenovo.com/ar/de/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t470/downloads/d

[2020-12-09 08:19] mgedmin commented on #90
[code]

(Unrelated, but probably something for @hughsie to fix -- by which I mean, should I file a separate issue for this? -- Firefox offered me to open the .cab file in w3m, because it's being served with `Content-Type: text/html; charset=utf-8`.  There's also no progress indication for the download, because the web server doesn't report the file size.)

[2020-12-09 08:31] kmauleon commented on #90
hi @mgedmin for "No supported devices found" please show results of the following command...
**fwupdmgr get-devices**

[2020-12-09 09:39] mgedmin commented on #90
The IME is

[code]

and here's the full list:

<details>

[code]
</details>

[2020-12-09 17:08] Cryt1c commented on #31
@kmauleon @mrhpearson Any news on this issue?

[2020-12-10 00:35] kmauleon commented on #90
hi @mgedmin , your system shows that MEFW was already updated to the latest 192.71.1681... but let me confirm the error with the owner... thank you very much...

[2020-12-10 00:47] kmauleon commented on #31
hi @Cryt1c new version 192.71.1681 has been uploaded already >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2JRM.firmware
Please check with this version.  Thank you very much...

[2020-12-10 00:49] kmauleon commented on #31
please run the following again... thank you
**fwupdmgr refresh
fwupdmgr update**

[2020-12-10 00:55] kmauleon commented on #90
can you please try this instead...thank you
**fwupdmgr refresh
fwupdmgr update**

[2020-12-10 02:48] kmauleon commented on #90
hi @mgedmin .. your system MEFW GUID indicates a Non-VPro system, thus you need a consumer version for this as per owner.
can you please download the cab file from this link >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2JRN.firmware
then run the following command from terminal
**fwupdmgr --allow-older --allow-reinstall install** _cab filename_

[2020-12-10 05:55] Cryt1c commented on #31
Hi @kmauleon it worked!! Thanks a lot for your effort!

[2020-12-10 06:27] kmauleon commented on #31
hi @Cryt1c Thank you very much for the good news!
hi @foshaug can you please try on your side?  Thank you very much

[2020-12-10 09:54] mgedmin commented on #90
Yes, the update process was successful.  This issue is cosmetic: all the DEBUG messages that should not have shown up during the update.

fwupdmgr update finds a firmware update for the NVME SSD, which I think is unrelated.

Consumer version sounds right.

fwupdmgr --allow-reinstall install 83f9b282b96ca6e6de26d9509b0ad39dcfa89e677a7f01cd3a76e1f2fff2e5b1-Lenovo-ThinkPad-X390T490s-ConsumeMEFirmware

[2020-12-10 10:02] mgedmin commented on #90
The upgrade went smoothly, no debug output:

![IMG_20201210_115605_2](https://user-images.githubusercontent.com/159967/101756986-4b471600-3adf-11eb-9afe-bebe40d1e2e4.jpg)

Nicely translated description.  It's a bit strange that the text spinner (`|` `/` `-` `\`) overlaps the LENOVO logo, but every previous firmware update looked like that too.  (Well, some had a progress bar below the text.)

I wo

[2020-12-11 00:20] kmauleon commented on #90
hi @mgedmin thank you very much for the good news... with this, i will close this issue now.  please reopen if you don't agree.... thank you very much ^_^

[2020-12-11 00:20] #90 closed, assigned to kmauleon

[2020-12-11 07:44] kmauleon commented on #6
hi all... tried to consult Dev BIOS and here's their confirmation... thank you very much...
----------------------------------------------------------------------
Grub is still displayed after BIOS update. Since BIOS code is similar on SKL/KBL/WHL/CML products, this symptom is customer’s environment, such as Linux distribution, dual-boot setting, etc.
----------------------------------------------

[2020-12-11 07:54] guillemglez commented on #6
@kmauleon You mean that by adding `GRUB_STYLE_MENU=menu` to our `/etc/default/grub` will fix the issue? Why does this happen?

[2020-12-11 08:30] kmauleon commented on #6
hi @guillemglez ... this is not actually a fix.  Dev BIOS Team needed to set these parameters in order to confirm if GRUB menu will disappear after BIOS update since initially his environment is not displaying GRUB at POST.  Thus, procedure 2.
     3.  Update BIOS by ShellFlash.
     4.  Confirm grub menu appears or not at POST.
               GRUB is still displayed >>> **PASS** (**GRUB menu is s

[2020-12-12 23:46] talyz opened #93 "T14s AMD firmware is outdated"
Version `1.29` is available on the support page, but `1.25` is the latest one available in LVFS.

[2020-12-14 02:15] lijunwang1990 commented on #70
@galibozek if your still get fail result after excute "sudo fwupdmgr get-updates",could you please uninstalling and reinstalling fwupdmgr to try again? or use "$ sudo fwupdmgr downgrade" and "$ sudo fwupdmgr update", I see someone fixed this issue with this method. thank you.

[2020-12-14 05:53] jmbaur opened #95 "ThinkPad X1 Carbon Gen 8 - TPM PCR0 differs from reconstruction"
**Describe the bug**
TPM PCR0 differs from reconstruction, uploading based on instructions from https://github.com/fwupd/fwupd/wiki/TPM-PCR0-differs-from-reconstruction. I apologize for the long output!

**fwupd version information**
Please provide the version of the daemon and client.
[code]

Please note how you installed it (`apt`, `dnf`, `pacman`, source, etc):
Came preinstalled (Ubuntu)

**fwu

[2020-12-14 06:09] kmauleon commented on #93
hi @talyz according to owner... target release to LVFS is next week... thank you very much

[2020-12-14 08:48] hughsie commented on #95
Can you try a newer fwupd version? I think this bug was fixed a long time ago. Thanks,

[2020-12-14 16:02] jwesterd-redhat opened #94 "Missing Thunderbolt and Dock Firmware for T480s attached to 40AC"
I have a T480s attached to a 40AC dock via Lenovo USB-C. Works mostly fine with 2x monitors currently over DisplayPort. Too often both go black at once, and then pop back on 5 Sec later.

Figure its time to flash the Thunderbolt host controller and Dock firmware.

I get this:  (TB host controller and dock fw are unavailable).

# fwupdmgr update
WARNING: The daemon has loaded 3rd party code and is

[2020-12-14 20:36] superm1 commented on #95
I'm fairly confident that this is fixed in newer fwupd versions outlined in that bug and if there are problems that remain they are firmware based, so moving repos.

[2020-12-15 15:54] SoMuchForSubtlety commented on #74
@mrhpearson any news? I though this was already released and only pulled because of a GUID clash.

[2020-12-15 23:09] dgutson opened #96 "P72: ME version wrongly detected"
Ubuntu reports
![image](https://user-images.githubusercontent.com/9671770/102283484-4506ce80-3f11-11eb-94d7-14815073c9dc.png)

However, the intel tool reports that I already have 192.68.1606:
[code]

[2020-12-16 03:48] kmauleon commented on #87
hi @orclex sorry but unfortunately BIOS team did not encounter this error as well.... is it possible for you to try the following commands again...
**fwupdmgr refresh
fwupdmgr update**

[2020-12-16 14:30] orclex commented on #87
This is bad news!
Unfortunately a refresh && update does not change anything. On reboot it still stops with
`WARNING: Could not apply capsules: Unsupported`
So what now?

[2020-12-16 16:27] jmbaur commented on #95
Yep! The warning does not show anymore using an updated version via the snap store.
Using version:
[code]

[2020-12-16 16:27] #95 closed, assigned to nobody

[2020-12-16 23:24] kmauleon commented on #87
hi @orclex... somehow something broke with your last update.... but since your last MEFW update was with Windows or from different method (12.0.49.1534 was not release to LVFS), i'm afraid you might have to revert back to windows and upgrade from there.  i'm really sorry but i don't have any other options for now.  @hughsie please help if any... thank you.
or you may want to try with new version c

[2020-12-17 09:31] hughsie commented on #87
This means the old system firmware update capsule implementation is broken. If you install a new system firmware either using Windows or a .iso image from Lenovo then you should be able to schedule future updates with fwupd.

[2020-12-17 15:16] orclex commented on #87
@hughsie  I already tried a .iso image for updating but unfortunately with no success (see above). I can wait until next firmware is released and will try it. Does it matter wheather I use LVFS or an iso image boot for this update?

[2020-12-17 17:50] joakim-tjernlund commented on #82
ping

[2020-12-17 17:51] joakim-tjernlund commented on #75
1.5.4 is out, any news w.r.t Lenovo Dock FW ?

[2020-12-17 22:44] kmauleon commented on #87
with this we may need to wait for new system firmware.  as i checked BIOS 1.41 can not be downgraded anymore. as @hughsie suggestion, for new system firmware, still need to update via Windows or ISO image

[2020-12-18 11:25] aussetg commented on #74
1.29 (latest) is on LVFS

Seems to fix every single oddity I had with sleep

[2020-12-18 11:39] j13m126 commented on #74
Only for the T14s though. I think @SoMuchForSubtlety was talking about the T14 AMD model, where there is no update on LVFS yet.

[2020-12-18 11:40] SoMuchForSubtlety commented on #74
Yes, I have a T14 (20UD0013GE)

[2020-12-18 19:50] foshaug commented on #31
@kmauleon all good on my end. Thanks

[2020-12-18 19:55] hughsie commented on #31
Many thanks again to @kmauleon -- you're a credit to Lenovo!

[2020-12-18 19:55] #31 closed, assigned to mrhpearson, PrinceWang2018, sheldonHf

[2020-12-21 01:20] kmauleon commented on #74
hi all... really sorry for the delay for this firmware. as per owner target availability is December 24... thank you very much.

[2020-12-21 10:26] clark-ja opened #97 "Missing Firmware 0.1.45 for ThinkPad T570/P51s"
- Systems: Lenovo ThinkPad T570, Lenovo ThinkPad P51s
- Link to the firmware update at Lenovo Support:  https://download.lenovo.com/pccbbs/mobiles/n1vul26w.zip
- Firmware Release Date: 26 Nov 2020
- Link to the previous firmware upgrade at LVFS: https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1VET.firmware

[2020-12-21 11:22] clark-ja commented on #97
although lenovo appears to have made a mistake? according to the `firmware.metainfo.xml` inside `N1VET55W.cab` a requirement to installing Firmware Version 0.1.45 is to have version >=0.1.64 installed. That looks like a typo!

I had version 0.1.42 installed previously and I changed the requirement to version 0.1.42 and repacked the cabinet file with the risk of bricking my machine. Than i used `#

[2020-12-21 16:10] talyz commented on #93
Firmware is now up-to-date.

[2020-12-21 16:10] #93 closed, assigned to nobody

[2020-12-21 21:26] fkru commented on #74
Installed today's upate to system firmware version 1.25 for T14 AMD via LVFS ("sucessfully installed firmware"), but after a reboot I still have version 1.05. Any idea? Anyone else seeing this? Thx.

[2020-12-21 22:27] kmauleon commented on #74
hi @fkru can you please attach screen shot of your BIOS Setup Menu here... I'll forward to owner... thank you very much

[2020-12-22 03:18] jpasquier commented on #74
Hi, I had managed to do the update during the few hours it was first available (November 10th). Now that the update is available again, it is not recognized in the history. Looks like for my system there is no more device corresponding to this firmware. I'm afraid I won't be able to apply future updates. Is there a possibility to update or correct my history and my device list?

The command `sudo

[2020-12-22 04:20] kmauleon commented on #74
hi @jpasquier can you please try the following commands... thank you very much.
**fwupdmgr downgrade** _(choose which firmware to downgrade)_

after successful downgrade, please try the following again...
**fwupdmgr refresh
fwupdmgr update**

[2020-12-22 04:58] jpasquier commented on #74
@kmauleon Thank you for your message. It does not work. The command `sudo fwupdmgr downgrade 3ba7ea853f9613adbcbb9326dbe5f0decd677a67` gives:

[code]
I get the same result with the GUID

[code]

[2020-12-22 05:13] kmauleon commented on #74
how about this one... please download cab file >> https://fwupd.org/downloads/a66f0fe4894d6e00661e455ce1ef371e026310f2a85c934b60693a9c5af1a946-Lenovo-ThinkPad-T14-P14s-AMD-SystemFirmware-1.25.cab

then execute below command...
**fwupdmgr --allow-older --allow-reinstall install** _cab filename_

[2020-12-22 05:44] jpasquier commented on #74
Doesn't work either. I get:

[code]

Thank you

[2020-12-22 05:49] kmauleon commented on #74
let me ping owner @jpasquier hopefully they reply asap... will update once  i get reply from them... thank you very much...

[2020-12-22 07:59] jvnknvlgl commented on #74
I'm having the same issue, I updated in the first hours on November 10th. Maybe @hughsie this has to do with the behaviour of fwupdmgr?

[2020-12-22 08:03] jvnknvlgl commented on #74
If it helps anything, here is the output  of `get-history`:

[code]

[2020-12-22 10:06] yunusemrecan commented on #84
Sorry to bother but same 1.25 bios for t14 reappered for my e495. Also I am on 1.19 while lastest bios is 1.20 for e495. Updating manually could solve problem?

[2020-12-22 23:55] kmauleon commented on #74
hi @jvnknvlgl thank you for the information... already forwarded this to owner...

[2020-12-22 23:56] kmauleon commented on #84
hi @yunusemrecan thank you very much for the information,,, already forwarded this to owner...

[2020-12-23 03:05] kmauleon commented on #89
hi @dkwo can you please try with latest 11.8.80.3746 thank you!
https://fwupd.org/downloads/5668a0bc71f266ea6d0ee9283995c4503dd8e4c5fd0922840b422575b2b2f83b-Lenovo-ThinkPad-T460s-CorporateMEFirmware-11.8.80.3746.cab

[2020-12-23 03:09] kmauleon commented on #87
hi @orclex latest 12.0.70.1652 is available already... can you please try with this?  thank you very much...
https://fwupd.org/downloads/e78d2c1d0372734379e135b5fe26bdf479642529ea5136036cffd1d5f355429e-Lenovo-ThinkPad-X1Yoga4thX1Carbon7th-ConsumerMEFirmware-12.0.70.1652.cab

[2020-12-23 03:16] kmauleon commented on #65
hi @Yawning latest 12.0.70.1652 is available already... can you please try with this? thank you very much...
https://fwupd.org/downloads/e78d2c1d0372734379e135b5fe26bdf479642529ea5136036cffd1d5f355429e-Lenovo-ThinkPad-X1Yoga4thX1Carbon7th-ConsumerMEFirmware-12.0.70.1652.cab

[2020-12-23 03:36] kmauleon commented on #49
hi @NadirDerradj latest 11.8.80.3746 is available already.  please check with this.  thank you very much.
Corporate >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1CRM.firmware
Consumer >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1CRN.firmware

[2020-12-23 03:50] kmauleon commented on #4
hi @ajes latest 11.8.80.3746 is available already.  please check with this.  thank you very much.
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1DRMP50.firmware

[2020-12-23 03:52] kmauleon commented on #4
latest MEFW 11.8.80.3746 has been released already.  closing this but please reopen if any concern.  thank you very much...

[2020-12-23 03:52] #4 closed, assigned to nobody

[2020-12-23 08:42] kmauleon commented on #84
hi @yunusemrecan please see below for owner's remarks... can you please check... thank you very much....
_As GUID problem, we add CHID to control publish version this morning and removed the original package, it should fix by new package now. we also confirmed the version won’t display on Ex95 project now. thank you._

[2020-12-23 08:49] orclex commented on #87
Unfortunately this is not working:

[code]

[2020-12-23 08:54] kmauleon commented on #87
hi @orclex can you please try the following commands again... thank you very much...
**fwupdmgr refresh
fwupdmgr update**

[2020-12-23 10:12] dkwo commented on #89
Hi, I get the same behavior.

sudo fwupdmgr update
Devices with the latest available firmware version:
  • Embedded Controller
Upgrade available for Intel Management Engine from 184.70.3626 to
184.80.3746
20F9CTO1WW must remain plugged into a power source for the duration of
the update to avoid damage. Continue with update? [Y|n]: Y
Downloading…             [***************************************

[2020-12-23 10:18] kmauleon commented on #89
hi @dkwo I will forward this result to BIOS team for checking.  Thank you very much for reporting.

[2020-12-23 11:21] orclex commented on #87
That looks good!

[code]
[code]

Now my installed version is

[code]

What has changed so that it was working now?

[2020-12-23 11:47] Yawning commented on #65
The good news is that the update succeeded without issue (as verified from the system BIOS setup screen).  The bad news is that fwupdmgr is still convinced that I am running the old version.

[code]

[code]

I have not checked, but I assume this is still ESRT related issues.  This isn't urgent since my laptop is up to date, despite what fwupdmgr thinks, I hope you and the team have a happy holiday

[2020-12-23 12:22] 33Fraise33 commented on #74
I actually seem to have the same issue. Device is not listed and also not showing up onder get-history. I'm unsure if I did the update through fwupdmgr or not but I'm running 1.25 at the moment.

[code]
[code]

[2020-12-23 13:58] orclex commented on #87
However, thank you very much for your help! Happy Christmas!

[2020-12-24 02:33] kmauleon commented on #87
hi @orclex I removed the MEFW required version temporarily to be able to install the latest ^_^
however it seems that fwupd still detected the lower version.... to be sure can you please show screen shot of BIOS Setup Menu?
thank you very much... Merry Christmas!!  ^_^

[2020-12-24 02:36] kmauleon commented on #65
hi @Yawning thank you very much for the information... great that MEFW was updated to latest... unfortunately still have not received any updates from BIOS dev regarding ESRT table issue... anyway, let's keep this open for tracking.  Happy Christmas!

[2020-12-24 11:54] olbat commented on #31
I gave it a shot on my Thinkpad x390 running an up-to-date Arch Linux but it didn't work: I got the same problem at boot time than the one mentioned in the initial comment.

Are there any upcoming updates targeted for x390s or something like that?

[2020-12-26 13:39] jggithub2017 commented on #74
[code]

Same problem as @jvnknvlgl.

[2020-12-27 16:44] fkru commented on #74
The issue that I am experiencing seems to be different from the one reported recently. In fact, the update to version 1.25 is allegedly installed successfully, but after a reboot firmware is still at version 1.5. Shall I open a new bug report?

$ fwupdmgr get-history
20UES00L00
│
└─System Firmware:
  │   Device ID:          3ba7ea853f9613adbcbb9326dbe5f0decd677a67
  │   Previous version:   0.1.5

[2020-12-27 17:29] fkru commented on #74
JFYI: I have managed to update to version 1.25 (by disabling secure boot!), with 'fwupdmgr get-history':

20UES00L00
│
└─System Firmware:
  │   Device ID:          3ba7ea853f9613adbcbb9326dbe5f0decd677a67
  │   Previous version:   0.1.5
  │   Update State:       needs-reboot
  │   Last modified:      2020-12-27 17:16
  │   GUID:               9bfd8b34-080b-40a1-47b3-ca1efa289e6d
  │   Device Flags

[2020-12-28 00:32] kmauleon commented on #31
hi @olbat unfortunately 192.71.1681 is the latest for X390. no definite schedule yet for next release. please open a new issue for proper tracking then i will ping the owner... thank you very much... happy holidays! ^_^

[2020-12-28 05:44] kmauleon commented on #74
hi @fkru thank you very much for the update... does this mean we can close the issue?  please advise... thank you very much.  happy holidays ^_^

[2020-12-28 07:35] jvnknvlgl commented on #74
My issue still persists, so I don't think so.

[2020-12-28 07:40] kmauleon commented on #74
hi @fkru I meant for the original issue "No firmware for the AMD Versions of the T14 / T14s
#74" ... then please open a new ticket for the new issue for proper tracking... thank you very much.

[2020-12-28 07:55] jvnknvlgl commented on #74
Well, I'd say I still don't have a firmware available for my T14 through fwupdmgr. Which is where the original issue is about, and in this thread there are a lot of other people with the same issue, because they all installed the faulty update on the 10th of November. If you want to I can make a new issue, but there's a lot of information in here already.

[2020-12-28 08:05] kmauleon commented on #74
hi @fkru I apologize for misunderstanding... I thought original issue was already fixed since [1.25](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1BET.firmware) is already available.  ok...let's just keep this open until everyone agrees. for the other issue, I already forwarded to owner.  sorry but response may be delayed due to holidays. will feedback once I received updates from them.  tha

[2020-12-28 08:14] fkru commented on #74
Agreed. Since version 1.25 is a prerequisite for 1.29, which is available on Lenovo's website since 23 Dec, it is important to keep this bug open until the issue is solved. Thx.

[2020-12-28 11:46] jvnknvlgl commented on #74
I have found a way to manually upgrade the UEFI to 1.29, to hopefully make way for future updates via LVFS:

1. Download the correct Bootable CD firmware from the Lenovo Support website, for mine it's this page: https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t14-type-20ud-20ue/downloads/driver-list/component?name=BIOS%2FUEFI
2. Convert the ISO t

[2020-12-28 21:20] jggithub2017 commented on #74
Thank you! Worked perfectly!

[2020-12-29 07:49] fkru commented on #74
Thanks for the information. Incidentally, do you have problems with 1.29 and resume after hibernation, which I am experiencing after the upgrade to version 1.25?

[2020-12-29 15:33] fkru commented on #74
FYI: The hibernation issue was not due to the firmware update. Sorry for the noise.

[2020-12-30 10:31] fkru commented on #74
Version 1.29 is now available via LVFS, the installation went smoothly.

$ fwupdmgr get-history
20UES00L00
│
└─System Firmware:
  │   Device ID:          3f10cbb75c39627fc0d14eddd274374207a5c753
  │   Previous version:   0.1.29
  │   Update State:       success
  │   Last modified:      2020-12-30 10:20
  │   GUID:               01453b71-da0c-4832-9f4f-e378245339c7
  │   Device Flags:       • Inte

[2020-12-30 11:14] morphy2k commented on #74
I currently have version 1.27 installed (done a week ago via the flash drive method) and am not being offered an update to 1.29.

[code]

[2020-12-30 11:20] fkru commented on #74
Have you tried 'fwupdmgr --force refresh' followed by 'fwupdmgr update'?

[2020-12-30 11:34] morphy2k commented on #74
Oh `--force` was missing. Everything went smoothly, thank you!

[code]

[2020-12-30 15:13] loshz commented on #74
Running BIOS 1.27 via manual flash and also not seeing the 1.29 update via LVFS.
[code]

Have tried with the `--force` flag:
[code]

System info:
[code]

[2020-12-30 15:18] fkru commented on #74
It should be 'fwupdmgr --force refresh'.

[2020-12-30 15:22] loshz commented on #74
Have tried both, but I don't think it matters which order the flag is in- as long as it's present.

Have been using `fwupdmgr refresh --force` for the past 12 months or so.

[2020-12-30 18:56] Asheboy commented on #74
I'm also running 1.25 and can't see 1.29.

[code]

[code]

[2020-12-31 08:31] Asheboy commented on #74
Update available for me this morning and upgraded from 1.25 to 1.29 successfully. Thank you!

[2020-12-31 08:42] 33Fraise33 commented on #74
I can also confirm this is now working, I applied the initial update in
november when it came out and can now update through fwupdmgr like it
should be.

On Thu, Dec 31, 2020 at 9:31 AM Ash Summers <notifications@github.com>
wrote:

[2020-12-31 12:26] loshz commented on #74
Also managed to successfully upgrade from 1.27 -> 1.29 this morning.

FYI: for anyone having issues with the firmware not being applied on reboot, I had to disable `Boot Order Lock` in the BIOS for it to work.

[2021-01-04 01:42] kmauleon commented on #74
hi @jvnknvlgl @fkru  and all thanks for your help and update
hi @aussetg ... with this new update 1.29 in LVFS, can we close this ticket now?  please advise.  thank you very much.

[2021-01-04 03:10] applesun123 commented on #74
as we set the v1.29 to stable on 12/31/2021, it should work available now. could you please use "fwupdmgr force --refresh" command instead of "fwupdmgr" command if you want to upgrade BIOS firmware next update.

[2021-01-04 03:11] kmauleon commented on #79
hi @rugubara can you please try this...
**fwupdmgr --force refresh
fwupdmgr update**

[2021-01-04 03:16] kmauleon commented on #77
hi latest MEFW already available please check >> https://fwupd.org/lvfs/search?value=T490s
As for BIOS/EC, will follow-up owner.  thank you very much....

[2021-01-04 03:23] kmauleon commented on #70
hi @lijunwang1990 @galibozek already updated MEFW. but fwupdmgr still sees it as not updated. so it seem ESRT table was not updated correctly as below, thus, your team may need to investigate this behavior further.  thank you very much.

**bios show version: 11.8.80.3746**

sudo fwupdmgr get-updates
20L8S3DK1A
?
??Intel Management Engine:
  ?   Device ID:          118b3d8cfafa8781890c4d3e23a4deb9f

[2021-01-04 03:36] kmauleon commented on #67
hi @chaitunya how about the following commands...

fwupdmgr --force refresh
fwupdmgr update

[2021-01-04 03:40] kmauleon commented on #64
hi all discussing with @hughsie on how to update BIOS/EC separately from MEFW.... thank you very much....

[2021-01-04 03:48] kmauleon commented on #61
hi @kleinph please try latest mefw with following commands... thank you very much
**fwupdmgr --force refresh
fwupdmgr update**

[2021-01-04 18:09] kleinph commented on #61
Unfortunately this didn't work.

[code]

[2021-01-04 23:51] kmauleon commented on #61
Hi @kleinph thank you very much for the information... will forward this result to owner.  thank you very much...

[2021-01-05 08:01] lijunwang1990 commented on #61
Hi @kleinph I'm the BIOS owner of T480s , I will try to build a trail bios to fix the ESRT issue. could you please help to verify it? as we can't duplicate this issue on our side, please give me your connect email if you can, I will send the bios to you. thank you.

[2021-01-05 09:42] orclex commented on #87
Thanks! Here is the screen shot of BIOS Setup Menu. Is the correct version installed?

![PXL_20210105_090144293](https://user-images.githubusercontent.com/18591285/103630870-9586b000-4f42-11eb-9209-ab3b83fe7ee8.jpg)

[2021-01-06 00:54] kmauleon commented on #87
hi @orclex bad news... I don't think your MEFW was updated T_T
last try 'coz i'm running out of options here....

1. disable UEFI Secure Boot in BIOS
2. uninstall / reinstall fwupdmgr
3. execute fwupdmgr --force refresh
4. execute fwupdmgr update
5. if ok... capsule found will appear on the upper left of the screen after reboot
6. update will be processed (with Lenovo Logo)
7. please press any key

[2021-01-06 16:39] orclex commented on #87
Unfortunately this does not work.
I disabled Secure Boot, purged fwupd and reinstalled it.
`fwupdmgr --force refresh; fwupdmgr update `
tried to update Firmware..on reboot it tried 2x "adding new capsule" but failed with an error message which I could not read because it was too quick. But I think it's like above "unsupported"?

Now I'm back with getting firmware updates available I cannot install

[2021-01-07 00:30] kmauleon commented on #87
hi @orclex let me get back to you... i will try if i can downgrade to your current ME version and update to latest....

[2021-01-07 03:50] kmauleon commented on #87
hi @orclex I was able to update MEFW successfully from **12.0.49.1534 to 12.0.70.1652 with Ubuntu 20.04**.  Please see attached images for your reference.  I'm not sure what could be the problem in your case.  Is there a possibility for you to reinstall windows and update from there (https://github.com/fwupd/fwupd/issues/1190#issuecomment-527468880)?  thank you very much...
![ME_old](https://user-

[2021-01-08 00:02] kmauleon commented on #87
hi @orclex would it be possible to ask for a video clip? hopefully we could catch the error on video and will try to ask BIOS dev for help.... thank you very much....
please take a video following below procedure...
just disable Secure Boot and execute the following commands again
**fwupdmgr --force refresh
fwupdmgr update**

[2021-01-08 22:21] kleinph commented on #61
Hi @kmauleon sure. What do you mean with "_connect_ email"?

[2021-01-09 10:17] oskarkook commented on #74
[code]
Anyone have any clues? First time seeing this with `fwupd` where it proposes a FW update but then just says `No supported devices found`.

[2021-01-09 10:52] fkru commented on #74
The release notes of version 1.29 state that you first have to update to 1.25 (cf. https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadR1BET.firmware). So, you probably have to perform the update according to the instructions given above  (https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-751685580).

[2021-01-09 10:58] fkru commented on #74
Just saw that there is link to version 1.25 above https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-749342730, which can be installed manually.

[2021-01-09 11:30] oskarkook commented on #74
Thanks @fkru! That worked. I apologize for my terrible reading comprehension :smile:

[2021-01-09 14:04] orclex commented on #87
Hi,
I did a
[code]
and recorded a short video as attached. You can see

[code]

Any ideas?
Maybe I can install Windows on a USB-hdd and boot from it and I'll also try updating from Windows.

[2021-01-09 14:09] orclex commented on #87
short video from not working firmware update:
https://owncloud.gwdg.de/index.php/s/YzHYxGBY22CG3Ed/download

[2021-01-11 00:29] kmauleon commented on #61
hi @kleinph I think owner @lijunwang1990 is asking for your contact email so he could directly send you the trial bios.... thank you very much...

[2021-01-11 00:39] kmauleon commented on #87
hi @orclex while waiting for BIOS dev reply, can you please try updating in windows?  thank you very much...

[2021-01-11 05:51] orclex commented on #87
Yesterday I tried installing Windows 10 20.04 to an external device but unfortunately the installer quits because of missing drivers for any found harddrive :-(

[2021-01-11 06:02] kmauleon commented on #87
ohhh... this is unfortunate... hopefully we can have support from BIOS dev....

[2021-01-11 09:42] averms commented on #42
Might have been a hardware issue since it went away after RMA.

[2021-01-11 09:42] #42 closed, assigned to nobody

[2021-01-12 11:12] goebbe commented on #92
Now, I just **manually** updated the BIOS of T470, using the .cab-files directly from the Lenovo support page.
Using fwupdmgr.
`~$ sudo fwupdmgr install N1QET90W.cab`

After rebooting, it seems that the Bios update (available from Lenovo) seems to work fine:
[code]

The working BIOS update is missing from LVFS/ has not been uploaded. At least the follwoing command did **not find** the firmware upd

[2021-01-12 11:57] joakim-tjernlund commented on #75
1.5.5 is out. @mrhpearson any news ? Particularly about Ultra

[2021-01-12 16:47] mrhpearson commented on #75
Hmm - I asked on this last week and didn't get a reply. I'll go chase
Mark

[2021-01-14 12:18] fschrempf commented on #74
For me fwupd tries to update to 1.29 and fails like in https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-757127705, too.

Is there no way to tell fwupd to install 1.25 before going to the latest version? Do I really need to do the full manual installation for 1.25 as described in https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-749342730?

I was expec

[2021-01-15 08:12] frittentheke commented on #74
LVFS is a comprehensive packaging format for firmware updates and certainly supports restrictions / preconditions:
* https://lvfs.readthedocs.io/en/latest/metainfo.html#adding-restrictions

@mrhpearson maybe this could be used to define the firmware update path in this case?

[2021-01-15 08:58] fschrempf commented on #74
So I assume the package metadata for 1.29 is missing a `requires` tag with the 1.25 version in this case?
And there is no way for me as end user to resolve the dependency manually by selecting the 1.25 version to be installed first?

[2021-01-18 13:04] okapies commented on #5
Hi, any updates on this?

[2021-01-18 14:51] mrhpearson commented on #5
They're still testing (I confirmed just last week)....and I'm frustrated too at this point :(

[2021-01-20 08:53] dandv commented on #20
I managed to work around this by writing [the ISO](https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-carbon-7th-gen-type-20qd-20qe/downloads/ds540232) to a USB disk (dd if=xxx.iso of=/dev/xxx bs=1MB), then booting from it.

**UPDATE**: after doing that, `fwupdmgr install N2HET58P.cab` worked.

[2021-01-20 11:18] ijiang1 commented on #96
hi @dgutson
could you help to provide fwupdmgr get-devices info? and there is a newer version, you may have a try.

[2021-01-21 01:34] lijunwang1990 commented on #61
Hi @kleinph , how can i send trail BIOS to you?, could you please help to check this issue?

[2021-01-21 18:38] kleinph commented on #61
Hi @lijunwang1990 , I am sorry, I forgot about this. Can you send it to .... Let me know when you got the e-mail address.

[2021-01-22 10:33] dhiller opened #98 "T480s Embedded Controller update causes Thunderbolt Dock 3 to stop working"
Running Fedora 33 on Lenovo Thinkpad T480s attached to Lenovo Thunderbolt 3 Dock. Updated firmware using gnome Software application.

After reboot my Thunderbolt Dock stopped working (no network, no external monitors etc, only power).

Had to change BIOS settings to make it work again to this setup:

Thunderbolt settings  | value
---------------------------- | -------------------------------
Thund

[2021-01-23 10:33] fschrempf commented on #74
So a few days ago fwupdmgr showed version 1.25 and 1.29 as available updates, but I couldn't run the upgrade as described above.

Now after running `fwupdmgr --force refresh` once more, there even are no updates listed anymore. I have no idea what's going on but it seems like I'm stuck with version 1.5 until I upgrade manually.

[2021-01-23 11:23] hughsie commented on #74
Does `fwupdmgr downgrade` or `fwupdmgr reinstall` help?

[2021-01-23 11:39] fschrempf commented on #74
Unfortunately no. ~~For whatever reason it seems like the system firmware isn't even listed as an available device anymore. This might be related to the update of fwupd from 1.5.4 to 1.5.5 I did yesterday together with a load of other package updates.~~

Downgrade:
[code]

Reinstall:
[code]

[2021-01-23 11:42] fschrempf commented on #74
No, it's not. Just did a downgrade to 1.5.4 and device is still missing from the list of available updates.

[2021-01-23 11:49] fschrempf commented on #74
`fwupdmgr get-history` shows:

[code]

[2021-01-23 12:38] fkru commented on #74
Is "boot order lock" enabled by chance in your BIOS?

[2021-01-23 13:48] fschrempf commented on #74
I just checked, it is disabled. Running the "Linux Firmware Updater" entry from the boot menu manually shows something like "no update scheduled" which makes sense as in the current situation I'm not even able to restart the update.

[2021-01-25 14:02] LordChaos73 commented on #5
I tried to create a bootable USB stick with a portable version of Windows on it as I have some issues with my TB3 gen 2 dock (https://pcsupport.lenovo.com/in/en/solutions/pd500265). Unfortunately that didn't work. Any news on when we might be able to flash the dock using fwupdmgr? I have quite a few issues with the dock at the moment which seems to have been fixed with the latest firmware.

[2021-01-27 08:14] VorpalBlade opened #99 "After firmware update on Lenovo Thinkpad P15 Gen1, UEFI fingerprint authentication broke"
**Describe the bug**
After updating to system firmware version 0.1.16 on my Thinkpad P15 Gen1, the fingerprint authentication during UEFI broke. This may be related to the following message from fwupd: "TPM PCR0 differs from reconstruction, please see https://github.com/fwupd/fwupd/wiki/TPM-PCR0-differs-from-reconstruction" as I believe that the fingerprint authentication does make use of the TPM.

[2021-01-27 21:53] allmazz commented on #20
Hello. Fwupd does not see the Synaptics fingerprint sensor. Compiled fwupd 1.3.5. Tried to disable Windows UEFI Update. frpintd and libfprint are compiled by me. I am using Manjaro. Lenovo Thinkpad E14 Gen 2 laptop. The sensor works in Windows. BIOS updated. Secure Boot is also disabled. Please tell me what I can try.

[2021-01-29 19:01] wllhf commented on #5
Is it possible to do the update from a non-thunderbolt Windows device via USB?

[2021-01-30 11:49] sjzaib commented on #89
I am seeing same issue with my T580, and as @kmauleon said when i checked ME version in bios its indeed successfully updated 184.80.3746 but fwupdmgr is still showing the old version (184.70.3626) and therefore my ubuntu 18.04 is prompting me to upgrade firmware on every reboot.

[2021-01-30 13:40] rfrackowiak commented on #89
I've got the same issue with my T480s. ME in BIOS states 184.80.3746, fwupdmgr shows:
"Upgrade available for Intel Management Engine from 184.77.3664 to 184.80.3746"

[2021-01-30 14:02] alfredorico commented on #89
The same for Thinkpad X280 on Ubuntu 18.04.. With every reboot, wizard for installing ME update to 184.80.3746 is showing, besides of reinstalling over and over again.

[2021-02-01 06:49] kmauleon commented on #78
Latest System, EC, and ME firmware are already uploaded to [LVFS](https://fwupd.org/lvfs/search?value=P1+Gen+3).  please check.... thank you very much

[2021-02-01 06:49] #78 closed, assigned to nobody

[2021-02-01 06:54] kmauleon commented on #68
Latest System firmware is already available [here](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN27ET.firmware).  please check.  thank you very much.

[2021-02-01 06:54] #68 closed, assigned to nobody

[2021-02-01 07:03] kmauleon commented on #3
latest firmware available [here](https://fwupd.org/lvfs/search?value=T580). please check. thank you very much.

[2021-02-01 07:03] #3 closed, assigned to nobody

[2021-02-01 07:13] kmauleon commented on #89
very sorry for the slow response but we have not received any feedback yet regarding the investigation... will update once i received any information.... thank you very much....

[2021-02-01 16:42] clydeh7 commented on #68
Unfortunately, my t580 died during the weekend...On Friday, we were in a
video chat with friends and were watching the battery go from 80% to 5% in
about an hour while the device was plugged in.  Previously, I received a
message that the Lenovo provided AC cord was not the correct one for the
computer, so I assume part of the problem could be that the inline
transformer had somehow been compromise

[2021-02-01 22:34] galibozek commented on #70
still the same in 11.8.82.3838... :/

[2021-02-02 00:17] kmauleon commented on #68
hi @clydeh7 very sorry for this unfortunate incident. i'll do my best to relay this to proper owner. thank you very much for the feedback. hope that you find yourself using lenovo products again in the future. again, thank you very much.

[2021-02-02 00:33] kmauleon commented on #70
hi @lijunwang1990 **ESRT table** was not updated correctly and was used by fwupd as reference. it will appear every time that mefw is not updated even if it is actually updated as seen in BIOS settings. thus, your **BIOS team** may need to investigate this behavior further. thank you very much.

[2021-02-02 09:01] galibozek commented on #70
@kmauleon and what's next with this problem? someone diagnoses it?

[2021-02-02 13:25] speachy opened #100 "Missing firmware T495 0.1.27"
Released 2021-01-19

https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t495-type-20nj-20nk/downloads/ds539877-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpad-t495

[2021-02-03 00:05] kmauleon commented on #70
hi @galibozek BIOS dev is still checking on this but no feedback yet as of this moment... will update once i have some information... very sorry for the slow response...
**@lijunwang1990 can we escalate the investigation on this please**

[2021-02-03 01:18] lijunwang1990 commented on #61
Hi @kleinph I send the trail BIOS to your e-mail  philipptheklein@gmail.com, please help to check. thank you.

[2021-02-04 00:38] kmauleon commented on #59
hi @Crapshit **X1 Carbon 7th** latest firmware available here >> https://fwupd.org/lvfs/search?value=X1+carbon+7th
thank you very much

[2021-02-04 01:00] kmauleon commented on #96
update from BIOS Dev... thank you very much....
**no clear progress yet regarding BIOS ESRT problem investigation**

[2021-02-04 01:01] kmauleon commented on #61
update from BIOS Dev... thank you very much....
**no clear progress yet regarding BIOS ESRT problem investigation**

[2021-02-04 01:02] kmauleon commented on #65
update from BIOS Dev... thank you very much....
**no clear progress yet regarding BIOS ESRT problem investigation**

[2021-02-04 01:02] kmauleon commented on #67
update from BIOS Dev... thank you very much....
**no clear progress yet regarding BIOS ESRT problem investigation**

[2021-02-04 01:02] kmauleon commented on #70
update from BIOS Dev... thank you very much....
**no clear progress yet regarding BIOS ESRT problem investigation**

[2021-02-04 01:03] kmauleon commented on #87
update from BIOS Dev... thank you very much....
**no clear progress yet regarding BIOS ESRT problem investigation**

[2021-02-04 01:03] kmauleon commented on #89
update from BIOS Dev... thank you very much....
**no clear progress yet regarding BIOS ESRT problem investigation**

[2021-02-04 21:30] fschrempf commented on #74
So for some reason I'm now able to retry the update again. So I'm back at the point where the upgrade path from 0.1.5 to 0.1.29 misses an intermediate step for 0.1.25. Anyone here who is able to fix this upstream? Maybe as proposed here https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-760763995?

[2021-02-04 21:42] fkru commented on #74
That is weird, because version 1.25 was available at LVFS a couple of days ago.  Firmware versions are submitted by Lenovo several times, then withdrawn, what shall I say? A big mess!

[2021-02-04 21:47] fkru commented on #74
@hughsie @kmauleon @mrhpearson could you please provide a solution to this never ending story? Thx.

[2021-02-05 00:38] kmauleon commented on #74
@applesun123 can you please check and help resolve the issues as stated in above [comment](https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-773615921) ... thank you very much

[2021-02-05 02:02] applesun123 commented on #74
due to the issue be resolved by new package, and new package already uploaded into LVFS site, so no need update to v1.25, you could update to v1.29 directly. thank you so much.

[2021-02-05 08:18] fschrempf commented on #74
No, I can't. It doesn't work for me. I run the update do the reboot and still have v1.5.

[code]

[2021-02-05 08:28] fschrempf commented on #74
No, I can't. It doesn't work for me. I run the update do the reboot and still have v1.5. The date for the v1.29 is still `2020-12-21`, so what updated package are you talking about? It seems like this is still the same one that failed to upgrade from <1.25 as documented above.

[code]

[2021-02-08 19:10] joakim-tjernlund commented on #75
@mrhpearson , please chase harder :)

[2021-02-10 11:49] realnickel opened #101 "Missing Thinkpad L13 Gen2 (20VH001WRT) 1.04"
Released on 08 Feb 2021

https://pcsupport.lenovo.com/ru/ru/products/laptops-and-netbooks/thinkpad-l-series-laptops/thinkpad-l13-gen-2-type-20vh-20vj/downloads/ds548628-bios-update-utility-bootable-cd-v-pro-for-windows-10-64-bit-thinkpad-l13-gen-2-l13-gen-2-yoga

[2021-02-10 16:01] mrhpearson commented on #75
Yeah - I'm frustrated too...honestly it's getting ridiculous.
They have completed their testing - my understanding is they are just putting it up on LVFS and I don't have any good reasons why its' not there yet. Sorry :( I believe that team are all off for Chinese New Year so expect at least one more week - I have requested an update for when they get back.

[2021-02-11 12:34] joff13 commented on #6
Hi for those that will get across this issue...
Same for me with lenovo legion..

solution

enter bios at startup

1 in boot menu check boot sequence (should not be changed but make sure 1# is the right harddrive)
2 change EFI sequence to have Ubuntu/Linux or whatever has grub
3 save and reboot

4 if starting Linux distro you get black screen ( it appends to me) enter uefi bios again and restore f

[2021-02-12 13:38] fschrempf commented on #74
So for me there seems to be a general problem with the update on reboot. I tried manual installs of 1.25 and 1.29 and both fail. E. g. `fwupdmgr --allow-older --allow-reinstall install ~/Downloads/1148215aad841f73651c93efa1ad8379ef412ffbc203613e1184337eb47cef8c-Lenovo-ThinkPad-T14-P14s-AMD-SystemFirmware-1.25.cab`

I checked that "Boot Order Lock" and "Secure Boot" is off. I'm getting the followin

[2021-02-12 13:42] fschrempf commented on #74
Reading through fwupd/fwupd#1190 I probably need to update through other means to get fwupd working at all.

[2021-02-12 14:03] dgutson commented on #96
hi @ijiang1, I run that command and uploaded the report.
This was relevant:
[code]

[2021-02-12 14:18] fschrempf commented on #74
I finally decided to do the update manually via bootable USB drive as in https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-751685580 and now I have version 1.30 which doesn't even seem to be available on LVFS yet. I just hope that future updates will work through fwupd properly.

[2021-02-12 18:32] dgutson commented on #96
@ijiang1 `"MachineId" : "556bc466e9dea674e88478c482b763b5c97f4dde78e2694cdd4abe6afa88b6d2"`

[2021-02-12 19:56] ghost commented on #70
as described, same here
ThinkPad T480 Ubuntu 20.04.2 LTS Kernel 5.4.0-65-generic BIOS N24ET61W

[2021-02-15 21:24] kleinph commented on #61
Is there some progress on this? Should I have received the BIOS?

 Also @lijunwang1990 can you please remove my e-mail from your comment?

[2021-02-16 16:20] Forbo commented on #16
Eventually I just updated under Windows, which has since allowed me to install subsequent updates from Ubuntu.

[2021-02-17 00:22] kmauleon commented on #61
hi @kleinph have u received the trial BIOS sent to your personal email as mentioned by @lijunwang1990 ?
please advise... thank you very much.

[2021-02-17 01:10] kmauleon commented on #16
thank you very much for the information @Forbo ... closing the ticket...

[2021-02-17 01:10] #16 closed, assigned to lijunwang1990

[2021-02-17 07:52] kleinph commented on #61
No, I didn't received it. But maybe it was marked as spam and I missed it. Couldn't this be provided as a download on some official infrastructure?

[2021-02-17 08:10] kmauleon commented on #61
asking lijun if can upload here... please wait... thank you very much

[2021-02-17 10:16] LordChaos73 commented on #5
I have no clue to be honest, but that is a good question actually. I will try this this evening.
Do you have an update for us @mrhpearson ?

[2021-02-17 11:02] leahoswald commented on #5
It isn't.

The only way is to create a Windows on an USB stick and than try to boot from it. You can do that by downloading a developer VM image from MS. Boot that image and enable pass through for your USB stick. Than download a Win10 ISO and use a (shady) software like Win2USB to create a Windows on a stick (use a fast stick!). Than boot from the image (sometimes it needs multiple tries, oh and

[2021-02-17 11:36] wllhf commented on #5
Thanks for your answer, but it seems easier to send the hardware back and buy another dock.

As the dock leads to unbearable instability of the system it is connected to and there are no firmware updates available, Lenovo is basically selling 300$ bricks. This thread started in August 2018! :)

[2021-02-17 12:33] LordChaos73 commented on #5
I agree this is taking way too long and the only real annoying issue I have is the unstable DP & HDMI connection, which is a major PITA. However, Linux is not officially supported for this dock as far as I'm aware.

[2021-02-17 13:06] wllhf commented on #5
Sure, officially, a dock similar to a cable usually is assumed to be a platform independent device though and the Thinkpads with which they are supposed to be used are sold with Fedora. I didn't expect this, next time I'll look it up before I buy Lenovo.

[2021-02-17 15:58] mrhpearson commented on #75
They found an issue in testing with the DP component not being detected (and hence updated). I'm trying to understand better what is going on (and honestly, how the heck this wasn't caught 4 months ago)

[2021-02-18 17:07] robbyki opened #102 "Missing ME Firmware version after update on P50"
After a recent update on fedora 33 completely missing an ME Firmware version all together from bios settings and have the following flash on screen before completing startup:

[code]
`fwupdmgr get-history` also shows the following:

[code]

[2021-02-20 00:07] kcrmson commented on #89
ThinkPad P50 here, my situation was similar to everyone else's until today, now it's a bit different.
Normally the same 184.80.3746 IME update would show, it looked like it would install but would not (verified in the BIOS) and still always show as being an available update.

I decided to try and do the firmware upgrade in Windows, which I no longer had installed. Installing that was an adventure

[2021-02-23 01:50] kmauleon commented on #61
hi @kleinph please use the attached file as mentioned by @lijunwang1990 thank you very much
[Lenovo-ThinkPad-T480s-SystemFirmware-1.43T.cab.zip](https://github.com/fwupd/firmware-lenovo-thinkpad/files/6026330/Lenovo-ThinkPad-T480s-SystemFirmware-1.43T.cab.zip)

[2021-02-23 02:22] kmauleon commented on #89
hi @kcrmson your MEFW is already the latest.  though .3838 was not uploaded to LVFS.  "fwupdmgr reporting older version" is a known problem and still under investigation by BIOS dev (BIOS ESRT problem). thank you very much.

[2021-02-23 02:53] kmauleon commented on #102
hi @robbyki you have very old MEFW version... can you please show screen shot of BIOS setting and results of following command
**fwupdmgr get-devices**
thank you very much

[2021-02-23 11:39] CodedOre opened #103 "Wrong firmware shown in Gnome Software"
[Original Tweet](https://twitter.com/CodedOre/status/1364141948047622144)

On my system, Gnome Software seems to show a wrong firmware update not meant for my hardware:

**My System:** Lenovo IdeaPad 720s-15IKB\
**System for the Update:** Lenovo ThinkPad X1 Yoga 3

![wrong-firmware](https://user-images.githubusercontent.com/47981497/108838362-d3639480-75d3-11eb-93ac-f0d319dd6215.png)

---

Output

[2021-02-23 11:49] hughsie commented on #103
I've demoted the firmware and notified the Lenovo team about this bug. Thanks!

[2021-02-23 21:53] joakim-tjernlund commented on #74
Just got an T14(20S00075MX (LENOVO_MT_20S0_BU_Think_FM_ThinkPad T14 Gen 1)) and managed to get some updates using fwupd 1.5.7.
I did note that version numbers are just an int now:
[code]
dmidecode -s bios-version says:
N2XET23W (1.13 )

Also, I note that the keyboard has some strange auto repeat so keys can be duplicated many times.

[2021-02-24 07:18] rgolangh commented on #103
I just did an update on a T470s and it hangs after the reboot. I hope I didn’t get a wrong bios update and it bricked the machine. Any advice how to proceed?

[2021-02-24 07:23] hughsie commented on #103
@rgolangh what hardware do you have and what did the firmware say? Power down, remove the batteries and wait 30 minutes.

[2021-02-24 07:33] rgolangh commented on #103
Hardware is a Lenovo T470 model 20HGS22D0J
I didn’t read the details (next time!) that appeared in “Software” but there were 2 updates there.
I approved the updates and rebooted, it showed a Lenovo screen that says it is updating and then went black screen.
Force power off using the button doesn’t work.

[2021-02-24 09:04] rgolangh commented on #103
Thanks @hughsie - Removing the batteries and waiting 30m works.
My updates history shows the update from today (Feb 24th)
[code]

[2021-02-24 09:54] hughsie commented on #74
This is up to the firmware uploader. I should probably make specifying the version format a hard requirement now.

[2021-02-24 10:08] hughsie commented on #74
I've submitted this as https://gitlab.com/fwupd/lvfs-website/-/merge_requests/907

[2021-02-24 11:23] joakim-tjernlund commented on #74
Yes, that would be good. The version in LVFS/fwupd should be enforced to the same format at the FW uses internally.

I downloaded the latest FW from Lenovo and installed with(as instructed): fwupdmgr install xxx.cab
Had to use --allow-older etc. as the version numbers disagreed.
Even after that I have just integers as version numbers

[2021-02-24 16:49] joakim-tjernlund commented on #74
@mrhpearson , any chance you can make Lenovo change the version numbering on FW for 20S00075MX (LENOVO_MT_20S0_BU_Think_FM_ThinkPad T14 Gen 1) ?

It is just an integer now and this breaks version comparison(> and/or <)
[code]

[2021-02-24 17:12] kleinph commented on #61
Unfortunately this didn't worked. But it seems as on reboot the firmware updater never runs. I also experienced this a few days ago with the normal update from fwupd.

I tried booting manually the Linux Firmware Updater and also deleting the files from ESP and removing the EFI var for he firmware updater and then rerun `fwupdmgr update` with no success (the files and EFI var are restored, but it d

[2021-02-24 19:51] mrhpearson commented on #74
Ack. I've flagged this to the BIOS team.

[2021-02-24 20:59] joakim-tjernlund commented on #74
Thanks, the BIOS FW on LVFS is lagging behind too(1.13 vs 1.17 on Lenovos support page) so maybe 2 birds with one stone ?

[2021-02-25 08:14] reirob opened #104 "Tunderbolt 3 Workstation Dock 40AN issue - block whole ethernet LAN when Laptop in suspend mode"
Hello,
I come here because I discovered a new issue (see below) with Tunderbolt 3 Workstation Dock 40AN connected to Linux. As I was wondering if a Firmware update would resolve it. This is how I came here - but now I realize for Linux users there is no possibility, until now, to have a Firmware update. That's sad.

The issue: After 1 year that I dismissed the dock, because it was giving me troubl

[2021-02-25 10:08] CodedOre commented on #103
Just to notice it: It's back again...

![Bildschirmfoto vom 2021-02-25 11-06-40](https://user-images.githubusercontent.com/47981497/109137577-a4772b00-7759-11eb-8073-6565673fd1ce.png)

Now it is set to the Consumer branch, but otherwise still wrong device.

[2021-02-25 10:57] hughsie commented on #103
I've demoted both firmwares to testing. I'll send an email to the uploader.

[2021-02-25 18:06] mcamou opened #105 "Firmware 1.37 for X1E2 missing in LVFS"
On https://pcsupport.lenovo.com/es/en/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-extreme-gen-2/20qv/20qvcto1ww/r90wad97/downloads/driver-list/component?name=BIOS%2FUEFI the latest firmware version is 1.37 (released on Jan 21). Running `fwupdmgr get-updates` on my X1 Extreme Gen2 says that there are no updates available, I'm running 1.36.

[2021-02-25 20:50] LordChaos73 commented on #75
1.5.7 seems to be released; any good news for the TB3 Gen2 dock owners out there?

[2021-02-26 15:14] fkru commented on #74
Groundhog Day! While the update to Firmware R1BET61W (1.30) was installed successfully via LVFS, it failed on reboot. Since the update to 1.29 via 'fwupdmgr update' I haven't change my BIOS set-up. Any idea?

[2021-02-26 16:24] joakim-tjernlund opened #106 "udevd: Unknown key identifier 'zoom'"
I get this on my new T14 (20S0000FMX) and figured this might be a FW issue with keycode mapping?

[2021-02-26 19:19] nwildner commented on #105
+1
Same here with X1 Extreme Gen2

[code]

[2021-02-27 19:16] fkru commented on #74
FYI: For the time being, it seems to be better to stick to BIOS version 1.29, since the serious battery drain in suspend mode reported at https://forums.lenovo.com/t5/Other-Linux-Discussions/T14-AMD-battery-drain-in-standby-Linux/m-p/5037674?page=1 is getting worse with version 1.30 (power off battery drain issue).

[2021-03-01 10:54] kleinph commented on #61
With the newest update of fwupd (1.5.7), FW updates worked again. So I installed the provided system firmware, but the updates still appear. I also tried to install the updates from fwupd itself, but this didn't change anything.

[2021-03-01 12:45] LordChaos73 commented on #5
Can somebody provide us with an update please?

[2021-03-01 16:33] mrhpearson commented on #5
There was an issue with the DisplayPort component - if it's not connected and active then it doesn't get updated.

It's not confirmed if there will be a workaround for this, or if it will just be a known limitation - I think the latter but the docking firmware and test team need to confirm.

I'll push for an ETA - apart from the DP issue my understanding is it was all ready to go.

[2021-03-01 18:44] nkalkhof commented on #5
So if we do the update we'll need to have a monitor connected to the DP outlet in active mode in order to get the DP component updated successfully, yes?
Will there be an update availble for the 1st gen TB3 dock (40AC) as well?

[2021-03-01 19:22] mrhpearson commented on #5
Correct on the DP component.

The 1st gen isn't getting an update, but my understanding is that if it has the same components they'll get updated....I'm not sure how that actually works.
Once we have the G2 up I'll see if I can figure out more details but I don't want to distract the docking team until we've got the G2 delivered. I don't have a G1 dock to test myself unfortunately.

[2021-03-02 01:54] lijunwang1990 commented on #61
@kleinph thank you very much for your update,  the problem is two GUID displayed and still show older ME version even you update to newer version? Will the system constantly remind you to upgrade？

[2021-03-02 05:32] applesun123 commented on #74
Hi ,@fkru  please help to check if your failed messages same as @fschrempf ?
 [https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-778200488](url)
 If boot screen show error "WARNING: Could not query capsule capabilities: Unsupported
WARNING: Could not apply capsules: Unsupported", you can read  fwupd/fwupd#1190 for more detail to update firmware.

[2021-03-02 08:54] kmauleon commented on #102
hi @robbyki without ME version in BIOS setting would mean that ME is corrupted.  may we know what was the prior setup before you encountered the error?  Were you updating BIOS? EC? ME?

[2021-03-02 12:44] padok commented on #61
Updating to fwupd (1.5.7) fixed the issue for me.

`"HostSku" : "LENOVO_MT_20HE_BU_Think_FM_ThinkPad T470"`

[2021-03-02 19:09] fkru commented on #74
The only message I am seeing at boot is "Feb 27 11:09:50 linux fwupd[3035]: 10:09:50:0673 FuPluginUefiCapsule  missing or invalid embedded capsule header".

[2021-03-03 02:08] mrhpearson commented on #104
Hi,
I hear you on the two power connectors (the TBT4 dock that is just coming out doesn't have that). I'm sure there's a good reason - but I don't know it and it caught me out too setting mine up the first time

Firmware updates - it's getting really close to being available (it's been a really long drawn out process...but it's really close, and if you've followed the other threads you'll know how

[2021-03-03 08:23] lijunwang1990 commented on #103
@rgolangh you can try to download the ThinkPad T470s System Update FW file from https://fwupd.org/lvfs/ , use "fwupdmgr --allow-older --allow-reinstall install  [Name].cab" to update the FW, thank you.

[2021-03-03 13:32] LordChaos73 commented on #5
Thanks for the update @mrhpearson

[2021-03-04 05:52] kmauleon commented on #100
hi @speachy ... sorry for the delay.  please see below as per BIOS team
**The system BIOS 1.27 waiting for our UT test, we will release this BIOS on LVFS web site about on 3/8.**

[2021-03-04 08:28] reirob commented on #104
Hello Mark,

many thanks for answering on my issue. How do I disable pause control on the port?

I was in the laptop BIOS tried to find there something, but only have seen some Wake On LAN stuff, that I disabled, and strangely now my laptop does not go into suspend mode - hibernate still works, and when I hibernate the dock does NOT block the LAN. I think I need to find out which BIOS settings to

[2021-03-04 09:10] joakim-tjernlund commented on #75
Hi @mrhpearson , been a while now and I am too curious to just wait :)
Any news?

[2021-03-04 12:54] s1shed commented on #85
I was able to solve it in Ubuntu 20.04 by installing shim-signed and grub-efi-amd64-signed. After doing so I was able to pick linux-firmware-updater from the the boot menu and my updates were finally applied.

For some reason I had grub-pc installed along with grub-efi, even though I am using efi. The fw updates _did_ work at some point last year but was apparently broken with some deb pkg update.

[2021-03-05 07:30] MakisH commented on #85
@s1shed good observation, thank you very much for replying here. I had already both packages installed (in Ubuntu 20.10). I also had `grub-pc` along with `grub-efi-amd64-signed`. However, removing `grub-pc` installed `grub-efi-amd64`, which confuses me. So, now I have both efi variants (simple and signed). Similarly, removing `grub-efi-amf64` installs `grub-pc`.

This still did not work for me: af

[2021-03-06 21:47] mlalkaka commented on #85
I think I've been experiencing this same issue, which is also probably the cause of #1101. The Linux-Firmware-Updater was last in the boot order in the BIOS, and I don't think I ever changed that. I'm guessing fwupd would automatically boot into Linux-Firmware-Updater when needed, even though it was last in the boot order. For now, I worked around this issue by reordering Linux-Firmware-Updater to

[2021-03-08 03:05] applesun123 commented on #100
BIOS firmware 1.27 is ready on LVFS web site.

[2021-03-08 17:32] mrhpearson commented on #75
It's on LVFS...but under embargo still. Will keep pushing until it's moved to enabled - we're getting there.

[2021-03-08 17:42] joakim-tjernlund commented on #75
Nice:) I guess it is waiting for @hughsie to give it a go before moving to enabled.

[2021-03-08 19:05] mrhpearson commented on #75
Nope - they test it (again) and then there are some folk who can move it to enabled status - at least that's my understanding.

Richard has been great (as always!) helping behind the scenes but he's off the hook for anything right now :)

[2021-03-08 19:47] speachy commented on #100
Thank you for getting this up!

[2021-03-08 19:47] #100 closed, assigned to nobody

[2021-03-09 11:24] der-eismann commented on #77
It's getting better, on the LVFS we have BIOS 1.70 while on the Lenovo page BIOS 1.71 is offered since 02 Feb 2021. EC and ME FW are the latest version. I don't really understand the delay or release cycles of this, but it's improving.

[2021-03-10 01:04] sclel016 commented on #75
Really appreciate all the effort that's being put into the issue, hopefully it's getting close to the finish line!

[2021-03-10 05:45] kmauleon commented on #77
hi all... latest BIOS uploaded here >> https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2JETXXP.firmware
closing this ticket... thank you very much.

[2021-03-10 05:45] #77 closed, assigned to mrhpearson

[2021-03-10 15:17] kleinph commented on #61
Yes the update is always present if I run `fwupdmgr get-updates`. fwupd update didn't fixed this problem.

Here is the output:
[code]

[2021-03-10 23:42] aitorpazos opened #107 "I can't update my Thinkpad X1 Yoga 3rd gen anymore"
I used to update it successfully in the past over multiple versions. However, now I am stuck and whenever I try to run `fwupdmgr update`, my laptop restarts, goes to a blank screen for around a minute or two and then reboots again without having completed the upgrade.
`fwupdmgr` reports the following error in the report:
[code]

This is the output of `fwupdmgr get-topology`:
[code]

[2021-03-11 01:25] kmauleon commented on #107
hi @aitorpazos forwarded your concern to dev owner.  please wait for advise.  thank you very much...

[2021-03-12 16:10] goebbe commented on #92
This seems to be fixed, since 2021-02-22 05:01:07.815396.
[LVFS](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN1QET.firmware)
Thank you!

[2021-03-12 16:12] #92 closed, assigned to nobody

[2021-03-12 16:13] goebbe commented on #92
The firmware update is now uploaded to LVFS.
closing the issue.

[2021-03-12 20:35] j13m126 commented on #74
I just want to drop something I just noticed. I have an optional update on windows with firmware 1.30.0.0 even though I updated to 1.30 on Fedora via fwupdmgr. System info in windows 10 says I'm still on 1.29. Bios says 1.30. Thinkpad T14 (20UES00L00).

[2021-03-15 14:27] joakim-tjernlund commented on #75
@mrhpearson , I see a Dock FW on LVFS now but for Thunderbolt 3 dock.
Is there a Ultra Dock FW on the way as well?

[2021-03-15 16:52] mrhpearson commented on #75
Hi,

As noted - the docking firmware is up under testing state. I just tried it on my dock (P1G2 /w Fedora) and it updated cleanly and succesfully. There is a known issue around the DisplayPort component where it has to be connected and used for it to be updated, if you're using it then we believe it will be fine, and if you're not using it....then you likely don't care (and if you start using it

[2021-03-15 18:03] joakim-tjernlund commented on #75
FYI, what is in LVFS testing does not match my Dock. Details about my Dock is in the beginning of this issue.

[2021-03-15 19:37] nkalkhof commented on #5
Apparently the Gen2 dock update is now availble [https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadThunderbolt3DockGen2.Audio.firmware](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadThunderbolt3DockGen2.Audio.firmware)
Hopefully Gen1 owners will get an update too before the end of this decade ;)

[2021-03-15 19:59] aitorpazos commented on #107
After getting a package upgrade for `fwupd` (OpenSUSE Tumbleweed) the upgrade worked:
[code]
Closing this ticket.

[2021-03-15 19:59] #107 closed, assigned to nobody

[2021-03-16 14:10] joakim-tjernlund commented on #75
I think @hughsie has this Dock and tested it LONG time ago. A bit strange that there isn't a Dock FW on LVFS by now.

[2021-03-16 19:26] hughsie commented on #75
Yes, I have the ultra/pro/etc docs too -- all are mostly the same components, although with different VID/PIDs. I did all the VIA validation testing on them all those moons ago.

[2021-03-16 19:37] joakim-tjernlund commented on #75
Try requesting Ultra Dock FW explicitly and see what happens.

[2021-03-17 01:24] mrhpearson commented on #104
Hi Robert,

Sorry for the slow reply - I thought this was going to be really easy, and tried it using ethtool ('ethtool -a' & ethtool -A ) and....it failed miserably. I need to go dig into the kernel driver and figure it out. I've got a horrible suspicion I'm going to need to push a kernel patch for it). Suffice to say, the answer isn't as simple as I thought it was.
If you're able to configure pa

[2021-03-17 08:24] reirob commented on #104
Hello Mark,

many thanks that you are still following up on this.

Do I interpret it right, that you are able to reproduce the same issue?

I am sorry, but I am not as deep in this technology, so I don't know what you mean by "configure pause on the link partner's side"? Is my assumption right that you might want me to tweak some ethernet pause parameter on the other devices that get blocked by th

[2021-03-17 12:39] mrhpearson commented on #104
Hi Robert,

I haven't reproduced it directly - I don't have the setup at home that let's me with my devices. I have had another user who reported the same and we traced it down to pause packets flooding the network and he was able to work around it this way. In all honesty I'm guessing a little, but it's an educated guess :)

You might be able to change the setting on the router itself - and it on

[2021-03-17 14:29] LordChaos73 commented on #5
Has anybody tested the firmware on the TB3G2 dock by any chance?

[2021-03-17 14:30] LordChaos73 commented on #75
Has anyone tested the firmware on their TB3G2 dock by any chance?

[2021-03-17 15:01] mrhpearson commented on #5
Yes - I did succesfully.
There is an issue I'm looking into where the audio component sometimes disappears and it reappears after hotplugging the dock. I don't know yet if it's a firmware issue, or a firmware update issue (my guess is on the former).
For me the update was clean with no issues. A colleague hit an error around the audio component update which is making us hesitant to move the firmwa

[2021-03-17 15:06] LordChaos73 commented on #5
Thank you for all your effort @mrhpearson & @hughsie and hopefully the firmware updates will land in stable soon.

[2021-03-17 19:07] galibozek commented on #70
Version 11.8.83.3874 did not fix the problem, still...
Does anyone have any plans to solve this problem? @kmauleon

[2021-03-17 23:46] kmauleon commented on #70
hi @galibozek ... really very sorry for the very slow investigation but still no clear update from BIOS dev regarding the issue T_T

[2021-03-18 09:31] joakim-tjernlund commented on #82
ping, we are getting more of these now and they have really old FW that needs updating, lots of new versions of this FW at Lenovo

[2021-03-18 12:51] mrhpearson commented on #82
ack.
The desktop team have not delivered any firmware to LVFS. It's a sore point and I've been fighting it but so far unsucessfully - they are supposed to be doing it but haven't. (Note, this is peculiar to the desktop team, and doesn't affect our Thinkpad and workstations Linux platforms)

I'll go and push again - if you're able to have an off forum discussion drop me a note (markpearson at lenov

[2021-03-21 02:22] okapies commented on #5
I also got the same issue as @mrhpearson written. The audio component is visible in my ThinkPad, but audio was not outputted from the connected speaker.

[2021-03-22 12:44] thescouser89 commented on #5
I've had the audio issue using the old firmware and was hoping the new firmware would fix this :/

Fedora 33 on a Thinkpad T490s

[2021-03-24 14:39] tazjin commented on #26
I suppose unbricking these isn't possible? For me this controller completely disappeared, presumably after the Thunderbolt update which happened months ago (but I only just noticed it). BIOS Assist was enabled, so it might have flashed to the non-native one as you suggested ...

[2021-03-26 10:54] adamjbc opened #108 "Thinkpad X1 Nano UEFI firmware 1.39 problems"
The X1 Nano firmware available for Linux (https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN2TET.firmware) has a newer version number (1.39) and older release date (3 March 2021) than the latest available for Windows on the Lenovo website (1.36, 8 March 2021: https://support.lenovo.com/gb/en/downloads/ds547748-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpad-x1-nano-gen1-type-20un-2

[2021-03-26 13:46] mrhpearson commented on #108
Thanks for the report.
I've raised this to the firmware team (internal bug reference LO-1103).
As a note - my collegue is running 1.39 with EC 1.26 so my guess is that they need to set the metainfo to ensure the BIOS update only takes place once EC is at the right version, but I'll wait for confirmation from the FW team.
Sorry you ended up having to revert to Windows - that sucks :(

[2021-03-26 19:38] adamjbc commented on #108
Thanks for looking in this. I'm fairly sure my EC version was less than 1.26 so that may well be it, although I don't have a record of what it was before the upgrade / attempted upgrade.

I was planning on switching to Windows for a bit anyway, as battery usage whilst suspended seemed a bit high and I wanted to compare. It seemed to improve a bit when I disabled the WWAN in /proc/acpi/wakeup so I'

[2021-03-27 14:22] sethkush opened #109 "Firmware update hangs on Thinkpad T470"
Reposting [this](https://bugs.launchpad.net/ubuntu/+source/fwupd/+bug/1919046) to the correct place.

I tried to upgrade my firmware today because several security updates are available, and after 4 hours my ThinkPad T470 was still stuck on the "Installing new firmware..." screen with a spinning line and no progress bar. I unplugged it and had to wait for the battery to die to stop it.

After plug

[2021-03-29 15:42] mrhpearson commented on #109
@kmauleon - just wanted to check if this was one you'd seen before or not; otherwise I'll raise a bug to the FW team.
Thanks!
Mark

[2021-03-30 01:31] kmauleon commented on #109
hi @mrhpearson sorry I did not encounter this issue with my systems.  T470 is handled by ODM LCFC.... thank you

[2021-03-30 06:54] jolars opened #111 "Unable to update bios on Lenovo Thinkpad T14 due to version mismatch"
**Describe the bug**

I am unable to apply firmware updates for my Lenovo Thinkad T14 Gen1 (Intel) using the latest version of fwupd since fwupd recognized the current version (0.1.13) of the UEFI update as newer than an available update (0.1.17), even though it is in fact newer. I was able to solve this by running fwupd through a Ubuntu 20.04.2 live USB session, where I believe the version of fwu

[2021-03-30 09:04] LordChaos73 commented on #5
Any news on when this will be moved to the stable channel?

[2021-03-30 09:05] hughsie commented on #111
I'm working with Lenovo to fix the faulty metadata. My apologies.

[2021-03-30 10:07] j13m126 commented on #74
Also: There are still 6 devices with no available firmware updates on my T14 AMD (20UE), are there any plans to provide firmware updates for these devices?
Devices with no available firmware updates:
 • Integrated Camera
 • UEFI Device Firmware
 • UEFI Device Firmware
 • UEFI Device Firmware
 • UEFI Device Firmware
 • UEFI Device Firmware

[2021-03-30 11:00] j13m126 opened #110 "Missing Firmware for USB-C Dock (Gen2)?"
Updates for the usb-c dock gen 2 went online (in testing) on november 19th of 2020. As of today there has been no visible progress and there is still one usb 3.1 hub unsupported (at least on my machine):

Devices with no available firmware updates:
 • USB3.1 Hub
...

When I run fwupdmgr get-udpates I get 2 usb 3.x hubs:

│ │   Device ID:          91c9a317b30acf7c0cd967f2ce6925d518ef19a7
│ │   Zusa

[2021-03-31 14:03] mrhpearson commented on #5
They're discussing it today....I'm not promising anything but it should be enabled really soon (just waiting for a couple more folk to give the thumbs up - I gave mine).

On that note though, has anybody on this thread had issues with using the testing version? We hit a couple of items and wouldn't mind getting update from other users. The issues we saw were:

1) audio device sometimes missing the

[2021-03-31 14:52] maikzumstrull commented on #5
Ran the testing version. Screens went dark for quite some time but did come back. One USB device (Logitech wireless receiver for a mouse) didn't come back until I pulled and replugged it.

Of the three USB hubs in the dock, it seems to have left one on an older firmware. The first USB 3.1 hub and the USB 2.0 hub report `51.63`. The chained USB 3.1 hub reports `51.33`.

I don't use the built-in aud

[2021-03-31 18:47] mrhpearson commented on #111
Fix was delivered by the FW team and I've just tested and it should be good now:
fwupdmgr refresh --force
And check that under get-devices it's now showing the FW version in triplet form.

Thanks for the report (and to @hughsie for the pointers)

[2021-03-31 18:54] jolars commented on #111
Great, thanks! Yes, it looks good now. I still have other devices from lenovo that don't have their versions in triplet form, however, but perhaps that is as it should be? See the `UEFI Device Firmware` entries below.

[code]

[2021-03-31 19:08] mrhpearson commented on #111
Yeah - I believe those are devices that we don't have LVFS support for....I'm not actually sure what they are (I should dig into that...).

Mark

[2021-03-31 19:42] hughsie commented on #111
Agree.

I would be most interested in the results! If there are specific GUIDs that a common across all models then we can add a better `Name` and `VersionFormat` in the quirk file. e.g. https://github.com/fwupd/fwupd/blob/master/plugins/uefi-capsule/uefi-capsule.quirk#L37

[2021-04-01 17:04] brianredbeard commented on #98
@dhiller Did you (potentially) need to re-authorize the dock via `boltctl` (which would have been bypassed by setting "Security Level" to "No Security")?

[2021-04-01 18:37] brianredbeard opened #112 "Numerous metadata issues with Lenovo firmware"
Analyzing the firmware for [N22RM](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN22RM.firmware) devices, the state of the information in `firmware.metainfo.xml` is confusing _at **best**_.

Thus far I've performed introspection on the following firmware versions:

 - [184.83.3874](https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN22RM.firmware#184.83.3874)
 - [184.82.3838](https://fwupd.org/

[2021-04-01 21:52] mrhpearson commented on #112
Hi,

Thanks for the report - I'll pass those details on to the firmware team. Realistically I don't think you're going to get all the already done releases fixed - but they can ensure things are correct for future releases.

As a note different firmware teams for each platform provide these updates - hence why you may see some differences between them (like the date field set correctly for N2CRN).

[2021-04-02 08:16] hughsie commented on #112
Yes and no. For some Lenovo firmware it's enforced as required (e.g. ME) and for other firmware it's nice-to-have (e.g. system BIOS). I think longer term it'll be required for all firmware as one of the pain-points of real users is matching up the Lenovo tag with the version number.

[2021-04-03 21:59] jbuencuerpo commented on #108
Hi, I have also a X1 nano, and it is reporting on the firmware update tab the 1.39 version. I guess it is better to wait until this is solved, right?
Thanks,

[2021-04-05 13:32] mrhpearson commented on #108
Probably safest - though can you confirm what version your EC is at? I need to chase the FW team for an update :/

[2021-04-05 15:26] jbuencuerpo commented on #108
UEFI-BIOS 1.36, Embedded Controller Version 1.26.

[2021-04-06 12:58] mrhpearson commented on #108
Feedback from the FW team is as long as you are at EC version 1.26 there shouldn't be a problem.
I've asked them to look at adding that limitation to the metainfo to prevent other users hitting the same problem
Mark

[2021-04-08 19:40] olbat opened #113 "X390 fails to install Intel ME 192.72.1757 and System firmware 0.1.71 updates"
I'm running into the same problem mentioned in this issue https://github.com/fwupd/firmware-lenovo-thinkpad/issues/31 ("Press key to continue" message on reboot and update not installed) when trying to install the following updates:
- _Intel Management Engine (192.47.1524 → 192.72.1757)_
- _System Firmware (0.1.51 → 0.1.71)_

Is there anything I can do to solve this issue?

---

My laptop runs an

[2021-04-09 04:05] jbuencuerpo commented on #108
Done, everything working so far. Actually, I am on 1.41 now with EC 1.37.

[2021-04-13 12:25] snaggen opened #114 "Lenovo T15 Gen 1 failed to update Intel Management Engine on Fedora 34"
I got a notification about new firmware on my Lenovo Thinkpad T15 running Fedora 34, so I ran 'fwupdmgr update' to update it and then rebooted when I got asked. When the system got up, I noticed that the update had failed.

fwupdmgr get-history shows:
`└─Intel Management Engine:
  │   Enhets-ID:          96631d5d4db1e7fb990a201e4f22ed300a4f9373
  │   Föregående version: 224.45.1389
  │   Uppdateri

[2021-04-13 12:31] hughsie commented on #114
What does `efibootmgr` say? Is "boot order lock" turned on in the BIOS?

[2021-04-13 12:37] snaggen commented on #114
$ efibootmgr
BootCurrent: 0001
Timeout: 0 seconds
BootOrder: 0001,0000,0019,001A,001B,001C,001D,001E,001F,0020,0021,0022,0023,0002
Boot0000* Windows Boot Manager
Boot0001* Fedora
Boot0002* Linux-Firmware-Updater
Boot0010  Setup
Boot0011  Boot Menu
Boot0012  Diagnostic Splash Screen
Boot0013  Lenovo Diagnostics
Boot0014  Regulatory Information
Boot0015  ThinkShield secure wipe
Boot0016  Startup Int

[2021-04-13 13:20] snaggen commented on #114
Running efibootmgr right after an update attempt will point to the Linux_Firmware-Updater: BootCurrent: 0002
I also noticed that the boot sequence displayed the grub menu this time, so it was clearly not running the usual Fedora boot. The update history still shows "failed to run update on reboot".

[2021-04-13 13:28] LordChaos73 commented on #5
The firmware packages still haven´t landed in the stable channel unfortunately...

[2021-04-13 17:58] mrhpearson commented on #5
Yeah - it's literally down to just get a couple of people's approvals who haven't given it yet....I nagged last night.
Mark

[2021-04-13 20:11] brianredbeard commented on #110
This is good to know.  I was just looking at the Gen2 dock and found a number of confusing results, e.g.:

https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadThunderbolt3DockGen2.MST.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadThunderbolt3DockGen2.USB2.firmware
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadThunderbolt3DockGen2.USB1.firmware

All three of these links point back to

[2021-04-14 10:04] akostadinov commented on #5
I also face this issue. Must be a old firmware issue. Hope to be fixed after update.

How can I try the update? Is there a koji build?

[2021-04-20 02:31] mrhpearson commented on #5
I'm not entirely sure whether to believe it or not....but the firmware was just moved to stable.
I'm tempted to close the bug, but I'll leave it open for just a little bit in case there is any feedback. Hope the update goes smoothly for everybody!
Mark

[2021-04-20 05:51] LordChaos73 commented on #5
Upgrade went very smoothly, thank you. I will update the DisplayPort component separately once I have re-connected my display.

[tb3_gen2_devices.txt](https://github.com/fwupd/firmware-lenovo-thinkpad/files/6340946/tb3_gen2_devices.txt)

[2021-04-20 13:20] amoog commented on #5
For some reason DP component does not show up in fwupdmgr --get-devices, no matter what I do (tried to connect moitor to all of the dock ports). Any hints?

[2021-04-20 13:35] hughsie commented on #5
@amoog there's a known problem with P53 and P1 laptops where the MST AUX device doesn't show up. Lenovo are sending me some test hardware so I can debug as on all my (older) machines here it seems to work. What laptop model are you using out of interest?

[2021-04-20 13:47] amoog commented on #5
I'm using P15 Gen1.
So for now only workaround is still to find a suitable windows machine?

[2021-04-20 14:12] hughsie commented on #5
Depends on how quickly Fedex can ship the laptop :) Maybe give me a few days?

[2021-04-20 14:54] akostadinov commented on #5
I have just updated. Which is the DP component, `Multi-Stream Transport Device`?

Two things I observe (Fedora 32 vs T590):
1. after update of anything, I can't update anything anymore before a restart (I guess expected)
2. I see the following error in console log on start-up (I don't remember spotting this in the past so not sure)
[code]

Another issue is that `verify` does not work:
[code]

[2021-04-20 15:04] hughsie commented on #5
Yup.

I think you do need a restart, indeed.

I think that's unrelated to this, it looks like the TPM is returning invalid data.

That's not a huge surprise TBH, I've never worked on the VLI validation. I guess we'd need to add additional checksums for the *on-SPI* checksum rather than the *send-to-SPI* checksum. Will ponder.

[2021-04-20 23:35] thescouser89 commented on #5
Failed for me on Fedora 33, Thinkpad T490s and the Thunderbolt 3 Dock Gen 2:
[code]

When I plug the docking station in, there are no lights on the power indicator of the docking station. However besides the power button not putting my laptop to sleep, everything else seems to work.

[2021-04-20 23:45] thescouser89 commented on #5
Failed for me on Fedora 33, Thinkpad T490s and the Thunderbolt 3 Dock Gen 2:
[code]

When I plug the docking station in, there are no lights on the power indicator of the docking station. However besides the power button not putting my laptop to sleep, everything else seems to work.

[2021-04-21 09:38] hughsie commented on #5
This is the VLI USB hub and not the MCU -- and shouldn't have damaged anything on failure. Can you open this as a new issue here please: https://github.com/fwupd/fwupd/issues and I'll assign the right person at VIA to debug and fix this. Thanks.

[2021-04-21 12:24] akostadinov commented on #5
One additional remark. After I update or try to verify an update, then the system firmware and intel management components don't show up under `get-devices`. So not only can't be updated but don't show-up in info at all.

[2021-04-21 12:28] hughsie commented on #5
Do they show up with `--show-all`? if so, what do they say?

[2021-04-21 12:40] LordChaos73 commented on #5
Okay, I connected the dock via DisplayPort now. I no longer get any output; the external screen stays black. Not sure what is going on, but it looks like the DP input is unusable.

[2021-04-21 12:46] hughsie commented on #5
@akostadinov so you literally only updated the USB HUB on the dock? You didn't do any prior update of anything else?

[2021-04-21 12:46] hughsie commented on #5
@LordChaos73 that should have been you; sorry^^

[2021-04-21 12:59] LordChaos73 commented on #5
Please disregard my last comment, the DP input works fine. The connector in the back of the monitor was loose...ahum. Current state of affairs:

Devices with no available firmware updates:
 • UEFI Device Firmware
 • USB2.0 Hub
 • USB2.0 Hub
Devices with the latest available firmware version:
 • ThinkPad Thunderbolt 3 Dock
 • Thunderbolt host controller
 • USB3.1 Hub
 • USB3.1 Hub
 • Embedded Contr

[2021-04-21 13:12] hughsie commented on #5
Way to give me a heart-attack :)

Thats the VMM5322 device; it's really just not a very good name.

[2021-04-21 13:15] LordChaos73 commented on #5
So I was under the impression the VMM5322 device was supposed to be flashed separately in case the dock had no DP signal input during flashing? Or is this not the case?

[2021-04-21 13:20] hughsie commented on #5
IIRC, the VMM5322 device doesn't even show up in fwupd (it's powered down) when there's no monitor attached. If you don't have anything attached when you do the other updates, worst case scenario you get notified of the available update after you've done the others and have to redownload the archive when you actually connect a monitor.

[2021-04-21 13:23] akostadinov commented on #5
@hughsie , yes, I updated dock, then after restart system firmware and after another restart intel management. Because once I do any operation with dock, then system firmware and intel management disappear. I mean until a restart.

Here is full list after I try to verify USB hub update:
[all_devs.txt](https://github.com/fwupd/firmware-lenovo-thinkpad/files/6351147/all_devs.txt)

[2021-04-21 13:47] joakim-tjernlund commented on #5
Those USB 2.0/3.1 HUBs, don't they belong to the Dock? If so they should have "ThinkPad Thunderbolt 3 Dock" in their name I think.

[2021-04-21 14:08] LordChaos73 commented on #5
Not sure why it reports four USB hubs; the external monitor has a USB hub and the monitor arm also has a USB port which is passed through to the dock.

[2021-04-24 09:59] slrtbtfs commented on #5
Can report that the upgrade went smoothly for me.

However I needed to run `fwupd update` twice to really update all firmware components, not sure if this is intentional.

[2021-04-24 10:09] mgedmin opened #209 "fwupd sometimes removes GRUB from the UEFI boot order"
**Describe the bug**

Sometimes I attempt to upgrade the system firmware on my Lenovo ThinkPad X390 with fwupd, and the upgrade doesn't happen, and GRUB gets removed from the boot order, and I end up booting into Windows.  This is likely not a fwupd bug, but I did discover a fwupd bug while trying to recover from the situation described above.

The bug: fwupdmgr replaced the boot entry pointing to

[2021-04-26 08:35] hughsie commented on #209
@mgedmin would it be possible to test out with fwupd 1.5.x or 1.6.0? Then we can add some more detained logging to try to debug what's happening. My gut instinct says "firmware bug" but I have no proof for that yet! :)

[2021-04-26 13:02] superm1 commented on #209
I think that trying it with self built will change things too significantly - he reproduced it with secure boot on and would need to turn it off for a hand built.

I'm with you though, it looks like firmware bug to me. The efibootmgr output is enough to prove that isn't it?

[2021-04-26 13:05] superm1 commented on #209
To add more color to that - look at what is getting booted into. It's not even the Ubuntu entry, it's the autogenerated entry by the ibv boot manager.

[2021-04-27 02:43] dieunb commented on #66
I did the same way and the update was successful as @smlx but still got that error
![Screenshot from 2021-04-27 09-42-16](https://user-images.githubusercontent.com/2122175/116176811-fa0d8b00-a73c-11eb-9f3e-5f995ca733e7.png)

[2021-04-27 06:05] mgedmin commented on #209
How is this a firmware bug?  Running `fwupdmgr upgrade` changed Boot0001 from

to

Where does firmware get a chance to do anything?

If you mean the `BootCurrent: 001E`, that was because I booted from a removable USB drive (because my `ubuntu` boot entry was gone).  I did restore Boot0001 by running `grub-install` before I ran `fwupdmgr upgrade`, which promptly overwrote it.

I get the feeling I'm

[2021-04-27 07:50] orclex commented on #87
After upgrading to Kubuntu 21.04 and doing a `fwupdmgr get-updates && fwupdmgr update` the firmware could be upgraded:
[code]

[code]

Thank you all!
Best regards!

[2021-04-27 08:22] reirob commented on #5
For me it seems that there is no firmware update available for the Thunderbolt 3 Dock (it's the Gen2 40AN):

#> sudo fwupdmgr update
• ThinkPad Thunderbolt 3 Dock has no available firmware updates
• Thunderbolt Controller has the latest available firmware version
• USB3.1 Hub has no available firmware updates
• USB3.1 Hub has no available firmware updates
• Embedded Controller has the latest avail

[2021-04-27 08:26] joakim-tjernlund commented on #5
try fwupdmgr refresh first, then update

[2021-04-27 08:55] reirob commented on #5
Sorry, I forgot to say, but I was doing fwupdmgr refresh already. But let me do now in more detail:

1.) Refreshing
-----------------------8< -------------------------------------
#> sudo fwupdmgr refresh --force
Updating lvfs
...
Successfully downloaded new metadata: 6 local devices supported

2.) Getting updates, which shows that the Thunderbolt 3 Dock has no firmware updates :(
----------------

[2021-04-27 09:23] hughsie commented on #209
@mgedmin okay, perhaps two bugs indeed. Can you compile git master fwupd [ https://lvfs.readthedocs.io/en/latest/custom-plugin.html#building-fwupd ], and then can you run the new instance with: `./src/fwupd --verbose` and then in a different terminal then do `./src/fwupdmgr reinstall` or something that will trigger the firmware update action to jump to life and overwrite the Boot0001 entry. We the

[2021-04-27 09:44] kmauleon commented on #87
Great!  Thank you very much for your update @orclex ... closing the issue...

[2021-04-27 09:44] #87 closed, assigned to nobody

[2021-04-27 11:49] superm1 commented on #209
Ah I thought that meant it was after the reboot. It's literally right after calling update? Then yeah it seems like two bugs I agree.

[2021-04-27 12:55] joakim-tjernlund commented on #5
Enable testing perhaps? /etc/fwupd/remotes.d/lvfs-testing.conf
Just guessing though.

[2021-04-27 14:50] reirob commented on #5
@joakim-tjernlund, thank you for the suggestion! lvfs-testing.conf is indeed not enabled on my system. But does it mean that the firmware for the Thunderbolt 3 Dock is only in the testing channel until now?

I tried to modify the indicated file, but even as root I am not able to write the file o_O
I am on NixOS, and the configuration is mounted on a read-only file-system /nix/store. I was searchin

[2021-04-27 16:39] hughsie commented on #5
The firmware was moved to stable on 2021-04-20 and is still there. Is this actually a TBT dock **gen 2**? I don't think the Gen1 has firmware updates on the LVFS at all.

[2021-04-28 06:01] mgedmin commented on #209
Precisely!  The sequence of commands was (from my notes)

[code]

I have the outputs of each command recorded (excepting grub-install which says nothing very interesting, and for the tree I only recorded the /boot/efi/EFI/ubuntu subtree) in my notes, if that would be helpful.  It's mostly very verbose and I think I already included all the relevant information earlier.

[2021-04-28 06:12] mgedmin commented on #209
I wondered if this bug was fixed by 59e375707aab4c3e95934ef88b81becee9931d42, but Ubuntu's fwupd 1.4.5-1 already contains that commit.

My guess that BootCurrent could've had any relevance seems entirely wrong: the fwupd source tree doesn't even mention BootCurrent once.

[2021-04-28 06:17] reirob commented on #5
Hello @hughsie, on the bottom of the dock is marked TYPE 40AN, FRU PN 03X7538. And if I search on the Lenovo site it tells me that it is Thunderbolt 3 Workstation Dock Gen 2. This is the support page: https://pcsupport.lenovo.com/fr/en/solutions/pd500333-thinkpad-thunderbolt-3-workstation-dock-gen-2-overview-and-service-parts . It has at the end of the page a table where there is the type as prefi

[2021-04-28 08:20] hughsie commented on #5
Okay, that's the Gen2, the same I have here. Does it work in Fedora? Nobody is doing any kind of QA on NixOS unfortunately.

[2021-04-28 08:21] hughsie commented on #209
Ya, `fwupd --verbose` would give us the information needed to debug this further.

[2021-04-28 09:58] LordChaos73 commented on #5
I'm on Arch and it seemed to have worked fine.

[2021-04-28 13:42] rugubara opened #115 "UEFI update 0.1.16 for my Thinkpad P52 has reset the UEFI boot records"
**Describe the bug**
The UEFI firmware 0.1.16 for my Lenovo Thinkpad P52 20M90019RT wiped the grub boot entry rendering the system unbootable. While trying to fix this by booting from a rescue CD, I discovered that this firmware also reset the boot type to legacy. Changing the boot type to UEFI only allowed me to fix the boot records by re-installing grub.

**Steps to Reproduce**
Install UEFI firm

[2021-04-28 13:53] hughsie commented on #115
What was the *old* version of the system firmware? Not the version you installed. Thanks!

[2021-04-28 19:05] rugubara commented on #115
[code]

[2021-04-29 09:25] hughsie commented on #115
@mrhpearson could you ask internally and ask if there are any EFI BootXXXX bugs that might affect ThinkPad P52 system BIOS 0.1.15 -> 0.1.16 updates please? This is the first bug like this I've seen on this hardware. Thanks!

[2021-04-30 09:21] lasombra opened #116 "Unable to update firmware on T580 running version 1.22"
**Describe the bug**
The UEFI firmware 0.1.22 for my Lenovo Thinkpad T580 can't be updated to version 0.1.27. The following error message is returned:
[code]
I don't understand how it requires a larger, unavailable firmware version though.

**Steps to Reproduce**
Install UEFI firmware 0.1.27 from downloaded from Lenovo's website or from https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN27ET.firmw

[2021-04-30 10:27] hughsie commented on #116
@lasombra I think the uploader made a mistake. @mrhpearson could you file an internal issue and get the requirement of https://fwupd.org/lvfs/firmware/6524 set to the correct value please. Thanks!

[2021-04-30 15:04] mrhpearson commented on #116
Internal ticket raised (For my reference LO-1174). A warning that both China and Japan have holidays right now so there might be a bit of a delay getting this fixed - sorry :(
This is definitely an issue that could and should have been caught before moving the firmware to stable - I'll be triggering an investigation as to what happened because that's not acceptable.

[2021-04-30 15:08] hughsie commented on #116
Do you think the LVFS should have forbidden promoting it if the requirement was bigger than the firmware version?

[2021-04-30 15:41] hughsie commented on #116
Answering my own question: https://gitlab.com/fwupd/lvfs-website/-/merge_requests/953

Well, it's not a disaster as we wouldn't have downloaded or offered the update as the requirements wouldn't have been fulfilled. It's just obviously never been tested which is the bit to get upset about I guess. Thanks!

[2021-04-30 18:22] mrhpearson commented on #116
Yeah - I'm in agreement  on all the above

[2021-05-02 09:23] olbat commented on #31
@kmauleon, I've opened this issue as a follow-up: https://github.com/fwupd/firmware-lenovo-thinkpad/issues/113 .

Thank you very much for your help!

[2021-05-02 17:50] Elpe-75 commented on #43
Hi, I had the same problem today with my TP T470s. After a few seconds of firmware-update screen the screen suddenly turned black and nothing else happend. Keeping the power-button pressed had no effect. The computer did not shut down.

So I opend the TP and took out the smaller battery. After that the computer was off. I then rebooted and just after the start pressed enter to get into the bios. I

[2021-05-02 19:17] cdysthe opened #123 "A firmware update will not install on my Lenovo Thinkpad X1 Carbon 7th running Ubuntu 21.04"
**Describe the bug**
The 'Ubuntu Software' application tells me me I have a firmware update available (screenshot below). I have installed many of those on this laptop without problems but this time when I click "Install" the update notification disappears and then shows up again as if I haven't done anything. I can keep clicking 'Install' but it keeps coming back after a couple of seconds. I then

[2021-05-02 19:31] hughsie commented on #123
You didn't enter any of the details in the issue template.

[2021-05-03 14:40] cdysthe commented on #123
Sorry, it's all there now.

[2021-05-04 06:09] kmauleon commented on #31
hi @olbat already ping the owner (https://github.com/lijunwang1990) ... thank you...

[2021-05-04 09:34] hughsie commented on #123
Did you reboot and do the EC update? Or does the EC update not apply? Lenovo asked to limit the number of updates to 1 at a time on some hardware.

[2021-05-04 21:09] cdysthe commented on #123
I did reboot with just a normal boot, nothing is being applied or installed. When back up I'm told I have the exact same update available. I do not know much about this but I've completed many updates on this laptop without problems.

This is what I get when I try to update. After the reboot it repeats and nothing is installed:

[code]

[code]

[2021-05-05 13:33] cdysthe commented on #123
I have looked at this some more. Two files are downloaded to /boot/efi/EFI/ubuntu/fw/
[code]
But they are not installed during reboot as I assume they should be? The files have the exact same modified time as the last 'sudo fwupdmgr update' was run and I can see them being downloaded on the console when running fwupdmgr. So the problem is that they are not installed for some reason. As a layman I

[2021-05-05 15:58] mrhpearson commented on #115
My apologies - I'd missed this note in my inbox.
I've raised an internal ticket (LO-1177) and will see what the FW team say.
I actually have a P52 myself so I'll try this out once the battery charges a bit. Turns out my FW hasn't been updated on this platform in a while (it was a bit dusty too...ho hum)
Mark

[2021-05-05 16:47] mrhpearson commented on #115
Just as a note - my system updated cleanly. SSD, EC (to 1.16), BIOS (to 1.41) and ME (to 192.72.1757). I didn't see any UEFI boot variable mangling etc...
Mark

[2021-05-06 09:14] kmauleon commented on #31
hi @olbat please see owner's reply as below... thank you very much.

**According to the user’s description , I noticed that user updated BIOS from version 1.51 to 1.71. We have fixed this issue (MEFW LVFS files can't update problem) in BIOS version 1.70.
So , update to BIOS version 1.70 first and then update ME from 192.47.1524 → 192.72.1757 will solve this problem.**

[2021-05-06 15:44] reirob commented on #5
Hello all,

I just want to tell you that I was able to upgrade the ThunderBolt 3 Workstation Dock Gen 2, by using Ubuntu 21.04 from an USB key (though I needed to start Ubuntu with "Save graphics boot entry", and everything was extremely tiny on the screen, but that's another topic).

No idea, why this didn't work on NixOS 20.09, but I am quite happy that I could upgrade the firmware and hope that

[2021-05-06 22:42] olbat commented on #31
I managed to update to 1.70 using the cab file but then I wasn't able to update to 1.71 using `fwupdmgr update` (same issue), I had to use a cab file again. Let's see how it goes for the next version :)

[2021-05-06 23:08] johnnyapol commented on #123
I''m hitting a very similar issue. Arch Linux, Thinkpad T490. Output of fwupdate -L is as follows:
`../efi/fwupdate.c:158:fwup_populate_update_table(): Found update fwupd-2c0665e2-fdbd-495e-b8e4-69d92b9c119a-0
../efi/fwupdate.c:158:fwup_populate_update_table(): Found update fwupd-603baf73-b997-45b5-86b4-2f981a008e18-0
../efi/fwupdate.c:564:efi_main(): No updates to process.  Called in error?
`
`~

[2021-05-07 02:13] kmauleon commented on #31
thanks for the feedback @olbat!

[2021-05-07 02:15] kmauleon commented on #113
hi @olbat will close this issue as well for now... kindly reopen if anything... thank you very much

[2021-05-07 07:36] hughsie commented on #123
Somehow the FWUPDATE_ATTEMPT_UPDATE flag isn't being set. Can you describe exactly what you did please?

[2021-05-07 07:57] johnnyapol commented on #123
`fwupdmgr refresh && fwupdmgr update`
After accepting the prompts to download the updates then I reboot.

[2021-05-07 09:08] hughsie commented on #123
@johnnyapol does the same behaviour happen with Fedora 34? You've got a weird failure and I want to rule out software before we dive into firmware debugging. Thanks.

[2021-05-07 10:54] joakim-tjernlund commented on #104
i wonder if this kernel patch fixes this?
https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=linux-5.10.y&id=d844aaa49ac8b3225e906a150f89d2b805ad8cfc

[2021-05-07 17:21] sclel016 commented on #75
Just to confirm, is this issue intended to cover the [Ultra Dock](https://www.lenovo.com/ca/en/accessories-and-monitors/docking/mechanical-docks/Ultra-Dock-135-W-US/p/40AJ0135US)? I enabled LVFS testing and still haven't seen any updates come through.
[code]

[2021-05-10 13:18] cdysthe commented on #123
@johnnyapol I "fixed" it this morning by deleting the two .cap files. Removed the fwupd packages using apt with 'sudo apt purge package'. I rebooted and installed fwupd again. Did the update and they were installed normally during boot. I have no idea why this resolved the issue. The only change to my system has been the upgrade from Ubuntu 20.10 to 21.04.

[2021-05-11 09:19] federico-cuello-solarisbank commented on #56
This is still happening with `ThinkPad X1 Carbon 6th`,

[code]

`Upgrade available for Intel Management Engine from 184.79.3722 to 184.83.3874`

[2021-05-11 09:23] federico-cuello-solarisbank commented on #65
Hi, same problem here with a `ThinkPad X1 Carbon 6th`.
[code]

`Upgrade available for Intel Management Engine from 184.79.3722 to 184.83.3874`

But the BIOS setup screen show the new version as installed.

[2021-05-11 11:40] joakim-tjernlund commented on #112
One thing I miss in most Lenovo FW releases is the lack of change notes.

[2021-05-11 12:43] hughsie commented on #112
I'm wondering if there's more I need to do to force vendors to write something. There are already rules on the LVFS to detect things like not referencing a BLD file in the changelog notes. I think a minimum letter count would encourage uploaders just to do `fixes bugs................................................` etc.

[2021-05-13 04:14] LinuxOnTheDesktop commented on #56
Cf. #3231.

Cf. also perhaps #3219 and possibly #683.

[2021-05-13 05:42] saikocat commented on #123
I have a similar issues on my T480s running latest Arch and the suggested workaround didn't work.

- Deleting 2 caps file didn't help in my case (first cap file is the same, 2nd one is different from cdysthe). Reinstalled package and reboot and retry didn't help.
- `fwupdate -L` will fail with `failed: Error opening file /sys/firmware/efi/efivars/FWUPDATE_DEBUG_LOG-0abba7dc-e516-4167-bbf5-4d9d1c73

[2021-05-13 16:00] Cameron-Cn opened #117 "T460s Dead during Firmware Update"
Howdy!

(I can also file an error report elsewhere, this was the only location I could track down to make this sort of report. Sorry if this is the wrong spot!)

This is just to put in a notice for what I suspect is a firmware failure during update of a Lenovo ThinkPad T460s.

Running openSUSE Tumbleweed with GNOME 40, updated using a TTY with `sudo fwupdmgr update`. I have used this method in the

[2021-05-13 16:22] hughsie commented on #117
Super uncool. Did you try removing all batteries (including internal ones and CMOS) for 30 minutes and then try again? Do you remember what firmware update it tried to apply, or how it failed? Or the old firmware version? When you say "died", do you mean the LEDs and fans are completely turned off? Did anything interrupt the update? Did you schedule two updates to be installed at the same time, an

[2021-05-13 16:44] Cameron-Cn commented on #117
@hughsie

The two updates (I am working from memory of GNOME software's display here, which I assume are the same as the `fwupdmgr` pair) were Intel Managment Engine and a "Firmware" (BIOS, I assume again).

They updated one at a time, I believe the BIOS was second as it displayed a LENOVO logo during the process whereas the first one had an "INTEL...WAITING" message before the reboot.

The old fi

[2021-05-13 17:16] hughsie commented on #117
@mrhpearson help!!

[2021-05-13 17:33] Cameron-Cn commented on #117
Update:

After removing the batteries (including CMOS) for 30 minutes, the machine is in the same state as before.

Steps:
1. Removed internal batteries, disconnected CMOS
2. Let sit for ~30 minutes
3. Reconnected CMOS, plugged in AC power
4. Attempted to boot (not successful)
5. Re-inserted batteries, attempted boot (again no success)

I should add now that this was merely my testing machine, so

[2021-05-13 17:37] hughsie commented on #117
@mrhpearson if it helps, the latest T460s update went out 4 months ago, and has been deployed ~7k times, with 100.0% reported success -- although notable in cases like this the machine is _too dead_ to actually send a failure report.

[2021-05-13 17:47] Cameron-Cn commented on #117
It is entirely possible (I would say likely even) that this is a hardware failure of some sort, as I've never encountered an issue with `fwupdmgr`.

I am not the machine's original owner, so I am unsure how many paces it has been through. I believe the 6-series came out in 2016, and if it was a corporate machine it could well have been near EoL anyway.

[2021-05-14 20:10] markrages commented on #117
~~Me too~~

This issue was fixed by the reset button through the hole in the bottom.

Sorry for the noise, good luck with your issue, etc.

----------------------------

My T460s  has Ubuntu 18.04, which tried installing two "firmware"updates through the Ubuntu software store this afternoon.

It is now bricked. The power button doesn't work. The "FnLk", "Mute" and power light are on.

I haven't at

[2021-05-15 00:42] LinuxOnTheDesktop commented on #123
Locating and deleting the one .cap file I found did not help with the problem I have (#3231) either.

[2021-05-15 07:17] hughsie commented on #117
Still scary! @mrhpearson this shouldn't be required, right?

[2021-05-16 01:02] kendoori opened #118 "Firmware Capsule Is Not Getting Loaded on a Thinkpad T480"
**Describe the bug**
A clear and concise description of what the bug is.

When I run fwupdmg I am told: "Upgrade available for UEFI Device Firmware." I then apply the update. When I reboot, it looks like the capsule is being loaded. I see this screen, and then it goes to the normal login screen

I keep getting prompted to reapply this update.

**Steps to Reproduce**
Steps to reproduce the behavior

[2021-05-17 08:47] hughsie commented on #118
If you do that again, then when it boots up into Linux without applying the update what does `fwupdmgr get-devices` say? e.g. you should get an "Update Error" that gives us some hint.

[2021-05-17 12:55] kendoori commented on #118
I am not seeing any errors.

`kenny@kenny-ThinkPad-T480:~$ fwupdmgr get-devices
20L50011US
│
├─Thunderbolt Controller:
│     Device ID:           36cf863540d97a0506a091d24cf4f1c5d848183e
│     Summary:             Unmatched performance for high-speed I/O
│     Current version:     20.00
│     Vendor:              Lenovo (TBT:0x0109)
│     GUIDs:               7d131734-64ed-5865-a46e-a67cfb9b5a46
│

[2021-05-17 13:59] hughsie commented on #118
Ohh wow, that's kinda old. Can you try with something newer like 1.5.x or 1.6.0?

[2021-05-17 14:22] kendoori commented on #118
I'm on Mint so 1.3.11 is what they provide. I don't have Docker installed to compile for the instructions on the Wiki. Do I need to go through that process, or is there another way to get the newer version (Snap, Flatpack?) and if I install one of those, do I need to uninstall the Mint 1.3.11 version in order to run the update from the CLI. Alternatively, should I just boot from a LiveUSB of anoth

[2021-05-17 14:27] hughsie commented on #118
Maybe try a Fedora 34 LiveUSB image?

[2021-05-17 14:32] kendoori commented on #118
Will do and I will report back.

On Mon, May 17, 2021 at 10:27 AM Richard Hughes ***@***.***>
wrote:

[2021-05-17 14:59] superm1 commented on #118
Will live USB image actually work with the existing ESP?  I guess I've never considered to try this.  Can you, please capture full `efibootmgr -v` output before the reboot to try to apply the update?  I'd like to make sure it made a new boot entry and used the correct binary when it tried.

[2021-05-17 15:23] kendoori commented on #118
The Fedora update didn't work, or I didn't do it right. I created a Live USB, started the daemon and did the update. I then rebooted first into Fedora (and repeated the process, whereby it offered the update again). I then rebooted back into Mint and was also presented with the update option again.

As requested, this is from Fedora, after the update, but before rebooting:
`An update requires a re

[2021-05-18 13:20] superm1 commented on #118
[code]
After it prompts, let it boot into the Boot option `Boot0002` (`Linux-Firmware-Updater`) which looks like it built to match something looking nominal.

[2021-05-18 13:57] kendoori commented on #118
So you are saying, boot to Live USB (Fedora), do the update within Fedora,
and then when it prompts to reboot, choose the boot option for the firmware
updater?

In my experience on Thinkpads, I might need to interrupt the boot to choose
the boot option (e.g, F12), at which point one can choose Linux
Fimrware Updater. So would I do that?

On Tue, May 18, 2021 at 9:20 AM Mario Limonciello ***@***.**

[2021-05-18 14:13] superm1 commented on #118
Well it's set as bootnext so I think it should pick on it's own

[2021-05-18 18:45] kendoori commented on #118
I applied the update in Fedora and rebooted, and let it just go on its own without stopping the sequence from the keyboard. It took a while to boot, but on its own it booted into Mint. When I ran `fwupdmgr update` it offered the update again.

[2021-05-18 18:46] superm1 commented on #118
Seems like it's firmware then

[2021-05-19 13:16] joakim-tjernlund opened #119 "ACPI errors when booting ThinkPad T14 Gen 1 (20S0000FMX)"
[code]

I see this error on several Lenovo laptops but this one is what I have handy ATM.
Ideally the Lenovo FW should be fixed to address this error.

[2021-05-19 13:29] hughsie commented on #119
This really isn't the place for general Lenovo firmware problems I'm afraid. If we started collecting these kind of issues here it would make actual firmware update problems harder to track. Sorry.

[2021-05-19 13:29] #119 closed, assigned to nobody

[2021-05-19 13:33] joakim-tjernlund commented on #119
Sure, I get it.

[2021-05-19 23:17] sebirdman commented on #31
@kmauleon I'm also failing to update to 192.71.1681 on the X1E Gen2 device, all i get is a black screen after  the fwupdmgr update reboot.

[2021-05-19 23:26] mrhpearson commented on #31
I had the same on the P1G2.
I found the problem was I was trying to update ME, BIOS and EC all in one go - not sure why it didn't work but when I did them one-by-one the update went fine.
I'll follow up with the FW team, but hopefully the above gets you going
Mark

[2021-05-19 23:49] sebirdman commented on #31
@mrhpearson i've got updates for TPM and ME right now, i've tried to update them individually but no success. both bring me to a black screen after reboot and never complete. the only way to reboot is to hard reset it or wait for battery to run out. everything else is up to date as far as i can tell.

[2021-05-20 01:49] mrhpearson commented on #31
OK - as it's unrelated to the T490s that was the origin of my thread (and is closed) can you raise a new issue with the details - tag me - and I'll forward the details to the FW team. I don't have the X1E G2 so will have to see if we can reproduce.
Thanks!
Mark

[2021-05-20 04:05] kmauleon commented on #31
hi @sebirdman ... sorry I don't know owner of X1E Gen2.  as @mrhpearson suggested please open a new issue for this one for proper tracking.  thank you very much.

[2021-05-20 08:49] Issen007 commented on #123
I have the same issue with Fedora 34 and Lenovo X390.

Delete All firmware updates
[code]

Uninstall fwupd
`$ sudo dnf remove fwupd`

Deleting old EFI Boot Option
[code]

Reinstalling fwupd and update the bios one more time.
[code]

Verify that nextboot should be Linux-Firmware-Updater and then reboot
[code]

Verify boot after rebooting the system and it tells me it has bootup the Firmware boot bu

[2021-05-20 10:35] hughsie commented on #31
@mrhpearson if you increase the required dep to 1.5.6 then you get this commit https://github.com/fwupd/fwupd/commit/a676a5ec70fc3e69468575d7ed0a636a4388e932 but that only lists the X1 Yoga 4th, X1 Carbon 5th, X1 Carbon 7th and T460s.

[2021-05-20 14:20] mrhpearson commented on #31
Thanks @hughsie
I'm going to guess that needs to be extended to other platforms....but I'll check with the firmware team and get their guidance. At least based on my experience the P1 needed it.
I've not submitted a patch for fwupd yet....looks like my first opportunity is on the horizon ;)

[2021-05-20 14:42] hughsie commented on #31
If you get stuck let me know. I can add you as a committer on the main repo if that makes things easier for you.

[2021-05-20 16:17] zwiar commented on #108
My device manager is showing that my EC version is 1.39, but showing an error. Any suggestions how to fix? I'm with Win10 Pro.

Thanks!

[2021-05-20 16:26] ChiWei-Chen opened #120 "Unable to update system firmware (BIOS) on ThinkPad X13 Yoga Gen 2 on fwupd 1.5.5 or newer version"
**Describe the bug**
Our Lenovo BIOS team is internally verifying the .cab firmware before uploading it to LVFS. But they found the firmware cannot update successfully in the newer distros(RHEL 8.4 and Fedora 34) with the message :

`Specified firmware is older than installed '0.1.14 < 12'.  `

However, it works fine on the older distros(RHEL 7.9 and Ubuntu20.04.2)
I suspect the new fwupd couldn't

[2021-05-20 16:52] hughsie commented on #120
So it looks like the version format isn't being set. We used to have a rule of "_if dell, use quad, otherwise use triplet_" but that didn't work super well. What we do now is "inherit" the version format from the metadata if it's unset, although I did think we fell back to triplet for UEFI devices. This inheriting only works (for security reasons) when you're got an enabled remote with the firmwar

[2021-05-20 17:26] jrwrigh commented on #74
Version 1.32 was [just released](https://support.lenovo.com/us/en/downloads/ds544977-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpad-t14-gen-1-types-20ud-20ue). Primary reason I mention it here is that the change log specifically mentions improvements for Linux functionality:

Currently not up on LVFS, but it released 2 days ago, so hopefully they do plan on putting it on LVFS.

[2021-05-20 17:35] sedrubal opened #121 "Black screen after starting `fwupdx64.efi` on Lenovo P70 (Arch Linux)"
#### Describe the bug
When I start a firmware update (Intel Management Engine) with `fwupdx64.efi`, and reboot into the UEFI updater, it results in a black screen. When I press the power button of my laptop I can hear a beep code (`- - . . .` / long long short short short). I guess it is signaling, that I should not interrupt the process. The fans are ventilating. After waiting some minutes, nothi

[2021-05-20 17:56] mrhpearson commented on #74
Yes, it will be on LVFS soon. I'm not going to give an ETA but it's being actively worked on.

[2021-05-20 18:03] fkru commented on #74
Let's hope that the longstanding "battery drain"-issue discussed with you at https://forums.lenovo.com/t5/Other-Linux-Discussions/T14-AMD-battery-drain-in-standby-Linux/m-p/5037674?page=28 is solved too. Thanks for your efforts!

[2021-05-20 19:45] sebirdman opened #122 "X1E Gen2 Fails to install TPM and ME updates"
My system is unable to install the following updates:

[code]

I've tried installing them separately and together, both ways the system reboots to a black screen and requires a battery drain or hard reset (pin hole button on bottom) to get back into the system.

[code]

[2021-05-20 19:46] sebirdman commented on #122
@mrhpearson here is the issue you requested. let me know if you need further details.

[2021-05-20 20:07] hughsie commented on #122
There's some kind of problem with Lenovo updates; it's been working for months without issue and now we're seeing dozens of reports like this. We should never be bricking systems like this.

[2021-05-21 00:50] kmauleon commented on #121
hi @sedrubal can you please send screenshot of BIOS settings... also please post result of below command... thank you very much...
**fwupdmgr get-devices**

[2021-05-21 04:41] ChiWei-Chen commented on #120
@hughsie, thanks.
I'll forward this to the BIOS team, ask them to add the firmware to the remote, and test again.

[2021-05-21 09:23] sedrubal commented on #121
I updated the description above and can confirm, that `Boot Order Lock` is turned off. Further BIOS settings can be found here:

![lenovo-p70-bios-settings-1](https://user-images.githubusercontent.com/5571650/119115005-fb259580-ba26-11eb-93cb-68b9a52300f3.jpg)
![lenovo-p70-bios-settings-2](https://user-images.githubusercontent.com/5571650/119115012-fbbe2c00-ba26-11eb-94ca-edd20a24dd35.jpg)

I alre

[2021-05-21 10:02] kmauleon commented on #121
hi @sedrubal can you please try following settings as attached images for _SecureBoot and Startup_.
![SecureBoot Disabled](https://user-images.githubusercontent.com/62524943/119119892-3d1dfe00-ba5e-11eb-9a96-727921747ab7.jpg)
![Startup Settings](https://user-images.githubusercontent.com/62524943/119119908-43ac7580-ba5e-11eb-8c61-60ffaec3392b.jpg)

Then please try to execute the following again...

[2021-05-21 14:20] mrhpearson commented on #117
Sorry - only just became aware of this one :(
Absolutely - reset button shouldn't be needed. I've raised this with the FW team (LO-1426 for my reference) and will see what we can get you support. FW updates obviously shouldn't brick your device. Sorry!
Mark

[2021-05-21 14:25] mrhpearson commented on #118
I've raised a ticket with the FW team (LO-1247 for my reference). Agreed with Mario that it looks like a firmware issue - I'll get some feedback as to why the update isn't taking place.

[2021-05-21 14:34] mrhpearson commented on #122
Thanks - I've raised a ticket to the FW team (LO-1248 for my reference).
I'll let you know as soon as I get feedback from them

[2021-05-21 15:31] sedrubal commented on #121
I already disabled `Secure Boot` before for testing and it did not change anything. Now I additionally set "UEFI/Legacy Boot" to `Both` and `CSM Support` to `Yes` and after running `fwupdmgr --force refresh && fwupdmgr update` `fwupdx64.efi` started successfully and I could see the update screen as expected. After ~1 minute the system rebooted - everything as expected.

But when I run `fwupdmgr` a

[2021-05-24 01:33] kmauleon commented on #121
hi @sedrubal sorry I can not answer your question as I am not into BIOS and fwupd technicalities.  Maybe @hughsie can help to answer... BTW, what's the ME version in BIOS now?  I am asking because there is an existing issue in BIOS that ME is already updated in BIOS but fwupd still detects lower version thus prompting the user to update again.  Please advise.  Thank you very much...

[2021-05-24 20:39] crosser commented on #123
It would seem that shim got broken _again_ on hirsute. This is how my efi vars look after running fwupdmgr and reboot:
[code]
Note that BootCurrent points to the updater, but updater _did not run_ on boot, and I was dropped into grub right away.
I also have both "ubuntu" and "Linux firmware updater" entries in the BIOS boot menu (Enter -> F12), and again both entries drop me into grub.
Looks exact

[2021-05-24 22:04] frankyyyyyyy opened #124 "X1 Extreme Gen 2 Update and Black Screen"
Hi

Have tried two different scenarios, a little stuck and unsure of how to proceed or debug this further, so looking for some guidance.

I have a Lenovo X1 Extreme G2 and attempting to update TPM firmware:

[code]

Upon reboot, i see a boot logo, and top right left a System Reboot message (as seen in past successful updates).  The laptop reboots and remains on a black screen (slightly illuminated

[2021-05-25 01:27] superm1 commented on #123
@crosser probably better not to conflate a distro problem here, especially if it's caused by shim.  I'd suggest try with SB off, and if it works, then a shim bug report in Launchpad (feel free to leave a link here though for anyone that wants to follow along)

[2021-05-25 02:43] LinuxOnTheDesktop commented on #123
#114 is a similar seeming problem but on _Fedora_ . .

[2021-05-25 02:56] superm1 commented on #123
Which could mean it's actually upstream shim issue then too...  @vathpela, @xnox ^

[2021-05-25 07:14] Issen007 commented on #123
@crosser @superm1 I think we are on the right way here where BIOS/uEFI can't find the Update Partition after reboot.
Is it possible to verify this?

[2021-05-25 07:40] crosser commented on #123
@superm1 Mario, I've opened a launchpad ticket, I just thought that it could be useful to point to a potential external cause..
https://bugs.launchpad.net/ubuntu/+source/shim-signed/+bug/1929471

[2021-05-25 07:51] crosser commented on #123
@Issen007 How can I do that? I would be happy to check and report.

[2021-05-25 08:22] Issen007 commented on #123
@crosser that was my question, can we debug the boot sequence and see why the BIOS doesn't boot correct.
I guess it doesn't find the partition or any necessary files that should be there.

[2021-05-25 08:27] crosser commented on #123
@Issen007 as far as I understand, bios successfully loads the shim (note that both entry 1 and 2 specify `/File(\EFI\ubuntu\shimx64.efi)`, it's the shim's parameter that is different), but the shim (apparently) refuses to chain into fwupdx64.

[2021-05-25 10:45] xSke commented on #124
This seems to be same issue as #109, #121, #122 and affects multiple systems? It's happening on my T470 as well.

[2021-05-25 16:04] johnnyapol commented on #123
For what it's worth, I don't use secure boot (therefore no shim is present) and the updates still fail.

[2021-05-25 16:06] superm1 commented on #123
Which is what this bug report is originally about - fwupdx64.efi launches, but the firmware fails to install it on this OEM platform.

[2021-05-25 20:57] sedrubal commented on #121
Thank @kmauleon the BIOS displays `11.8.83.3874` which I guess is equivalent to `184.83.3874`, which is the version, fwupd tries to install. `11.8.83.3874` is also the latest Intel ME version I can find on the support website of Lenovo. So it seems, the upgrade was successful and I have a workaround for this issue.

[2021-05-25 20:57] #121 closed, assigned to nobody

[2021-05-26 03:34] kmauleon commented on #121
hi @sedrubal thank you very much for the confirmation and you are most welcome!

[2021-05-26 03:56] kmauleon commented on #89
hi latest 11.8.83.3874 (184.83.3874) has been put to stable... thank you very much....

[2021-05-26 06:22] kmauleon commented on #102
hi latest 11.8.83.3874 (184.83.3874) has been put to stable... thank you very much....

[2021-05-26 06:36] kmauleon commented on #65
hi @federico-cuello-solarisbank may I ask you help in debugging the BIOS issue.  Can you please contact me >> kmauleon@lenovo.com thank you very much in advanced....

[2021-05-26 08:54] kmauleon commented on #89
hi anyone ok to provide logs for BIOS ESRT problem?  This will need to run some tool via EFI Shell... please ping me... thank you very much...

[2021-05-26 13:07] dkwo commented on #89
I updated ME, but I still get the same behaviour in fwupd (it does not realise update has taken place).
I'm on 1.5.8 though, will try to update later.

On the other hand, I also updated firmware 50->51, and this erased my efi partition, so I had to reinstall grub from chroot. I believe this is the 2nd time happening: do you know who's mother I have to blame?

[2021-05-26 15:11] vathpela commented on #123
Any chance you have a way to check if https://github.com/rhboot/shim/pull/374 fixes this?

[2021-05-27 01:08] kmauleon commented on #89
hi @dkwo can you please contact me at kmauleon@lenovo.com  ... i would like to send you a tool if you would permit... as for the BIOS firmware, i will try to ask our BIOS dev regarding the issue... hoping to hear from you... thank you very much...

[2021-05-27 02:18] kmauleon commented on #89
hi @dkwo BIOS Dev reply regarding efi partition issue... thank you very much...
--------------------------------------------
Please try on following condition. We met this symptom before on **old version of GRUB** and performed BIOS Load Default, but it disappears by **updating GRUB/GRUB2**.

1) Install GRUB2 (2.04 or newer version). Or,
2) Do not perform BIOS Load Default.

[2021-05-27 02:55] lijunwang1990 commented on #118
Hi @kendoori ,could you please try download the package form LVFS site.  and use below command to update again?  if you still can not update, we will upload 11.8.86.3909 recently. you can try ro update to this version directly. thank you.

fwupdmgr --allow-older --allow-reinstall install  [Name].cab
https://fwupd.org/lvfs/firmware/6718

[2021-05-27 05:20] ChiWei-Chen commented on #118
Thanks, @lijunwang1990.
Hi @kendoori, if you cannot access the link provide by Lijunwang, please try this one, thanks!
https://fwupd.org/lvfs/devices/com.lenovo.ThinkPadN24RM.firmware

[2021-05-27 12:53] kendoori commented on #118
I downloaded the firmware and updated as suggested. After reboot, I ran:
`sudo fwupdmgr update`
The same firmware update is being offered.
![Selection_180](https://user-images.githubusercontent.com/2447420/119840670-2f8bcc80-bed3-11eb-9b03-03b1fdbd18de.png)

[2021-05-27 15:28] joakim-tjernlund opened #125 "Lenovo T14 Gen2i has flat version FW numbering"
Lots of FW versions just shows a single number, this is a common problem amongst Lenovo firmware that has
persisted for too long time now:
[code]

There are too many anonymous FWs there too, just named UEFI Device  Firmware
Needs naming so one can identify these devices

[2021-05-27 15:38] hughsie commented on #125
This is by design: https://github.com/fwupd/fwupd/blob/master/plugins/uefi-capsule/fu-uefi-backend-linux.c#L41

These are unnamed by the OEM. They might be webcams, batteries, WWAN cards -- we literally don't know what the GUID corresponds to until an update gets pushed on the LVFS. Once an update *is* pushed, we update the name and version format so that it looks more recognisable. I'm not sure w

[2021-05-27 15:58] joakim-tjernlund commented on #125
Its not fwupd that is missing this, it is Lenovo FW metadata, hence why I reported it here:

On Lenovo FW download page one can read:
[code]
Here one see the embedded controller is versioned 1.32 but fwupdmgr list it as 65568.
I guessing that most devices here with a single number does not has such a number in Windows.

A default rule for all Lenovo devices which maps versions to the x.y.z format

[2021-05-27 16:04] joakim-tjernlund commented on #125
Also, I cannot find a Intel Management Engine, seems a bit odd ?

[2021-05-27 16:26] joakim-tjernlund commented on #125
Mind reopening?

[2021-05-27 16:30] joakim-tjernlund commented on #125
System FW is versioned 0.1.34 while BIOS download page lists it as 1.34

[2021-05-27 18:55] dkwo commented on #209
Same issue here.

[2021-05-27 18:55] dkwo commented on #89
I have grub 2.04 already. could it just be fwupd/firmware-lenovo#209 ?

[2021-05-27 18:55] dkwo commented on #89
I'll write you now.

[2021-05-27 19:21] mrhpearson commented on #125
Man - we haven't even finished Linux enablement on the T14G2 and I'm getting bugs.....brutal
I'll flag this to the FW team for this platform.
Mark

[2021-05-28 00:56] kmauleon commented on #89
this could be it... but not an expert to confirm ^_^

[2021-05-28 04:03] pentatonicfunk opened #126 "Thinkpad X1 Extreme failed to update"
**Describe the bug**
Thinkpad X1 Extreme failed to update "Intel Management Engine (192.35.1427 → 192.72.1757)"

**Steps to Reproduce**
`fwupdmgr update`

**Expected behavior**
Updated correctly

**fwupd version information**
Please provide the version of the daemon and client.
[code]

Please note how you installed it (`apt`, `dnf`, `pacman`, source, etc): dnf

**fwupd device information**
Please

[2021-05-28 06:41] joakim-tjernlund commented on #125
Hehe, it has been on the market for a while though.

[2021-05-29 09:01] sedrubal commented on #121
@kmauleon just want to note one thing: Using [mei-amt-check](https://github.com/mjg59/mei-amt-check) (which is querying the ME version via `/dev/mei0`) gives me the right version `11.8.83`, while `fwupdmgr get-devices` gives me `184.80.3746`.

[2021-05-30 15:22] joakim-tjernlund commented on #125
@mrhpearson , what do you think of having a default Lenovo version rule that make any undefined device have version x.y ?

[2021-05-31 03:31] kmauleon commented on #121
hi @sedrubal this is a known issue and our BIOS DEV can't debug without seeing the content of ESRT table.  I can't get anyone to run a tool on their system... so i'm not sure how we can resolve the issue.  thank you very much for the information

[2021-06-01 02:54] lijunwang1990 commented on #118
Hi @kendoori , can you check your ME version under setup? you can press F1 before boot to OS ,the ME version will be displayed on the main page. and use "FWupdmgr get-devices" to check the ME version under OS.

[2021-06-01 14:09] kendoori commented on #118
[code]

(edited by superm1 to make it readable)

[2021-06-03 12:04] lijunwang1990 commented on #118
Hi @kendoori , sorry, I also need check the MEFW version in setup. please reboot the system and keep pressing "F1" before Lenovo Logo displayed. you will enter into setup menu.like this:
![微信图片_20210603200302](https://user-images.githubusercontent.com/64507716/120641886-c42f9500-c4a6-11eb-8f35-e77a77839ec4.jpg)

[2021-06-03 13:09] kendoori commented on #118
![PXL_20210603_130548942](https://user-images.githubusercontent.com/2447420/120650048-66219400-c44b-11eb-818a-fb52642f0ada.jpg)

[2021-06-04 01:02] morphy2k commented on #74
1.32 has been available in the test branch for a few hours.
I tried to install it via **fwupdmgr**, unfortunately without success. The flash process did not start after several attempts.

Fedora 34
fwupd v1.5.9

**Edit:** If relevant, I had v1.29 installed. No boot order lock.
After the failed attempts, I flashed it manually via a USB drive. Works well so far!

[2021-06-04 07:22] aanno opened #127 "Thinkpad L14 (20U1) does not install firmware on reboot"
## Bug description

I downloaded the firmware update (to 1.12) from the lenovo site and used the instructions of https://download.lenovo.com/pccbbs/mobiles/r17ul09w.txt:

[code]

However, on reboot the firmware update is **not** installed.

## My system

Fedora 34, LUKS encrypted LVM

I have try with and without secure boot.

[code]

[code]

## System UEFI configuration

[code]

[code]

[code]

[2021-06-04 07:33] ChiWei-Chen commented on #120
I've verified the BIOS which is uploaded to embargo.
I’m able to update to the latest 0.1.22(43W) from 0.0.18(21W) via LVFS successfully.
I think BIOS would be change to stable soon. Let me close this ticket.
@hughsie , thanks for supporting this.

[2021-06-04 07:34] #120 closed, assigned to nobody

[2021-06-04 09:12] fschrempf commented on #74
Same here. I was on 1.30. I also did a manual upgrade (again!). :disappointed:

[2021-06-04 13:14] SoMuchForSubtlety commented on #74
Upgrade from 1.29 to 1.32 worked for me with `fwupdmgr upgrade`

fedora 34
client version:	1.5.9
compile-time dependency versions
	gusb:	0.3.6

daemon version:	1.5.9

[2021-06-05 10:04] zaro commented on #74
Fedora 34 user here with T14 AMD.

My bios version is 1.29 and the update to 1.32 doesn't work for me at all neither via the gnome-software nor `fwupdmgr update`.
Here is the output from fwupdmgr:

[code]

After reboot, nothing happens , Fedora just boots up normally and firmware is NOT updated. I checked https://github.com/fwupd/fwupd/wiki/LVFS-Triaged-Issue:-Failed-to-run-update-on-reboot, but t

[2021-06-06 09:01] aanno commented on #127
Well, it has finally worked - but I'm unsure what has really helped, as I tried several things:
* In the BIOS/UEFI boot menu (\<F12\>), I set 'Linux-Firmware-Updater' as _first boot option_. (This is already reflected in the output of `efibootmgr -v` above.)
* I did a _cold_ restart (instead of a _warm_ restart).

I also thought about chain loading the efi binary `fwupdx64.efi` in the lines of htt

[2021-06-06 09:01] #127 closed, assigned to nobody

[2021-06-06 09:18] sedrubal commented on #121
@kmauleon if you tell me the issue and the tool, I have to run, I can maybe provide some information. This however is the content of `/sys/firmware/efi/esrt/`:

| Entry  | fw_class                             | lowest_supported_fw_version | last_attempt_version | last_attempt_status | fw_type | fw_version | capsule_flags |
|--------|--------------------------------------|--------------------------

[2021-06-06 13:19] woozong opened #128 "Unable to update Thinkpad T14s AMD firmware: "failed to write data to efivarfs: Error writing to file descriptor: Invalid argument""
Running Fedora 34 here. When trying to update the system firmware of my T14s AMD, I get the following error:

The report looks like this:
[code]

Let me know if I can provide additional information to help debug this.

[2021-06-06 15:08] hughsie commented on #128
@superm1 do you think this could be a case of SPI-out-of-space? It's a weird one.

[2021-06-06 18:28] fkru commented on #74
Confirmed, update/upgrade from version 1.29 to 1.32 fails (openSUSE Tumbleweed 20210604 with fwupd 1.5.8). In the release notes of FW 1.32 one finds the remark "Notes:In case user update the UEFI BIOS v1.32 (R1BET63W) , need to load default configuration in BIOS setup.(For enable DMAr function support). 1).Please press F1 key to BIOS setup.2).Press the F9 key to load default configuration.3).Selec

[2021-06-06 19:10] snaggen commented on #114
I see the same issue with the new System Firmware update.
 • System Firmware (0.1.19 → 0.1.20)  downloads, reboot, but nothing is installed.

[2021-06-06 20:02] zaro commented on #74
@fkru  I did try reseting bios to defaults and it made no difference at all.
I tried booting the iso with the update,and it does the same back screen for few seconds and back to the boot menu.

Might be broken update IMO

[2021-06-06 20:08] jrwrigh commented on #74
I also tried with booting the iso and didn't get it to work. The update
does work when doing it through the Windows utility though.

On Sun, Jun 6, 2021, 14:02 Svetlozar Argirov ***@***.***>
wrote:

[2021-06-06 20:20] snaggen commented on #114
Could this MR be relevant, https://github.com/rhboot/shim/pull/374
I would be happy to test that PR if someone provided a rpm package for Fedora 34

[2021-06-06 20:37] jonpolak commented on #74
`fwupdmgr upgrade` to 1.32  fails because the flash ulility does not start after system reboot. I have an **encrypted /home**

T14s AMD with system firmware 1.30. Ubuntu Mate 21.04 kernel 5.11

[2021-06-07 00:47] nverschueren commented on #74
Hello,
   Same problem in Fedora 34 on a T14. The app software shows the update. After downloading, the system reboots and nothing happens

[2021-06-07 01:03] kmauleon commented on #121
hi @sedrubal thank you very much for your support... as I am not allowed to share the tool publicly, can you please contact me thru my lenovo email kmauleon@lenovo.com  ... thank you very much for your help in advanced...

[2021-06-07 11:34] The-Compiler commented on #74
Same issue for me with 1.32 and a T14 AMD Gen1, on Archlinux with fwupd 1.6.0. Previous updates worked fine, but not this one.

After the reboot, I see a quick "Reset System" text, then the laptop reboots again, and I'm stuck in a black screen, with power button on, screen backlit and fans spinning, but nothing happening. No automatic reboot here either, at least after around 30-45 minutes.

I've

[2021-06-07 14:22] espidev opened #129 "1.32 BIOS update for t14s possibly causes the laptop to be bricked"
I updated my laptop yesterday (on Arch, through Discover's fwupd backend) and after a reboot it seems to be bricked.

On the first reboot, it showed a black screen for a long time, and then showed some slightly stretched words in white text on black (that I unfortunately can't remember). I do remember that it did not say anything along the lines of doing background upgrades, and it just froze like

[2021-06-07 14:25] hughsie commented on #129
Can you try disconnecting all the batteries (there might be multiple internal/external ones) and waiting 30 minutes, then reconnecting the batteries? @mrhpearson might have some more ideas. So sorry to hear this, I'm really disappointed this happened.

[2021-06-07 14:34] espidev commented on #129
Sure, I'll give it a try, thanks.

I disconnected the CMOS and the main internal battery (I don't see any others)

[2021-06-07 15:02] fidencio opened #132 "Lenovo p1gen2 fails to upgrade Intel Management Engine and System Firmware"
**Describe the bug**
A clear and concise description of what the bug is.

`$ fwupdmgr upgrade` tells me I have the following upgrades.
 • Intel Management Engine (192.47.1524 → 192.72.1757)
 • System Firmware (0.1.37 → 0.1.38)

I apply those, reboot, and those are not applied.

**Steps to Reproduce**
Steps to reproduce the behavior.

1. `fwupdmgr upgrade` on a p1gen2, using up-to-date Fedora 34
2.

[2021-06-07 15:05] espidev commented on #129
Unfortunately nothing seems to have changed, both having the battery disconnected (and on AC power) and having it reconnected.

[2021-06-07 17:28] mrhpearson commented on #129
Really sorry to hear that - and like Richard very disappointed too.

Richard - there seem to be a lot of issues around this update for the AMD platforms. I'm seeing failed updates (albeit not bricks) raised on the forum. Should we pull this to prevent users hitting the issue while I work with the firmware team to understand what's going on?

Note - I tested the update myself on the T14 AMD with no

[2021-06-07 18:34] espidev commented on #129
I will, thanks!

[2021-06-07 18:54] fkru commented on #74
JFYI if you have a T14s: https://github.com/fwupd/firmware-lenovo-thinkpad/issues/129

[2021-06-07 19:14] fkru commented on #129
Do you have secure boot disabled? Thx.

[2021-06-07 20:17] The-Compiler commented on #129
FWIW I've had a similar experience on my T14 AMD (see https://github.com/fwupd/firmware-lenovo-thinkpad/issues/74#issuecomment-855850120), but thankfully without the "stretched text" and/or bricking part. :sweat_smile:

I contacted Lenovo Premier support when the hang happened since I didn't want to interrupt a potentially still running upgrade, and they recommended to restart it in the following

[2021-06-07 20:22] The-Compiler commented on #74
Ooof, the T14s brickage linked by @fkru sounds bad.

FWIW in the meantime I've succeeded installing the 1.32 upgrade using the "bootable CD" download from Lenovo, by using [geteltorito.pl](https://userpages.uni-koblenz.de/~krienke/ftp/noarch/geteltorito/geteltorito/geteltorito.pl) to extract the image, flashing it to an USB stick via dd, and booting from there.

Booting from the stick worked fine

[2021-06-07 20:27] espidev commented on #129
Not sure if you were replying to me, but I do have it disabled.

Thanks! Doesn't seem to work for me though :c

I've filed a support ticket with Lenovo already, I guess I'll have to see if the depot can get it fixed

[2021-06-07 21:44] fkru commented on #129
@espidev: My question was meant for @mrhpearson :-)

[2021-06-08 00:17] nverschueren commented on #74
Hello @The-Compiler,
     This update is important for the due to the battery drain issue.
I tried to update via the bootable cd. When I try to boot from the USB I get a black screen for 3 second and then I am back in the boot screen. Is there any relevant set up I should look for in the BIOS setup?

[2021-06-08 00:45] nverschueren commented on #74
Hello Everyone,
 I managed to update to 1.32! The issue had nothing to do with the update itself but my BIOS settings. I had secure boot "on". Once I turned off the bootable CD worked.

[2021-06-08 03:16] lijunwang1990 commented on #118
Hi @kendoori ,someone fixed this issue use below commond, please have a try:

$ sudo fwupdmgr downgrade
This should give you a list of your recent updates. Just downgrade the looping updates. Don't worry though. Once you've downgraded, just go ahead and run
$ sudo fwupdmgr update
And that should be the end of your troubles. Or at least it was the end of my troubles. No more updates which can't be

[2021-06-08 08:46] julian-klode commented on #123
Verification of rhboot/shim#374 failed. I'm hopeful rhboot/shim#379 will be OK, but can't know for sure yet, fixing this is out of scope for this month's Ubuntu shim update, I'm afraid.

[2021-06-08 11:11] miquecg commented on #74
Well, in my case I already had "Secure Boot" disabled and updating with fwupdmgr didn't succeed. Reading [BIOS release notes](https://download.lenovo.com/pccbbs/mobiles/r1buj63w.txt) I came to the conclusion that _maybe_ a combination of settings involving "OS Optimized Defaults" was causing the issue.

[code]

I had everything disabled except "Secure RollBack" so I changed it and tried updating a

[2021-06-08 14:30] zaro commented on #74
I managed to update via gnome-software by disabling secure boot before
starting the update. I guess the iso would have worked also in this case.

But this is definitelly issue with the update, as previous update(1.29)
installed just fine with secure boot enabled.

On Tue, Jun 8, 2021 at 2:11 PM Miguel C. ***@***.***> wrote:

[2021-06-08 15:20] kendoori commented on #118
I followed the procedure, but after downgrading, and running update, I still get this
![image](https://user-images.githubusercontent.com/2447420/121212321-3a3b4f80-c84b-11eb-8cdf-107d2a17bdea.png)

If I try to trigger a downgrade again, it says none are available.
![image](https://user-images.githubusercontent.com/2447420/121212551-78d10a00-c84b-11eb-8fa8-412251f0d695.png)

[2021-06-08 19:48] neupsh commented on #80
I have same issue with my Lenovo P1. I have another X1 Carbon 7th Gen, which does not have this issue.

[code]

[code]
Before applying  the update:
[code]

Apply the update
[code]
Check the `/boot` where EFS is mounted
[code]
Check boot efi vars after update:
[code]

After reboot I see a black screen with `System reset` and the computer reboots again but goes to my systemd boot loader.

If I manua

[2021-06-08 23:47] superm1 commented on #128
Being Lenovo, the first thing to check - is Boot Order lock enabled?

BTW @mrhpearson can the `think-lmi` driver merging in 5.14 tell whether it's enabled or not?  If so, I think we really want a plugin or this in fwupd.

[2021-06-09 17:40] mgelde commented on #129
I'm having issues with this update, too. My P14s Gen 1 (AMD) is not bricked, but it's not updating either. In may case I saw:
1. some rebooting (not sure, but I think it was twice)
2. black screen, followed after some secs by the word 'Reboot' or 'restart' (not quite sure which)
3. then blackness again with no end in sight. i power cycled eventually (with a very bad feeling in my gut) and crossed

[2021-06-10 06:21] snaggen commented on #114
I disabled secure boot and tested the update again, and now it worked. So this is most likely the shim issue above and not a problem with fwupd or the actual firmware.

[2021-06-10 06:21] #114 closed, assigned to nobody

[2021-06-10 12:47] CyberDomovoy opened #130 "ThinkBook 15-IIL 20SM - UEFI Update DJCN25WW"
**Describe the bug**
After trying to update UEFI using fwupdate and rebooting computer:
. fwupd seemed to run, but very quickly, didn't have time to read anything.
. Computer rebooted
. Computer won't boot
It stays stuck on the Lenovo logo.
Trying to get in UEFI settings leads to a black screen.
Trying to get to boot menu leads to a black screen.
Using the "Novo button hole" leads to a menu, where

[2021-06-10 13:04] hughsie commented on #130
Well, actually they upload firmware to the LVFS. I'll reassign your bug and see what Mark says.

[2021-06-10 14:41] CyberDomovoy commented on #130
Yes, but that one is not on LVFS, unless i missed it.
I can find ThinkPad, ThinkStation, ThinkCenter, but no ThinkBook.

[2021-06-10 17:59] mrhpearson commented on #130
I don't believe the Thinkbook 15 is Linux certified - so no LVFS firmware updates I'm afraid. Looks like they don't have the 'bootable CD' option on the support site which is often a good alternative :(

I've seen the trick referenced of extracting the UEFI capsule before - and it's neat - but never tried it myself and from a Lenovo point of view it's not supported so I'll never get anybody on the

[2021-06-10 18:08] CyberDomovoy commented on #130
Nice, thanks for your efforts.

[2021-06-11 06:00] mgelde commented on #129
FWIW: I installed the update using a bootable stick (geteltorito workflow) and that worked with secure boot disabled (so at least for p14s it's not an incompatibility issue per se). The description inside the official image is somewhat more comprehensive (it also contains the line i quoted in my previous post; didn't realize it was from there) and explains that before resetting to defaults, the "E

[2021-06-11 21:24] fkru commented on #129
This is interesting news, thank you, which is not obvious from the notes provided by Lenovo via LVFS. Incidentally, after 10 years with DELL, where I never had any problems with firmware updates on Linux machines, I am really disappointed with the crap that Lenovo's firmware team provides. Given the issues and complaints, e.g., discussed at https://forums.lenovo.com/t5/Other-Linux-Discussions/bd-p

[2021-06-11 21:46] l3s2d commented on #5
Was this firmware removed from stable? The dock devices are no longer recognized as supported without enabling lvfs-testing remote.

[2021-06-12 15:20] GITMichaelK opened #131 "1.32 BIOS update for T14s not successfull, falls back to 1.29"
On my T14s AMD I run fwupd to get 1.32 before I've read this here. These have been the results:

I did the Re-Boot: It produces a black screen, ventilation running at hight speed. After more than five minutes without any action a re-boot was forced by power button.
After that:

The T14s runs, but during start-up **the red LENOVO-flag appears twice and takes a long time**, esp. the second one. **Is

[2021-06-12 21:41] sebirdman commented on #122
I've managed to update my ME via:
https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkpad-x-series-laptops/thinkpad-x1-extreme-gen-2/downloads/ds548226-intel-management-engine-120-firmware-consumer-update-utility-for-linux-thinkpad-p1-gen-2-types-20qt-20qu-x1-extreme-gen-2-types-20qv-20qw

the version there appears to be newer than the one in lvfs. I'm still not able to update my

[2021-06-13 04:10] LinuxOnTheDesktop commented on #122
Thanks. I cannot see whether or not a similar Management Engine download is available for my machine (X1CG6) because of Lenovo's dire website. Does anyone know what 'component' category Lenovo files those Management Engine updates under? (Although I never wanted this Management Engine thing in the first place.)

[2021-06-13 12:40] michaellass commented on #129
I wish I had read this report before attempting the update. In the end I think I got lucky but I'm not entirely sure. Here's how the update worked out for me on my T14s AMD (secure boot and OS defaults disabled in BIOS):

1. I tried the update via fwupdmgr. Got a black screen that was not going away. Finally pressed the power button and turned the machine on again. It seemed to work fine but was s

[2021-06-13 12:43] michaellass commented on #131
Also see #129. This update tends to fail and even brick devices.

[2021-06-13 17:13] sebirdman commented on #122
@LinuxOnTheDesktop on my support page it's under "Motherboard Devices"

[2021-06-14 02:55] LinuxOnTheDesktop commented on #122
@sebirdman thanks. On my 'support page', under 'Motherboard Devices', I see 'Intel Management Engine 11.8 Firmware11.8.86.390924 May 2021' but only in a Windows-installable version.

I do hope that all these problems with Lenovo updates - caused by a problem with a bootloader written by Ubuntu (as reported [here](https://github.com/fwupd/firmware-lenovo-thinkpad/issues/123#issuecomment-847319702))

[2021-06-14 03:14] jashank commented on #129
Oh boy, I just got bit by this on a T14s G1 AMD (MT 20UH). Updated from 0.1.25 to 0.1.32 yesterday --- unusually, that update was entirely uneventful (modulo some stuffing around to get it to start --- fwupdtool helpfully claims EFULL on a path on the EFISP, if, say, efivarfs was full because pstore had filled it).

All seemed okay until a suspend/resume cycle today caused my display panel to cycl

[2021-06-14 07:03] mgelde commented on #129
You and some of the other posters with bricked or otherwise problematic updates could open a thread describing your symptoms here: https://forums.lenovo.com/t5/Other-Linux-Discussions/bd-p/Special_Interest_Linux

I have seen Lenovo reps respond to problems voiced on that forum. This forum is also what lead me to the update in the first place (I was experiencing various problems with the machine th

[2021-06-14 18:21] fkru commented on #129
Thanks. Mark RH Pearson is Lenovo's lead technical engineer for the linux PC team (https://forums.lenovo.com/user/viewprofilepage/user-id/1942528). According to his today's comment on bricked systems due to the update to FW 1.32 at https://forums.lenovo.com/t5/Other-Linux-Discussions/T14-AMD-battery-drain-in-standby-Linux/m-p/5037674?page=37, he states that "I have had a few other reports of the s

[2021-06-14 18:22] mrhpearson commented on #131
I've been trying to collate all the failures for this (there are too many - it's bad).
Do you have secure boot enabled?
Thanks
Mark

[2021-06-14 18:29] mrhpearson commented on #129
Thanks for the note above @fkru. As a note, I'm personally happy to keep the firmware update issues here - the Lenovo forum tends to go into power management, camera, tsc, audio issues and can take a bit of wading through. Here I get to focus on just the one issue which helps.

I'm trying to go through fwupd and Lenovo forums and make sense of the reports. Having secure boot enabled seems to be a

[2021-06-14 18:35] fkru commented on #129
@mrhpearson: Thanks, Mark, for the speedy reply and the clarification. I appreciate it.

[2021-06-14 19:30] GITMichaelK commented on #131
Definetly NOT!
Thanks for you work!

[2021-06-14 20:02] michaellass commented on #129
@mrhpearson:

In my case secure boot was disabled as far as I can remember. However, issued from Linux via fwupd I just got the "black screen, no update" issue. The hickups started when trying to update from Windows as described in https://github.com/fwupd/firmware-lenovo-thinkpad/issues/129#issuecomment-860204653

Adding an afterthought: It could of course be that the first attempt via fwupd alre

[2021-06-15 20:20] neupsh commented on #132
I have same issue with Lenovo P1 Gen 3 as described here: https://github.com/fwupd/firmware-lenovo-thinkpad/issues/80#issuecomment-857063805

[2021-06-16 11:43] xvitaly opened #133 "1.37 firmware is missing for T480"
1.37 firmware update is missing on LVFS for T480.

Update page: https://pcsupport.lenovo.com/it/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t480-type-20l5-20l6/downloads/ds502355-bios-update-utility-bootable-cd-for-windows-10-64-bit-linux-thinkpad-t480

[2021-06-18 10:20] thebrownfox commented on #130
I've bought thinkbook 14 recently because it was the only laptop with ryzen without nvidia gpu available at the moment. Wanted maxxed out T14s gen2 or even gen1, but I couldn't find any. I don't use laptop often and when I go to office I plug it into thinkpad dock so it doesn't even matter and thinkbook is fine. It'd be nice if they supported it in lvfs.

[2021-06-20 16:47] laur89 commented on #129
Failed sys update from 1.29 to 1.32 for `P14s AMD`. On reboot it showed the firmware update screen, after which it restarted and the "BIOS self healing backup progressing" screen was shown. Everything appeared to recover nicely with no intervention by me. Haven't tried subsequent reboots though, as some user reports have noted this might fail. Suspends have worked without issues.

Post-reboot repo

[2021-06-21 16:57] ozls commented on #131
My Thinkpad T14 Gen 1 AMD was just completely bricked by the 1.32 BIOS update (from 1.30 as far as I know). Same as @GITMichaelK, black screen and ventilation going strong, except mine was not able to fall back when I turned it off and I had to send it to Lenovo for repair. I think it's the same issue. What can I do to help? What information is needed? Moreover, can anyone tell me what to do to pr

[2021-06-21 17:41] hughsie commented on #131
@ozls I'm pulled all the T14 updates now. Lenovo are investigating.

[2021-06-21 21:45] j-silver commented on #131
Has Lenovo withdrawn this update? It's no longer available.

[2021-06-22 06:47] hughsie commented on #131
I demoted them back to testing.

[2021-06-24 23:26] LinuxOnTheDesktop commented on #122
The continuing problems with Lenovo updates - problems on at least some Linux distributions - mean that security updates are not getting installed. and that the users in question are back in the situation everyone was in before fwupd was invented. So: @mrhpearson, any news?

[2021-06-25 00:11] mrhpearson commented on #122
Hi - is your update failing with secure boot enabled? Have you tried it with SB disabled?

We believe there is an issue with shim that is causing this problem when secure boot is enabled. Until that is delivered I think disabling SB is the best workaround.

[2021-06-25 04:24] anderjw commented on #131
The unsuccessful update happened to me as well; however, I went into the BIOS, disabled secure boot, and tried again, and it seemed to work.

The downside is that I am noticing more issues within my laptop generally with more kernel errors and docking station port issues than before. Seeing that the BIOS v0.1.32 has been pulled from fwupd.org, should I consider downgrading back to v0.1.30? Is down

[2021-06-25 09:15] michaellass commented on #131
I'm only a user, so take my advice with caution. Before downgrading I would attempt cutting the power and using the reset/recovery hole on the bottom on the machine. Mine was in some weird state after the update as well, presumably with some parts of the hardware stuck. After the full reset using that little hole on the bottom, my machine works well on Linux and also with the USB-C dock.

If that

[2021-06-25 09:17] LinuxOnTheDesktop commented on #122
Thanks. However, perhaps I have misunderstood something. For I have long had secure boot disabled.

[2021-06-25 14:39] mrhpearson commented on #122
OK - thanks for the confirmation, I wanted to be sure you were seeing the issue without SB. We know SB has been causing us a lot of problems so trying to untangle which are related to that and which aren't.
I've asked for an update from the firmware team.

[2021-06-25 17:57] anderjw commented on #131
I'll look into it. Thank you.

Also, if this doesn't work, do you happen to know if downgrading is a potentially fatal move for the machine (i.e. could it effectively break it), or is it considered a safe operation?

There is nothing too specific that is of interest; however, if any further pop-up, I'll be sure to supply them here.

[2021-06-25 19:55] mrhpearson commented on #131
@andersonjwan - you can directly send me the kernel errors (markpearson at lenovo) and dock issues. There were some other fixes included in 1.32 and it wasn't supposed to make things worse.

There is a new update coming shortly - it's under test right now but expected early to mid July, to address the black screen issues during update. It won't solve the issues with secure boot enabled as those ar

[2021-06-26 00:50] anderjw commented on #131
@mrhpearson, I sent you one of the same kernel logs that are caught with details.

And thank you. If you don't me mind asking, do you suggest downgrading the BIOS to my previous version (v0.1.30) or simply keeping it as is if it boots?

[2021-06-28 11:29] miquecg commented on #131
Just to be clear since I couldn't update to 1.32. With the upcoming fix would it be necessary to have Secure Boot enabled before the update happens?

[2021-06-28 13:26] dkwo commented on #209
How can this be debugged further? I have no fwupd command on my system.. do you mean fwupdmgr?

[2021-06-28 14:26] superm1 commented on #123
I don't think it's useful to keep this bug open making this seem like it could be a firmware bug.
It's truly a shim bug, and it will need to be fixed in shim upstream and then each of the distros need to pick it up.
It's really unfortunate that this has effectively broken all UEFI firmware updates w/ secure boot.

Ubuntu bug tracker:
https://bugs.launchpad.net/ubuntu/+source/shim/+bug/1929471

Att

[2021-06-28 14:26] #123 closed, assigned to nobody

[2021-06-28 14:47] mrhpearson commented on #131
@andersonjwan - replied to your email off thread. Thanks. My inclination would be to not downgrade the BIOS firmware unless you're convinced it's the source of your issues - it does have a number of other fixes in it which are important.

@miquecg  - the secure boot issue is separate and you'll need Secure Boot *disabled* until that is fixed upstream in shim. It's not directly related to the Lenov